Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

update
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

Add anomaly task to OTX 2.3.0 (#3910)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly/openvino_model.yaml
  src/otx/recipe/anomaly/padim.yaml
  src/otx/recipe/anomaly/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/test_anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
  tox.ini
Labels: OTX 2.0, TEST, BUILD

Fix tiling XAI out of range (#3943)
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/data/factory.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/types/task.html
  develop/_modules/otx/tools/converter.html
Labels: none

update xai tile merge
  src/otx/core/data/entity/tile.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

Fix tiling XAI out of range (#3943)
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

update rtdetr
  src/otx/algo/detection/rtdetr.py
Labels: OTX 2.0

update tile recipes
  src/otx/algo/detection/rtdetr.py
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101_tile.yaml
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
Labels: OTX 2.0

update rtdetr tile postprocess
  src/otx/algo/detection/rtdetr.py
Labels: OTX 2.0

change pre-filtering logic
  src/otx/core/data/pre_filtering.py
Labels: OTX 2.0

Add integrastion tests for keypoint detection
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
Labels: TEST

Update export
  src/otx/algo/keypoint_detection/rtmpose.py
Labels: OTX 2.0

Add kp det to gh workflow
  .github/workflows/pre_merge.yaml
Labels: BUILD

Fix ruff
  tests/integration/cli/test_export_inference.py
Labels: TEST

Aligned with iseg refactoring
  src/otx/algo/detection/heads/yolo_head.py
  tests/unit/algo/detection/heads/test_yolo_head.py
Labels: OTX 2.0, TEST

Change log key name from `loss` to `total_loss`
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/visual_prompting/losses/sam_loss.py
  src/otx/core/model/base.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
  tests/unit/algo/visual_prompting/losses/test_sam_loss.py
Labels: OTX 2.0, TEST

Update src/otx/core/data/pre_filtering.py
  src/otx/core/data/pre_filtering.py
Labels: OTX 2.0

update rtdetr recipes and tile recipes
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/rtdetr.py
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/base.html
Labels: none

update tile recipes
  src/otx/algo/detection/yolox.py
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

fix rtdetr unittest
  tests/unit/algo/detection/base_models/test_detr.py
Labels: TEST

update recipes
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101_tile.yaml
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

add image_from_bytes
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Add integration tests for keypoint detection task (#3945)
  .github/workflows/pre_merge.yaml
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/model/keypoint_detection.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
Labels: OTX 2.0, TEST, BUILD

refactor tile unit test
  tests/unit/core/data/test_tiling.py
Labels: TEST

Move std mean to class vars
  src/otx/algo/keypoint_detection/rtmpose.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/keypoint_detection.html
Labels: none

Fix image channel
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
Labels: OTX 2.0

address pr reviews
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/rtdetr.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
Labels: OTX 2.0

remove unnecessary files
  arrow_debug.py
  bash_scripts/export.sh
  bash_scripts/maskrcnn_r50.sh
  bash_scripts/optimize.sh
  collect_results.py
  ptq_reproduce.py
Labels: none

update color channel
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

added MonoDetr model as is
  src/otx/algo/object_detection_3d/__init__.py
  src/otx/algo/object_detection_3d/backbone.py
  src/otx/algo/object_detection_3d/depth_predictor/__init__.py
  src/otx/algo/object_detection_3d/depth_predictor/depth_predictor.py
  src/otx/algo/object_detection_3d/depth_predictor/transformer.py
  src/otx/algo/object_detection_3d/depthaware_transformer.py
  src/otx/algo/object_detection_3d/dn_components.py
  src/otx/algo/object_detection_3d/losses/__init__.py
  src/otx/algo/object_detection_3d/losses/balancer.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/focalloss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matcher.py
  src/otx/algo/object_detection_3d/monodetr.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/object_detection_3d/ops/functions/__init__.py
  src/otx/algo/object_detection_3d/ops/functions/ms_deform_attn_func.py
  src/otx/algo/object_detection_3d/ops/make.sh
  src/otx/algo/object_detection_3d/ops/modules/__init__.py
  src/otx/algo/object_detection_3d/ops/modules/ms_deform_attn.py
  src/otx/algo/object_detection_3d/ops/setup.py
  src/otx/algo/object_detection_3d/ops/src/cpu/ms_deform_attn_cpu.cpp
  src/otx/algo/object_detection_3d/ops/src/cpu/ms_deform_attn_cpu.h
  src/otx/algo/object_detection_3d/ops/src/cuda/ms_deform_attn_cuda.cu
  src/otx/algo/object_detection_3d/ops/src/cuda/ms_deform_attn_cuda.h
  src/otx/algo/object_detection_3d/ops/src/cuda/ms_deform_im2col_cuda.cuh
  src/otx/algo/object_detection_3d/ops/src/ms_deform_attn.h
  src/otx/algo/object_detection_3d/ops/src/vision.cpp
  src/otx/algo/object_detection_3d/ops/test.py
  src/otx/algo/object_detection_3d/position_encoding.py
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

fix image channel passing
  src/otx/core/data/dataset/tile.py
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

include tiling in cli integration test
  tests/integration/cli/test_export_inference.py
Labels: TEST

enable model export
  src/otx/core/model/anomaly.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

added new models
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/tools/templates/__init__.py
  src/otx/tools/templates/detection/detection/configuration.yaml
  src/otx/tools/templates/detection/detection/rtdetr_101/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_18/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_50/template.yaml
  src/otx/tools/templates/detection/detection/rtmdet_tiny/template.yaml
  src/otx/tools/templates/detection/instance_segmentation/configuration.yaml
  src/otx/tools/templates/detection/instance_segmentation/rtmdet_tiny/template.yaml
  src/otx/tools/templates/segmentation/configuration.yaml
  src/otx/tools/templates/segmentation/dinov2_small/template.yaml
  src/otx/tools/templates/segmentation/ham_segnext_b/template.yaml
  src/otx/tools/templates/segmentation/ham_segnext_s/template.yaml
  src/otx/tools/templates/segmentation/ham_segnext_t/template.yaml
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_s_mod2/template.yaml
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_x_mod3/template.yaml
  src/otx/tools/templates/visual_prompting/sam_tiny_vit/template.yaml
  src/otx/tools/templates/visual_prompting/sam_vit_b/template.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_tiny_vit/template.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_vit_b/template.yaml
Labels: OTX 2.0

delete entrypoints and nncf cfg
  src/otx/tools/templates/action/classification/movinet/template.yaml
  src/otx/tools/templates/action/classification/x3d/template.yaml
  src/otx/tools/templates/action/detection/x3d_fast_rcnn/template.yaml
  src/otx/tools/templates/anomaly/classification/padim/template.yaml
  src/otx/tools/templates/anomaly/classification/stfpm/template.yaml
  src/otx/tools/templates/anomaly/detection/padim/template.yaml
  src/otx/tools/templates/anomaly/detection/stfpm/template.yaml
  src/otx/tools/templates/anomaly/segmentation/padim/template.yaml
  src/otx/tools/templates/anomaly/segmentation/stfpm/template.yaml
  src/otx/tools/templates/classification/deit_tiny/template.yaml
  src/otx/tools/templates/classification/efficientnet_b0_cls_incr/template.yaml
  src/otx/tools/templates/classification/efficientnet_v2_s_cls_incr/template.yaml
  src/otx/tools/templates/classification/mobilenet_v3_large_1_cls_incr/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_l/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_s/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_tiny/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_x/template.yaml
  src/otx/tools/templates/detection/detection/mobilenetv2_atss/template.yaml
  src/otx/tools/templates/detection/detection/mobilenetv2_ssd/template.yaml
  src/otx/tools/templates/detection/detection/resnext101_atss/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_101/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_18/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_50/template.yaml
  src/otx/tools/templates/detection/detection/rtmdet_tiny/template.yaml
  src/otx/tools/templates/detection/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  src/otx/tools/templates/detection/instance_segmentation/maskrcnn_swin_t/template.yaml
  src/otx/tools/templates/detection/instance_segmentation/resnet50_maskrcnn/template.yaml
  src/otx/tools/templates/detection/instance_segmentation/rtmdet_tiny/template.yaml
  src/otx/tools/templates/detection/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  src/otx/tools/templates/detection/rotated_detection/resnet50_maskrcnn/template.yaml
Labels: OTX 2.0

updated some hyperparams
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/tools/templates/action/classification/configuration.yaml
  src/otx/tools/templates/action/classification/movinet/template.yaml
  src/otx/tools/templates/action/classification/x3d/template.yaml
  src/otx/tools/templates/action/detection/configuration.yaml
  src/otx/tools/templates/action/detection/x3d_fast_rcnn/template.yaml
  src/otx/tools/templates/classification/configuration.yaml
  src/otx/tools/templates/classification/mobilenet_v3_large_1_cls_incr/template.yaml
  src/otx/tools/templates/detection/detection/configuration.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_l/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_s/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_tiny/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_x/template.yaml
  src/otx/tools/templates/detection/detection/mobilenetv2_atss/template.yaml
  src/otx/tools/templates/detection/detection/mobilenetv2_ssd/template.yaml
  src/otx/tools/templates/detection/detection/resnext101_atss/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_101/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_18/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_50/template.yaml
  src/otx/tools/templates/detection/detection/rtmdet_tiny/template.yaml
  src/otx/tools/templates/detection/instance_segmentation/configuration.yaml
  src/otx/tools/templates/detection/rotated_detection/configuration.yaml
  src/otx/tools/templates/segmentation/configuration.yaml
  src/otx/tools/templates/segmentation/dinov2_small/template.yaml
  src/otx/tools/templates/segmentation/ham_segnext_b/template.yaml
  src/otx/tools/templates/segmentation/ham_segnext_s/template.yaml
  src/otx/tools/templates/segmentation/ham_segnext_t/template.yaml
Labels: OTX 2.0

fix for rtmdet_tiny
  src/otx/tools/converter.py
  src/otx/tools/templates/detection/instance_segmentation/rtmdet_tiny/template.yaml
Labels: OTX 2.0

updated converter
  src/otx/tools/converter.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
