Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix export precision
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

remove mmconfigs and mmseg as dependency
  pyproject.toml
  src/otx/algo/segmentation/mmconfigs/dino_v2_seg.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_18.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_s.yaml
  src/otx/algo/segmentation/mmconfigs/litehrnet_x.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_b.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_s.yaml
  src/otx/algo/segmentation/mmconfigs/segnext_t.yaml
Labels: OTX 2.0, BUILD, DEPENDENCY

add base_segm_head
  src/otx/algo/segmentation/heads/base_segm_head.py
Labels: OTX 2.0

remove unused imports
  src/otx/algo/segmentation/heads/base_segm_head.py
Labels: OTX 2.0

Revert "Fix cls explain e2e"
  tests/e2e/cli/test_cli.py
Labels: TEST

Explicitly cast incorrect output type
  src/otx/algorithms/common/utils/ir.py
Labels: OTX 2.0

Add a testcase for XPU
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: TEST

added default configurations for models. Added mean,scale,image_size
  src/otx/algo/modules/norm.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

Update default detection ov model
  src/otx/recipe/detection/openvino_model.yaml
Labels: OTX 2.0

fix unit tests
  pyproject.toml
  tests/unit/algo/segmentation/heads/test_class_incremental_mixin.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/algo/utils/test_segmentation.py
  tests/unit/core/model/test_segmentation.py
Labels: TEST, BUILD, DEPENDENCY

(WIP) write unit test
  tests/unit/algo/detection/backbones/test_csp_darknet.py
  tests/unit/algo/detection/heads/test_point_generator.py
  tests/unit/algo/detection/heads/test_sim_ota_assigner.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/layers/__init__.py
  tests/unit/algo/detection/layers/test_channel_attention_layer.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/detection/losses/__init__.py
  tests/unit/algo/detection/losses/test_iou_loss.py
  tests/unit/algo/detection/losses/test_l1_loss.py
  tests/unit/algo/detection/necks/__init__.py
  tests/unit/algo/detection/necks/test_yolox_pafpn.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/modules/__init__.py
  tests/unit/algo/modules/test_depthwise_separable_conv_module.py
Labels: TEST

Fix base_classifier
  src/otx/algo/classification/classifier/base_classifier.py
Labels: OTX 2.0

Remove duplicated loss
  src/otx/algo/detection/losses/l1_loss.py
Labels: OTX 2.0

update pymongo version and constraint
  CHANGELOG.md
  requirements/api.txt
Labels: DOC, DEPENDENCY

Decouple YOLOX : model migration (#3382)
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/point_generator.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/modules/depthwise_separable_conv_module.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/integration/api/test_xai.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/detection/backbones/csp_darknet.html
  develop/_modules/otx/algo/detection/heads/yolox_head.html
  develop/_modules/otx/algo/detection/losses/iou_loss.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/model/detection.html
  develop/_sources/guide/reference/_autosummary/otx.algo.detection.backbones.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.algo.detection.heads.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.algo.detection.losses.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.detection.backbones.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/guide/reference/_autosummary/otx.algo.detection.losses.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update pymongo version and constraint (#3396)
  CHANGELOG.md
  requirements/api.txt
Labels: DOC, DEPENDENCY

Decouple neck
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/fpn.py
Labels: OTX 2.0

Decouple ATSS
  src/otx/algo/detection/atss.py
Labels: OTX 2.0

Bring modules for atss head
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_atss_head.py
Labels: OTX 2.0

[1.6.x] Fix export precision (#3394)
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

Migrate ResNeXt backbone~
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/resnext.py
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
Labels: OTX 2.0

Migrating sub modules of atss head
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/custom_atss_head.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/utils/mmcv_utils.py
Labels: OTX 2.0

Change exporter
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
Labels: OTX 2.0

Migrate giou loss
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/losses/iou_loss.py
Labels: OTX 2.0

Remove unnecessary pop
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/custom_atss_head.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
Labels: OTX 2.0

Add load and init weights
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Modify unit tests
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  tests/unit/algo/detection/test_atss.py
Labels: OTX 2.0, TEST

Fix intg tests
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

Update unit tests
  tests/unit/algo/detection/backbones/test_pytorchcv_backbones.py
Labels: TEST

Revert backbone changes
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Update unit tests
  tests/unit/algo/detection/backbones/test_pytorchcv_backbones.py
Labels: TEST

Reflect comments
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/fpn.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/utils/mmcv_utils.py
  src/otx/core/model/detection.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: OTX 2.0, TEST

Apply changes
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/necks/fpn.py
Labels: OTX 2.0

Change rpn head parents
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
Labels: OTX 2.0

Add DeiT
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/mmconfigs/multiclass_classification/deit_tiny.yaml
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/utils/attention.py
  src/otx/algo/classification/utils/embed.py
  src/otx/algo/classification/utils/layer_scale.py
  src/otx/algo/classification/utils/swiglu_ffn.py
  src/otx/algo/classification/vit.py
  src/otx/algo/modules/drop.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  tests/unit/algo/classification/test_deit_tiny.py
Labels: OTX 2.0, TEST

Remove old deit
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
Labels: OTX 2.0

Rename otx_deit_tiny to deit_tiny
  src/otx/tools/converter.py
  tests/perf/history/summary.py
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Change test path for duplicated file
  tests/unit/algo/detection/losses/test_smooth_l1_loss.py
Labels: TEST

modify container option to shm-size=xx to ipc=host
  .github/workflows/pre_merge.yaml
Labels: BUILD

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
