Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Enable to get nn.Module
  src/otx/algo/modules/activation.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/data/module.html
  develop/_modules/otx/core/exporter/visual_prompting.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/keypoint_detection.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/engine/engine.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.data.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.anomaly.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.classification.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.keypoint_detection.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Remove _exporter
  src/otx/algo/classification/mobilenet_v3.py
Labels: OTX 2.0

Fix wrong config
  src/otx/algo/classification/efficientnet.py
Labels: OTX 2.0

Fix unit test
  tests/unit/algo/modules/test_activation.py
Labels: TEST

Update docstring & Add unit-test
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/classifier/h_label_classifier.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/torchvision_model.py
  tests/unit/algo/classification/utils/test_ignored_labels.py
Labels: OTX 2.0, TEST

Update docstring 2
  src/otx/algo/classification/heads/multilabel_cls_head.py
Labels: OTX 2.0

Remove hard Type assign
  src/otx/algo/classification/classifier/h_label_classifier.py
Labels: OTX 2.0

update tile data pipeline recipe
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

udpate
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

update torch and lightning, check
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix rtdetr18
  src/otx/algo/detection/backbones/presnet.py
Labels: OTX 2.0

Fix
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/common/backbones/resnext.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

precommit
  src/otx/algo/action_classification/backbones/x3d.py
Labels: OTX 2.0

fix unit test
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: OTX 2.0, TEST

minor
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Pad input image to square when tiling is enabled (#3844)
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

update postprocess
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

fix unit test for utils
  tests/unit/algo/utils/test_segmentation.py
Labels: TEST

debug test
  tests/e2e/cli/test_cli.py
Labels: TEST

fix last tests
  tests/unit/core/model/test_segmentation.py
Labels: TEST

started instance_seg refactoring
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/algo/instance_segmentation/two_stage.py
Labels: OTX 2.0

fix classification torchvision
  src/otx/algo/classification/torchvision_model.py
  tests/unit/algo/classification/test_torchvision_model.py
Labels: OTX 2.0, TEST

fixed semisl case and anomaly
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

fix integration tests
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
Labels: OTX 2.0

Update demo reqs
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0

Revert changes in UTs
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Update ZSL outputs parser
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

change mean, scale
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

fix pre-commit
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

fix recipes
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

updated paths
  tests/e2e/conftest.py
Labels: TEST

fix posix path issue
  tests/e2e/cli/test_cli.py
Labels: TEST

change path for semantic seg
  tests/e2e/conftest.py
Labels: TEST

fix recipes
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
Labels: OTX 2.0

fine tune model
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/core/data/module.py
  src/otx/core/model/base.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

Move zsl to sam
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/algo/visual_prompting/sam.py
  src/otx/algo/visual_prompting/visual_prompters/__init__.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/unit/algo/visual_prompting/backbones/__init__.py
  tests/unit/algo/visual_prompting/backbones/test_tiny_vit.py
  tests/unit/algo/visual_prompting/decoders/test_sam_mask_decoder.py
  tests/unit/algo/visual_prompting/encoders/__init__.py
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/algo/visual_prompting/encoders/test_sam_prompt_encoder.py
  tests/unit/algo/visual_prompting/losses/__init__.py
  tests/unit/algo/visual_prompting/losses/test_sam_loss.py
  tests/unit/algo/visual_prompting/test_sam.py
  tests/unit/algo/visual_prompting/test_segment_anything.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/algo/visual_prompting/utils/__init__.py
  tests/unit/algo/visual_prompting/utils/test_postprocess.py
  tests/unit/algo/visual_prompting/visual_prompters/__init__.py
  tests/unit/algo/visual_prompting/visual_prompters/test_segment_anything.py
Labels: OTX 2.0, TEST

precommit
  src/otx/algo/visual_prompting/sam.py
  tests/unit/algo/visual_prompting/losses/test_sam_loss.py
Labels: OTX 2.0, TEST

Fix unit test
  tests/unit/algo/visual_prompting/test_sam.py
Labels: TEST

update path
  tests/e2e/conftest.py
Labels: TEST
