Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix vpt onnx export
  src/otx/core/exporter/visual_prompting.py
Labels: OTX 2.0

Fix visual prompting unit tests
  tests/unit/core/conftest.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Fix linters
  src/otx/core/exporter/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Move assigning tasks to Models from Engine to Anomaly Model Classes (#3683)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/engine/engine.py
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/openvino_model.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/openvino_model.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Fix setup script
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update arguments by removing arguments that are same with default value
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Fix unit test
  tests/unit/algo/common/backbones/test_pytorchcv_backbones.py
Labels: TEST

Add forcing `num_workers` to 0
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Add forcing `num_workers` to 0
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

apply changes on datumaro 1.7.0
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

Move `SPPBottleneck` to common.layers
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/layers/__init__.py
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/backbones/csp_darknet.py
Labels: OTX 2.0

Update backbones
  src/otx/algo/instance_segmentation/backbones/__init__.py
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/__init__.py
Labels: OTX 2.0

Update heads
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/heads/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/__init__.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Update layers
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/layers/__init__.py
  src/otx/algo/instance_segmentation/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/__init__.py
Labels: OTX 2.0

Update additional heads
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/__init__.py
Labels: OTX 2.0

Update necks
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/__init__.py
  src/otx/algo/instance_segmentation/necks/__init__.py
  src/otx/algo/instance_segmentation/necks/fpn.py
Labels: OTX 2.0

Update roi_extractors
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/__init__.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/__init__.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/roi_align.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/single_level_roi_extractor.py
Labels: OTX 2.0

Update structures
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/__init__.py
  src/otx/algo/instance_segmentation/torchvision/roi_head.py
  src/otx/algo/instance_segmentation/utils/structures/bbox/__init__.py
  src/otx/algo/instance_segmentation/utils/structures/bbox/transforms.py
  src/otx/algo/instance_segmentation/utils/structures/mask/__init__.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
Labels: OTX 2.0

revert debug code
  src/otx/core/model/action_classification.py
  src/otx/engine/engine.py
Labels: OTX 2.0

implement draft
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/openvino_model.py
  src/otx/core/model/action_classification.py
  src/otx/engine/engine.py
Labels: OTX 2.0

update model api version
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update to apply filtering to only `test_step` and `predict_step` not to affect training
  src/otx/core/model/detection.py
Labels: OTX 2.0

Add todo
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix segmentation fault on VPM PTQ to develop (#3690)
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

Fix segmentation fault on VPM PTQ (#3689)
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix detection performance degradation (#3691)
  src/otx/core/model/detection.py
Labels: OTX 2.0

Add maskrcnn_r50_tv_tile
  tests/perf/test_instance_segmentation.py
Labels: TEST

update version string and fill missing changelog
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Bump datumaro to 1.7.0 (#3669)
  .ci/docker/README.md
  pyproject.toml
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0, DOC, BUILD, DEPENDENCY

Add maskrcnn_r50_tv_tile (#3692)
  tests/perf/test_instance_segmentation.py
Labels: TEST

Update version string and fill missing changelog (#3693)
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Enable multi batch testing for OV visual prompting models
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update ssd docstring
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Update roi_heads
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/base_roi_head.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  tests/unit/algo/instance_segmentation/test_custom_roi_head.py
Labels: OTX 2.0, TEST

Update zero-shot models
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Remove `BaseDetector` and update `TwoStageDetector`
  src/otx/algo/instance_segmentation/mmdet/models/detectors/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/two_stage.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Remove mmdet directory
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Fix unit test
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

remove datamodule
  src/otx/core/data/factory.py
  src/otx/core/data/mem_cache.py
  src/otx/core/data/module.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/tools/converter.py
  tests/unit/algo/detection/conftest.py
  tests/unit/algo/instance_segmentation/conftest.py
  tests/unit/core/data/test_factory.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
