Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix Learning Rate and Loss Handling in Tile Classifier MaskRCNN EfficientNet (#3873)
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  src/otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: OTX 2.0, TEST

update update_mem_cache_img_max_size to input_size if it's none
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

update way to get img shape
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

Fix unit tests
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/core/model/detection.py
  tests/unit/algo/detection/backbones/test_csp_darknet.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/heads/test_ssd_head.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/losses/test_yolox_loss.py
  tests/unit/algo/detection/necks/test_yolox_pafpn.py
  tests/unit/algo/detection/test_ssd.py
Labels: OTX 2.0, TEST

update for 1.6.5
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Remove init_args
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Enable factory for RTDETR
  src/otx/algo/detection/backbones/backbone_factory.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/unit/algo/detection/backbones/test_presnet.py
  tests/unit/algo/detection/detectors/test_detr.py
  tests/unit/algo/detection/heads/test_rtdetr_decoder.py
  tests/unit/algo/detection/necks/test_hybrid_encoder.py
  tests/unit/algo/detection/test_rtdetr.py
Labels: OTX 2.0, TEST

Reduce default parameters
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Update huggingface, keypoint, and iseg
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/keypoint_detection/rtmpose.py
Labels: OTX 2.0

Fix zero-shot e2e (#3876)
  src/otx/algo/visual_prompting/sam.py
  src/otx/core/exporter/visual_prompting.py
  tests/unit/algo/visual_prompting/test_sam.py
Labels: OTX 2.0, TEST

Include huggingface models in unit tests
  pyproject.toml
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/core/metrics/diffusion.py
  tox.ini
Labels: OTX 2.0, BUILD, DEPENDENCY

Revert default `input_size` argument
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Fix DeiT for multi-label classification (#3881)
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

change mem_cache_img_max_size to mem_cache_img_min_size
  src/otx/core/config/__init__.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/factory.py
  src/otx/core/data/mem_cache.py
  src/otx/core/data/module.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/_base_/data/semisl/semantic_segmentation_semisl.yaml
  src/otx/recipe/_base_/data/semisl/torchvision_semisl.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/_base_/data/zero_shot_visual_prompting.yaml
  src/otx/recipe/action_classification/movinet.yaml
  src/otx/recipe/action_classification/x3d.yaml
  tests/unit/cli/utils/test_jsonargparse.py
  tests/unit/core/config/test_resolver.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST

Fix unit test
  tests/unit/algo/detection/test_yolox.py
Labels: TEST

update docstring
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

update for 1.6.5 (#3880)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Move torchmetrics to optional section
  pyproject.toml
  tox.ini
Labels: BUILD, DEPENDENCY

move benchmark deps to ci-benchmark extra
  pyproject.toml
  tox.ini
Labels: BUILD, DEPENDENCY

Remove init_args
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Fix integration test
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
Labels: OTX 2.0

Update docs
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/action/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/low_rank_adaptation.rst
  docs/source/guide/tutorials/advanced/torch_compile.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
Labels: DOC

Add ABC
  src/otx/algo/common/utils/coders/base_bbox_coder.py
  src/otx/algo/common/utils/prior_generators/base_prior_generator.py
Labels: OTX 2.0

Fix
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/huggingface_model.py
Labels: OTX 2.0

Fix Semi-SL for ViT accuracy drop (#3883)
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Don't apply labels normalization on training
  src/otx/algorithms/classification/utils/cls_utils.py
Labels: OTX 2.0

Fix black
  src/otx/algorithms/classification/utils/cls_utils.py
Labels: OTX 2.0

Update docs for 2.2 (#3884)
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/action/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/low_rank_adaptation.rst
  docs/source/guide/tutorials/advanced/torch_compile.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
Labels: DOC

fix mean and scale
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

update
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

update resnet recipe
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

Fix mean and scale for segmentation task (#3885)
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

precommit
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Bump MAPI
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update exportable code requirements
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0

change drop pixels value
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Reflect comments in #3816 (#3868)
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

Update step size for eff v2
  src/otx/algo/classification/timm_model.py
Labels: OTX 2.0

Refactor Classification Backbone to Factory Class Design (#3864)
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/classifier/test_semi_sl_classifier.py
Labels: OTX 2.0, TEST

Update effb0 recipe
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
