Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update anomaly data configs to use common transforms
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Remove unused transforms
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmdet.py
Labels: OTX 2.0, TEST

restore pretrained weight
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

update vit with timm
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

replacement with timm vit
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

replace with suffix
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Update pyproject.toml
  pyproject.toml
Labels: BUILD, DEPENDENCY

fix explain for vit
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

fix forward use
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

enable more models
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: OTX 2.0, TEST

add unit test
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: OTX 2.0, TEST

fix timm version
  pyproject.toml
Labels: BUILD, DEPENDENCY

add v1 checkponit loader
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
Labels: OTX 2.0

rtdeetr_18 works
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/base.py
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  tests/perf/test_detection.py
Labels: OTX 2.0, TEST

update for release 2.1.0
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

added wd, seems metric is OK now
  src/otx/algo/detection/rtdetr.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/detection.py
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
Labels: OTX 2.0

Reimplementation of ViT for classification (#3719)
  pyproject.toml
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

disable mixed preicision to nms on cpu
  src/otx/algo/common/utils/nms.py
Labels: OTX 2.0

Update `RandomResizedCrop` for masks
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update recipes to use `RandomResizedCrop` instead of `RandomResize` and `RandomCrop`
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

Update for release 2.1.0 (#3726)
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

fix publish workflow
  .github/workflows/publish.yaml
Labels: BUILD

Remove unused argument in recipes
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
Labels: OTX 2.0

Fix publish workflow (#3728)
  .github/workflows/publish.yaml
Labels: BUILD

Enable to transform points (resize, pad)
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update recipes
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/visual_prompting/openvino_model.yaml
Labels: OTX 2.0

Revert "Update anomaly data configs to use common transforms"
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Revert "Remove unused transforms"
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmdet.py
Labels: OTX 2.0, TEST

remove merge_group event
  .github/workflows/pre_merge.yaml
Labels: BUILD

Remove merge_group event (#3731)
  .github/workflows/pre_merge.yaml
Labels: BUILD

enable integration test at pre-merge workflow
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

Update type annotation
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

update task type conversion
  tests/integration/conftest.py
Labels: TEST

update concurrency setting to whole workflow to pre-merge
  .github/workflows/pre_merge.yaml
Labels: BUILD

models work
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/utils.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

added restnet50 and 101
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
Labels: OTX 2.0

Fix Combined Dataloader & unlabeled warmup loss to work correctly in Semi-SL case (#3723)
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/core/data/module.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/data/module.html
Labels: none

Update semantic segmentation transforms to use OTX's instead of torchvision (#3724)
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/hpo/hpo_runner.html
  develop/_sources/guide/release_notes/index.rst.txt
  develop/guide/index.html
  develop/guide/release_notes/index.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
