Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

fix ignore_index
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
Labels: OTX 2.0

Bump anomalib version to 1.1.0
  pyproject.toml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD, DEPENDENCY

add CI_DATA_ROOT path existance
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

fix resize
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
Labels: OTX 2.0

Update dependencies (#3570)
  .ci/requirements/Makefile
  .ci/requirements/README.md
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/piptools/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.txt
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  tox.ini
Labels: DOC, BUILD

Bump anomalib from 1.0.1 to 1.1.0 (#3572)
  pyproject.toml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Add unit-tests
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/semi_sl_head.py
  tests/unit/algo/callbacks/test_unlabeled_loss_warmup.py
  tests/unit/algo/classification/heads/test_semi_sl_head.py
Labels: OTX 2.0, TEST

reformat
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/algo/instance_segmentation/torchvision/roi_head.py
Labels: OTX 2.0

reformat
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
Labels: OTX 2.0

fix unit tests.
  src/otx/core/data/pre_filtering.py
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

fix pre-commit
  tests/unit/core/data/test_module.py
Labels: TEST

fix post-process
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

fix export. Remove exportable code
  src/otx/core/exporter/base.py
  src/otx/core/model/base.py
  src/otx/core/types/export.py
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

add MaskRLEMeanAPFMeasureCallable
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/metrics/mean_ap.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

update recipes
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
Labels: OTX 2.0

skip tv maskrcnn xai test
  tests/integration/api/test_xai.py
Labels: TEST

format
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
Labels: OTX 2.0

Fix some docstring contents
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/core/data/module.py
Labels: OTX 2.0

Fix F1 instance seg accuracy drop (#3578)
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/metrics/mean_ap.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
Labels: OTX 2.0

fix redundant usage of Path object
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

update pad to square
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
Labels: OTX 2.0

Check and Replace data_format if it's wrong
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

Remove mm in tests/integration
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

Bug fix in Semantic Segmentation + enable DINOV2 export in ONNX (#3569)
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/data/module.html
Labels: none

reply comments
  src/otx/core/exporter/base.py
  src/otx/core/model/base.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Remove DataSample
  tests/conftest.py
Labels: TEST

fix visual promting task
  src/otx/core/exporter/visual_prompting.py
  tests/unit/core/exporter/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update for using locally stored pretrained weights in the CI for torch hub models (#3541)
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

Change ci-runner to a10g for integration tests (#3553)
  .github/workflows/pre_merge.yaml
Labels: BUILD

Revert "Change ci-runner to a10g for integration tests (#3553)"
  .github/workflows/pre_merge.yaml
Labels: BUILD

Revert "Change ci-runner to a10g for integration tests (#3553)" (#3584)
  .github/workflows/pre_merge.yaml
Labels: BUILD

Fix some export issues. Remove EXPORTABLE_CODE as export parameter. (#3577)
  src/otx/core/exporter/base.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/base.py
  src/otx/core/types/export.py
  src/otx/engine/engine.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/exporter/base.html
  develop/_modules/otx/core/exporter/visual_prompting.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/engine/engine.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.exporter.base.html
  develop/guide/reference/_autosummary/otx.core.exporter.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Add data_format validation and update in OTXDataModule (#3579)
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/data/module.html
Labels: none

Add torchvision.MaskRCNN (#3504)
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/algo/instance_segmentation/torchvision/roi_head.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Added all the notebooks
  notebooks/000_install.ipynb
  notebooks/001_zero-shot-visual-prompting.ipynb
  notebooks/002_multi_label_classification.ipynb
  notebooks/003_detection.ipynb
  notebooks/004_instance_segmentation.ipynb
  notebooks/utils/__init__.py
  notebooks/utils/download.py
  notebooks/utils/io.py
Labels: none

Ignore data folder
  .gitignore
Labels: none

fix typo
  tests/perf/benchmark.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
