Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Move `layers` into `utils`
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/utils/layer/__init__.py
  src/otx/algo/detection/utils/layer/channel_attention_layer.py
  src/otx/algo/detection/utils/layer/csp_layer.py
  tests/unit/algo/detection/layers/test_channel_attention_layer.py
  tests/unit/algo/detection/layers/test_csp_layer.py
Labels: OTX 2.0, TEST

Update Engine's CLI docstring & HelpFormatter
  src/otx/cli/utils/help_formatter.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Update importing losses
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/losses/test_iou_loss.py
  tests/unit/algo/detection/losses/test_smooth_l1_loss.py
Labels: OTX 2.0, TEST

Update importing necks
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST

Fix not updated things
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST

Update README & CODEOWNERS
  .github/CODEOWNERS
  README.md
Labels: DOC, BUILD

Fix os.path to Path
  src/otx/algo/classification/backbones/efficientnet.py
Labels: OTX 2.0

Collect pretrained weight binary files in one place (#3656)
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

Minimize compiled dependency files (#3653)
  .ci/docker/Dockerfile
  .ci/docker/README.md
  .ci/docker/build.sh
  .ci/docker/check-runner.sh
  .ci/docker/start-runner.sh
  .ci/docker/stop-runner.sh
  .ci/requirements.in
  .ci/requirements.txt
  .ci/requirements/Makefile
  .ci/requirements/README.md
  .ci/requirements/benchmark/requirements.in
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.in
  .ci/requirements/tox/requirements.txt
  .github/dependabot.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  docker/Dockerfile.cuda
  docs/source/guide/get_started/installation.rst
  for_developers/regression_test/Dockerfile
  for_developers/regression_test/requirements.txt
  pyproject.toml
Labels: DOC, BUILD, DEPENDENCY

Enable ruff in otx.algo.classification.backbones
  pyproject.toml
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/backbones/vision_transformer.py
Labels: OTX 2.0, BUILD, DEPENDENCY

update for fix workflow issues
  .github/workflows/code_scan.yaml
  pyproject.toml
Labels: BUILD, DEPENDENCY

bump datumaro to 1.7.0
  .ci/docker/README.md
  pyproject.toml
Labels: DOC, BUILD, DEPENDENCY

Fix unit-test
  src/otx/algo/classification/backbones/vision_transformer.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: OTX 2.0, TEST

fix bug
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
Labels: OTX 2.0

fix test to run wo mm
  tests/unit/core/model/test_segmentation.py
Labels: TEST

modify tile recipes
  src/otx/algorithms/detection/configs/base/data/tiling/atss_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/cli/tools/eval.py
Labels: OTX 2.0

refactor exporter
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Fix import sorting
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

[hotfix] Update for fix workflow issues (#3668)
  .github/workflows/code_scan.yaml
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update README & CODEOWNERS (#3659)
  .github/CODEOWNERS
  README.md
Labels: DOC, BUILD

Update Engine's docstring & CLI --help outputs (#3658)
  src/otx/cli/utils/help_formatter.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix unit test for semantic segmentation to run it without mmseg (#3670)
  tests/unit/core/model/test_segmentation.py
Labels: TEST

Fix docstring
  src/otx/algo/classification/backbones/efficientnet.py
Labels: OTX 2.0

Move `layers` out of `utils`
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  tests/unit/algo/detection/layers/test_channel_attention_layer.py
  tests/unit/algo/detection/layers/test_csp_layer.py
Labels: OTX 2.0, TEST

Move tests
  tests/unit/algo/detection/utils/test_custom_anchor_generator.py
  tests/unit/algo/detection/utils/test_max_iou_assigner.py
  tests/unit/algo/detection/utils/test_point_generator.py
  tests/unit/algo/detection/utils/test_sim_ota_assigner.py
Labels: TEST

Create `common` directory to manage common modules
  src/otx/algo/common/backbones/__init__.py
  src/otx/algo/common/backbones/resnet.py
  src/otx/algo/common/backbones/resnext.py
  src/otx/algo/common/layers/__init__.py
  src/otx/algo/common/layers/res_layer.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/__init__.py
Labels: OTX 2.0

[hotfix] Update for fix workflow issues (#3673)
  .github/workflows/code_scan.yaml
  pyproject.toml
Labels: BUILD, DEPENDENCY

Remove unnecessary log
  tests/intg_output.log
  tests/intg_output_ci.log
Labels: TEST

disable integration test in pr-merge workflow
  .github/workflows/pre_merge.yaml
Labels: BUILD

Refactoring & remove `DictConfig`
  src/otx/algo/common/backbones/resnext.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/losses/accuracy.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/focal_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/losses/utils.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ops/__init__.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/nms.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/modules/base_module.py
  tests/unit/algo/detection/heads/test_yolox_head.py
Labels: OTX 2.0, TEST

Enable ruff & ruff-format into otx/algo/classification/backbones (#3667)
  pyproject.toml
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/backbones/vision_transformer.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

align integration test to exportable code update
  tests/integration/cli/test_cli.py
Labels: TEST

add error message
  tests/integration/cli/test_cli.py
Labels: TEST

align integration test to exportable code update
  tests/integration/cli/test_cli.py
Labels: TEST

add error message
  tests/integration/cli/test_cli.py
Labels: TEST

Disable integration test in pr-merge workflow (#3674)
  .github/workflows/pre_merge.yaml
Labels: BUILD

Update docstring and refactoring in utils
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/utils/anchor_generator/anchor_generator.py
  src/otx/algo/detection/utils/anchor_generator/point_generator.py
  src/otx/algo/detection/utils/anchor_generator/utils.py
  src/otx/algo/detection/utils/assigner/__init__.py
  src/otx/algo/detection/utils/assigner/atss_assigner.py
  src/otx/algo/detection/utils/assigner/dynamic_soft_label_assigner.py
  src/otx/algo/detection/utils/assigner/iou2d_calculator.py
  src/otx/algo/detection/utils/assigner/max_iou_assigner.py
  src/otx/algo/detection/utils/assigner/sim_ota_assigner.py
  src/otx/algo/detection/utils/bbox_overlaps.py
  src/otx/algo/detection/utils/coder/delta_xywh_bbox_coder.py
  src/otx/algo/detection/utils/coder/distance_point_bbox_coder.py
  src/otx/algo/detection/utils/nms.py
  src/otx/algo/detection/utils/sampler/base_sampler.py
  src/otx/algo/detection/utils/structures.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Disable integration test in pr-merge workflow (#3677)
  .github/workflows/pre_merge.yaml
Labels: BUILD

Revert unnecessarily updated docstring
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
Labels: OTX 2.0

Fix unit tests
  src/otx/algo/detection/utils/assigner/atss_assigner.py
  src/otx/algo/detection/utils/assigner/dynamic_soft_label_assigner.py
  src/otx/algo/detection/utils/assigner/max_iou_assigner.py
  src/otx/algo/detection/utils/assigner/sim_ota_assigner.py
  src/otx/algo/detection/utils/coder/delta_xywh_bbox_coder.py
  src/otx/algo/detection/utils/coder/distance_point_bbox_coder.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
