Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

added dino
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
Labels: DOC

fix pre-commit
  src/otx/algo/segmentation/litehrnet.py
Labels: OTX 2.0

remove maskrcnn r50 mmconfigs
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/core/data/entity/base.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
Labels: OTX 2.0

Add warnings when assigning custom names to OV model
  src/otx/core/exporter/base.py
Labels: OTX 2.0

Remove mmengine from semantic segmentation task (#3424)
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/segmentation/backbones/litehrnet.html
  develop/_modules/otx/algo/segmentation/heads/ham_head.html
Labels: none

Update HPO to support XPU (#3417)
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/resource_manager.py
  tests/unit/hpo/test_resource_manager.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/config/hpo.html
  develop/_modules/otx/hpo/hpo_runner.html
  develop/guide/reference/_autosummary/otx.core.config.hpo.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/guide/reference/_autosummary/otx.hpo.html
  develop/searchindex.js
Labels: none

Refine classification OV export (#3408)
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/exporter/base.py
Labels: OTX 2.0

Change location of stack_batch (#3413)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/entity/utils.py
Labels: OTX 2.0

Update to use `BaseModule` on detection (#3415)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  tests/integration/api/test_xai.py
  tests/unit/algo/detection/heads/test_yolox_head.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/exporter/base.html
  develop/guide/reference/_autosummary/otx.core.exporter.base.html
  develop/searchindex.js
Labels: none

Update documentation
  develop/_modules/otx/algo/detection/backbones/csp_darknet.html
  develop/_modules/otx/algo/detection/heads/yolox_head.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/guide/reference/_autosummary/otx.algo.detection.backbones.html
  develop/searchindex.js
Labels: none

generate requirements.txt to tmp path to isolate product deps only
  .github/workflows/code_scan.yml
Labels: BUILD

Add EfficientnetResizedCrop
  src/otx/algo/callbacks/adaptive_train_scheduling.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Remove ssd mmconfig
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/mmdeploy/__init__.py
  src/otx/algo/detection/mmdeploy/atss.py
  src/otx/algo/detection/mmdeploy/atss_r50_fpn.py
  src/otx/algo/detection/mmdeploy/base_detection.py
  src/otx/algo/detection/mmdeploy/rtmdet.py
  src/otx/algo/detection/mmdeploy/yolox.py
  src/otx/algo/detection/mmdeploy/yolox_tiny.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
Labels: OTX 2.0

Remove atss config
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_r50_fpn.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/mmconfigs/rtmdet_tiny.yaml
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
Labels: OTX 2.0

Fix Benchmark Test
  tests/perf/benchmark.py
Labels: TEST

Update unit tests
  src/otx/algo/instance_segmentation/mmdeploy/base_detection.py
  src/otx/algo/instance_segmentation/mmdeploy/base_instance_segmentation.py
  tests/assets/mmdeploy_config_sample.py
  tests/unit/algo/detection/heads/test_class_incremental_mixin.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Modify for iseg intg test
  src/otx/algo/instance_segmentation/__init__.py
Labels: OTX 2.0

Remove mmconfig of yolox
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

Rename anchor generator
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_generator.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Change init way of assigner
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

update to use runner.temp path
  .github/workflows/code_scan.yml
Labels: BUILD

Modify tests
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/yolox.py
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: OTX 2.0, TEST

add more unit test for bs_search_algo.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST

Remove unnecessary mmengnine import
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/fpn.py
Labels: OTX 2.0

Add `Normalize` and `NumpytoTVTensor`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix Benchmark Test (#3426)
  tests/perf/benchmark.py
Labels: TEST

change requirements.txt output path for trivy
  .github/workflows/code_scan.yml
  tox.ini
Labels: BUILD

update version string and changelog
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

update bandit config to exclude tools folder
  .ci/ipas_default.config
Labels: BUILD

Fix unit test
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

Revert experimental setting
  src/otx/recipe/_base_/train.yaml
Labels: OTX 2.0

Update version string and changelog (#3427)
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Make configurable np tv conversion
  src/otx/core/config/data.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/factory.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

(WIP) Add `NumpytoTVTensorMixin`
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/detection/backbones/pytorchcv_backbones.html
  develop/_modules/otx/algo/detection/heads/yolox_head.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/model/utils/mmdet.html
  develop/_sources/guide/reference/_autosummary/otx.algo.instance_segmentation.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.action_classification.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/guide/reference/_autosummary/otx.algo.instance_segmentation.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Fix other task Dataset
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
