Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

enable model export (#3952)
  src/otx/core/model/anomaly.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Update classification templates
  src/otx/tools/converter.py
  src/otx/tools/templates/classification/configuration.yaml
  src/otx/tools/templates/classification/efficientnet_b3/template.yaml
  src/otx/tools/templates/classification/efficientnet_v2_l/template.yaml
  src/otx/tools/templates/classification/mobilenet_v3_small/template.yaml
Labels: OTX 2.0

Update det, r-det, vpm
  src/otx/tools/templates/detection/detection/configuration.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_l/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_s/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_tiny/template.yaml
  src/otx/tools/templates/detection/detection/cspdarknet_yolox_x/template.yaml
  src/otx/tools/templates/detection/detection/mobilenetv2_atss/template.yaml
  src/otx/tools/templates/detection/detection/mobilenetv2_ssd/template.yaml
  src/otx/tools/templates/detection/detection/resnext101_atss/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_101/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_18/template.yaml
  src/otx/tools/templates/detection/detection/rtdetr_50/template.yaml
  src/otx/tools/templates/detection/detection/rtmdet_tiny/template.yaml
  src/otx/tools/templates/detection/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  src/otx/tools/templates/detection/rotated_detection/resnet50_maskrcnn/template.yaml
  src/otx/tools/templates/visual_prompting/configuration.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_tiny_vit/configuration.yaml
  src/otx/tools/templates/visual_prompting/zero_shot_sam_vit_b/configuration.yaml
Labels: OTX 2.0

changed warmaup value in train.yaml
  src/otx/recipe/_base_/train.yaml
Labels: OTX 2.0

Update template.yaml
  src/otx/tools/templates/classification/mobilenet_v3_large_1_cls_incr/template.yaml
Labels: OTX 2.0

Fix loss weights
  src/otx/algo/detection/losses/yolov9_loss.py
Labels: OTX 2.0

remove transform_bbox
  src/otx/recipe/detection/rtdetr_18.yaml
Labels: OTX 2.0

Add integration tests for keypoint detection task (#3945)
  .github/workflows/pre_merge.yaml
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/model/keypoint_detection.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
Labels: OTX 2.0, TEST, BUILD

add semantic seg tile recipes
  src/otx/recipe/_base_/data/semantic_segmentation_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_b_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_s_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_t_tile.yaml
Labels: OTX 2.0

Add anomaly task to OTX 2.3.0 (#3910)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly/openvino_model.yaml
  src/otx/recipe/anomaly/padim.yaml
  src/otx/recipe/anomaly/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/test_anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
  tox.ini
Labels: OTX 2.0, TEST, BUILD

Update NNCF Dataloader in Anomaly Task (#3926)
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

tiling-semantic seg
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/_base_/data/semantic_segmentation_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_b_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_s_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_t_tile.yaml
Labels: OTX 2.0

refactor code
  src/otx/core/data/dataset/anomaly.py
Labels: OTX 2.0

allow empty anomalous masks
  src/otx/core/data/dataset/anomaly.py
Labels: OTX 2.0

update recipe
  src/otx/recipe/_base_/data/semantic_segmentation_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
Labels: OTX 2.0

Add missing tile recipes and various tile recipe changes (#3942)
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/yolox.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/detection/atss_resnext101_tile.yaml
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/detection/base_models/test_detr.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Support ImageFromBytes (#3948)
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

model are initilized, dataset worked
  src/otx/algo/object_detection_3d/__init__.py
  src/otx/algo/object_detection_3d/backbone.py
  src/otx/algo/object_detection_3d/depth_predictor/depth_predictor.py
  src/otx/algo/object_detection_3d/depthaware_transformer.py
  src/otx/algo/object_detection_3d/dn_components.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/focalloss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matcher.py
  src/otx/algo/object_detection_3d/monodetr.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/object_detection_3d/position_encoding.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/model/detection_3d.py
  src/otx/core/types/task.py
Labels: OTX 2.0

added recipe, data module
  src/otx/algo/object_detection_3d/losses/focal_loss.py
  src/otx/algo/object_detection_3d/utils/__init__.py
  src/otx/algo/object_detection_3d/utils/box_ops.py
  src/otx/algo/object_detection_3d/utils/misc.py
  src/otx/core/data/dataset/kitti3d.py
  src/otx/core/data/dataset/kitti_eval_python/LICENSE
  src/otx/core/data/dataset/kitti_eval_python/README.md
  src/otx/core/data/dataset/kitti_eval_python/eval.py
  src/otx/core/data/dataset/kitti_eval_python/evaluate.py
  src/otx/core/data/dataset/kitti_eval_python/kitti_common.py
  src/otx/core/data/dataset/kitti_eval_python/rotate_iou.py
  src/otx/core/data/dataset/kitti_utils.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0, DOC

Change categories mapping logic (#3946)
  src/otx/core/data/pre_filtering.py
Labels: OTX 2.0

update for rc1
  src/otx/__init__.py
Labels: OTX 2.0

update changelog
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Update for 2.2.0rc1 (#3956)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

continue debugging
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/entity/object_detection_3d.py
Labels: OTX 2.0

added metric. not working. cuda only
  src/otx/core/metrics/ap_3d.py
Labels: OTX 2.0

Update changelog, add license
  CHANGELOG.md
  src/otx/core/exporter/diffusion.py
Labels: OTX 2.0, DOC

update unit test
  src/otx/core/data/utils/utils.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

add unit test
  tests/unit/core/data/test_tiling.py
Labels: TEST

add test and test dataset
  tests/assets/tiling_small_objects/annotations/instances_test.json
  tests/assets/tiling_small_objects/annotations/instances_train.json
  tests/assets/tiling_small_objects/annotations/instances_val.json
  tests/assets/tiling_small_objects/images/test/4.jpg
  tests/assets/tiling_small_objects/images/test/5.jpg
  tests/assets/tiling_small_objects/images/train/0.jpg
  tests/assets/tiling_small_objects/images/train/1.jpg
  tests/assets/tiling_small_objects/images/train/3.jpg
  tests/assets/tiling_small_objects/images/train/7.jpg
  tests/assets/tiling_small_objects/images/train/8.jpg
  tests/assets/tiling_small_objects/images/train/9.jpg
  tests/assets/tiling_small_objects/images/val/2.jpg
  tests/assets/tiling_small_objects/images/val/6.jpg
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_helpers.py
  tests/integration/conftest.py
Labels: TEST

update test
  tests/assets/tiling_small_objects/annotations/instances_test.json
  tests/assets/tiling_small_objects/annotations/instances_train.json
  tests/assets/tiling_small_objects/annotations/instances_val.json
  tests/integration/api/test_helpers.py
Labels: TEST

refactor tests
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/utils/utils.py
  src/otx/core/utils/tile_merge.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_helpers.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

restrited number of output masks by tiling
  src/otx/core/config/data.py
Labels: OTX 2.0

metrics works. 1 epoch works. Metric is not alined, result is different
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/object_detection_3d/depth_predictor/depth_predictor.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/monodetr.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/data/dataset/kitti3d.py
  src/otx/core/data/dataset/kitti_eval_python/eval.py
  src/otx/core/data/dataset/kitti_eval_python/rotate_iou.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/module.py
  src/otx/core/metrics/ap_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

train e2e works, but metric is still not the same
  src/otx/algo/object_detection_3d/depth_predictor/depth_predictor.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti3d.py
  src/otx/core/data/dataset/kitti_eval_python/eval.py
  src/otx/core/metrics/ap_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

experiment wo early stopping
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

add geti subset name
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

update num of max pred
  src/otx/core/config/data.py
Labels: OTX 2.0

include full image with anno incase there's no tile in dataset
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

address some comments
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

update test
  tests/unit/core/utils/test_tile.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
