Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

change eval function
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/utils/utils.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/utils/test_utils.py
Labels: OTX 2.0, TEST

add input_size attr to subsetconfig
  src/otx/core/config/data.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/utils/utils.py
  src/otx/utils/utils.py
Labels: OTX 2.0

draft implementation
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

update change log
  CHANGELOG.md
Labels: DOC

check config has input_size
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

change input size format
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST

Add version 2
  src/otx/cli/cli_poc.py
  src/otx/engine/__init__.py
  src/otx/engine/anomalib.py
  src/otx/engine/base.py
  src/otx/engine/engine_poc.py
  src/otx/engine/lightning.py
  src/otx/engine/ultralytics.py
  src/otx/engine/ultralytics/__init__.py
  src/otx/engine/ultralytics/trainer.py
Labels: OTX 2.0

apply sungchul comments
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/base_models/__init__.py
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/base_models/single_stage_detector.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/ssd.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/unit/algo/detection/base_models/test_detr.py
  tests/unit/algo/detection/base_models/test_single_stage_detector.py
Labels: OTX 2.0, TEST

reply Eunwoo comments
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/base_models/single_stage_detector.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/modules/conv_module.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_detection.py
  tests/unit/algo/detection/base_models/test_single_stage_detector.py
Labels: OTX 2.0, TEST

updated changelog
  CHANGELOG.md
Labels: DOC

save unsaved changes
  src/otx/algo/detection/rtmdet.py
  tests/unit/algo/detection/test_rtdetr.py
Labels: OTX 2.0, TEST

Draft implementation
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/core/data/entity/base.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/engine/engine.py
Labels: OTX 2.0

change function name readable
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/utils/utils.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/utils/test_utils.py
Labels: OTX 2.0, TEST

update unit test to use non-square input shape
  tests/unit/core/data/test_transform_libs.py
Labels: TEST

fix typo
  CHANGELOG.md
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0, DOC

change input_size type to Any to solve omegaconf issue
  src/otx/core/config/data.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

add unit test for datamodule
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST

align with pre-commit
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

deal with edge case
  src/otx/core/config/data.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

update imports
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/config/data.html
  develop/_modules/otx/core/data/module.html
  develop/_modules/otx/core/utils/utils.html
  develop/_sources/guide/reference/_autosummary/otx.core.utils.utils.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.config.data.html
  develop/guide/reference/_autosummary/otx.core.data.html
  develop/guide/reference/_autosummary/otx.core.utils.utils.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update benchmark implementation
  src/otx/core/data/entity/base.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
Labels: OTX 2.0

Cover cls models with benchmark
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  src/otx/core/model/classification.py
Labels: OTX 2.0

Update becnhamark output
  src/otx/engine/engine.py
Labels: OTX 2.0

Update
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
Labels: OTX 2.0

Update publish workflow (#3755)
  .github/workflows/publish.yml
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD

add id-token write permission
  .github/workflows/publish.yml
Labels: BUILD

Fix unit test
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

[hotfix] Add id-token write permission (#3764)
  .github/workflows/publish.yml
Labels: BUILD

Update tutorials/advanced/configuration.rst
  docs/source/guide/tutorials/advanced/configuration.rst
Labels: DOC

Update
  src/otx/recipe/_base_/data/torchvision_semisl.yaml
Labels: OTX 2.0

Update license and docstring
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

fix imports
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update dataset and entity
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_sources/guide/tutorials/advanced/configuration.rst.txt
  develop/guide/tutorials/advanced/configuration.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update types
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/detection.html
Labels: none

update yolox-tiny tile recipe
  src/otx/recipe/detection/yolox_tiny_tile.yaml
Labels: OTX 2.0

Fix docs
  CHANGELOG.md
  docs/source/_static/css/custom.css
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/advanced/huggingface_model.rst
  docs/source/guide/tutorials/advanced/index.rst
Labels: DOC

Fix docs2
  docs/source/guide/tutorials/advanced/huggingface_model.rst
Labels: DOC
