Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

solve conflicts
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
Labels: OTX 2.0

pre-commit
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/point_generator.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/losses/l1_loss.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/modules/depthwise_separable_conv_module.py
Labels: OTX 2.0

update instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
Labels: OTX 2.0

Add ResizetoShortEdge
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
Labels: OTX 2.0

update nms
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
Labels: OTX 2.0

Remove `type` in recipes
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

fix mypy
  src/otx/algo/modules/conv_module.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/heads/base_head.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.py
  src/otx/algo/segmentation/modules/iterator.py
  src/otx/algo/segmentation/modules/utils.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

Fix cls explain e2e
  tests/e2e/cli/test_cli.py
Labels: TEST

Initial bring modules
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/utils/__init__.py
  src/otx/algo/classification/utils/attention.py
  src/otx/algo/classification/utils/embed.py
  src/otx/algo/classification/utils/layer_scale.py
  src/otx/algo/classification/utils/swiglu_ffn.py
  src/otx/algo/modules/drop.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

change order of head of files
  src/otx/engine/adaptive_bs/__init__.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
Labels: OTX 2.0

Replace ResizetoShortEdge to Resize
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
Labels: OTX 2.0

re-enable scheduler for hpo candidate
  src/otx/engine/hpo/hpo_api.py
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST

Change Backbone
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/mmconfigs/multiclass_classification/deit_tiny.yaml
  src/otx/algo/modules/drop.py
  src/otx/algo/modules/transformer.py
Labels: OTX 2.0

Revert to Resize
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
Labels: OTX 2.0

Fix unit test
  src/otx/algo/detection/yolox.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Add adaptive batch size feature (#3378)
  src/otx/core/model/base.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
  src/otx/engine/adaptive_bs/__init__.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/unit/engine/adaptive_bs/__init__.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/optimizer/callable.html
  develop/_modules/otx/core/schedulers/callable.html
  develop/_modules/otx/engine/engine.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.optimizer.html
  develop/guide/reference/_autosummary/otx.core.schedulers.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/searchindex.js
Labels: none

Fix explain comment
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix unit test
  src/otx/core/model/detection.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Decouple mmpretrain: Efficientnet-B0 (#3380)
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_b0_light.yaml
  src/otx/core/data/transform_libs/utils.py
  src/otx/engine/utils/api.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0_light.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/perf/history/summary.py
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/core/utils/test_build.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/classification/backbones/efficientnet.html
  develop/_modules/otx/tools/converter.html
  develop/guide/reference/_autosummary/otx.algo.classification.backbones.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

update pre-merge workflow to run integration tests on new CI nodes
  .github/workflows/pre_merge.yaml
Labels: BUILD

update PR template
  .github/pull_request_template.md
Labels: DOC, BUILD

fix ruff
  src/otx/algo/modules/conv_module.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_head.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.py
  src/otx/algo/segmentation/modules/__init__.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/modules/iterator.py
  src/otx/algo/segmentation/modules/utils.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Revert "Remove `type` in recipes"
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Fix output dir
  tests/e2e/cli/test_cli.py
Labels: TEST

Add mmlab license
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Add conditions which weren't updated
  src/otx/algo/modules/depthwise_separable_conv_module.py
Labels: OTX 2.0

Update recipes
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

Skip integration tests for xai due to dynamic output for saliency map
  tests/integration/api/test_xai.py
Labels: TEST

Fix comment in xai integration test
  tests/integration/api/test_xai.py
Labels: TEST

deal with LinearWarmupSchedulerCallable case
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

fix xai
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  tests/unit/algo/instance_segmentation/heads/test_custom_roi_head.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

provide better models structure
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

[OTX 1.6.x] Fix QAT for detection tiling models (#3389)
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/compression_config.json
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/compression_config.json
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/compression_config.json
Labels: OTX 2.0

change rotate detection recipe
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
Labels: OTX 2.0

provide better models structure
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

fix swint recipe
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
Labels: OTX 2.0

Fix explain comment in e2e cli test (#3391)
  tests/e2e/cli/test_cli.py
Labels: TEST

added class incremental support
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/modules/utils.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0
