Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

implement unit test for adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
Labels: TEST

align with pre-commit
  pyproject.toml
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
  tests/unit/engine/hpo/test_utils.py
Labels: TEST, BUILD, DEPENDENCY

fix anchor head and related fixes
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

remove gather_topk
  src/otx/algo/detection/deployment.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
Labels: OTX 2.0

Fix .dockerignore to copy .ci directory (#3428)
  .dockerignore
Labels: none

Update trivy worflow (#3416)
  .ci/ipas_default.config
  .ci/trivy-csv.yaml
  .ci/trivy-json.yaml
  .github/workflows/code_scan.yml
  tox.ini
Labels: BUILD

Fix auto-config
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Remove cuda version focal loss
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/focal_loss.py
Labels: OTX 2.0

Migrate load_checkpoint
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

Migrate instance data
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

remove maskrcnn efficientnet mmconfig
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/core/data/entity/base.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
Labels: OTX 2.0

remove maskrcnn-swint mmconfig
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_swint.yaml
Labels: OTX 2.0

revert some changes
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/core/data/entity/base.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

update recipes
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
Labels: OTX 2.0

added numbers for some models
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
Labels: DOC

Remove cuda version focal loss (#3431)
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/focal_loss.py
Labels: OTX 2.0

Remove left mmengine things in object detection (#3432)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/detection/losses/cross_focal_loss.html
Labels: none

Add `NumpytoTVTensorMixin` and revert to use `torchvision.transforms.v2.Normalize`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Make NP TV conversion configurable (#3429)
  src/otx/core/config/data.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/factory.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/detection/heads/yolox_head.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/config/data.html
  develop/_modules/otx/core/data/factory.html
  develop/guide/reference/_autosummary/otx.core.config.data.html
  develop/searchindex.js
Labels: none

Update docstring
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

replace mmcv.ops.roi_align with torchvision.ops.roi_align
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
Labels: OTX 2.0

fix format issue
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
Labels: OTX 2.0

update .dockerignore
  .dockerignore
Labels: none

add a new line
  .dockerignore
Labels: none

update anchor head
  src/otx/algo/detection/heads/anchor_head.py
Labels: OTX 2.0

add CrossSigmoidFocalLoss back
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  tests/unit/algo/instance_segmentation/heads/test_custom_roi_head.py
Labels: OTX 2.0, TEST

remove mmdet decouple test
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
Labels: TEST

fix test
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST

skip xai test for inst-seg for now
  tests/integration/api/test_xai.py
Labels: TEST

remove code comment
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
Labels: OTX 2.0

Disable deterministic in test
  src/otx/algo/detection/atss.py
  tests/integration/cli/test_export_inference.py
  tests/perf/benchmark.py
Labels: OTX 2.0, TEST

reformat
  tests/integration/cli/test_export_inference.py
Labels: TEST

add more rtmdet modules
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/heads/dynamic_soft_label_assigner.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/single_stage.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
Labels: OTX 2.0

Update default to False
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update recipes
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

Fix unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Update `Resize` for masks
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/detection/losses/cross_entropy_loss.html
  develop/_modules/otx/algo/detection/losses/cross_focal_loss.html
  develop/_modules/otx/algo/detection/losses/smooth_l1_loss.html
  develop/_modules/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.instance_segmentation.mmdet.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
