Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

remove config attributes on OTXDataModule
  src/otx/core/data/module.py
Labels: OTX 2.0

remove dataformat check test
  tests/unit/core/data/test_module.py
Labels: TEST

Create loss module
  src/otx/algo/visual_prompting/losses/__init__.py
  src/otx/algo/visual_prompting/losses/sam_loss.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/utils/postprocess.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

update for resolving cve-2024-5980 from lightning 2.2.2
  pyproject.toml
Labels: BUILD, DEPENDENCY

Mergeback 2.1.0 to develop (#3787)
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

Update license comments
  src/otx/algo/classification/__init__.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/core/data/entity/classification.py
  src/otx/core/metrics/__init__.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/types.py
  src/otx/core/model/classification.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
Labels: OTX 2.0

update dependabot group config for pip
  .github/dependabot.yaml
Labels: BUILD

change deterministic value to False in perf test
  tests/perf/test_action.py
Labels: TEST

Remove `order`
  src/otx/algo/modules/conv_module.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

clarifications
  src/otx/algo/keypoint_detection/utils/keypoint_eval.py
  src/otx/core/data/dataset/keypoint_detection.py
Labels: OTX 2.0

remove use of mmcv
  src/otx/algo/keypoint_detection/utils/rtmcc_block.py
Labels: OTX 2.0

fix license
  src/otx/algo/keypoint_detection/utils/scale_norm.py
  src/otx/algo/keypoint_detection/utils/simcc_label.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/types/task.py
  tests/perf/test_keypoint_detection.py
  tests/unit/algo/keypoint_detection/utils/test_rtmcc_block.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
Labels: OTX 2.0, TEST

fix uni test
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/test_rtmpose.py
Labels: TEST

enable keypoint det
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/losses/kl_discret_loss.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/algo/keypoint_detection/topdown.py
  src/otx/algo/keypoint_detection/utils/data_sample.py
  src/otx/algo/keypoint_detection/utils/keypoint_eval.py
  src/otx/algo/keypoint_detection/utils/rtmcc_block.py
  src/otx/algo/keypoint_detection/utils/scale_norm.py
  src/otx/algo/keypoint_detection/utils/simcc_label.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/keypoint_ap.py
  src/otx/core/model/keypoint_detection.py
  src/otx/core/types/task.py
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  tests/assets/car_tree_bug_keypoint/annotations/person_keypoints_test.json
  tests/assets/car_tree_bug_keypoint/annotations/person_keypoints_train.json
  tests/assets/car_tree_bug_keypoint/annotations/person_keypoints_val.json
  tests/assets/car_tree_bug_keypoint/images/test/Slide20.PNG
  tests/assets/car_tree_bug_keypoint/images/test/Slide3.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide4.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide5.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide6.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide7.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide8.PNG
  tests/assets/car_tree_bug_keypoint/images/train/Slide9.PNG
  tests/assets/car_tree_bug_keypoint/images/val/Slide20.PNG
  tests/assets/car_tree_bug_keypoint/images/val/Slide3.PNG
  tests/unit/algo/keypoint_detection/__init__.py
  tests/unit/algo/keypoint_detection/conftest.py
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/losses/test_loss_kldiscrete.py
  tests/unit/algo/keypoint_detection/test_rtmpose.py
  tests/unit/algo/keypoint_detection/utils/test_rtmcc_block.py
  tests/unit/algo/keypoint_detection/utils/test_scale_norm.py
  tests/unit/algo/keypoint_detection/utils/test_simcc_label.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
Labels: OTX 2.0, TEST

fix precommit issue
  src/otx/algo/keypoint_detection/rtmpose.py
Labels: OTX 2.0

add unit test for keypoint detection transforms
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/pck.py
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  tests/perf/test_keypoint_detection.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

add default config for keypoint detection in auto config
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

enable export
  src/otx/algo/keypoint_detection/topdown.py
  src/otx/algo/keypoint_detection/utils/scale_norm.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
Labels: OTX 2.0

fix docstring
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/losses/kl_discret_loss.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/algo/keypoint_detection/topdown.py
  src/otx/algo/keypoint_detection/utils/data_sample.py
  src/otx/algo/keypoint_detection/utils/keypoint_eval.py
  src/otx/algo/keypoint_detection/utils/rtmcc_block.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
Labels: OTX 2.0

np to torch
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Fix an unnecessary condition statement
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

a
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/keypoint_detection.py
  tests/unit/algo/keypoint_detection/__init__.py
  tests/unit/algo/keypoint_detection/conftest.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
Labels: OTX 2.0, TEST

added other recipes. Updated linter
  src/otx/algo/callbacks/ema_mean_teacher.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/__init__.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segmentors/mean_teacher.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/recipe/_base_/data/semisl/semantic_segmentation_semisl.yaml
  src/otx/recipe/_base_/data/semisl/torchvision_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/dino_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_b0_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/mobilenet_v3_large_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/tv_mobilenet_v3_small_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
Labels: OTX 2.0, TEST

fix unit test
  src/otx/algo/segmentation/segmentors/base_model.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
Labels: OTX 2.0, TEST

minor
  src/otx/recipe/_base_/data/semisl/torchvision_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
Labels: OTX 2.0

Change deterministic value to False as default in action classification perf test (#3799)
  tests/perf/test_action.py
Labels: TEST

Update dependabot group config for pip (#3798)
  .github/dependabot.yaml
Labels: BUILD

Refactor classification Models
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/vit.py
  src/otx/core/model/classification.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/callbacks/test_unlabeled_loss_warmup.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST

implement adaptive input size draft version
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/cli/cli.py
  src/otx/core/data/module.py
  src/otx/core/data/tile_adaptor.py
  src/otx/core/data/utils/__init__.py
  src/otx/core/data/utils/utils.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/detection/yolox_tiny.yaml
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST

handle edge case
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

update torch lr scheduler importing logic
  src/otx/core/schedulers/__init__.py
Labels: OTX 2.0

Modify copyright
  src/otx/algo/classification/timm_model.py
Labels: OTX 2.0

Remove `act_cfg` and reflect this change to all modules
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/segnext.py
  tests/unit/algo/detection/backbones/test_csp_darknet.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

Fix recipe for deno v2
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
Labels: OTX 2.0

Remove `build_activation_layer`
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/common/backbones/pytorchcv_backbones.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  tests/unit/algo/common/backbones/test_pytorchcv_backbones.py
  tests/unit/algo/modules/test_activation.py
Labels: OTX 2.0, TEST

Dino v2
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
Labels: OTX 2.0

Enable to update `inplace`
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0

pre-commit
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/base_segm_head.py
Labels: OTX 2.0

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Fix unit test
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0
