Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

fix pylint
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/backbones/maskrcnn_backbones.py
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

fix unit tests
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
Labels: OTX 2.0

minor
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
Labels: OTX 2.0

specify data type
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Add keypoint detection recipe for single object cases (#3903)
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

add docstring to notify need to update FMeasure for distributed training
  src/otx/core/metrics/fmeasure.py
Labels: OTX 2.0

update label dtype from int32 to long
  src/otx/core/data/dataset/detection.py
Labels: OTX 2.0

add tile recipe
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
Labels: OTX 2.0

Add anomaly (classification)task
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly/openvino_model.yaml
  src/otx/recipe/anomaly/padim.yaml
  src/otx/recipe/anomaly/stfpm.yaml
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Anomaly Classification -> Anomaly
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/test_anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST, DOC

minor fixes
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

commit tox
  tox.ini
Labels: BUILD

Add anomaly classification
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST, DOC

fix unit tests
  tests/unit/core/data/conftest.py
Labels: TEST

Apply suggestions from code review
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/types/task.py
Labels: OTX 2.0

sort imports
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

whitespace
  src/otx/core/types/task.py
Labels: OTX 2.0

add rtmpose_tiny for single obj
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

add rtmpose_tiny for single obj
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

add rtmpose_tiny for single obj
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

add rtmpose_tiny for single obj
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

modify test subset name
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
Labels: OTX 2.0

fix unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

update recipe with reset
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
Labels: OTX 2.0

reply some comments
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/losses/roi_loss.py
  src/otx/algo/instance_segmentation/losses/rpn_loss.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/necks/__init__.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50_tile.yaml
Labels: OTX 2.0

reply some comment 2
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/losses/rpn_loss.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  tests/unit/algo/instance_segmentation/test_roi_head.py
Labels: OTX 2.0, TEST

Fix a bug that training is stuck while detection model is trained on distrubited environment (#3904)
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix returning tensor instead of dict in `rtmdet_ins_head`
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/losses/rtmdet_inst_loss.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/detection.html
Labels: none

Add related unit tests
  tests/unit/algo/instance_segmentation/heads/__init__.py
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/losses/__init__.py
  tests/unit/algo/instance_segmentation/losses/test_rtmdet_inst_loss.py
Labels: TEST

Enable to load models (to be refactored)
  src/otx/algo/detection/backbones/yolo_v7_v9_backbone.py
  src/otx/algo/detection/heads/yolo_v7_v9_head.py
  src/otx/algo/detection/necks/yolo_v7_v9_neck.py
  src/otx/algo/detection/yolov9.py
  src/otx/recipe/detection/yolov9_s.yaml
Labels: OTX 2.0

Enable to load pretrained weights
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

precommit
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/losses/test_rtmdet_inst_loss.py
Labels: TEST

Fix pretrained_weight for timm
  src/otx/algo/classification/backbones/timm.py
Labels: OTX 2.0

Add anomaly (classification)task
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly/openvino_model.yaml
  src/otx/recipe/anomaly/padim.yaml
  src/otx/recipe/anomaly/stfpm.yaml
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Anomaly Classification -> Anomaly
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/test_anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST, DOC

minor fixes
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

commit tox
  tox.ini
Labels: BUILD

Add anomaly classification
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST, DOC

fix unit tests
  tests/unit/core/data/conftest.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
