Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Fix datamodule for ov
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Add unit-tests
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

Fix Datamodule creation for OV in AutoConfigurator (#3920)
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

update tpp file
  third-party-programs.txt
Labels: DOC

Update tpp file for 2.2.0 (#3921)
  third-party-programs.txt
Labels: DOC

fix names for ignored scope
  src/otx/algo/segmentation/litehrnet.py
Labels: OTX 2.0

add label info to init
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

update todos
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Clip gradients in HF model
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/core/model/diffusion.py
  src/otx/recipe/diffusion/sd_huggingface.yaml
Labels: OTX 2.0

Leave single implementation
  src/otx/algo/diffusion/__init__.py
  src/otx/algo/diffusion/clip_tokenizer.py
  src/otx/algo/diffusion/ddim_scheduler.py
  src/otx/algo/diffusion/model/autoencoder_kl/__init__.py
  src/otx/algo/diffusion/model/autoencoder_kl/attn_block.py
  src/otx/algo/diffusion/model/autoencoder_kl/autoencoder_kl.py
  src/otx/algo/diffusion/model/autoencoder_kl/decoder.py
  src/otx/algo/diffusion/model/autoencoder_kl/encoder.py
  src/otx/algo/diffusion/model/autoencoder_kl/mid.py
  src/otx/algo/diffusion/model/autoencoder_kl/resnet_block.py
  src/otx/algo/diffusion/model/clip/__init__.py
  src/otx/algo/diffusion/model/clip/attention.py
  src/otx/algo/diffusion/model/clip/encoder.py
  src/otx/algo/diffusion/model/clip/encoder_layer.py
  src/otx/algo/diffusion/model/clip/mlp.py
  src/otx/algo/diffusion/model/clip/text_embeddings.py
  src/otx/algo/diffusion/model/clip/text_transformer.py
  src/otx/algo/diffusion/model/unet/__init__.py
  src/otx/algo/diffusion/model/unet/basic_transformer_block.py
  src/otx/algo/diffusion/model/unet/cross_attention.py
  src/otx/algo/diffusion/model/unet/feed_forward.py
  src/otx/algo/diffusion/model/unet/res_block.py
  src/otx/algo/diffusion/model/unet/spatial_transformer.py
  src/otx/algo/diffusion/model/unet/unet_model.py
  src/otx/algo/diffusion/otx_model.py
  src/otx/algo/diffusion/otx_model_pretrained.py
  src/otx/algo/diffusion/utils/download.py
  src/otx/recipe/diffusion/sd.yaml
  tests/unit/algo/diffusion/test_stable_diffusion.py
Labels: OTX 2.0, TEST

Fix ruff
  src/otx/algo/diffusion/huggingface_model.py
Labels: OTX 2.0

Fix prettier
  src/otx/recipe/diffusion/sd_huggingface.yaml
Labels: OTX 2.0

Restore output_raw_scores for classificaiton
  src/otx/core/model/classification.py
  src/otx/core/types/export.py
Labels: OTX 2.0

Add uts
  tests/unit/core/model/test_classification.py
  tests/unit/core/types/test_export.py
Labels: TEST

Fix linter
  tests/unit/core/model/test_classification.py
Labels: TEST

Fix names for ignored scope [HOT-FIX, 2.2.0] (#3924)
  src/otx/algo/segmentation/litehrnet.py
Labels: OTX 2.0

Update head
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/heads/yolo_v7_v9_head.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Fix classification rt_info (#3922)
  src/otx/core/model/classification.py
  src/otx/core/types/export.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/types/test_export.py
Labels: OTX 2.0, TEST

Update m and c
  src/otx/algo/detection/backbones/yolo_v7_v9_backbone.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/necks/yolo_v7_v9_neck.py
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
Labels: OTX 2.0

Update neck
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/necks/yolo_v7_v9_neck.py
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Update backbone
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/backbones/yolo_v7_v9_backbone.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

add tile config and seg tiler
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

modify dataloader
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

update seg tiler
  src/otx/core/data/dataset/tile.py
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Refactoring gelan
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/modules/activation.py
Labels: OTX 2.0

Refactoring yolo_head
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
Labels: OTX 2.0

Move IoU loss to common
  src/otx/algo/common/losses/__init__.py
  src/otx/algo/common/losses/iou_loss.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/losses/yolox_loss.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Refactoring yolov9 loss
  src/otx/algo/detection/losses/yolov9_loss.py
Labels: OTX 2.0

Refactoring yolo neck
  src/otx/algo/detection/necks/yolo_neck.py
Labels: OTX 2.0

Fix for using `Conv2dModule` and setting norm channels
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
Labels: OTX 2.0

Fix
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Refactoring yolov7_v9_utils
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
Labels: OTX 2.0

Remove `Conv` and its dependencies
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
Labels: OTX 2.0

Update label info (#3925)
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Fix loading `build_activation_layer`
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
Labels: OTX 2.0

Makes mypy happy
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Fix errors
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
Labels: OTX 2.0

Enable export & optimize
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolo_head.py
Labels: OTX 2.0

Fix binary classification
  src/otx/core/metrics/accuracy.py
Labels: OTX 2.0

Add unit-tests
  tests/unit/core/metrics/test_accuracy.py
Labels: TEST
