Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

draft implementation
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

export and IR works
  src/otx/algo/common/utils/nms.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
Labels: OTX 2.0

some cleaning
  src/otx/algo/common/utils/nms.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/utils/matchers/__init__.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/fmeasure.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/perf/test_detection.py
Labels: OTX 2.0, TEST

run pre-commit
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/matchers/__init__.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/detection/utils/utils.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
Labels: OTX 2.0

Enable to automatically set `crop_size` in `RandomCrop`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

fix wrong code
  tests/perf/benchmark.py
Labels: TEST

fix code
  tests/perf/benchmark.py
Labels: TEST

align with pre-commit
  tests/conftest.py
Labels: TEST

update doc string
  tests/conftest.py
  tests/perf/benchmark.py
Labels: TEST

handle edge case
  tests/perf/benchmark.py
Labels: TEST

Enable to automatically set `resize_crop_size` in `RandomResizedCrop` and `EfficientNetRandomCrop`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Remove optimizer in stfpm recipe (#3743)
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Fix unit test
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

vit to support dinov2
  src/otx/algo/classification/backbones/vision_transformer.py
Labels: OTX 2.0

update dinov2 recipe
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
Labels: OTX 2.0

tmp
  src/otx/algo/classification/backbones/vision_transformer.py
Labels: OTX 2.0

Add HuggingFaceModelForDetection
  src/otx/algo/detection/huggingface_model.py
  tests/unit/algo/detection/test_huggingface_model.py
Labels: OTX 2.0, TEST

fix pre-commit
  tests/unit/algo/detection/test_huggingface_model.py
Labels: TEST

Fix export scores
  src/otx/algo/detection/huggingface_model.py
  tests/unit/algo/detection/test_huggingface_model.py
Labels: OTX 2.0, TEST

Fix integration test and update docs and repr
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

change resume_from to test_only
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
Labels: TEST

fix typo
  tests/perf/benchmark.py
Labels: TEST

Fix unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

fix bug
  tests/perf/benchmark.py
Labels: TEST

align with pre-commit
  tests/perf/benchmark.py
Labels: TEST

added unit tests and some typing
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/core/model/base.py
  tests/unit/algo/detection/backbones/test_presnet.py
  tests/unit/algo/detection/heads/test_rtdetr_decoder.py
  tests/unit/algo/detection/losses/test_rtdetr_loss.py
  tests/unit/algo/detection/necks/test_hybrid_encoder.py
  tests/unit/algo/detection/test_rtdetr.py
  tests/unit/algo/detection/utils/matchers/__init__.py
  tests/unit/algo/detection/utils/matchers/test_hungarian_matcher.py
Labels: OTX 2.0, TEST

Change run-on target to aws ci for e2e (#3745)
  .github/workflows/daily.yaml
  .github/workflows/pre_merge.yaml
Labels: BUILD

Add `namespace_override` to override `Namespace`
  src/otx/cli/utils/jsonargparse.py
  tests/unit/cli/utils/test_jsonargparse.py
Labels: OTX 2.0, TEST

remove max_number_det from tile adaptor
  src/otx/algorithms/detection/utils/data.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: OTX 2.0, TEST

revert change in eval.py
  src/otx/cli/tools/eval.py
Labels: OTX 2.0

Add '--test-only' flag in perf test (#3746)
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Remove dynamic_axes in _exporter configs
  src/otx/algo/detection/huggingface_model.py
Labels: OTX 2.0

Update recipe for test
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
Labels: OTX 2.0

clean up code. Change to OTX modules
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/transformer.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Add HuggingFace Model Wrapper for Detection (#3747)
  src/otx/algo/detection/huggingface_model.py
  tests/unit/algo/detection/test_huggingface_model.py
Labels: OTX 2.0, TEST

fixed pylint
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/matchers/__init__.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/unit/algo/detection/backbones/test_presnet.py
  tests/unit/algo/detection/heads/test_rtdetr_decoder.py
  tests/unit/algo/detection/losses/test_rtdetr_loss.py
  tests/unit/algo/detection/necks/test_hybrid_encoder.py
  tests/unit/algo/detection/test_rtdetr.py
  tests/unit/algo/detection/utils/matchers/test_hungarian_matcher.py
Labels: OTX 2.0, TEST

Add `reset` option
  src/otx/cli/utils/jsonargparse.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  tests/unit/cli/utils/test_jsonargparse.py
Labels: OTX 2.0, TEST

Update iseg recipes
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
Labels: OTX 2.0

fix unit test, depricate xai
  src/otx/algo/detection/rtdetr.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/rtdetr_101.yaml
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/detection/backbones/test_presnet.py
  tests/unit/algo/detection/test_rtdetr.py
Labels: OTX 2.0, TEST

added lost file
  src/otx/algo/modules/norm_module.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
