Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Resolve some conflicts
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/mobilenet_v3.py
  tests/integration/api/test_xai.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

Increase patience for multi-label-cls
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
Labels: OTX 2.0

Refactor checkpiont logic (#3302)
  src/otx/algo/detection/ssd.py
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
  tests/conftest.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/algo/detection/conftest.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/engine/engine.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/guide/reference/_autosummary/otx.core.model.anomaly.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

update workflows to exclude py38
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/run_tests_in_tox_custom.yml
  tox.ini
Labels: BUILD

update readme, changelog, release note and version string
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Fix `Resize`
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Update yolox_tiny recipe
  src/otx/recipe/detection/yolox_tiny_tv.yaml
Labels: OTX 2.0

Update `RandomAffine`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

pass checkpoint args when need to resume
  src/otx/engine/hpo/hpo_trial.py
Labels: OTX 2.0

Update `YOLOXHSVRandomAug`
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/integration/api/test_xai.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/exporter/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update `CachedMosaic` and `CachedMixUp`
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

change datumaro version to 1.5.2
  requirements/base.txt
Labels: DEPENDENCY

update datumaro commit
  requirements/base.txt
Labels: DEPENDENCY

added rust toolchain installation step as temporary
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
Labels: BUILD

Fix default model category to all
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

modify resnet
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
Labels: OTX 2.0

add annotation
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
Labels: OTX 2.0

style changes
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
Labels: OTX 2.0

update for release 1.6.1rc1
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/run_tests_in_tox_custom.yml
  pyproject.toml
  requirements/base.txt
  tox.ini
Labels: BUILD, DEPENDENCY

Set min_earlystop_patience to 8 & max_epochs to 200 & Resize to RandomResizedCrop
  src/otx/algo/callbacks/adaptive_train_scheduling.py
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
Labels: OTX 2.0

Remove all references of Draem
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/utils/images/draem.png
  tests/unit/algo/anomaly/test_otx_model.py
Labels: TEST, DOC

update datumaro 1.6.1rc2
  requirements/base.txt
Labels: DEPENDENCY

Update readme, changelog, release note and version string (#3320)
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

update
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/assign_result.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/iou2d_calculator.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/max_iou_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/base_dense_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/prior_generators/anchor_generator.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/pseudo_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/random_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/sampling_result.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/util_mixins.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/util_random.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/bbox_overlaps.py
  src/otx/algo/instance_segmentation/mmdet/structures/det_data_sample.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/__init__.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/structures.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/utils.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

XAI tor tiling: detection, instance segmentation (#3297)
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/utils/tile_merge.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.utils.tile_merge.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Revert test_xai.py
  tests/integration/api/test_xai.py
Labels: TEST

fix all mypy issues
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/base_dense_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/structures.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

fix mypy issues
  src/otx/algo/instance_segmentation/mmdet/models/assigners/base_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/structures/det_data_sample.py
Labels: OTX 2.0

fix tox
  src/otx/core/types/__init__.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
Labels: OTX 2.0, TEST

fix pre-commit
  src/otx/core/types/__init__.py
Labels: OTX 2.0

Allow benchmark run failure for summary job
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Fix e2e issues (#3313)
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

Remove comments
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
Labels: OTX 2.0

Decoupling mmdet structures part2 (#3315)
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/detection/heads/custom_anchor_generator.html
  develop/_modules/otx/algo/detection/ssd.html
Labels: none

Add `BalancedSampler`
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
Labels: OTX 2.0

Bump datumaro 1.6.1rc2 (#3322)
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
  .github/workflows/run_tests_in_tox_custom.yml
  pyproject.toml
  requirements/base.txt
  tox.ini
Labels: BUILD, DEPENDENCY
