Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/detection/test_detection.py
Labels: TEST

Decouple base head
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Decouple SSD class
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/detection/heads/custom_ssd_head.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/searchindex.js
Labels: none

update hpo integration test
  tests/integration/cli/test_cli.py
Labels: TEST

Fix pre-commit
  src/otx/algo/detection/heads/base_head.py
Labels: OTX 2.0

update e2e test
  tests/e2e/cli/test_cli.py
Labels: TEST

pin pymongo version to 4.5.0
  requirements/api.txt
Labels: DEPENDENCY

Fix a bug that engine.test doesn't work with XPU (#3293)
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
Labels: OTX 2.0

fix merge conflicts for pre-commit
  src/otx/algo/detection/heads/base_head.py
Labels: OTX 2.0

fix precommit 2
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/utils/segmentation.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
Labels: OTX 2.0, TEST

if metric is loss, change hpo model to min
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  src/otx/engine/hpo/utils.py
  tests/e2e/cli/test_cli.py
Labels: OTX 2.0, TEST

update hpo integration test
  tests/integration/cli/test_cli.py
Labels: TEST

update e2e test
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix e2e tests for XPU on 1.6.0 (#3305)
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_stfpm/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficientNet-V2-S/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficinetNet-B0/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_MobileNet-V3-large-1x/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_ResNeXt101_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_L/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_S/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_X/compressed_model.yml
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ConvNeXt/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_SwinT_FP16/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_B/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_s/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_t/compressed_model.yml
  tests/test_suite/run_test_command.py
Labels: TEST

Remove deterministic from test_otx_explain_e2e
  tests/integration/cli/test_cli.py
Labels: TEST

Fix comments & integration tests
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Update doc description
  src/otx/algo/hooks/recording_forward_hook.py
Labels: OTX 2.0

add api & change HPO mode to min if loss is metric
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  src/otx/engine/hpo/utils.py
  src/otx/hpo/hyperband.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

fix unit test
  src/otx/core/exporter/base.py
  src/otx/core/types/__init__.py
  tests/unit/core/exporter/test_base.py
Labels: OTX 2.0, TEST

fix pre-commit
  src/otx/core/types/__init__.py
  tests/unit/core/exporter/test_base.py
Labels: OTX 2.0, TEST

Revert scope="module"
  tests/integration/cli/test_cli.py
Labels: TEST

fix export tests
  tests/unit/algo/strategies/test_strategies.py
  tests/unit/core/exporter/test_native.py
Labels: TEST

fix pre-commit
  tests/unit/algo/strategies/test_strategies.py
  tests/unit/core/exporter/test_native.py
Labels: TEST

v2.1: XAI clean-up & XAI unit tests (#3303)
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/explain/__init__.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/hooks/__init__.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/conftest.py
  tests/unit/algo/explain/__init__.py
  tests/unit/algo/explain/test_saliency_map_dumping.py
  tests/unit/algo/explain/test_saliency_map_processing.py
  tests/unit/algo/explain/test_xai_algorithms.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/utils/mmpretrain.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/searchindex.js
Labels: none

Fix merge conflicts
  src/otx/core/model/detection.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

Minor
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST

add missing part
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

add callback to args
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Pin pymongo version to 4.5.0 (#3316)
  requirements/api.txt
Labels: DEPENDENCY

Update `PhotoMetricDistortion`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
Labels: OTX 2.0

Fix
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

bump datumaro version to 1.6.0
  requirements/base.txt
Labels: DEPENDENCY

Leave comment
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

Support benchmark history summary v1 (#3307)
  .github/workflows/perf_benchmark.yaml
  requirements/dev.txt
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
Labels: TEST, BUILD, DEPENDENCY

Support benchmark history summary v2 (#3298)
  .github/workflows/perf_benchmark.yaml
  pyproject.toml
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST, BUILD, DEPENDENCY

Remove unused reference file
  tests/perf/benchmark-reference.csv
Labels: TEST

Update test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

update datumaro dep
  requirements/base.txt
Labels: DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
