Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Merging
  docs/utils/auto_sphinx_build.py
Labels: DOC

Update pytorch-lightning version requirement for XPU (#3145)
  requirements/anomaly.txt
Labels: DEPENDENCY

Fix ov pipeline update function
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Update docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
Labels: DOC

Update docs
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
Labels: DOC

Fix wrong ov datamodule update in predict, test, optimize (#3139)
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/engine/engine.html
Labels: none

Fix draem
  src/otx/algo/anomaly/draem.py
Labels: OTX 2.0

Add classification tutorial (#3153)
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
Labels: DOC

Update documentation
  develop/_sources/guide/tutorials/base/how_to_train/classification.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/detection.rst.txt
  develop/guide/tutorials/base/how_to_train/classification.html
  develop/guide/tutorials/base/how_to_train/detection.html
  develop/searchindex.js
Labels: none

Fix ruff
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/utils.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/data/transform_libs/mmdet.py
  tests/conftest.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/visual_prompting/test_segment_anything.py
  tests/unit/core/data/transform_libs/test_mmdet.py
Labels: OTX 2.0, TEST

Enable using `print_config`
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Add test reports
  benchmark_result/20240317-024843/benchmark-summary.csv
  test_report_anomaly_3_14.html
  test_report_classification_3_14.html
  test_report_detection_3_14.html
Labels: none

Add perf results
  benchmark_result/20240315-093231/benchmark-summary.csv
  benchmark_result/20240315-213840/benchmark-summary.csv
Labels: none

Fix pickling errors during HPO
  src/otx/algo/anomaly/draem.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/dice.py
  src/otx/core/metrics/mean_ap.py
  src/otx/core/metrics/visual_prompting.py
  src/otx/core/model/base.py
Labels: OTX 2.0

Fix draem test error
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Add anomaly perf benchmark tests
  tests/perf/benchmark.py
  tests/perf/test_anomaly.py
Labels: TEST

Fix pre-commit
  tests/perf/benchmark.py
Labels: TEST

Add unit tests for dataset and module
  src/otx/core/data/pre_filtering.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_pre_filtering.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST

Add unit-test for engine & core.utils
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_cache.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_imports.py
  tests/unit/core/utils/test_instantiators.py
  tests/unit/core/utils/test_utils.py
  tests/unit/engine/test_engine.py
Labels: TEST

Run perf benchmark on large-disk host
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Fix import test
  tests/unit/core/utils/test_imports.py
Labels: TEST

Refine workflow
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Fix minor
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
Labels: TEST, BUILD

update optimizer
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
Labels: OTX 2.0

update custom rtmdet ins head
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

pre-commit
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

Mark xfail to test_otx_ov_test
  src/otx/core/model/base.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

fix polygon function
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

update
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

Move anomaly lightning model
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/module/anomaly/__init__.py
  src/otx/core/model/module/anomaly_lightning.py
Labels: OTX 2.0

Rename file
  src/otx/core/model/module/anomaly.py
Labels: OTX 2.0

Rename file
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

add custom rtmdet inst head unit test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

updat test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

update dependabot configuration
  .github/dependabot.yaml
Labels: BUILD

Rename hooks& add unit tests
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/explain/__init__.py
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  tests/conftest.py
  tests/unit/algo/explain/__init__.py
  tests/unit/algo/explain/test_saliency_map_dumping.py
  tests/unit/algo/explain/test_saliency_map_processing.py
  tests/unit/algo/explain/test_xai_algorithms.py
  tests/unit/core/model/entity/test_detection.py
  tests/unit/core/model/entity/test_inst_segmentation.py
Labels: OTX 2.0, TEST

Clean up
  src/otx/algo/explain/explain_algo.py
  tests/unit/algo/explain/test_xai_algorithms.py
Labels: OTX 2.0, TEST

Fix pre-commit
  src/otx/algo/explain/explain_algo.py
  tests/unit/core/model/entity/test_detection.py
Labels: OTX 2.0, TEST
