Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Merge latest commit
  src/otx/cli/cli.py
  tests/unit/algo/schedulers/__init__.py
  tests/unit/algo/schedulers/test_warmup_schedulers.py
Labels: OTX 2.0, TEST

Update tpp file (#3237)
  third-party-programs.txt
Labels: DOC

hpo_config only gets HpoConfig
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix docs/
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  src/otx/engine/engine.py
Labels: OTX 2.0, DOC

Update trivy scan for gen spdx.json file (#3239)
  .ci/trivy-csv.yaml
  .ci/trivy-spdx-json.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

Revert templates to experimental
  src/otx/algorithms/visual_prompting/configs/sam_tiny_vit/template_experimental.yaml
  src/otx/algorithms/visual_prompting/configs/sam_vit_b/template_experimental.yaml
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_tiny_vit/template_experimental.yaml
  src/otx/algorithms/visual_prompting/configs/zero_shot_sam_vit_b/template_experimental.yaml
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
  tests/e2e/cli/visual_prompting/test_zero_shot.py
  tests/integration/cli/visual_prompting/test_visual_prompting.py
  tests/integration/cli/visual_prompting/test_zero_shot.py
Labels: OTX 2.0, TEST

Update Engine docstring for autodoc build (#3240)
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  src/otx/engine/engine.py
Labels: OTX 2.0, DOC

Mergeback 1.5.2 to 1.6.0 (#3214)
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  requirements/base.txt
  src/otx/algorithms/action/configs/classification/configuration.yaml
  src/otx/algorithms/action/configs/detection/configuration.yaml
  src/otx/algorithms/anomaly/tasks/inference.py
  src/otx/algorithms/anomaly/tasks/openvino.py
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/configs/configuration.yaml
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
  src/otx/algorithms/segmentation/configs/configuration.yaml
  src/otx/api/entities/shapes/polygon.py
  src/otx/api/usecases/exportable_code/prediction_to_annotation_converter.py
  tests/unit/algorithms/classification/tasks/test_classification_openvino_task.py
  tests/unit/api/usecases/exportable_code/test_prediction_to_annotation_converter.py
Labels: OTX 2.0, TEST, DOC, DEPENDENCY

precommit
  tests/e2e/cli/visual_prompting/test_visual_prompting.py
  tests/e2e/cli/visual_prompting/test_zero_shot.py
  tests/integration/cli/visual_prompting/test_visual_prompting.py
  tests/integration/cli/visual_prompting/test_zero_shot.py
Labels: TEST

Refactor XAI data entities (#3230)
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/utils/xai_utils.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/entity/anomaly/detection.py
  src/otx/core/data/entity/anomaly/segmentation.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/utils/tile_merge.py
  tests/conftest.py
  tests/integration/api/test_xai.py
  tests/unit/algo/hooks/test_saliency_map_dumping.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/visual_prompting/zero_shot_segment_anything.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/action_detection.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/core/utils/tile_merge.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.action_detection.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.classification.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.utils.tile_merge.html
  develop/searchindex.js
Labels: none

Update HPO documentation (#3235)
  docs/source/guide/explanation/additional_features/hpo.rst
  src/otx/core/config/hpo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/resource_manager.py
  tests/integration/cli/test_cli.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
Labels: OTX 2.0, TEST, DOC

Update documentation
  test_build/_modules/otx/core/config/hpo.html
  test_build/_modules/otx/core/utils/cache.html
  test_build/_modules/otx/engine/engine.html
  test_build/_modules/otx/hpo/hpo_base.html
  test_build/_modules/otx/hpo/hpo_runner.html
  test_build/_modules/otx/hpo/hyperband.html
  test_build/_sources/guide/explanation/additional_features/hpo.rst.txt
  test_build/_sources/guide/explanation/algorithms/action/action_classification.rst.txt
  test_build/_sources/guide/explanation/algorithms/action/action_detection.rst.txt
  test_build/_sources/guide/explanation/algorithms/classification/multi_class_classification.rst.txt
  test_build/_sources/guide/explanation/algorithms/object_detection/object_detection.rst.txt
  test_build/_sources/guide/explanation/algorithms/segmentation/semantic_segmentation.rst.txt
  test_build/_sources/guide/explanation/algorithms/visual_prompting/fine_tuning.rst.txt
  test_build/guide/explanation/additional_features/hpo.html
  test_build/guide/explanation/algorithms/action/action_classification.html
  test_build/guide/explanation/algorithms/action/action_detection.html
  test_build/guide/explanation/algorithms/classification/multi_class_classification.html
  test_build/guide/explanation/algorithms/object_detection/object_detection.html
  test_build/guide/explanation/algorithms/segmentation/semantic_segmentation.html
  test_build/guide/explanation/algorithms/visual_prompting/fine_tuning.html
  test_build/guide/reference/_autosummary/otx.core.config.hpo.html
  test_build/guide/reference/_autosummary/otx.engine.html
  test_build/guide/reference/_autosummary/otx.hpo.html
  test_build/searchindex.js
Labels: none

Fix
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  src/otx/core/types/explain.py
  src/otx/engine/engine.py
  tests/integration/api/test_xai.py
  tests/perf/conftest.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_torchvision_model.py
Labels: OTX 2.0, TEST

Fix unittest
  tests/unit/algorithms/visual_prompting/test_helpers.py
Labels: TEST

Add #3240
  src/otx/engine/engine.py
Labels: OTX 2.0

draft implementation
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_training_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/api/entities/dataset_item.py
  src/otx/core/data/caching/mem_cache_handler.py
Labels: OTX 2.0

draft implemenetation
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/api/entities/dataset_item.py
Labels: OTX 2.0

refactor a little bit
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

fix bug
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
Labels: OTX 2.0

make CustomOTXHead pickeable
  src/otx/algorithms/segmentation/adapters/mmseg/models/heads/custom_otx_head.py
Labels: OTX 2.0

import nncf patch according to task
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: OTX 2.0

align with pre-comimt
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

success to execute adaptive bs w/ XPU
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/api/entities/dataset_item.py
  src/otx/core/data/caching/mem_cache_handler.py
Labels: OTX 2.0

refactor code
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
Labels: OTX 2.0

draft implementation for nncf auto bs
  src/otx/algorithms/detection/adapters/mmdet/task.py
Labels: OTX 2.0

support nncf task
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

add meta argument
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

Refactoring
  src/otx/cli/convert.py
Labels: OTX 2.0

Add Geti config converter
  src/otx/cli/convert.py
Labels: OTX 2.0

Add iseg and seg cases
  src/otx/cli/convert.py
Labels: OTX 2.0

Change convert function to class
  src/otx/cli/convert.py
  tests/unit/cli/test_convert.py
Labels: OTX 2.0, TEST

Add unit tests
  src/otx/cli/convert.py
  tests/assets/geti-configs/det.json
  tests/unit/cli/test_convert.py
Labels: OTX 2.0, TEST

FIx
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/entity/base.py
  src/otx/core/exporter/base.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/hooks/test_saliency_map_dumping.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: OTX 2.0, TEST

Reflect latest develop branch updates
  src/otx/cli/convert.py
  tests/unit/cli/test_convert.py
Labels: OTX 2.0, TEST

Fix ruff
  tests/perf/conftest.py
Labels: TEST

Add unit tests for dataset and module
  src/otx/core/data/pre_filtering.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_pre_filtering.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST

Add unit tests for transfrom lib
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Push unit tests and some bug fixes to develop (#3224)
  README.md
  pyproject.toml
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/cli/cli.py
  src/otx/core/model/classification.py
  src/otx/core/model/instance_segmentation.py
  src/otx/engine/engine.py
  tests/unit/algo/action_classification/test_movinet.py
  tests/unit/algo/action_classification/test_x3d.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_cache.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_imports.py
  tests/unit/core/utils/test_instantiators.py
  tests/unit/core/utils/test_utils.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update documentation
  develop/_modules/otx/algo/visual_prompting/backbones/tiny_vit.html
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/engine/engine.html
  develop/guide/reference/_autosummary/otx.engine.html
Labels: none
