Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Apply review comments
  src/otx/core/exporter/diffusion.py
Labels: OTX 2.0

Revert load_checkpoint_to_model
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

Simplify async OV inference (#3988)
  src/otx/core/model/base.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/base.html
Labels: none

address comments
  src/otx/algo/instance_segmentation/backbones/detectron_resnet.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/utils/utils.py
Labels: OTX 2.0

remove inverse_sigmoid
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/utils/utils.py
Labels: OTX 2.0

update weight clip optimizer
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

change get_clones to public func
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/utils/utils.py
Labels: OTX 2.0

upgrade datumaro 1.10.0rc0
  pyproject.toml
Labels: BUILD, DEPENDENCY

add tile recipe
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
Labels: OTX 2.0

fix export
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Fix mean std on export
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Fix linting issues
  src/otx/core/model/detection_3d.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

remove export names
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

optimize denoise training
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
Labels: OTX 2.0

optimize denoise training
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
Labels: OTX 2.0

Add flag for using mask or polygon in `learn`
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
Labels: OTX 2.0

Revert some parts in #3769
  src/otx/algo/visual_prompting/sam.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
Labels: OTX 2.0, TEST

Fix unit test
  src/otx/algo/visual_prompting/sam.py
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/test_sam.py
  tests/unit/core/conftest.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Fix metric
  src/otx/algo/visual_prompting/losses/sam_loss.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/core/metrics/visual_prompting.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix
  src/otx/algo/visual_prompting/sam.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/core/data/factory.html
  develop/_modules/otx/core/data/module.html
  develop/_modules/otx/core/exporter/base.html
  develop/_modules/otx/core/exporter/detection_3d.html
  develop/_modules/otx/core/model/detection_3d.html
  develop/_modules/otx/core/types/task.html
  develop/_sources/guide/reference/_autosummary/otx.core.exporter.detection_3d.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.exporter.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.detection_3d.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.exporter.base.html
  develop/guide/reference/_autosummary/otx.core.exporter.detection_3d.html
  develop/guide/reference/_autosummary/otx.core.exporter.html
  develop/guide/reference/_autosummary/otx.core.exporter.native.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.detection_3d.html
  develop/guide/reference/_autosummary/otx.core.model.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/objects.inv
  develop/py-modindex.html
  develop/searchindex.js
Labels: none

add optim resize_and_calculate_mask_probs
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

refactor inverse sigmoid
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
Labels: OTX 2.0

update inverse sigmoid import
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
Labels: OTX 2.0

update ptq config
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

API fixes
  src/otx/core/model/detection_3d.py
  src/otx/recipe/object_detection_3d/openvino_model.yaml
Labels: OTX 2.0

Fix merge artifacts
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

fix export
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

resert post_process_instance_segmentation
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

udpate postprocess
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

fp16 training
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/utils/box_ops.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

update criterion
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
Labels: OTX 2.0

segmentation consider bbox only annotations
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

add unit test
  src/otx/core/data/dataset/segmentation.py
  tests/unit/core/data/conftest.py
Labels: OTX 2.0, TEST

add unit test
  tests/unit/core/data/dataset/test_segmentation.py
Labels: TEST

update fixture
  tests/unit/core/data/conftest.py
Labels: TEST

use name attribute
  src/otx/core/data/dataset/segmentation.py
  tox.ini
Labels: OTX 2.0, BUILD

Fix unit tests
  tests/unit/algo/visual_prompting/test_sam.py
  tests/unit/algo/visual_prompting/visual_prompters/test_segment_anything.py
Labels: TEST

revert tox file
  tox.ini
Labels: BUILD

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
