Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Move yolo v9
  CHANGELOG.md
Labels: DOC

Update seg tiling tests
  tests/unit/core/data/test_tiling.py
Labels: TEST

rename backbone
  pyproject.toml
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/core/data/dataset/kitti_3d/kitti3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Add multilabel mAP metric
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/mlc_map.py
Labels: OTX 2.0

Add unit tests
  tests/unit/core/metrics/mlc_map.py
  tests/unit/core/metrics/test_mlc_map.py
  tests/unit/core/metrics/test_pck.py
Labels: TEST

Fix linters
  src/otx/core/metrics/mlc_map.py
Labels: OTX 2.0

minor
  src/otx/algo/common/losses/focal_loss.py
  src/otx/algo/object_detection_3d/__init__.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti_3d/kitti3d.py
Labels: OTX 2.0

revert recipe back
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

revert recipe back
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
Labels: OTX 2.0

Fix tiling flaky test (#3982)
  tests/unit/core/data/test_tiling.py
Labels: TEST

Del unused computations
  src/otx/core/metrics/mlc_map.py
Labels: OTX 2.0

Del an empty file
  tests/unit/core/metrics/mlc_map.py
Labels: TEST

Update changelog
  CHANGELOG.md
Labels: DOC

Del unused threshold
  src/otx/core/metrics/mlc_map.py
Labels: OTX 2.0

Upd unit test
  tests/unit/core/metrics/test_mlc_map.py
Labels: TEST

Move OV semantic segmentation tiler to use MAPI (#3978)
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/core/model/seg_tiler.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.seg_tiler.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/guide/reference/_autosummary/otx.core.model.seg_tiler.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/objects.inv
  develop/py-modindex.html
  develop/searchindex.js
Labels: none

Refactor to allow for a wider model in TIMM (#3976)
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/timm_model.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/classification/backbones/test_timm.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST

Add mAP for multilabel classifciation (#3985)
  CHANGELOG.md
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/mlc_map.py
  tests/unit/core/metrics/test_mlc_map.py
  tests/unit/core/metrics/test_pck.py
Labels: OTX 2.0, TEST, DOC

moved transformer layers to common. Added integration tests.
  src/otx/algo/common/layers/transformer_layers.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  tests/assets/kitti3d/calib/test/000023.txt
  tests/assets/kitti3d/calib/test/000025.txt
  tests/assets/kitti3d/calib/test/000037.txt
  tests/assets/kitti3d/calib/train/000003.txt
  tests/assets/kitti3d/calib/train/000011.txt
  tests/assets/kitti3d/calib/train/000036.txt
  tests/assets/kitti3d/calib/train/000046.txt
  tests/assets/kitti3d/calib/train/000055.txt
  tests/assets/kitti3d/calib/val/000023.txt
  tests/assets/kitti3d/calib/val/000025.txt
  tests/assets/kitti3d/calib/val/000037.txt
  tests/assets/kitti3d/image_2/test/000023.png
  tests/assets/kitti3d/image_2/test/000025.png
  tests/assets/kitti3d/image_2/test/000037.png
  tests/assets/kitti3d/image_2/train/000003.png
  tests/assets/kitti3d/image_2/train/000011.png
  tests/assets/kitti3d/image_2/train/000036.png
  tests/assets/kitti3d/image_2/train/000046.png
  tests/assets/kitti3d/image_2/train/000055.png
  tests/assets/kitti3d/image_2/val/000023.png
  tests/assets/kitti3d/image_2/val/000025.png
  tests/assets/kitti3d/image_2/val/000037.png
  tests/assets/kitti3d/label_2/test/000023.txt
  tests/assets/kitti3d/label_2/test/000025.txt
  tests/assets/kitti3d/label_2/test/000037.txt
  tests/assets/kitti3d/label_2/train/000003.txt
  tests/assets/kitti3d/label_2/train/000011.txt
  tests/assets/kitti3d/label_2/train/000036.txt
  tests/assets/kitti3d/label_2/train/000046.txt
  tests/assets/kitti3d/label_2/train/000055.txt
  tests/assets/kitti3d/label_2/val/000023.txt
  tests/assets/kitti3d/label_2/val/000025.txt
  tests/assets/kitti3d/label_2/val/000037.txt
  tests/perf/test_object_detection_3d.py
Labels: OTX 2.0, TEST

fix unit tests
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

ready_to_integrate
  src/otx/core/data/dataset/object_detection_3d.py
Labels: OTX 2.0

* fix all pylint issues * sort imports
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/instance_segmentation/backbones/detectron_resnet.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/layers/batch_norm.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/mask_dino/batch_norm.py
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/matcher.py
  src/otx/algo/instance_segmentation/mask_dino/misc.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/resnet.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/utils.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/utils/box_ops.py
  src/otx/algo/instance_segmentation/utils/utils.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: OTX 2.0, TEST

remove checkpoint
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

update test
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: OTX 2.0, TEST

update test
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: TEST

Add basic ov inference for 3d det
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/model/detection_3d.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/object_detection_3d/openvino_model.yaml
Labels: OTX 2.0

Simplify async OV inference
  src/otx/core/model/base.py
Labels: OTX 2.0

added datumaro support. 1 class not working. Validation works
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/matchers/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti_3d/__init__.py
  src/otx/core/data/dataset/kitti_3d/kitti3d.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/kitti_common.py
  src/otx/core/data/dataset/kitti_3d/kitti_utils.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/utils/__init__.py
  src/otx/core/data/dataset/utils/kitti_utils.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/module.py
  src/otx/core/metrics/ap_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

fixed issues
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

fix pre-commit
  src/otx/core/data/dataset/object_detection_3d.py
Labels: OTX 2.0

Apply review comments
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/core/model/diffusion.py
Labels: OTX 2.0

change inputs name
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matchers/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/object_detection_3d/utils/utils.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/exporter/detection_3d.py
  src/otx/core/metrics/average_precision_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

integration tests OK
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/object_detection_3d/utils/utils.py
Labels: OTX 2.0

restore missing init
  src/otx/core/data/dataset/__init__.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Enable adaptive_bs with tiling
  tests/integration/cli/test_cli.py
Labels: TEST

unpin py3.11.8 for unittesting
  .github/workflows/pre_merge.yaml
Labels: BUILD

Fix copy
  tests/integration/cli/test_cli.py
Labels: TEST

Fix pre-commit
  tests/integration/cli/test_cli.py
Labels: TEST

Add intg test into CI & tox
  .github/workflows/pre_merge.yaml
  tox.ini
Labels: BUILD
