Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

raise error once HPO trial exits abnormally
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0

Change code using fixed subset name in HPO for release branch (#3189)
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  tests/unit/hpo/test_hyperband.py
Labels: OTX 2.0, TEST

Update src/otx/core/metrics/fmeasure.py
  src/otx/core/metrics/fmeasure.py
Labels: OTX 2.0

Add debug msg
  src/otx/core/model/base.py
Labels: OTX 2.0

Fix ruff error
  src/otx/core/metrics/fmeasure.py
Labels: OTX 2.0

Modify detection docs and remove unused initial detectors (#3186)
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST, DOC

Updates for unit test
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Fix incorrect information
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
Labels: DOC

Fix F1 metric (#3187)
  src/otx/cli/cli.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/engine/engine.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/regression/test_regression.py
  tests/unit/cli/test_cli.py
  tests/unit/core/metrics/test_fmeasure.py
  tests/unit/core/model/test_detection.py
  tests/utils.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/engine/engine.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.cli.cli.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Updates for integration tests
  src/otx/algo/visual_prompting/segment_anything.py
Labels: OTX 2.0

remove internal publish workflow
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  requirements/publish.txt
Labels: BUILD, DEPENDENCY

Make HPO raise an error once HPO trial exits abnormally (#3190)
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0

Reflect review
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
Labels: DOC

Fix ruff errors
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Update docs
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
Labels: DOC

Fix
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

bring rtmdet optim and tile test to dev branch
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/model/entity/detection.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  tests/integration/test_tiling.py
  tests/test_helpers.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

add rtmdet inst optim
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: OTX 2.0, TEST

add tile unit test
  src/otx/core/model/detection.py
  tests/integration/test_tiling.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

update test
  tests/unit/core/data/test_tiling.py
Labels: TEST

fix inst-seg integration test
  src/otx/recipe/instance_segmentation/openvino_model.yaml
Labels: OTX 2.0

Fix circular issues
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/instance_segmentation.py
Labels: OTX 2.0

update metric
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
Labels: OTX 2.0

update cli
  src/otx/cli/cli.py
Labels: OTX 2.0

fix tiling cli
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Remove internal publish workflow (#3192)
  .github/workflows/publish.yml
  .github/workflows/publish_internal.yml
  requirements/publish.txt
Labels: BUILD, DEPENDENCY

bump onnx version to 1.16.0
  requirements/dev.txt
  requirements/openvino.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DEPENDENCY

Add unit-test
  tests/unit/algo/action_classification/test_movinet.py
  tests/unit/algo/action_classification/test_x3d.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/algo/schedulers/__init__.py
  tests/unit/algo/schedulers/test_warmup_schedulers.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: TEST

Fix incorrect information for the classification tasks (#3191)
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
Labels: DOC

Fix circular import issue #3202 (#3203)
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/instance_segmentation.py
Labels: OTX 2.0

bump onnx version to 1.16.0
  .github/workflows/publish_internal.yml
  CHANGELOG.md
  requirements/dev.txt
  requirements/openvino.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC, BUILD, DEPENDENCY

Add use ellipse shapes to omz config
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/detection/utils/utils.py
Labels: OTX 2.0

Update visual prompting refactoring to develop (#3193)
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/core/conftest.py
  tests/unit/core/exporter/__init__.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Add unit-test for otx.algo.schedulers & otx.algo.action (#3206)
  tests/unit/algo/action_classification/test_movinet.py
  tests/unit/algo/action_classification/test_x3d.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/algo/schedulers/__init__.py
  tests/unit/algo/schedulers/test_warmup_schedulers.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: TEST

Modify export intg test
  tests/integration/cli/test_export_inference.py
Labels: TEST

Add action intg test
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Add raise
  src/otx/cli/cli.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/visual_prompting/segment_anything.html
  develop/_modules/otx/algo/visual_prompting/zero_shot_segment_anything.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/guide/reference/_autosummary/otx.algo.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/searchindex.js
Labels: none

Modify unit tests
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: TEST
