Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

precommit
  src/otx/algo/detection/utils/utils.py
  tests/unit/algo/detection/backbones/test_csp_darknet.py
  tests/unit/algo/detection/heads/test_point_generator.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/layers/test_channel_attention_layer.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/detection/losses/test_iou_loss.py
  tests/unit/algo/detection/losses/test_smooth_l1_loss.py
Labels: OTX 2.0, TEST

Revert
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
Labels: OTX 2.0

Remove duplicated module
  src/otx/algo/detection/losses/l1_loss.py
Labels: OTX 2.0

Revert
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
Labels: OTX 2.0

Fix
  tests/unit/algo/detection/losses/test_smooth_l1_loss.py
  tests/unit/core/model/test_detection.py
Labels: TEST

Update PR template (#3393)
  .github/pull_request_template.md
Labels: DOC, BUILD

precommit
  tests/unit/core/model/test_detection.py
Labels: TEST

Update datumaro version
  pyproject.toml
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Update naming of variables
  src/otx/algorithms/common/utils/ir.py
Labels: OTX 2.0

Fix unit tests
  src/otx/core/data/dataset/base.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

add result csv upload job
  .github/workflows/daily.yaml
Labels: BUILD

Fix xai outputs
  src/otx/algo/classification/vit.py
  src/otx/algo/modules/norm.py
Labels: OTX 2.0

Enable parameter of scheduler for HPO candidate (#3390)
  src/otx/engine/hpo/hpo_api.py
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST

Migrate ATSS from mmdet (#3386)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/resnext.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_assigner.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_atss_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/mmconfigs/atss_mobilenetv2.yaml
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/utils/mmcv_utils.py
  src/otx/core/model/detection.py
  tests/integration/api/test_xai.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/detection/test_atss.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/detection/heads/custom_anchor_generator.html
  develop/_modules/otx/algo/detection/heads/custom_atss_head.html
  develop/_modules/otx/algo/detection/heads/custom_ssd_head.html
  develop/_modules/otx/algo/detection/losses/iou_loss.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/model/detection.html
  develop/_sources/guide/reference/_autosummary/otx.algo.detection.heads.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.action_classification.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Decouple YOLOX : unit tests for model migration (#3398)
  tests/unit/algo/detection/backbones/test_csp_darknet.py
  tests/unit/algo/detection/heads/test_point_generator.py
  tests/unit/algo/detection/heads/test_sim_ota_assigner.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/layers/__init__.py
  tests/unit/algo/detection/layers/test_channel_attention_layer.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/detection/losses/__init__.py
  tests/unit/algo/detection/losses/test_iou_loss.py
  tests/unit/algo/detection/losses/test_smooth_l1_loss.py
  tests/unit/algo/detection/necks/__init__.py
  tests/unit/algo/detection/necks/test_yolox_pafpn.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/modules/__init__.py
  tests/unit/algo/modules/test_depthwise_separable_conv_module.py
  tests/unit/core/model/test_detection.py
Labels: TEST

Use dataset indexing
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

[1.6.1] Explicitly cast incorrect output type in OV model (#3395)
  src/otx/algorithms/common/utils/ir.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: OTX 2.0, TEST

remove some files
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/random_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/util_random.py
Labels: OTX 2.0

reply comments
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/__init__.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/modules/__init__.py
  src/otx/algo/segmentation/modules/iterator.py
  src/otx/algo/segmentation/segnext.py
Labels: OTX 2.0

added lost files
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
Labels: OTX 2.0, TEST

fix pre-commit
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/modules/__init__.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
Labels: OTX 2.0, TEST

map location CPU
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/heads/base_segm_head.py
Labels: OTX 2.0

fix nncf
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Bump ov and nncf versions
  pyproject.toml
Labels: BUILD, DEPENDENCY

Refine classification OV export
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/core/exporter/base.py
Labels: OTX 2.0

update changelog
  CHANGELOG.md
Labels: DOC

update readme and release note
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Decouple mmpretrain: DeiT-Tiny (#3397)
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/deit_tiny.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/deit_tiny.yaml
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/utils/__init__.py
  src/otx/algo/classification/utils/attention.py
  src/otx/algo/classification/utils/embed.py
  src/otx/algo/classification/utils/swiglu_ffn.py
  src/otx/algo/classification/vit.py
  src/otx/algo/modules/drop.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/otx_deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/otx_deit_tiny.yaml
  src/otx/tools/converter.py
  tests/perf/history/summary.py
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/segmentation/backbones/dinov2.html
  develop/_modules/otx/algo/segmentation/backbones/litehrnet.html
  develop/_modules/otx/algo/segmentation/backbones/mscan.html
  develop/_modules/otx/algo/segmentation/heads/custom_ham_head.html
  develop/_modules/otx/algo/segmentation/heads/fcn_head.html
  develop/_modules/otx/algo/segmentation/heads/ham_head.html
  develop/_modules/otx/algo/segmentation/losses.html
  develop/_modules/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_sources/guide/reference/_autosummary/otx.algo.segmentation.backbones.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.algo.segmentation.heads.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.algo.segmentation.losses.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.segmentation.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.segmentation.backbones.html
  develop/guide/reference/_autosummary/otx.algo.segmentation.heads.html
  develop/guide/reference/_autosummary/otx.algo.segmentation.losses.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/classification/backbones/vision_transformer.html
  develop/_modules/otx/algo/classification/heads/hlabel_cls_head.html
  develop/_modules/otx/algo/classification/heads/multilabel_cls_head.html
  develop/_modules/otx/algo/classification/heads/vision_transformer_head.html
  develop/_modules/otx/tools/converter.html
  develop/_sources/guide/reference/_autosummary/otx.algo.classification.backbones.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.algo.classification.heads.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.classification.backbones.html
  develop/guide/reference/_autosummary/otx.algo.classification.heads.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update changelog for 1.6.1rc4 (#3401)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Bring BaseModule & weight_init
  src/otx/algo/modules/base_module.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/algo/utils/weight_init.py
Labels: OTX 2.0

Replace mmengine.model.BaseModule to otx.BaseModule
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/utils/attention.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
Labels: OTX 2.0

Revert heads
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
Labels: OTX 2.0

implement util unit test
  tests/unit/engine/hpo/__init__.py
  tests/unit/engine/hpo/test_utils.py
Labels: TEST

implement draft of test_hpo_api
  src/otx/engine/hpo/hpo_api.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST

implement engine/hpo unit test
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
Labels: TEST

Fix dict key
  src/otx/algo/utils/weight_init.py
Labels: OTX 2.0

Update e2e test scope
  tests/e2e/cli/test_cli.py
Labels: TEST
