Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Remove anomalib task type
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

exclude batch and num channel from input size
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/cli/cli.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

update docstring
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

update unit test
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/cli/test_cli.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

Fix build docs (#3823)
  docs/README.md
  tox.ini
Labels: DOC, BUILD

adaptive input size supports not square
  src/otx/core/data/utils/utils.py
  tests/unit/core/data/utils/test_utils.py
Labels: OTX 2.0, TEST

update changelog
  CHANGELOG.md
Labels: DOC

fix typo
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/core/exporter/visual_prompting.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST

updated cache dir
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

Upgrade MAPI version
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Revert "Upgrade MAPI version"
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Update MAPI
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

update unit tests
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
Labels: TEST

Use optimize_gap for classifier of h-label models
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Update not use optimize_gap
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

Update loss using label smoothing
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: OTX 2.0

Update comments
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Update update h-label format
  src/otx/core/data/dataset/classification.py
Labels: OTX 2.0

Update head for efficientnet
  src/otx/algo/classification/efficientnet.py
Labels: OTX 2.0

Update dataset for tests of h-label cls
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
Labels: OTX 2.0, TEST

Update comments
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: OTX 2.0

Add hlabel info for h-label head test
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
Labels: OTX 2.0, TEST

Use CBAM for efficientnet
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: OTX 2.0

Add CBAM head for h-label cls
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/core/data/dataset/classification.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
Labels: OTX 2.0, TEST

Update head
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: OTX 2.0

Add unit tests for CBAM
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
Labels: TEST

Remove loss
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
Labels: OTX 2.0

Update comments for arguments of CBAM head
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: OTX 2.0

fix typo
  src/otx/core/model/classification.py
Labels: OTX 2.0

update base data pipeline
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/_base_/data/torchvision_semisl.yaml
  src/otx/recipe/_base_/data/visual_prompting.yaml
Labels: OTX 2.0

update keypoint detection
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
Labels: OTX 2.0

align with pre-commit
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/model/keypoint_detection.py
Labels: OTX 2.0

update docstring
  src/otx/cli/cli.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/base.py
Labels: OTX 2.0

update-fuzzing-tests
  pyproject.toml
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/eval_fuzzing_crash.py
  tox.ini
Labels: TEST, BUILD, DEPENDENCY

update
  .github/dependabot.yaml
Labels: BUILD

update unit test
  tests/unit/cli/test_cli.py
Labels: TEST

update auto_configurator to use None intead of none
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

extend available torch version
  src/otx/cli/utils/installation.py
  tox.ini
Labels: OTX 2.0, BUILD

Update `build_norm_layer` to use `norm_callable`
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
Labels: OTX 2.0
