Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Revert "Update image_decode_context flow with RGB (#3501)"
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

Fix
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

Fix
  tests/unit/core/data/conftest.py
Labels: TEST

Fix
  .github/workflows/pre_merge.yaml
Labels: BUILD

Fix
  .github/workflows/pre_merge.yaml
Labels: BUILD

Update dependencies for regression-test in for_developers folder (#3508)
  .github/workflows/perf_benchmark.yaml
  for_developers/regression_test/requirements.txt
Labels: DOC, BUILD

Minor
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

Fix imports
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Revert inf exp changes
  tests/integration/cli/test_export_inference.py
Labels: TEST

Fix ATSS recipes (#3511)
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/perf/test_detection.py
Labels: OTX 2.0, TEST

Remove LITMODULE_PER_TASK
  src/otx/engine/engine.py
Labels: OTX 2.0

Revert "Modify label info comparison (#3442)" (#3509)
  src/otx/engine/engine.py
Labels: OTX 2.0

Revert #3501 (#3510)
  src/otx/core/data/dataset/base.py
  tests/unit/core/data/conftest.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/engine/engine.html
Labels: none

Fix cls models not to have loss_callable
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Revert integration gh action modification
  .github/workflows/pre_merge.yaml
Labels: BUILD

diable resnext101_atss on XPU
  pyproject.toml
  src/otx/algo/detection/atss.py
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

give detailed xpu device info to perf tag
  tests/perf/conftest.py
Labels: TEST

revert debug code
  tests/perf/test_detection.py
Labels: TEST

Revert #3291 (#3350)
  .github/workflows/pre_merge.yaml
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  src/otx/cli/install.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
  src/otx/core/utils/jsonargparse.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  tests/unit/core/optimizer/test_callable.py
  tests/unit/core/schedulers/test_callable.py
Labels: OTX 2.0, TEST, BUILD

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/cli/install.html
  develop/_modules/otx/core/optimizer/callable.html
  develop/_modules/otx/core/schedulers/callable.html
  develop/_modules/otx/core/utils/jsonargparse.html
  develop/_sources/guide/reference/_autosummary/otx.core.utils.jsonargparse.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.utils.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.optimizer.html
  develop/guide/reference/_autosummary/otx.core.schedulers.html
  develop/guide/reference/_autosummary/otx.core.utils.html
  develop/guide/reference/_autosummary/otx.core.utils.instantiators.html
  develop/guide/reference/_autosummary/otx.core.utils.jsonargparse.html
  develop/guide/reference/_autosummary/otx.core.utils.mask_util.html
  develop/objects.inv
  develop/py-modindex.html
  develop/searchindex.js
Labels: none

add adaptive early stopping. Remove background label
  src/otx/algo/callbacks/adaptive_early_stopping.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

Add a flag to enable OV inference on dGPU (#3503)
  README.md
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  tests/integration/cli/test_cli.py
  tests/unit/core/model/test_base.py
Labels: OTX 2.0, TEST, DOC

Update documentation
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/searchindex.js
Labels: none

add docs
  src/otx/algo/callbacks/adaptive_early_stopping.py
Labels: OTX 2.0

Disable Resnext101_ATSS model on XPU (#3514)
  pyproject.toml
  src/otx/algo/detection/atss.py
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

modify recipe
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
Labels: OTX 2.0

improve atss accuracy
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/perf/test_detection.py
Labels: OTX 2.0, TEST

update installation of XPU devices
  docs/source/guide/get_started/installation.rst
  pyproject.toml
Labels: DOC, BUILD, DEPENDENCY

fix docs
  docs/source/guide/get_started/installation.rst
Labels: DOC

revert changes back
  pyproject.toml
Labels: BUILD, DEPENDENCY

return back dependencies
  pyproject.toml
Labels: BUILD, DEPENDENCY

minor
  pyproject.toml
Labels: BUILD, DEPENDENCY

remove invalid perf benchmark reference history for v2.0.0
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/utils/tile_merge.html
Labels: none

add reduce function to dino backbone
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/utils/utils.py
Labels: OTX 2.0

add unit test
  tests/unit/utils/test_utils.py
Labels: TEST

Remove invalid perf benchmark reference history for v2.0.0 (#3517)
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST

update integration test
  tests/integration/cli/test_cli.py
Labels: TEST

change name
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/utils/utils.py
  tests/unit/utils/test_utils.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
