Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix pre-commit issue
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix wrong cfg usage
  src/otx/algo/utils/weight_init.py
Labels: OTX 2.0

Fix pre-commit issue
  tests/e2e/cli/test_cli.py
Labels: TEST

Remove mmpretrain
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_custom_multilabel_cls_head.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_multilabel_cls_head.py
Labels: OTX 2.0, TEST

add alway condition to upload artifacts
  .github/workflows/daily.yaml
Labels: BUILD

Add `dynamic_topk`
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

udpate hpo_api unit test
  tests/unit/engine/hpo/test_hpo_api.py
Labels: TEST

Update to datumaro==1.6.1rc3 (#3377)
  pyproject.toml
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

udpate hpo_util unit test
  src/otx/engine/hpo/utils.py
  tests/unit/engine/hpo/test_utils.py
Labels: OTX 2.0, TEST

align with pre-commit
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
  tests/unit/engine/hpo/test_utils.py
Labels: TEST

fix typo
  src/otx/engine/hpo/utils.py
Labels: OTX 2.0

fix type hint
  tests/unit/engine/hpo/test_hpo_api.py
Labels: TEST

Update to use `OTXNativeModelExporter`
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Decouple mmengine: Bring mmengine.BaseModule (#3402)
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/utils/attention.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/modules/base_module.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/algo/utils/weight_init.py
Labels: OTX 2.0

precommit
  src/otx/algo/detection/heads/yolox_head.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/action_classification/heads/movinet_head.html
  develop/_modules/otx/algo/classification/backbones/vision_transformer.html
  develop/_modules/otx/algo/classification/heads/hlabel_cls_head.html
  develop/_modules/otx/algo/classification/heads/linear_head.html
  develop/_modules/otx/algo/classification/heads/multilabel_cls_head.html
  develop/_modules/otx/algo/classification/heads/vision_transformer_head.html
  develop/_modules/otx/algo/segmentation/backbones/dinov2.html
  develop/_modules/otx/algo/segmentation/backbones/litehrnet.html
  develop/_modules/otx/algo/segmentation/backbones/mscan.html
  develop/guide/reference/_autosummary/otx.algo.classification.backbones.html
  develop/guide/reference/_autosummary/otx.algo.classification.heads.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/guide/reference/_autosummary/otx.algo.segmentation.backbones.html
Labels: none

Fix unit test
  tests/unit/algo/detection/test_yolox.py
Labels: TEST

Decouple mmpretrain: Head, Loss (#3404)
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_custom_multilabel_cls_head.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
  tests/unit/algo/classification/heads/test_multilabel_cls_head.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/classification/heads/custom_hlabel_linear_cls_head.html
  develop/_modules/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.html
  develop/_modules/otx/algo/classification/heads/custom_multilabel_linear_cls_head.html
  develop/_modules/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.html
  develop/_modules/otx/algo/classification/heads/hlabel_cls_head.html
  develop/_modules/otx/algo/classification/heads/multilabel_cls_head.html
  develop/_modules/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.html
  develop/_sources/guide/reference/_autosummary/otx.algo.classification.heads.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.classification.heads.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Upgrade OV, NNCF and MAPI (#3335)
  pyproject.toml
  src/otx/algo/action_classification/openvino_model.py
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/visual_prompting/openvino_models.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/model_wrapper.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/detection/openvino_model.yaml
  tests/integration/api/test_engine_api.py
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/core/utils/test_tile.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Remove left mmdet dependency
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/resnext.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Deprecate old yolox
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
Labels: OTX 2.0

Remove deprecated atss
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
Labels: OTX 2.0

Remove left mmcv dependency
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/backbones/resnext.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/necks/fpn.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Add stack-batch to tiling entity
  src/otx/core/data/entity/tile.py
Labels: OTX 2.0

Deprecate old ssd
  src/otx/algo/detection/ssd.py
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
Labels: OTX 2.0

Generate otx atss
  src/otx/algo/detection/atss.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/detection.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
Labels: OTX 2.0

Implement customize inputs and outputs
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/action_classification/openvino_model.html
  develop/_modules/otx/algo/visual_prompting/openvino_models.html
  develop/_modules/otx/core/exporter/base.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

Implement explain
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Add todo
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

Modify anchor generating
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Fix unit tests
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  tests/unit/core/model/test_detection.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update e2e test scope (#3403)
  tests/e2e/cli/test_cli.py
Labels: TEST

Align Dino-v2 with other models
  docker/download_pretrained_weights.py
  src/otx/algo/__init__.py
  src/otx/algo/classification/__init__.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/mmconfigs/multiclass_classification/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2_linear_probe.yaml
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2_linear_probe.yaml
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/test_otx_dino_v2.py
Labels: OTX 2.0, TEST

Add result csv upload job for daily workflow (#3399)
  .github/workflows/daily.yaml
Labels: BUILD

remove unnecessery test
  tests/e2e/cli/test_cli.py
Labels: TEST

decopule mmdeploy and replace with native exporter
  src/otx/algo/detection/deployment.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_swint.yaml
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
Labels: OTX 2.0

remove duplicates import
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
Labels: OTX 2.0

todo
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
