Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

update tile adaptor
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

add seg tiler test
  tests/unit/core/data/test_tiling.py
Labels: TEST

update src/otx/recipe/semantic_segmentation/dino_v2_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2_tile.yaml
Labels: OTX 2.0

a bit refactoring
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti3d.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

update explain_mode
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

refactored model outputs a bit
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

add export
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti3d.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/detection_3d.py
  src/otx/core/exporter/native.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

Upgrade OV, MAPI, and NNCF
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Fix converter callable functions (optimizer, scheduler)
  src/otx/tools/converter.py
Labels: OTX 2.0

Include Geti arrow dataset subset names (#3962)
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

Include full image with anno in case there's no tile in tile dataset (#3964)
  src/otx/core/data/dataset/tile.py
  tests/unit/core/utils/test_tile.py
Labels: OTX 2.0, TEST

Add type checker in converter for callable functions (optimizer, scheduler) (#3968)
  src/otx/tools/converter.py
Labels: OTX 2.0

update for 2.2.0rc2
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update for 2.2.0rc2 (#3969)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update recipe
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
Labels: OTX 2.0

Update min_confidence and min_iou
  src/otx/algo/detection/heads/yolo_head.py
Labels: OTX 2.0

Update CHANGELOG.md
  CHANGELOG.md
Labels: DOC

Upgrade OV, MAPI, and NNCF (#3967)
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Update to use fixed cfg for export
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

metric works properly
  src/otx/algo/object_detection_3d/backbone.py
  src/otx/algo/object_detection_3d/matcher.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti_3d/__init__.py
  src/otx/core/data/dataset/kitti_3d/kitti3d.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/LICENSE
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/README.md
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/eval.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/evaluate.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/kitti_common.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/rotate_iou.py
  src/otx/core/data/dataset/kitti_3d/kitti_utils.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/module.py
  src/otx/core/metrics/ap_3d.py
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0, DOC

fix semantic seg tests
  src/otx/algo/segmentation/litehrnet.py
Labels: OTX 2.0

fix detection tiling
  src/otx/recipe/detection/atss_resnext101_tile.yaml
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
Labels: OTX 2.0

Add keypoints OV model
  .github/workflows/pre_merge.yaml
  pyproject.toml
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/keypoint_detection/openvino_model.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
  tests/unit/core/metrics/pck.py
  tests/unit/core/model/test_keypoint_detection.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Add keypoints OV model
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/keypoint_detection/openvino_model.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/core/metrics/pck.py
  tests/unit/core/model/test_keypoint_detection.py
Labels: OTX 2.0, TEST

Tiling Semantic Seg (#3954)
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/_base_/data/semantic_segmentation_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_b_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_s_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_t_tile.yaml
  tests/assets/tiling_small_objects/annotations/instances_test.json
  tests/assets/tiling_small_objects/annotations/instances_train.json
  tests/assets/tiling_small_objects/annotations/instances_val.json
  tests/assets/tiling_small_objects/images/test/4.jpg
  tests/assets/tiling_small_objects/images/test/5.jpg
  tests/assets/tiling_small_objects/images/train/0.jpg
  tests/assets/tiling_small_objects/images/train/1.jpg
  tests/assets/tiling_small_objects/images/train/3.jpg
  tests/assets/tiling_small_objects/images/train/7.jpg
  tests/assets/tiling_small_objects/images/train/8.jpg
  tests/assets/tiling_small_objects/images/train/9.jpg
  tests/assets/tiling_small_objects/images/val/2.jpg
  tests/assets/tiling_small_objects/images/val/6.jpg
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/core/data/module.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/seg_tiler.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/utils/tile_merge.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.seg_tiler.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.utils.tile_merge.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.html
  develop/guide/reference/_autosummary/otx.core.model.seg_tiler.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.utils.tile_merge.html
  develop/objects.inv
  develop/py-modindex.html
  develop/searchindex.js
Labels: none

Update test_tiling.py
  tests/unit/core/data/test_tiling.py
Labels: TEST

Update test_tiling.py
  tests/unit/core/data/test_tiling.py
Labels: TEST

fix wrong log
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

fix wrong hpo log
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Update recipe
  src/otx/recipe/detection/yolov9_s.yaml
Labels: OTX 2.0

Fix a wrong HPO log (#3972)
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

fix config converter for tiling
  src/otx/tools/converter.py
Labels: OTX 2.0

Fix config converter for tiling (#3973)
  src/otx/tools/converter.py
Labels: OTX 2.0

Tiling Semantic Seg (#3954)
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/_base_/data/semantic_segmentation_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_b_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_s_tile.yaml
  src/otx/recipe/semantic_segmentation/segnext_t_tile.yaml
  tests/assets/tiling_small_objects/annotations/instances_test.json
  tests/assets/tiling_small_objects/annotations/instances_train.json
  tests/assets/tiling_small_objects/annotations/instances_val.json
  tests/assets/tiling_small_objects/images/test/4.jpg
  tests/assets/tiling_small_objects/images/test/5.jpg
  tests/assets/tiling_small_objects/images/train/0.jpg
  tests/assets/tiling_small_objects/images/train/1.jpg
  tests/assets/tiling_small_objects/images/train/3.jpg
  tests/assets/tiling_small_objects/images/train/7.jpg
  tests/assets/tiling_small_objects/images/train/8.jpg
  tests/assets/tiling_small_objects/images/train/9.jpg
  tests/assets/tiling_small_objects/images/val/2.jpg
  tests/assets/tiling_small_objects/images/val/6.jpg
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

udpate
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

Upgrade OV, MAPI, and NNCF (#3967)
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

update maskdino from_config
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

start cleaning the code
  src/otx/algo/object_detection_3d/backbone.py
  src/otx/algo/object_detection_3d/dn_components.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr.py
  src/otx/algo/object_detection_3d/ops/functions/__init__.py
  src/otx/algo/object_detection_3d/ops/functions/ms_deform_attn_func.py
  src/otx/algo/object_detection_3d/ops/make.sh
  src/otx/algo/object_detection_3d/ops/modules/__init__.py
  src/otx/algo/object_detection_3d/ops/modules/ms_deform_attn.py
  src/otx/algo/object_detection_3d/ops/setup.py
  src/otx/algo/object_detection_3d/ops/src/cpu/ms_deform_attn_cpu.cpp
  src/otx/algo/object_detection_3d/ops/src/cpu/ms_deform_attn_cpu.h
  src/otx/algo/object_detection_3d/ops/src/cuda/ms_deform_attn_cuda.cu
  src/otx/algo/object_detection_3d/ops/src/cuda/ms_deform_attn_cuda.h
  src/otx/algo/object_detection_3d/ops/src/cuda/ms_deform_im2col_cuda.cuh
  src/otx/algo/object_detection_3d/ops/src/ms_deform_attn.h
  src/otx/algo/object_detection_3d/ops/src/vision.cpp
  src/otx/algo/object_detection_3d/ops/test.py
  src/otx/algo/object_detection_3d/position_encoding.py
  src/otx/algo/object_detection_3d/utils/box_ops.py
  src/otx/algo/object_detection_3d/utils/misc.py
  src/otx/algo/object_detection_3d/utils/utils.py
  src/otx/core/metrics/ap_3d.py
Labels: OTX 2.0

some fixes
  src/otx/algo/object_detection_3d/depthaware_transformer.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
Labels: OTX 2.0
