Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/core/model/base.py
Labels: OTX 2.0

Update `image_color_channel` to `BGR`
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
Labels: OTX 2.0

bump sqlparse to 0.5.0
  for_developers/regression_test/requirements.txt
Labels: DOC

Fix
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Refactor
  src/otx/core/data/entity/tile.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Add openpyxl dependency
  pyproject.toml
  tests/perf/history/summary.py
Labels: TEST, BUILD, DEPENDENCY

bump idan version to 3.7
  docker/requirements.txt
Labels: none

Temp test
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Update `Pad`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix step order
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Fix workflow step order
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Add TODO comments
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Bump idan version to 3.7 (#3332)
  docker/requirements.txt
Labels: none

Fix summary
  tests/perf/history/summary.py
Labels: TEST

Fix v1.x data normalization
  tests/perf/history/summary.py
Labels: TEST

Move XPU/Opt related PRs from releases2.0 to develop (#3295)
  src/otx/algo/__init__.py
  src/otx/algo/accelerators/__init__.py
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/plugins/__init__.py
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/strategies/__init__.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/cli/install.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/synchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/vis_utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/core/types/device.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/unit/algo/accelerators/__init__.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/utils/__init__.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/algo/plugins/__init__.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/__init__.py
  tests/unit/algo/strategies/test_strategies.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
Labels: OTX 2.0, TEST

Bump sqlparse to 0.5.0 (#3330)
  for_developers/regression_test/requirements.txt
Labels: DOC

Add `transform_bbox` flag not to transform bboxes during validation
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Rename mv_cfgs to backbone_configs
  src/otx/algo/classification/backbones/mobilenet_v3.py
Labels: OTX 2.0

style changes
  src/otx/algo/detection/losses/accuracy.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/focal_loss.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/__init__.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/structures.py
Labels: OTX 2.0

add fix
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

HPO code flow modification (#3259)
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/core/config/hpo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  src/otx/engine/hpo/utils.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/resource_manager.py
  tests/e2e/cli/test_cli.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/config/hpo.html
  develop/_modules/otx/engine/engine.html
  develop/_modules/otx/hpo/hpo_base.html
  develop/_modules/otx/hpo/hpo_runner.html
  develop/_modules/otx/hpo/hyperband.html
  develop/guide/reference/_autosummary/otx.core.config.hpo.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/guide/reference/_autosummary/otx.hpo.html
  develop/searchindex.js
Labels: none

Refactor tiling data typing (#3331)
  src/otx/core/data/entity/tile.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/action_detection.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.action_detection.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.classification.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/searchindex.js
Labels: none

remove unused losses
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/accuracy.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/focal_loss.py
Labels: OTX 2.0

fix
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

remove focal_loss_pb
  src/otx/algo/detection/losses/focal_loss.py
Labels: OTX 2.0

Update 2.0 data
  tests/perf/history/summary.ipynb
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST

Add SchedulerCallableSupportHPO
  src/otx/core/model/base.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/__init__.py
  src/otx/core/schedulers/callable.py
  src/otx/core/schedulers/warmup_schedulers.py
  tests/unit/core/optimizer/test_callable.py
  tests/unit/core/schedulers/test_callable.py
  tests/unit/core/schedulers/test_warmup_schedulers.py
Labels: OTX 2.0, TEST

add debug commit
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: OTX 2.0

add
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: OTX 2.0

log
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: OTX 2.0

move dill
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: OTX 2.0

fix all rull and mypy issues
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/losses/utils.py
  src/otx/algo/instance_segmentation/mmdet/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/base_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/iou2d_calculator.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/max_iou_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/delta_xywh_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/base_dense_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/prior_generators/anchor_generator.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/base_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/random_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/sampling_result.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/util_random.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/bbox_overlaps.py
  src/otx/algo/instance_segmentation/mmdet/structures/det_data_sample.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/structures.py
Labels: OTX 2.0

style change
  src/otx/algo/__init__.py
Labels: OTX 2.0

update
  src/otx/algo/detection/losses/cross_entropy_loss.py
Labels: OTX 2.0

udpate
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
Labels: OTX 2.0

Fixed passed features in tv_models
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
