Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Fix unit test
  tests/unit/algo/detection/heads/test_rtmdet_head.py
Labels: TEST

Temporarily skip xai
  tests/integration/api/test_xai.py
Labels: TEST

pad to square
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

remove unnecessary changes
  src/otx/core/model/base.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

remove unnecessary changes
  src/otx/core/model/base.py
Labels: OTX 2.0

Fix accuracy drop in MaskRCNN (#3562)
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

Update codeql workflow to generate a report (#3559)
  .github/workflows/codeql.yaml
Labels: BUILD

Revert temporarily modified `scale_factor` (#3560)
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
Labels: none

Update docstring
  src/otx/algo/detection/heads/rtmdet_head.py
Labels: OTX 2.0

Remove unused docstring
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Change assert to raise
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/heads/rtmdet_head.py
Labels: OTX 2.0

implement unit test
  tests/unit/engine/hpo/test_hpo_trial.py
Labels: TEST

search_space support Path
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

move Path out of TYPE_CHECKING
  src/otx/core/config/hpo.py
Labels: OTX 2.0

revert ci-runner label
  .github/workflows/pre_merge.yaml
Labels: BUILD

Refactor Data pipeline for Semi-SL
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/module.py
  src/otx/tools/converter.py
Labels: OTX 2.0

Apply suggestions from code review
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Fix & Refine HPO (#3565)
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
Labels: OTX 2.0, TEST

RTMDet-tiny enablement for detection task (#3542)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/recipe/detection/rtmdet_tiny.yaml
  tests/integration/api/test_xai.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST

Update exporter arguments
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Add `export_by_feat` in head
  src/otx/algo/detection/heads/rtmdet_head.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
Labels: OTX 2.0, TEST

Change `swap_rgb` to False
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Add efficientnet-b0-semisl
  src/otx/core/data/module.py
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
Labels: OTX 2.0

Enable pre-commit
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
Labels: OTX 2.0

Add condition
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Update test_cfg
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Fix Optimize in Anomaly Task (#3561)
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Add otx installation notebook
  notebooks/000_install.ipynb
Labels: none

Clear otx install output
  notebooks/000_install.ipynb
Labels: none

Add otx installation notebook (#3567)
  notebooks/000_install.ipynb
Labels: none

add export function
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/algo/instance_segmentation/torchvision/roi_head.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
Labels: OTX 2.0

fix export postprocess
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/algo/instance_segmentation/torchvision/roi_head.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

fix dinov2
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

Fix auto-configurator
  src/otx/engine/utils/auto_configurator.py
  tests/unit/core/data/test_module.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

update dependencies
  .ci/requirements/Makefile
  .ci/requirements/README.md
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/piptools/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.txt
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  tox.ini
Labels: DOC, BUILD

Fix tests
  tests/assets/classification_semisl_dataset/labeled/test/0/3.jpg
  tests/assets/classification_semisl_dataset/labeled/test/0/4.jpg
  tests/assets/classification_semisl_dataset/labeled/test/0/5.jpg
  tests/assets/classification_semisl_dataset/labeled/test/0/6.jpg
  tests/assets/classification_semisl_dataset/labeled/test/1/0.jpg
  tests/assets/classification_semisl_dataset/labeled/test/1/1.jpg
  tests/assets/classification_semisl_dataset/labeled/test/1/10.jpg
  tests/assets/classification_semisl_dataset/labeled/test/1/2.jpg
  tests/assets/classification_semisl_dataset/labeled/train/0/3.jpg
  tests/assets/classification_semisl_dataset/labeled/train/0/4.jpg
  tests/assets/classification_semisl_dataset/labeled/train/0/5.jpg
  tests/assets/classification_semisl_dataset/labeled/train/0/6.jpg
  tests/assets/classification_semisl_dataset/labeled/train/0/7.jpg
  tests/assets/classification_semisl_dataset/labeled/train/0/8.jpg
  tests/assets/classification_semisl_dataset/labeled/train/1/0.jpg
  tests/assets/classification_semisl_dataset/labeled/train/1/1.jpg
  tests/assets/classification_semisl_dataset/labeled/train/1/10.jpg
  tests/assets/classification_semisl_dataset/labeled/train/1/12.jpg
  tests/assets/classification_semisl_dataset/labeled/train/1/2.jpg
  tests/assets/classification_semisl_dataset/labeled/val/0/3.jpg
  tests/assets/classification_semisl_dataset/labeled/val/0/4.jpg
  tests/assets/classification_semisl_dataset/labeled/val/0/5.jpg
  tests/assets/classification_semisl_dataset/labeled/val/0/6.jpg
  tests/assets/classification_semisl_dataset/labeled/val/0/7.jpg
  tests/assets/classification_semisl_dataset/labeled/val/1/0.jpg
  tests/assets/classification_semisl_dataset/labeled/val/1/1.jpg
  tests/assets/classification_semisl_dataset/labeled/val/1/10.jpg
  tests/assets/classification_semisl_dataset/labeled/val/1/12.jpg
  tests/assets/classification_semisl_dataset/labeled/val/1/2.jpg
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
Labels: TEST

Remove
  tox.ini
Labels: BUILD

Add base extra
  tox.ini
Labels: BUILD

Fix type of transform in UnlabeledDataConfig
  src/otx/core/config/data.py
  src/otx/core/data/module.py
Labels: OTX 2.0
