Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Update `RandomResize` for masks
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Add `RandomCrop`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Add`FilterAnnotations`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix error during training
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

load otx1.x weight
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

remove RTMDetSepBNHead
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
Labels: OTX 2.0

Fix dataset fixture
  tests/unit/core/data/conftest.py
Labels: TEST

reflect changes
  src/otx/core/model/anomaly.py
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

add padim changes
  src/otx/algo/anomaly/padim.py
Labels: OTX 2.0

fix test command
  tests/integration/conftest.py
Labels: TEST

fix test command
  tests/integration/conftest.py
Labels: TEST

Disable mrcnn in otx_explain
  tests/e2e/cli/test_cli.py
Labels: TEST

MaskRCNN backword compatibility (#3451)
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Decouple BaseModel (#3450)
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
Labels: OTX 2.0

Use parent dataset indexing for Datumaro DatasetSubset (#3438)
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

Change load_stat_dict to on_load_checkpoint (#3443)
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

enable all intg tests
  .github/workflows/pre_merge.yaml
Labels: BUILD

remove whole directory
  src/otx/cli/utils/hpo.py
Labels: OTX 2.0

Add recipe for tv
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
Labels: OTX 2.0

Fix compat
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/utils/__init__.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

refactor code
  src/otx/cli/utils/hpo.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hyperband.py
Labels: OTX 2.0

Remove init_weight for dino
  src/otx/algo/classification/dino_v2.py
Labels: OTX 2.0

update unit test
  src/otx/cli/utils/hpo.py
  tests/unit/cli/utils/test_hpo.py
Labels: OTX 2.0, TEST

skip assertion checking to run benchmark continuously
  tests/perf/benchmark.py
Labels: TEST

configure loop depending on max_steps
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
Labels: OTX 2.0, TEST

revert missing part
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
Labels: OTX 2.0, TEST

Fix Classification v1 checkpoint compatibility (#3458)
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/utils/__init__.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Remove unnecessary model weights during HPO (#3459)
  src/otx/cli/utils/hpo.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hyperband.py
  tests/unit/cli/utils/test_hpo.py
Labels: OTX 2.0, TEST

[Release] Change load_stat_dict to on_load_checkpoint (#3457)
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Consider loop type during adaptive batch size (#3461)
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
Labels: OTX 2.0, TEST

Add try - except to keep running the remaining tests (#3448)
  tests/perf/benchmark.py
Labels: TEST

update algo/plugin unit test
  src/otx/algo/plugins/xpu_precision.py
  tests/unit/algo/plugins/test_plugins.py
Labels: OTX 2.0, TEST

Fix Score Computation (#3452)
  src/otx/algo/anomaly/padim.py
  src/otx/core/model/anomaly.py
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
  tests/integration/conftest.py
Labels: OTX 2.0, TEST

Refactoring
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Fix recipe
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
Labels: OTX 2.0

Fix to add indexing
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Add unit-test
  tests/conftest.py
  tests/unit/algo/classification/losses/test_asymmetric_multilabel.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_efficientnet_v2.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/algo/classification/utils/__init__.py
  tests/unit/algo/classification/utils/test_embed.py
  tests/unit/algo/classification/utils/test_swiglu_ffn.py
  tests/unit/core/model/test_classification.py
Labels: TEST
