Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Add early stopping with warmup. Remove mandatory background label in semantic segmentation task (#3515)
  src/otx/algo/callbacks/adaptive_early_stopping.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  tests/assets/common_semantic_segmentation_dataset/supervised/test/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/train/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/val/dataset_meta.json
  tests/unit/core/types/test_label.py
  tests/unit/tools/test_converter.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/types/label.html
Labels: none

Fix training pipeline
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/recipe/detection/rtmdet_tiny.yaml
Labels: OTX 2.0

Fix seg with polygon
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

Add segmentation notebooks
  notebooks/004.segmentation.ipynb
  notebooks/005.datamodule_and_model.ipynb
Labels: none

Hotfix/geti integration (#3543)
  src/otx/algo/modules/base_module.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/search_space.py
Labels: OTX 2.0

added api marker to all integration test TCs that not use cli
  .github/workflows/pre_merge.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/conftest.py
Labels: TEST, BUILD

add 'api' pytest.marker
  .github/workflows/pre_merge.yaml
  pyproject.toml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/conftest.py
Labels: TEST, BUILD, DEPENDENCY

split integration test jobs
  .github/workflows/pre_merge.yaml
Labels: BUILD

split api tests
  .github/workflows/pre_merge.yaml
Labels: BUILD

symlink to relative path
  src/otx/cli/cli.py
  src/otx/engine/engine.py
Labels: OTX 2.0

skip training if prev perf result exists
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

implement missing part
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

align with pre-commit
  tests/perf/benchmark.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Sync rgb order between torch and ov inference of action classification task
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/action/action_classification/openvino_model.yaml
Labels: OTX 2.0

Print label_info
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix vpm intg test error
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

change ci-runner to a10g for integration tests
  .github/workflows/pre_merge.yaml
Labels: BUILD

Fix vpm integration test error (#3552)
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix vpm intg test error
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix minor
  src/otx/recipe/detection/yolox_tiny.yaml
Labels: OTX 2.0

Fix AnomalyOpenVINO label info creation
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Add TestAnomalyOpenVINO
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: TEST

refine engine/hpo
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
Labels: OTX 2.0

Fix unit tests
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Fix vpm intg test error (#3554)
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

Test arc
  .github/workflows/pre_merge.yaml
Labels: BUILD

implement draft test code
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
Labels: TEST

update for 1.6.2 release
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

add PR links
  CHANGELOG.md
  README.md
Labels: DOC

added missing changelog
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

change replace to shutil.copy
  src/otx/engine/hpo/hpo_trial.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
Labels: OTX 2.0, TEST

Add error for unsupported color format
  src/otx/core/data/dataset/action_classification.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/action/action_classification/openvino_model.yaml
Labels: OTX 2.0

Update for 1.6.2 release (#3555)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Modify unit tests
  src/otx/recipe/_base_/data/mmaction_base.yaml
  tests/unit/core/data/test_factory.py
Labels: OTX 2.0, TEST

udpate test code
  tests/unit/engine/test_engine.py
Labels: TEST

Run Semi-SL pipeline
  src/otx/algo/callbacks/iteration_timer.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/module.py
Labels: OTX 2.0

fix typo
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Add TestAnomalyOpenVINO
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: TEST
