Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix for single common value out of subset
  src/otx/cli/utils/jsonargparse.py
  tests/unit/cli/utils/test_jsonargparse.py
Labels: OTX 2.0, TEST

Add HuggingFaceModelForSegmentation
  src/otx/algo/segmentation/huggingface_model.py
  tests/unit/algo/segmentation/test_huggingface_model.py
Labels: OTX 2.0, TEST

change default
  src/otx/algorithms/detection/utils/data.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: OTX 2.0, TEST

udpate description
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
Labels: OTX 2.0

udpate description
  src/otx/algorithms/common/configs/training_base.py
Labels: OTX 2.0

change recipe
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
Labels: OTX 2.0

update
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
Labels: OTX 2.0

change test_conv_module
  tests/unit/algo/modules/test_conv_module.py
Labels: TEST

update transforms pipeline
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/perf/test_detection.py
Labels: OTX 2.0, TEST

update dependency to resolve some CVEs
  .github/workflows/codeql.yml
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox_custom.yml
  docker/requirements.txt
  requirements/api.txt
Labels: BUILD, DEPENDENCY

update version string to 1.6.3rc0
  src/otx/__init__.py
Labels: OTX 2.0

remove tests with XAI for rtdetr
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: TEST

Update daily.yaml
  .github/workflows/daily.yaml
Labels: BUILD

update premerge workflow
  .github/workflows/pre_merge.yml
Labels: BUILD

Improve Vitens Kiemgetal OTX 1.6.x (#3671)
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/configs/base/data/tiling/atss_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/utils/data.py
  tests/unit/algorithms/detection/tiling/test_tiling_detection.py
Labels: OTX 2.0, TEST

add setuptools version constraint
  pyproject.toml
Labels: BUILD, DEPENDENCY

apply setuptools constraint to dev dependency
  pyproject.toml
  requirements/dev.txt
Labels: BUILD, DEPENDENCY

Add poc
  src/otx/cli/cli_poc.py
  src/otx/engine/__init__.py
  src/otx/engine/anomalib.py
  src/otx/engine/base.py
  src/otx/engine/engine_poc.py
  src/otx/engine/lightning.py
  src/otx/engine/ultralytics/__init__.py
  src/otx/engine/ultralytics/adapter.py
  src/otx/engine/ultralytics/trainer.py
Labels: OTX 2.0

Update dependencies (#3750)
  .github/workflows/codeql.yml
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox_custom.yml
  docker/requirements.txt
  requirements/api.txt
  requirements/dev.txt
  src/otx/__init__.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Update recipes
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/openvino_model.yaml
  src/otx/recipe/visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
Labels: OTX 2.0

Revert #3579
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

Revert #3579 (#3753)
  src/otx/core/data/module.py
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

Expand to `get_defaults_with_overrides`
  src/otx/cli/utils/jsonargparse.py
Labels: OTX 2.0

update release notes
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Update release notes (#3754)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Update action and anomaly recipes
  src/otx/recipe/action_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

remove api token to publish to pypi
  .github/workflows/publish.yml
Labels: BUILD

update version string to 1.6.3
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0

reply some comments
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/norm_module.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/perf/conftest.py
  tests/perf/test_detection.py
  tests/unit/algo/detection/losses/test_rtdetr_loss.py
  tests/unit/algo/detection/test_rtdetr.py
Labels: OTX 2.0, TEST

reply comments 2
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
Labels: OTX 2.0

Add an entry for benchmark
  src/otx/cli/cli.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/utils/jsonargparse.html
  develop/_sources/guide/reference/_autosummary/otx.cli.utils.jsonargparse.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.cli.utils.jsonargparse.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Change warning mode for mem_cache
  src/otx/core/data/mem_cache.py
Labels: OTX 2.0

Update src/otx/core/data/mem_cache.py
  src/otx/core/data/mem_cache.py
Labels: OTX 2.0

Change warning mode for mem_cache2
  src/otx/core/data/mem_cache.py
Labels: OTX 2.0

Modify to use torch.compile case
  src/otx/core/model/base.py
  src/otx/core/utils/utils.py
  tests/unit/core/utils/test_utils.py
Labels: OTX 2.0, TEST

Fix pre-commit
  tests/unit/core/utils/test_utils.py
Labels: TEST

change way to evaluating
  pyproject.toml
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/utils/utils.py
Labels: OTX 2.0, BUILD, DEPENDENCY

add unit test
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/utils/test_utils.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
