Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

move tests
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
Labels: TEST

fix pre-commit
  src/otx/core/exporter/exportable_code/demo/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/synchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
Labels: OTX 2.0, TEST

return demo back
  src/otx/core/exporter/exportable_code/demo/demo.py
Labels: OTX 2.0

minor
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
Labels: OTX 2.0

add auto setting cpu when infer IR
  src/otx/engine/engine.py
Labels: OTX 2.0

reinitiate datamodule for OV if tile is enabled
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

added functionality to export optimized and already exported to IR models
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/README.md
  src/otx/core/model/entity/base.py
  src/otx/core/model/module/anomaly.py
  src/otx/core/model/module/base.py
  src/otx/engine/engine.py
Labels: OTX 2.0, DOC

delete unnecessery comments
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
Labels: OTX 2.0, TEST

quick fix of unit test
  src/otx/engine/engine.py
Labels: OTX 2.0

fix pre-commit
  src/otx/engine/engine.py
Labels: OTX 2.0

fix unit test
  tests/unit/engine/test_engine.py
Labels: TEST

Add exporter/demo unit tests (#3218)
  src/otx/core/exporter/exportable_code/demo/demo_package/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/synchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/vis_utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
Labels: OTX 2.0, TEST

added tutorial
  docs/source/guide/tutorials/base/export.rst
  docs/source/guide/tutorials/base/index.rst
  docs/utils/images/wgisd_pr_sample.jpg
Labels: DOC

Bump anomalib version to 1.0.1
  pyproject.toml
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Rollback how OVVisualPromptingModel get model names
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Add unit test for export for develop branch (#3212)
  tests/unit/core/exporter/exportable_code/__init__.py
  tests/unit/core/exporter/exportable_code/conftest.py
  tests/unit/core/exporter/exportable_code/demo/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

Set model label info first (#3213)
  src/otx/engine/engine.py
Labels: OTX 2.0

Modify unit test
  tests/unit/cli/test_cli.py
  tests/unit/core/model/test_segmentation.py
Labels: TEST

Update unit tests
  src/otx/core/metrics/accuracy.py
  tests/unit/core/metrics/test_accuracy.py
  tests/unit/core/metrics/test_fmeasure.py
Labels: OTX 2.0, TEST

Enable fixed confidence threshold training
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/engine/engine.html
Labels: none

Bump anomalib version to 1.0.1 (#3223)
  pyproject.toml
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Update src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Migrate release branch to develop
  README.md
  pyproject.toml
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/core/model/classification.py
  src/otx/core/model/instance_segmentation.py
  tests/unit/algo/action_classification/test_movinet.py
  tests/unit/algo/action_classification/test_x3d.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/algo/schedulers/__init__.py
  tests/unit/algo/schedulers/test_warmup_schedulers.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_cache.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_imports.py
  tests/unit/core/utils/test_instantiators.py
  tests/unit/core/utils/test_utils copy.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix file name
  tests/unit/core/utils/test_utils copy.py
  tests/unit/core/utils/test_utils.py
Labels: TEST

Edit the docs
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/hpo.rst
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
Labels: DOC

Fix mis-imported
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
Labels: DOC

Fix merge conflict
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
Labels: DOC

Fix incorrect information for the action tasks
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
Labels: DOC

Refine graph
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Fix configuration work_dir for CLI
  src/otx/cli/cli.py
Labels: OTX 2.0

Fix docs/
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
Labels: DOC

Edit the docs that don't reflect the V2 changes (#3225)
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/hpo.rst
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/explanation/algorithms/classification/hierarhical_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/classification/multi_label_classification.rst
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
Labels: DOC

use default logger in otx.api
  src/otx/api/entities/dataset_item.py
  src/otx/api/entities/datasets.py
  src/otx/api/entities/label_schema.py
  src/otx/api/entities/metrics.py
  src/otx/api/usecases/evaluation/accuracy.py
  src/otx/api/usecases/evaluation/f_measure.py
  src/otx/api/usecases/reporting/time_monitor_callback.py
Labels: OTX 2.0

update tile cli
  src/otx/cli/cli.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

add test
  tests/unit/engine/test_engine.py
Labels: TEST

update test
  tests/unit/engine/test_engine.py
Labels: TEST

Update src/otx/engine/engine.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Refactor XAI data entities
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/utils/xai_utils.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/entity/anomaly/detection.py
  src/otx/core/data/entity/anomaly/segmentation.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/classification.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

Use anomaly datamodule
  src/otx/cli/cli.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
