Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

update todo roi_align comment
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
Labels: OTX 2.0

fill mask with background label
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

fill with background label
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

add custom otx roi align
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/roi_align.py
Labels: OTX 2.0

reformat OTXRoIAlign
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/roi_align.py
Labels: OTX 2.0

remove files
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/algo/instance_segmentation/mmdeploy/__init__.py
  src/otx/algo/instance_segmentation/mmdeploy/base_detection.py
  src/otx/algo/instance_segmentation/mmdeploy/base_instance_segmentation.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn_swint.py
  src/otx/algo/instance_segmentation/mmdeploy/rtmdet_inst.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
Labels: OTX 2.0

add wandb install
  .github/workflows/pre_merge.yaml
Labels: BUILD

Bump pillow to 10.3.0 (#3437)
  docker/requirements.txt
Labels: none

modify label info comparison
  .github/workflows/pre_merge.yaml
  src/otx/engine/engine.py
Labels: OTX 2.0, BUILD

Change default confidence_threshold from 0 to None
  src/otx/core/model/detection.py
Labels: OTX 2.0

Change default fmeasure confidence_threshold from 0 to None (#3441)
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/detection.html
Labels: none

modify label info comparison
  src/otx/engine/engine.py
Labels: OTX 2.0

Change load_stat_dict to on_load_checkpoint
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Modify label info comparison (#3442)
  src/otx/engine/engine.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/engine/engine.html
Labels: none

Generate label info from v1 ckpt
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/base.py
Labels: OTX 2.0

Add unit tests
  tests/unit/core/model/test_base.py
Labels: TEST

bump datumaro to 1.6.1
  requirements/base.txt
Labels: DEPENDENCY

Update unit tests
  tests/unit/algo/detection/test_atss.py
Labels: TEST

fix padim
  src/otx/algo/anomaly/padim.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Add unit tests for detectors' forward function
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
Labels: TEST

update configs
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Add try - except to keep running the remaining tests
  tests/perf/benchmark.py
Labels: TEST

Bump datumaro to 1.6.1 (#3445)
  requirements/base.txt
Labels: DEPENDENCY

draft implementation
  src/otx/cli/utils/hpo.py
  src/otx/hpo/hyperband.py
Labels: OTX 2.0

Update segmentation documentation (#3425)
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  src/otx/algo/segmentation/base_model.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0, DOC

Update documentation
  develop/_modules/otx/core/model/segmentation.html
  develop/_sources/guide/explanation/algorithms/segmentation/semantic_segmentation.rst.txt
  develop/guide/explanation/algorithms/segmentation/semantic_segmentation.html
  develop/searchindex.js
Labels: none

Generate label info from v1 checkpoint (#3444)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/base.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/core/model/test_base.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/model/base.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Add polygons support for semantic segmentation (#3439)
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

Add unit tests for detectors' forward function (#3447)
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
Labels: TEST

Add to raise aggregated errors
  tests/perf/benchmark.py
Labels: TEST

remove config from MMDetInstanceSegCompatibleModel
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

add rtmdet inst test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_ins_head.py
Labels: TEST

add unit tests
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_ins_head.py
Labels: TEST

rename unit tests
  tests/unit/algo/instance_segmentation/heads/__init__.py
  tests/unit/algo/instance_segmentation/test_custom_roi_head.py
  tests/unit/algo/instance_segmentation/test_inst_seg_models.py
Labels: TEST

update rtmdet recipe
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
Labels: OTX 2.0

decouple mmengine base model
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
Labels: OTX 2.0

decouple base model
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
