Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

minor bugfix
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
Labels: OTX 2.0

Reflect develop
  src/otx/core/model/action_classification.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Add PTQ update docs for Action Classification
  src/otx/algo/action_classification/openvino_model.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/recipe/action/action_classification/openvino_model.yaml
Labels: OTX 2.0

Add action intg test
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Modify export intg test
  tests/integration/cli/test_export_inference.py
Labels: TEST

Modify detection docs and remove unused initial detectors
  src/otx/algo/detection/atss.py
Labels: OTX 2.0

Update unit tests
  tests/unit/algo/detection/test_atss.py
Labels: TEST

Remove unused recipes
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
Labels: OTX 2.0

add auto setting cpu when infer IR
  src/otx/engine/engine.py
Labels: OTX 2.0

quick fix of unit test
  src/otx/engine/engine.py
Labels: OTX 2.0

fix pre-commit
  src/otx/engine/engine.py
Labels: OTX 2.0

add warning
  src/otx/engine/engine.py
Labels: OTX 2.0

Add flag for cache
  src/otx/core/utils/cache.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix test and add for flag
  tests/unit/core/utils/test_cache.py
Labels: TEST

refactor code
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/adapters/mmcls/utils/exporter.py
  src/otx/algorithms/common/adapters/mmcv/hooks/adaptive_training_hook.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/adapters/mmdeploy/utils/__init__.py
  src/otx/algorithms/common/adapters/mmdeploy/utils/utils.py
  src/otx/algorithms/common/adapters/torch/utils/__init__.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/common/adapters/torch/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/mmdet/utils/exporter.py
  src/otx/algorithms/segmentation/adapters/mmseg/models/heads/custom_otx_head.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/utils/exporter.py
  src/otx/api/entities/dataset_item.py
Labels: OTX 2.0

align with pre-commit
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/common/adapters/torch/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

update unit test
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  tests/unit/algorithms/common/adapters/mmdeploy/utils/test_deploy_utils_utils.py
  tests/unit/algorithms/common/adapters/torch/utils/test_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: OTX 2.0, TEST

update unit test
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
Labels: OTX 2.0, TEST

Update src/otx/algo/utils/xai_utils.py
  src/otx/algo/utils/xai_utils.py
Labels: OTX 2.0

Update src/otx/core/model/utils/mmpretrain.py
  src/otx/core/model/utils/mmpretrain.py
Labels: OTX 2.0

change bs search algo
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
Labels: OTX 2.0

Migrate from releases/2.0.0 (#3245)
  src/otx/algo/action_classification/openvino_model.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/algo/detection/atss.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/utils/cache.py
  src/otx/engine/engine.py
  src/otx/recipe/action/action_classification/openvino_model.yaml
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_pre_filtering.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/utils/test_cache.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/action_classification/openvino_model.html
  develop/_modules/otx/algo/action_classification/recognizers/movinet_recognizer.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/utils/cache.html
  develop/_modules/otx/engine/engine.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Add torchvision data pipeline for atss_mobilenetv2
  src/otx/core/data/transform/__init__.py
  src/otx/core/data/transform/detection.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
Labels: OTX 2.0

Avoid transforming bbox during validation
  src/otx/core/data/dataset/detection.py
Labels: OTX 2.0

Add instantiate function & Refactor Converter
  src/otx/cli/convert.py
  src/otx/engine/engine.py
  src/otx/tools/converter.py
  tests/unit/cli/test_convert.py
  tests/unit/tools/__init__.py
  tests/unit/tools/test_converter.py
Labels: OTX 2.0, TEST

fix a bug occured when length of data is smaller than class number in class incremental case
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
Labels: OTX 2.0

Add instantiate function & Refactor Converter
  src/otx/cli/convert.py
  src/otx/engine/engine.py
  src/otx/tools/converter.py
  tests/unit/cli/test_convert.py
  tests/unit/tools/__init__.py
  tests/unit/tools/test_converter.py
Labels: OTX 2.0, TEST

Fix `scale_factor` from (h, w) to (w, h)
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

copy LINCENSE to demo dir
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/LICENSE
Labels: OTX 2.0

precommit
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/transform/detection.py
Labels: OTX 2.0

apply sync batch norm after adaptive bs
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
Labels: OTX 2.0

Bring Single Stage Detector from mmdet
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

update test code
  tests/unit/core/exporter/test_base.py
Labels: TEST

Update unit tests
  src/otx/core/data/transform/detection.py
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/transform/__init__.py
  tests/unit/core/data/transform/test_detection.py
Labels: OTX 2.0, TEST

precommit
  tests/unit/core/data/transform/test_detection.py
Labels: TEST

Add all template
  src/otx/tools/converter.py
Labels: OTX 2.0

modify MANIFEST file to include LICENSE in demo
  MANIFEST.in
Labels: BUILD

Add torchvision pipeline for `atss_resnext101`
  src/otx/recipe/detection/atss_resnext101_tv.yaml
Labels: OTX 2.0

[WIP] enable e2e
  src/otx/core/exporter/base.py
  tests/e2e/__init__.py
  tests/e2e/cli/__init__.py
  tests/e2e/cli/test_cli.py
  tests/e2e/cli/utils.py
  tests/e2e/conftest.py
  tests/test_helpers.py
  tox.ini
Labels: OTX 2.0, TEST, BUILD
