Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Cleanup inference code
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Fix dummy input
  src/otx/core/model/detection_3d.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Updatee 3d integration tests
  tests/integration/cli/test_export_inference.py
Labels: TEST

Add ptq transform
  src/otx/core/model/detection_3d.py
  src/otx/recipe/object_detection_3d/openvino_model.yaml
Labels: OTX 2.0

release memory usage cirteria on batch size 2 during adpative_bs
  src/otx/engine/adaptive_bs/bs_search_algo.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: OTX 2.0, TEST

update unit test
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST

update unit test
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST

Fix ins-seg
  src/otx/algo/common/utils/samplers/base_sampler.py
Labels: OTX 2.0

Update docstring
  src/otx/algo/visual_prompting/sam.py
Labels: OTX 2.0

added unit tests, fix linter for dataset
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/utils/kitti_utils.py
  tests/unit/algo/object_detection_3d/__init__.py
  tests/unit/algo/object_detection_3d/backbones/__init__.py
  tests/unit/algo/object_detection_3d/backbones/test_monodetr_resnet.py
  tests/unit/algo/object_detection_3d/conftest.py
  tests/unit/algo/object_detection_3d/detectors/__init__.py
  tests/unit/algo/object_detection_3d/detectors/test_monodetr.py
  tests/unit/algo/object_detection_3d/heads/__init__.py
  tests/unit/algo/object_detection_3d/heads/test_depth_predictor.py
  tests/unit/algo/object_detection_3d/heads/test_depthaware_transformer.py
  tests/unit/algo/object_detection_3d/losses/__init__.py
  tests/unit/algo/object_detection_3d/losses/test_monodetr_loss.py
  tests/unit/algo/object_detection_3d/matchers/__init__.py
  tests/unit/algo/object_detection_3d/matchers/test_matcher_3d.py
  tests/unit/algo/object_detection_3d/test_monodetr3d.py
  tests/unit/core/data/dataset/__init__.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
  tests/unit/core/data/dataset/test_object_detection_3d.py
  tests/unit/core/data/dataset/utils/__init__.py
  tests/unit/core/data/dataset/utils/test_kitti_utils.py
Labels: OTX 2.0, TEST

fixed linter in val
  src/otx/core/metrics/kitti_3d_eval/eval.py
Labels: OTX 2.0

returned init back
  tests/unit/core/data/dataset/__init__.py
Labels: TEST

added exporter test
  src/otx/core/exporter/detection_3d.py
  tests/unit/core/exporter/test_detection_3d.py
Labels: OTX 2.0, TEST

added test for detection_3d model
  src/otx/core/model/detection_3d.py
  tests/unit/core/model/test_detection_3d.py
Labels: OTX 2.0, TEST

fix pylint
  src/otx/core/model/detection_3d.py
  tests/unit/core/model/test_detection_3d.py
Labels: OTX 2.0, TEST

Refactor mask_target_single function to handle unsupported ground truth mask types and provide warnings for missing ground truth masks
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/core/data/pre_filtering.py
  tests/unit/algo/common/test_iou2d_calculator.py
Labels: OTX 2.0, TEST

remove background from rt_info
  src/otx/core/types/export.py
Labels: OTX 2.0

Refactor bbox_overlaps function to handle unsupported ground truth mask types and provide warnings for missing ground truth masks
  src/otx/algo/common/utils/bbox_overlaps.py
  tests/unit/algo/common/test_iou2d_calculator.py
Labels: OTX 2.0, TEST

Refactor export script to export multiple directories
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
Labels: OTX 2.0

Relieve memory usage criteria on batch size 2 during adaptive_bs (#4009)
  src/otx/engine/adaptive_bs/bs_search_algo.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: OTX 2.0, TEST

Refactor test_bbox_overlaps_2d to handle mismatched batch dimensions of bboxes
  tests/unit/algo/common/test_iou2d_calculator.py
Labels: TEST

Refactor bbox_overlaps function error exception
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
Labels: OTX 2.0

provide another solution
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/export.py
  src/otx/engine/engine.py
Labels: OTX 2.0

fix integration tests
  tests/integration/cli/test_cli.py
Labels: TEST

fix unit test
  tests/unit/core/data/dataset/test_segmentation.py
Labels: TEST

fixed perf tests
  tests/perf/test_object_detection_3d.py
Labels: TEST

Fix PTQ transform
  src/otx/core/model/detection_3d.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Refactor empty label workaround in iseg
  src/otx/core/model/instance_segmentation.py
  src/otx/core/types/export.py
Labels: OTX 2.0

Del unnecessary code
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Add fallback to the base implementation
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Fix balanced sampler
  src/otx/algo/samplers/balanced_sampler.py
Labels: OTX 2.0

Update E2E tests for OTX2.3.0 validation
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

Fix out_features
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: OTX 2.0

Fix CHAGELOG
  CHANGELOG.md
Labels: DOC

Update CHAGELOG
  CHANGELOG.md
Labels: DOC

Fix error during ptq
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Refactor empty label workaround in iseg (#4013)
  src/otx/core/model/instance_segmentation.py
  src/otx/core/types/export.py
Labels: OTX 2.0

Remove background label from RT Info for segmentation task (#4011)
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  src/otx/engine/engine.py
  tests/unit/core/data/dataset/test_segmentation.py
Labels: OTX 2.0, TEST
