Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Fix data pipeline (#3418)
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

remove mm patching code in xpu side
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
Labels: OTX 2.0

align with pre-commit
  src/otx/algo/accelerators/xpu.py
Labels: OTX 2.0

Update `Pad` for masks
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Change Multi-label acc
  src/otx/core/metrics/accuracy.py
Labels: OTX 2.0

Change effnet param
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
Labels: OTX 2.0

revert NMSop
  src/otx/algo/detection/ops/nms.py
Labels: OTX 2.0

Update `RandomFlip` for masks
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

clean up __init__.py
  src/otx/algo/detection/utils/__init__.py
Labels: OTX 2.0

Add recipes for torchvision
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tv.yaml
Labels: OTX 2.0

remove unit test
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
Labels: TEST

Update recipes
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
Labels: OTX 2.0

Adjust effnet-v2 lr
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Implement unit test for adaptive batch size (#3430)
  pyproject.toml
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
  tests/unit/engine/hpo/test_utils.py
Labels: TEST, BUILD, DEPENDENCY

update unit test
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/strategies/test_strategies.py
Labels: TEST

refine unit test
  tests/unit/algo/strategies/test_strategies.py
Labels: TEST

Fix acc unit-test
  src/otx/core/metrics/accuracy.py
  src/otx/core/model/base.py
  tests/unit/core/metrics/test_accuracy.py
Labels: OTX 2.0, TEST

Adjust multi-label classification parameters (#3436)
  src/otx/algo/callbacks/adaptive_train_scheduling.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/model/base.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  tests/unit/core/metrics/test_accuracy.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/base.html
Labels: none

bump pillow to 10.3.0
  docker/requirements.txt
Labels: none

update docker registry for ci
  .github/workflows/pre_merge.yaml
Labels: BUILD

reformat
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Remove code to patch nms and roi_align in mmXX for XPU (#3434)
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/algo/strategies/test_strategies.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/accelerators/xpu.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.accelerators.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

updated numbers
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
Labels: DOC

initial experiment
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

fix nerge problems
  src/otx/core/exporter/base.py
Labels: OTX 2.0

revert changes back
  src/otx/core/exporter/base.py
Labels: OTX 2.0

update final accuracy
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
Labels: DOC

Update TODO comments
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update `CachedMosaic` for masks
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Update `CachedMixUp` for masks
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

add native exporter
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Use parent dataset indexing for Datumaro DatasetSubset
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
Labels: OTX 2.0

Update test
  tests/unit/core/data/test_dataset.py
Labels: TEST

fix export issue
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
Labels: OTX 2.0

add support for mask polygons
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

fix pre-commit
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

fix format
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Fix data type
  tests/e2e/cli/test_cli.py
Labels: TEST
