Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix vsp perf test
  tests/perf/test_visual_prompting.py
Labels: TEST

Add action to perf benchmark workflow
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

* fix dataset path for each task * add result artifact upload job
  .github/workflows/daily.yaml
  tests/e2e/conftest.py
Labels: TEST, BUILD

add dmount label to run on the dataset ready ci-runner
  .github/workflows/daily.yaml
Labels: BUILD

Fix vsp dataset format
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/perf/test_visual_prompting.py
Labels: OTX 2.0, TEST

add dataformat config to vis dataset for e2e
  tests/e2e/conftest.py
Labels: TEST

revert dataformat setting
  tests/e2e/conftest.py
Labels: TEST

Migrate SSD Head
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/ssd.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix pre-commit
  tests/perf/test_action.py
Labels: TEST

Merge pytest parser options
  tests/conftest.py
  tests/e2e/conftest.py
  tests/integration/conftest.py
  tests/perf/conftest.py
  tests/regression/conftest.py
Labels: TEST

Fix pre-commit ruff
  tests/perf/conftest.py
Labels: TEST

Fix semantic seg gt mask extraction
  src/otx/core/config/data.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/factory.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

Increase test coverage
  src/otx/core/data/dataset/segmentation.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

Initial commit for decouple mmpretrain
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/classifier/__init__.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/necks/__init__.py
  src/otx/algo/classification/necks/gap.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Remove mv3 with mmlab recipes
  src/otx/algo/classification/mmconfigs/hlabel_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large_light.yaml
Labels: OTX 2.0

fix wrong dataset path for zero shot visual prompt task
  tests/e2e/conftest.py
Labels: TEST

fix rtmdet inst interpolate
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

Fix unit-test
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/tools/converter.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
Labels: OTX 2.0, TEST

Fix unit-test
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

XAI tiling
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
Labels: OTX 2.0

fix pre-commit. tests. Make ignore_index configurable
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/metrics/dice.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  tests/conftest.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST

Add action benchmark v2 (#3268)
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_visual_prompting.py
Labels: TEST, BUILD

update ci-runner start script to use host shm size as-is
  .ci/start-runner.sh
Labels: BUILD

Fix e2e data path issue (#3273)
  .github/workflows/daily.yaml
  tests/e2e/conftest.py
Labels: TEST, BUILD

Fix a bug occurred when training a RTMdet tiny model (dev branch) (#3272)
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

Fix a bug occurred when training a RTMdet tiny model (#3266)
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

Migrate backbone
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Remove unused module
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Fix XAI explain functions
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Migrate bbox coder
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
Labels: OTX 2.0

add contents write permission to allow creating a release
  .github/workflows/publish.yml
Labels: BUILD

Revisit ignored_label for multi-label & h-label head
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
Labels: OTX 2.0

[hotfix] Add contents write permission to allow creating a release (#3278)
  .github/workflows/publish.yml
Labels: BUILD

Migrate Assigner
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
Labels: OTX 2.0

Fix model-category default to all
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Add action benchmark dummy
  .github/workflows/perf_benchmark.yaml
  tests/perf/test_action.py
Labels: TEST, BUILD

Run command w/ subprocess.run() for better stability
  tools/experiment.py
Labels: none

Collect raw data to get seed info
  tests/perf/benchmark.py
Labels: TEST

Fix unit tests
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: OTX 2.0, TEST

Add action perf test cases
  tests/perf/benchmark.py
  tests/perf/test_action.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
