Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update CHAGELOG
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update CHANGELOG.md
  CHANGELOG.md
Labels: DOC

Enable export of feature vectors for semantic segmentation task (#4055)
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
Labels: OTX 2.0, TEST

Revert #3607 and #3611
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Upgrade MAPI in 2.2 (#4052)
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Update CLIP to work
  src/otx/algo/image_captioning/__init__.py
  src/otx/algo/image_captioning/clip.py
  src/otx/core/data/entity/image_captioning.py
  src/otx/core/metrics/clip_score.py
  src/otx/recipe/image_captioning/clip.yaml
Labels: OTX 2.0

Update MRCNN model export to include feature vector and saliency map (#4056)
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/two_stage.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST, DOC

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Update engine to enable #3607 and #3611
  src/otx/engine/engine.py
Labels: OTX 2.0

Add TODO comments
  src/otx/engine/engine.py
Labels: OTX 2.0

enable all models in the perf test
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: TEST

Fix applying model's hparams when loading model from checkpoint (#4057)
  CHANGELOG.md
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC

Modify CLIP
  src/otx/algo/image_captioning/clip.py
  src/otx/core/metrics/clip_score.py
  src/otx/recipe/image_captioning/clip_vit_base_32.yaml
  src/otx/recipe/image_captioning/clip_vit_large_14.yaml
Labels: OTX 2.0

Update transforms
  src/otx/recipe/_base_/data/anomaly.yaml
Labels: OTX 2.0

Update transforms
  src/otx/recipe/_base_/data/anomaly.yaml
Labels: OTX 2.0

Update transforms
  src/otx/recipe/_base_/data/anomaly.yaml
Labels: OTX 2.0

Update transforms
  src/otx/recipe/_base_/data/anomaly.yaml
Labels: OTX 2.0

Update changelog
  CHANGELOG.md
Labels: DOC

Update __init__.py
  src/otx/__init__.py
Labels: OTX 2.0

Refactor inst-seg explain to support feature maps as dictionaries
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/types/explain.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

Refactor MaskRCNN/RTMDet-Inst/MaskRCNNTV Explain Mode
  CHANGELOG.md
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0, DOC

Move transforms from 3d object detection dataset (#4046)
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/utils/__init__.py
  src/otx/core/data/dataset/utils/kitti_utils.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/openvino_model.yaml
  tests/unit/algo/object_detection_3d/conftest.py
  tests/unit/algo/object_detection_3d/test_monodetr3d.py
  tests/unit/core/data/dataset/test_object_detection_3d.py
  tests/unit/core/data/dataset/utils/__init__.py
  tests/unit/core/data/dataset/utils/test_kitti_utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Refactor model weight loading in MaskDINO module
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: OTX 2.0, TEST

Refactor model weight loading in MaskDINO module
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Refactor docstring
  src/otx/algo/explain/explain_algo.py
Labels: OTX 2.0

Refactor model weight loading in MaskDINO module
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Update anomaly transforms (#4059)
  CHANGELOG.md
  src/otx/__init__.py
  src/otx/recipe/_base_/data/anomaly.yaml
Labels: OTX 2.0, DOC

add clip changes
  src/otx/algo/image_captioning/clip.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/image_captioning/clip_vit_base_patch32.yaml
  src/otx/recipe/image_captioning/clip_vit_large_patch14.yaml
Labels: OTX 2.0

bump onnx to 1.17.0 to omit CVE-2024-5187
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix to work torch compile in detection (#4003)
  CHANGELOG.md
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/common/utils/nms.py
  src/otx/algo/common/utils/samplers/base_sampler.py
  src/otx/algo/common/utils/structures.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/core/model/base.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_huggingface_model.py
  tests/unit/algo/detection/test_rtdetr.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolov9.py
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST, DOC

Update documentation
  develop/_modules/otx/core/model/base.html
Labels: none

Fix metric location
  src/otx/algo/image_captioning/clip.py
  src/otx/core/metrics/clip_score.py
  src/otx/core/model/image_captioning.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Add mAP for image-text pair
  src/otx/algo/image_captioning/clip.py
  src/otx/core/metrics/clip_score.py
  src/otx/core/model/image_captioning.py
Labels: OTX 2.0

Bump onnx to 1.17.0 to omit CVE-2024-5187 (#4063)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix metric update
  src/otx/core/metrics/clip_score.py
Labels: OTX 2.0

Update mask_target.py and changelog.md
  CHANGELOG.md
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
Labels: OTX 2.0, DOC

Add unit-tests
  src/otx/core/data/dataset/image_captioning.py
  src/otx/core/data/entity/image_captioning.py
  src/otx/core/metrics/clip_score.py
  tests/unit/core/data/dataset/test_image_captioning.py
  tests/unit/core/data/entity/test_image_captioning.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/metrics/test_clip_score.py
Labels: OTX 2.0, TEST

Refactor variable docstring in sample_points_using_uncertainty function
  src/otx/algo/instance_segmentation/utils/utils.py
Labels: OTX 2.0

Refactor TwoStageDetector docstring
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
Labels: OTX 2.0

Add det and inst_segm recepies for confiruble augmentation
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/detection_tile.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  tests/integration/api/test_augmentation.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
