Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

temp
  src/otx/engine/utils/auto_configurator.py
  tests/integration/api/test_auto_configuration.py
Labels: OTX 2.0, TEST

fix unit test
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_tiling.py
Labels: TEST

tmp
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/perf/benchmark.py
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST

fix tests
  src/otx/cli/cli.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/utils/auto_configurator.py
  tests/integration/api/test_engine_api.py
  tests/unit/engine/adaptive_bs/test_adaptive_bs_api.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST

remove of datamoduleconfig
  src/otx/core/config/data.py
Labels: OTX 2.0

fix maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

fix test_factory
  tests/unit/core/data/test_factory.py
Labels: TEST

resolve precommit
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
Labels: OTX 2.0

update recipes
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
Labels: OTX 2.0

fix auto configurator
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

restore auto config
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Modify efficient_mode in multi-class-cls
  src/otx/recipes/stages/classification/incremental.yaml
Labels: OTX 2.0

Add tv model with multi-label & h-label
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  tests/unit/algo/classification/test_torchvision_model.py
Labels: OTX 2.0, TEST

Fix unit-test
  tests/unit/algo/classification/test_torchvision_model.py
Labels: TEST

Integrate `MaskRCNN` to `TowStageDetector` and rename `OTXMaskRCNN` to `MaskRCNN`
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/two_stage.py
Labels: OTX 2.0

Move duplicated functions to `OTXInstanceSegModel` and update inheritance structures
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Remove torchvision directory
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/roi_head_tv.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
Labels: OTX 2.0

Fix unit test
  tests/unit/core/data/test_tiling.py
Labels: TEST

Update MAPI in base deps list
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix tiling unit test
  tests/unit/core/utils/test_tile.py
Labels: TEST

fix __reduce__
  src/otx/core/data/module.py
Labels: OTX 2.0

Update MAPI in base deps list (#3703)
  pyproject.toml
  tests/unit/core/utils/test_tile.py
Labels: TEST, BUILD, DEPENDENCY

(WIP) Update docstring
  src/otx/algo/instance_segmentation/backbones/swin.py
Labels: OTX 2.0

Change dataset used for PTQ from trainset to valset
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Add Multi-Label & H-label Classification with torchvision models (#3697)
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  tests/unit/algo/classification/test_torchvision_model.py
Labels: OTX 2.0, TEST

Fix zero-shot learning performance degradation after PTQ (#3704)
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/config/data.html
  develop/_modules/otx/core/data/factory.html
  develop/_modules/otx/core/data/module.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/engine/engine.html
  develop/_modules/otx/tools/converter.html
  develop/_sources/guide/reference/_autosummary/otx.core.config.data.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.config.data.html
  develop/guide/reference/_autosummary/otx.core.data.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update docstring
  src/otx/algo/instance_segmentation/heads/base_roi_head.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/roi_head_tv.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/heads/utils.py
  src/otx/algo/instance_segmentation/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/layers/transformer.py
  src/otx/algo/instance_segmentation/losses/dice_loss.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/roi_align.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/utils/structures/bbox/transforms.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/utils/utils.py
Labels: OTX 2.0

Fix torchvision CLS recipes (#3705)
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
Labels: OTX 2.0

Remove `DictConfig`
  src/otx/algo/common/layers/res_layer.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/heads/base_roi_head.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/two_stage.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/utils/roi_extractors/single_level_roi_extractor.py
Labels: OTX 2.0

Revert data pipeline
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
  src/otx/recipes/stages/classification/incremental.yaml
Labels: OTX 2.0

update unit test
  tests/unit/core/utils/test_tile.py
Labels: TEST

Use model_api action classification model wrapper class (#3610)
  pyproject.toml
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/openvino_model.py
  src/otx/core/model/action_classification.py
  tests/unit/core/utils/test_tile.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update documentation
  develop/_modules/otx/core/model/action_classification.html
Labels: none

Fix that `batch_size` is inappropriately set during xai
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix to filter outputs by threshold during explain mode
  src/otx/core/model/detection.py
Labels: OTX 2.0

fix visual prompting model
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

fix recipes
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
Labels: OTX 2.0

added rtdetr code
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/matchers/__init__.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Fix intg test for detection xai (#3706)
  src/otx/core/model/detection.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
