Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Change Load Type
  src/otx/algorithms/classification/configs/base/data/data_pipeline.py
Labels: OTX 2.0

Improve polygon utils (#3707)
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

update polygon useage
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

tmp
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Refactor Visual Prompting OV model to use MAPI (#3638)
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/openvino_models.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/visual_prompting/openvino_model.yaml
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/conftest.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/exporter/visual_prompting.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.exporter.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

fix rescale_polygons
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

minor fix
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Add unit test for empty output
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Fix unit test
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Fix `load_reference_info`
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix `on_test_start`
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Add HuggingFaceModelForMulticlassCls
  src/otx/algo/classification/huggingface_model.py
Labels: OTX 2.0

Fix `on_predict_start`
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix integration tests
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
Labels: TEST

Remove unnecessary comment in recipes
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

experiments with rtdetr. 0 accuracy
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/model/base.py
  src/otx/engine/engine.py
Labels: OTX 2.0

move intg tests to merge-check wf and run on a10g
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
Labels: BUILD

add merge_group event
  .github/workflows/pre_merge.yaml
Labels: BUILD

add target branch
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
Labels: BUILD

fix typo
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
Labels: BUILD

fix syntax error on merge-check workflow
  .github/workflows/merge_check.yaml
Labels: BUILD

add merge_group event to pr checks
  .github/workflows/pre_merge.yaml
Labels: BUILD

Fix multi batch testing for visual prompting (#3695)
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Fix `load_reference_info` for zero-shot learning (#3709)
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/searchindex.js
Labels: none

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

divide classification intg tests
  .github/workflows/merge_check.yaml
  tests/integration/conftest.py
Labels: TEST, BUILD

update tox.ini
  tox.ini
Labels: BUILD

fix typo
  tox.ini
Labels: BUILD

Add hf model unit test
  pyproject.toml
  tests/unit/algo/classification/test_huggingface_model.py
Labels: TEST, BUILD, DEPENDENCY

fixed missing update
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

Refine data parts in recipes
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

fix typo on task name in merge check workflow
  .github/workflows/merge_check.yaml
Labels: BUILD

Remove `torchvision_base.yaml` dependency
  src/otx/recipe/_base_/data/detection.yaml
Labels: OTX 2.0

Update
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

Refine iseg recipes
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
Labels: OTX 2.0

Fix unit test
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

Update iseg ov model
  src/otx/recipe/instance_segmentation/openvino_model.yaml
Labels: OTX 2.0

Refine rotated det recipes
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
Labels: OTX 2.0
