Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Remove left mmdet dependency
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

Remove left mmdet dependency (#3488)
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

Fix conflict in develop with 2.0.0
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix conflicts between develop and 2.0.0 (#3490)
  tests/e2e/cli/test_cli.py
Labels: TEST

Set metric threshold
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

fix typing
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

update bandit configuration
  .ci/ipas_default.config
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/cli/utils/installation.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0, BUILD

update dependencies to resolve security issue
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  pyproject.toml
Labels: DOC, BUILD, DEPENDENCY

bump jinja2 to 3.1.4
  .ci/requirements/benchmark/requirements.txt
Labels: BUILD

🐞 Set metric threshold (#3498)
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Remove image_decode_context contextmanager
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

Revert image_decode_context ImageColorChannel.BGR case
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

Update image_decode_context flow with RGB (#3501)
  src/otx/core/data/dataset/base.py
Labels: OTX 2.0

Update for security issues (#3500)
  .ci/ipas_default.config
  .ci/requirements/benchmark/requirements.txt
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  pyproject.toml
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/cli/utils/installation.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0, DOC, BUILD, DEPENDENCY

update recipes
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
Labels: OTX 2.0

set default threshold
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

include full size image in tile dataset
  src/otx/core/data/dataset/tile.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

fix xai tests
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

fix consistency test
  tests/unit/core/utils/test_tile.py
Labels: TEST

Fix ruff
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

init commit
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/algo/instance_segmentation/torchvision/roi_head.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
Labels: OTX 2.0

style changes
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/algo/instance_segmentation/torchvision/roi_head.py
Labels: OTX 2.0

fix small bugs
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
Labels: OTX 2.0

Fix OOM for tiling
  src/otx/algo/utils/xai_utils.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

dGPU inference for OV models
  README.md
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST, DOC

Extract reading of hparams in OVModel
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Fix usage of get_user_config
  src/otx/core/model/base.py
Labels: OTX 2.0

Add for cpu flag to ov model
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Fix missing ov core
  src/otx/core/model/base.py
Labels: OTX 2.0

Fix maskrcnn accuracy drop on tiling (#3502)
  src/otx/core/data/dataset/tile.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  tests/unit/core/data/test_tiling.py
  tests/unit/core/utils/test_tile.py
Labels: OTX 2.0, TEST

Update instance_segmentation.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Fix plugin coniguration
  src/otx/core/model/base.py
Labels: OTX 2.0

Add one more unit test for OVModel
  tests/unit/core/model/test_base.py
Labels: TEST

Update instance_segmentation.py to resolve conflict with 2.0.0 (#3506)
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/instance_segmentation.html
Labels: none

update dependencies for regression-test in for_developers folder
  .github/workflows/perf_benchmark.yaml
  for_developers/regression_test/requirements.txt
Labels: DOC, BUILD

Fix
  .github/workflows/pre_merge.yaml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD

Fix to use right index
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
  src/otx/core/utils/jsonargparse.py
  tests/unit/core/optimizer/test_callable.py
  tests/unit/core/schedulers/test_callable.py
Labels: OTX 2.0, TEST

Revert "Modify label info comparison (#3442)"
  src/otx/engine/engine.py
Labels: OTX 2.0
