Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Update tests
  src/otx/algorithms/anomaly/configs/anomaly/padim/__init__.py
  src/otx/algorithms/anomaly/configs/anomaly/padim/configuration.py
  src/otx/api/entities/model_template.py
  src/otx/core/data/adapter/__init__.py
  tests/unit/core/data/test_helpers.py
Labels: OTX 2.0, TEST

Fix unit tests
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/losses/atss_loss.py
  src/otx/algo/detection/losses/rtmdet_loss.py
  src/otx/algo/detection/losses/ssd_loss.py
  src/otx/algo/detection/losses/yolox_loss.py
  src/otx/algo/detection/ssd.py
  tests/unit/algo/detection/detectors/test_single_stage_detector.py
  tests/unit/algo/detection/heads/test_class_incremental_mixin.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/heads/test_ssd_head.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/losses/test_yolox_loss.py
Labels: OTX 2.0, TEST

Update comment
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Update version 1.6.4 (#3872)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

fixes
  src/otx/algorithms/detection/adapters/mmdet/models/detectors/custom_maskrcnn_tile_optimized.py
  src/otx/algorithms/detection/adapters/mmdet/utils/config_utils.py
Labels: OTX 2.0

Fix e2e code error (#3871)
  tests/e2e/cli/test_cli.py
Labels: TEST

roi align mask extraction
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/keypoint_detection.html
Labels: none

update imports
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

fixed naming for OV
  src/otx/cli/cli.py
Labels: OTX 2.0

Revert "roi align mask extraction"
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Update benchmark tool
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.1.0/perf-benchmark-raw-all.csv
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_semantic_segmentation.py
Labels: TEST

add test case
  tests/unit/algorithms/detection/tiling/test_tiling_tile_classifier.py
Labels: TEST

update
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Revert "update"
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Add documentation about configurable input size (#3870)
  docs/source/guide/explanation/additional_features/configurable_input_size.rst
  docs/source/guide/explanation/additional_features/hpo.rst
  docs/source/guide/explanation/additional_features/index.rst
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC

maskrcnn_tv works
  src/otx/algo/detection/base_models/single_stage_detector.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/backbones/__init__.py
  src/otx/algo/instance_segmentation/backbones/maskrcnn_backbones.py
  src/otx/algo/instance_segmentation/heads/base_roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
Labels: OTX 2.0

fix integration tests|
  src/otx/algo/segmentation/backbones/litehrnet.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
Labels: OTX 2.0, TEST

Add stable diffusion fine-tuning
  pyproject.toml
  src/otx/algo/diffusion/__init__.py
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/algo/diffusion/utils/data_sample.py
  src/otx/core/data/dataset/diffusion.py
  src/otx/core/data/entity/diffusion.py
  src/otx/core/data/factory.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/metrics/diffusion.py
  src/otx/core/model/diffusion.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/diffusion.yaml
  src/otx/recipe/diffusion/stable_diffusion.yaml
Labels: OTX 2.0, BUILD, DEPENDENCY

FIx iseg unit test
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Fix Classification explain forward issue in develop (#3869)
  src/otx/algo/classification/classifier/base_classifier.py
Labels: OTX 2.0

Enable factory for ATSS
  src/otx/algo/common/utils/coders/__init__.py
  src/otx/algo/common/utils/coders/base_bbox_coder.py
  src/otx/algo/common/utils/coders/delta_xywh_bbox_coder.py
  src/otx/algo/common/utils/coders/distance_point_bbox_coder.py
  src/otx/algo/common/utils/prior_generators/__init__.py
  src/otx/algo/common/utils/prior_generators/anchor_generator.py
  src/otx/algo/common/utils/prior_generators/base_prior_generator.py
  src/otx/algo/common/utils/prior_generators/point_generator.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/backbone_factory.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/unit/algo/detection/heads/test_class_incremental_mixin.py
  tests/unit/algo/detection/test_atss.py
Labels: OTX 2.0, TEST

minor fix pre-commit
  src/otx/algo/segmentation/backbones/litehrnet.py
Labels: OTX 2.0

Enable factory for YOLOX and update
  src/otx/algo/common/utils/coders/base_bbox_coder.py
  src/otx/algo/common/utils/prior_generators/anchor_generator.py
  src/otx/algo/common/utils/prior_generators/base_prior_generator.py
  src/otx/algo/common/utils/prior_generators/point_generator.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/backbone_factory.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/yolox.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Enable factory for RTMDet
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/utils/prior_generators/base_prior_generator.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/rtmdet.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST

Update recipes
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

Update
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/backbone_factory.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

update tests
  tests/test_suite/run_test_command.py
Labels: TEST

Enable factory for SSD
  src/otx/algo/detection/backbones/backbone_factory.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/ssd.py
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
Labels: OTX 2.0

Fix
  src/otx/algo/visual_prompting/sam.py
  src/otx/core/exporter/visual_prompting.py
Labels: OTX 2.0

Fix hierarchical config
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/api/utils/labels_utils.py
Labels: OTX 2.0

Add exceptions handling
  src/otx/algorithms/classification/adapters/openvino/task.py
Labels: OTX 2.0

Update Semantic Segmentation refactoring (reply comments from previous PR) (#3863)
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/__init__.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/cli/cli.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST

Add exceptions checks to other tasks
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
Labels: OTX 2.0

Fix black
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/api/utils/labels_utils.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/model/segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/searchindex.js
Labels: none

Add test
  pyproject.toml
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/core/data/dataset/diffusion.py
  src/otx/core/data/factory.py
  src/otx/core/metrics/types.py
  src/otx/core/model/diffusion.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/diffusion/stable_diffusion.yaml
  tests/unit/algo/diffusion/test_huggingface_model.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

maskrrcnn runs, need to decouple loss
  src/otx/algo/common/utils/nms.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/instance_segmentation/backbones/__init__.py
  src/otx/algo/instance_segmentation/backbones/maskrcnn_backbones.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/base_roi_head.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/roi_head_tv.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/roi_loss.py
  src/otx/algo/instance_segmentation/losses/rpn_loss.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
Labels: OTX 2.0

Fix labels names in hierarchical config (#3879)
  src/otx/algorithms/classification/adapters/openvino/task.py
  src/otx/algorithms/classification/utils/cls_utils.py
  src/otx/algorithms/detection/adapters/openvino/task.py
  src/otx/algorithms/segmentation/adapters/openvino/task.py
  src/otx/api/utils/labels_utils.py
Labels: OTX 2.0

Fix unit test
  tests/unit/algo/visual_prompting/test_sam.py
Labels: TEST
