Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Update rename table
  tests/perf/history/summary.py
Labels: TEST

Update summary
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Update mlflow logging
  tests/perf/conftest.py
Labels: TEST

Add std stat for summary
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Fix
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/core/model/classification.py
Labels: OTX 2.0

Add ignore
  src/otx/core/model/base.py
Labels: OTX 2.0

revert
  src/otx/core/model/classification.py
Labels: OTX 2.0

Fix artifact download
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Fix pre-commit
  benchmark-history.ipynb
  tests/perf/benchmark.py
  tests/perf/conftest.py
Labels: TEST

Update summary notebook
  tests/perf/history/summary.ipynb
Labels: TEST

Migrate SSD from mmdet to OTX (#3279)
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/ssd.py
  src/otx/core/model/detection.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: OTX 2.0, TEST

update otx version string to 1.6.1rc1
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update documentation
  develop/_modules/otx/algo/detection/heads/custom_anchor_generator.html
  develop/_modules/otx/algo/detection/heads/custom_ssd_head.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/model/detection.html
  develop/_sources/guide/reference/_autosummary/otx.algo.detection.heads.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Remedy some medium/low severity bandit issues (#3208)
  src/otx/algorithms/common/adapters/mmdeploy/apis.py
  src/otx/algorithms/common/utils/mo_wrapper.py
  src/otx/algorithms/detection/utils/utils.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/zero_shot_segment_anything.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  src/otx/api/usecases/reporting/time_monitor_callback.py
  tests/integration/api/classification/test_api_classification.py
  tests/integration/api/detection/api_detection.py
  tests/integration/api/segmentation/test_api_segmentation.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/unit/algorithms/classification/test_helper.py
Labels: OTX 2.0, TEST

Revert
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

Fix typo
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

update style
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
Labels: OTX 2.0

Decouple ssd_head
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Migrate losses
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/losses/weighted_loss.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/bbox_overlaps.py
  src/otx/algo/detection/utils/structures.py
Labels: OTX 2.0

Remove BaseBoxes
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/structures/__init__.py
  src/otx/algo/detection/structures/structures.py
Labels: OTX 2.0

Decoupling anchor head
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

Replace mmcv nms to torchvision nms
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ops/__init__.py
  src/otx/algo/detection/ops/nms.py
Labels: OTX 2.0

Fix unit tests
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: TEST

Refactor DetBatPredEntity initialization
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Update default value
  src/otx/algorithms/detection/configs/base/data/tiling/atss_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/models/single_stage_detector.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model_xpy.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/model.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/semisl/model.py
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

Update nms iothreshold loading process
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: OTX 2.0, TEST

Fix
  src/otx/algo/detection/ssd.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
  tests/unit/algo/detection/conftest.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/core/model/test_base.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Remove unused implementations
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/task.py
Labels: OTX 2.0

Fix minor
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
Labels: OTX 2.0

Remove commented line
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Update unit tests
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: TEST

Fix a bug that engine.test doesn't work with XPU (#3293)
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
Labels: OTX 2.0

remove box structures
  src/otx/algo/instance_segmentation/mmdet/models/coders/base_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/base_boxes.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/box_type.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/horizontal_boxes.py
Labels: OTX 2.0

Reflect reviews
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
Labels: OTX 2.0

XAI clean-up & XAI unit tests
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/explain/__init__.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/hooks/__init__.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/conftest.py
  tests/unit/algo/explain/__init__.py
  tests/unit/algo/explain/test_saliency_map_dumping.py
  tests/unit/algo/explain/test_saliency_map_processing.py
  tests/unit/algo/explain/test_xai_algorithms.py
Labels: OTX 2.0, TEST

Fix unit tests
  tests/test_helpers.py
Labels: TEST

Update
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/conftest.py
Labels: OTX 2.0, TEST

Fix unit tests
  tests/unit/algorithms/segmentation/test_helpers.py
  tests/unit/algorithms/visual_prompting/test_helpers.py
Labels: TEST

Add tests
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST

add resnet
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/prior_generators/utils.py
Labels: OTX 2.0
