Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Add visual prompting perf test cases
  tests/perf/benchmark.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Fix pre-commit
  tools/experiment.py
Labels: none

Fix some pipeline
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

update documentations
  CHANGELOG.md
  README.md
  docs/source/conf.py
  docs/source/guide/release_notes/index.rst
  requirements/docs.txt
Labels: DOC, DEPENDENCY

style reformat
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
Labels: OTX 2.0

stype reformat
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/base_dense_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
Labels: OTX 2.0

fix tile ptq
  src/otx/core/model/entity/base.py
Labels: OTX 2.0

fix tile polygon function
  src/otx/core/data/dataset/tile.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Fix wrong config value
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Fix XAI with H-label
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Fix H-label & export with explain
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/otx_mobilenet_v3.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  tests/unit/algo/classification/test_mobilenet_v3.py
Labels: OTX 2.0, TEST

added functionality to export optimized and already exported to IR models
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/README.md
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/engine/engine.py
Labels: OTX 2.0, DOC

fix unit test
  tests/unit/engine/test_engine.py
Labels: TEST

fix unit test
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

fix pre-commit
  src/otx/core/model/base.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Move to `transform_libs`
  src/otx/core/data/transform/__init__.py
  src/otx/core/data/transform/detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
Labels: OTX 2.0

Fix semantic seg ground truth mask extraction (#3270)
  src/otx/core/config/data.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/factory.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

Merge pytest parser options (#3269)
  tests/conftest.py
  tests/e2e/conftest.py
  tests/integration/conftest.py
  tests/perf/conftest.py
  tests/regression/conftest.py
Labels: TEST

Update documentation
  develop/_modules/otx/core/config/data.html
  develop/_modules/otx/core/data/factory.html
  develop/guide/reference/_autosummary/otx.core.config.data.html
  develop/searchindex.js
Labels: none

(tmp) change order
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

update publish workflow to add contents write permission
  .github/workflows/publish.yaml
Labels: BUILD

update publish workflow to add contents write permission
  .github/workflows/publish.yaml
Labels: BUILD

Fix api intg test
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Fix search_space key for lr
  src/otx/engine/hpo/hpo_api.py
  tests/perf/conftest.py
Labels: OTX 2.0, TEST

Fix ruff error
  tests/perf/conftest.py
Labels: TEST

Update ci-runner start script to use host shm size as-is (#3274)
  .ci/start-runner.sh
Labels: BUILD

Update documentations (#3280)
  CHANGELOG.md
  README.md
  docs/source/conf.py
  docs/source/guide/release_notes/index.rst
  requirements/docs.txt
Labels: DOC, DEPENDENCY

Update src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

Add a new configurable value nms_iou_threshold
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/base/data/tiling/atss_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/model.py
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/detection/utils/utils.py
Labels: OTX 2.0

sytle reformat
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

Bump onnx version to 1.16.0 (#3209)
  .github/workflows/publish_internal.yml
  CHANGELOG.md
  requirements/dev.txt
  requirements/openvino.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC, BUILD, DEPENDENCY

fix test
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

add PTQ tile integration test
  tests/integration/api/test_engine_api.py
Labels: TEST

Add unit tests
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: OTX 2.0, TEST

Modify changelog
  CHANGELOG.md
Labels: DOC

Fix tile polygon transform function (#3283)
  src/otx/core/data/dataset/tile.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

tile tranform fix
  src/otx/core/data/dataset/tile.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Add TaskLevelExportParameters to otx.core.types.export
  src/otx/core/types/export.py
Labels: OTX 2.0

Fix tests
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/core/utils/test_utils.py
Labels: TEST

Refactor src
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/utils/utils.py
Labels: OTX 2.0
