Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Address comments
  src/otx/core/model/base.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Update hugging-face tutorials
  docs/source/guide/tutorials/advanced/huggingface_model.rst
Labels: DOC

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Enable OV det model benchmark
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/utils/utils.html
  develop/_sources/guide/reference/_autosummary/otx.core.utils.utils.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.utils.utils.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update torch detection dummy input
  src/otx/core/model/detection.py
Labels: OTX 2.0

Add benchmarking for OV sseg models
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Update install in tutorials
  docs/source/guide/tutorials/advanced/huggingface_model.rst
Labels: DOC

Update for modified data entity
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Enable to use bitmap mask as reference mask
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Enable to use polygon as reference mask
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Revert unnecessary changes
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Support polygons for ov model
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Minor updates in benchmark
  src/otx/engine/engine.py
Labels: OTX 2.0

Update segmentation and detection support
  src/otx/core/model/detection.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Add flops counter failure processing
  src/otx/engine/engine.py
Labels: OTX 2.0

Cover instance segmentation
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Cover anomaly OV model
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Cover action classification
  src/otx/core/model/action_classification.py
Labels: OTX 2.0

Cover VPT
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Make anomaly model forward runnable (but not functional)
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Fix anomaly forward
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Simplify OV dummy input
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Add dummy input for VPT
  src/otx/core/model/anomaly.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Add a file output
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix unit tests
  tests/unit/algo/visual_prompting/conftest.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Revert `BoundingBoxFormat`
  src/otx/core/data/dataset/visual_prompting.py
Labels: OTX 2.0

Fix precommit
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
  tests/unit/core/data/transform_libs/test_mmcv.py
Labels: OTX 2.0, TEST

Update changelog
  CHANGELOG.md
Labels: DOC

Fix unit test
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Add task overriding for ConfigConverter
  src/otx/tools/converter.py
  tests/assets/geti-configs/cls.json
  tests/unit/tools/test_converter.py
Labels: OTX 2.0, TEST

remove typ for torch upgrade
  src/otx/core/data/entity/utils.py
Labels: OTX 2.0

Add `ZeroShotVisualPromptingLabel`
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update condition
  src/otx/core/data/dataset/visual_prompting.py
Labels: OTX 2.0

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

Modify cls recipes
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
Labels: OTX 2.0

Modify anomaly recipes
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

update yolox-tiny tile image size
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
