Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

remove private underscore
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

update for 2.2.0rc4
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Change sematic segmentation to consider bbox only annotations. (#3996)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/core/data/dataset/segmentation.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_segmentation.py
  tox.ini
Labels: OTX 2.0, TEST, DOC, BUILD

update license
  src/otx/algo/instance_segmentation/backbones/detectron_resnet.py
Labels: OTX 2.0

user lightning gradient clipping
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
Labels: OTX 2.0

reduce maximum value of rnd_tile_overlap
  tests/unit/core/data/test_tiling.py
Labels: TEST

Decrease CPU memory usage during unit test (#3999)
  tests/unit/core/data/test_tiling.py
Labels: TEST

Fix compile with segnext
  src/otx/algo/segmentation/backbones/mscan.py
Labels: OTX 2.0

Fix compile with segnext2
  src/otx/algo/segmentation/backbones/mscan.py
Labels: OTX 2.0

Fix integration test
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

disable mem cache during api integration test
  tests/integration/api/conftest.py
Labels: TEST

update
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/modules/norm.py
Labels: OTX 2.0

update docstring
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
Labels: OTX 2.0

improve loss docstring
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
Labels: OTX 2.0

pre commit
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
Labels: OTX 2.0

Refactor code for extracting masks from RoI in MaskDINO module
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

add unit test
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: TEST

Include Geti arrow dataset subset names (#3962)
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

Update for 2.2.0rc3 (#3975)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Change sematic segmentation to consider bbox only annotations. (#3996)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/core/data/dataset/segmentation.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_segmentation.py
Labels: OTX 2.0, TEST, DOC

remove task from adapt_tiling_config
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

revert changes back
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

change changelog
  CHANGELOG.md
Labels: DOC

Fix compile with detection models
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/common/utils/nms.py
  src/otx/algo/common/utils/structures.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/core/model/base.py
Labels: OTX 2.0

Add unit-tests
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_huggingface_model.py
  tests/unit/algo/detection/test_rtdetr.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolov9.py
  tests/unit/algo/detection/test_yolox.py
Labels: TEST

Add unit-tests
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: TEST

fix test
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: TEST

reformat
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: TEST

MaskDINO ResNet50 (#3977)
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/backbones/detectron_resnet.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/layers/batch_norm.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/utils/box_ops.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: OTX 2.0, TEST

Disable mem cache during API integration test (#4001)
  tests/integration/api/conftest.py
Labels: TEST

Fix torch compile to work with segnext (#4000)
  src/otx/algo/segmentation/backbones/mscan.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: OTX 2.0, TEST

Update HungarianMatcher import and remove unused code
  src/otx/algo/common/matcher/__init__.py
  src/otx/algo/common/matcher/hungarian_matcher.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  tests/unit/algo/detection/utils/matchers/test_hungarian_matcher.py
Labels: OTX 2.0, TEST

Refactor HungarianMatcher import and remove unused code
  src/otx/algo/common/matcher/__init__.py
  src/otx/algo/common/utils/assigners/__init__.py
  src/otx/algo/common/utils/assigners/hungarian_matcher.py
  src/otx/algo/common/utils/position_embed.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  tests/unit/algo/detection/utils/matchers/test_hungarian_matcher.py
Labels: OTX 2.0, TEST

Refactor HungarianMatcher import and remove unused code in position_embed.py and maskdino_encoder.py
  src/otx/algo/common/utils/position_embed.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
Labels: OTX 2.0

Refactor segmentors module and add MaskDINO model
  src/otx/algo/common/utils/assigners/hungarian_matcher.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
Labels: OTX 2.0

Refactor forward method in MaskDINOHead and MaskDINOEncoder
  src/otx/algo/common/utils/assigners/hungarian_matcher.py
  src/otx/algo/common/utils/position_embed.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Fix outputs order in export parameters
  src/otx/algo/object_detection_3d/monodetr3d.py
Labels: OTX 2.0

Fix ruff
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Fix mypy
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Reduce code duplication
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0
