Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Check unit-test without mm
  src/otx/cli/utils/installation.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/cli/utils/test_installation.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/utils/test_build.py
  tox.ini
Labels: OTX 2.0, TEST, BUILD

Bump up anomalib 1.1 & jsonargparse
  pyproject.toml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Bump up jsonargparse to 4.30.0
  pyproject.toml
Labels: BUILD, DEPENDENCY

fix tile test
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/tile_adaptor.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

add description to tile transform
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

Fix slowness
  notebooks/005_instance_segmentation.ipynb
  src/otx/recipe/_base_/train.yaml
Labels: OTX 2.0

Tutorials/cvpr24 (#3633)
  notebooks/002_multi_label_classification.ipynb
  notebooks/003_detection.ipynb
  notebooks/004_segmentation.ipynb
  notebooks/005_instance_segmentation.ipynb
  src/otx/recipe/_base_/train.yaml
Labels: OTX 2.0

Del unused code
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/install.html
  develop/_modules/otx/core/config/data.html
  develop/_modules/otx/core/config/hpo.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/utils/tile_merge.html
  develop/_modules/otx/core/utils/utils.html
  develop/guide/reference/_autosummary/otx.cli.install.html
  develop/guide/reference/_autosummary/otx.core.config.data.html
  develop/guide/reference/_autosummary/otx.core.config.hpo.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/searchindex.js
Labels: none

Fix tiling test (#3637)
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/tile_adaptor.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Revert skip tiling test
  tests/unit/core/data/test_tiling.py
Labels: TEST

Refactor infer in zsl
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix tests/ to work in a mm-free environment (#3632)
  pyproject.toml
  src/otx/cli/utils/installation.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/cli/utils/test_installation.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/utils/test_build.py
  tox.ini
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update documentation
  develop/_modules/otx/cli/utils/installation.html
Labels: none

Add docs semi-sl part
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/semi_supervised_learning.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/utils/images/semi-sl-algo.png
  docs/utils/images/semi-sl-effnet-b0.png
  docs/utils/images/semi-sl-effnet-v2.png
  docs/utils/images/semi-sl-mv3-large.png
Labels: DOC

Add omit mm-related code
  pyproject.toml
Labels: BUILD, DEPENDENCY

Add omit core/model/utils
  pyproject.toml
Labels: BUILD, DEPENDENCY

update a dependency of exportable code
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0

change variable name
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/model_wrapper.py
Labels: OTX 2.0

Add coverage omit mm-related code (#3641)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Add docs semi-sl part (#3640)
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/advanced/semi_supervised_learning.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/utils/images/semi-sl-algo.png
  docs/utils/images/semi-sl-effnet-b0.png
  docs/utils/images/semi-sl-effnet-v2.png
  docs/utils/images/semi-sl-mv3-large.png
Labels: DOC

fix a bug
  tests/perf/benchmark.py
Labels: TEST

Fix getting wrong shape
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Refactor docs css & Add contents
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/introduction.rst
  docs/utils/images/auto_config.png
  docs/utils/images/cli.png
  docs/utils/images/diagram_otx.png
Labels: DOC

Fix a bug in benchmark code (#3643)
  tests/perf/benchmark.py
Labels: TEST

Fix return type
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Update SAM and ZSL MAPI usage
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Upgrade NNCF and OV versions
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

precommit
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

update unit test
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
Labels: TEST

Add except condition
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Add Semi-SL Benchmark
  tests/perf/benchmark.py
  tests/perf/test_classification.py
Labels: TEST

Fix docstring
  tests/perf/test_classification.py
Labels: TEST

Update unit test to conver the issue
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

add execution code in docs
  docs/source/guide/explanation/additional_features/auto_configuration.rst
Labels: DOC

Add tv models
  tests/perf/test_classification.py
Labels: TEST

Refactor docs design & Add contents (#3645)
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/introduction.rst
  docs/utils/images/auto_config.png
  docs/utils/images/cli.png
  docs/utils/images/diagram_otx.png
Labels: DOC

Make codecov happy
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/data/transform_libs/test_utils.py
Labels: OTX 2.0, TEST

Add execution example of auto batch size in docs (#3648)
  docs/source/guide/explanation/additional_features/auto_configuration.rst
Labels: DOC

Update documentation
  develop/_sources/guide/explanation/additional_features/auto_configuration.rst.txt
  develop/guide/explanation/additional_features/auto_configuration.html
  develop/searchindex.js
Labels: none
