Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update documentation
  develop/_modules/otx/core/model/instance_segmentation.html
Labels: none

Fix num_trials calculation on dataset length less than num_class (#4014)
  src/otx/algo/samplers/balanced_sampler.py
Labels: OTX 2.0

update changelog
  CHANGELOG.md
Labels: DOC

Fix out_features in HierarchicalCBAMClsHead (#4016)
  CHANGELOG.md
  src/otx/algo/classification/heads/hlabel_cls_head.py
Labels: OTX 2.0, DOC

Added unit tests for 3d Object Detection, fix linter for the rest of the files. (#4008)
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/utils/kitti_utils.py
  src/otx/core/exporter/detection_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
  src/otx/core/model/detection_3d.py
  tests/integration/cli/test_cli.py
  tests/perf/test_object_detection_3d.py
  tests/unit/algo/object_detection_3d/__init__.py
  tests/unit/algo/object_detection_3d/backbones/__init__.py
  tests/unit/algo/object_detection_3d/backbones/test_monodetr_resnet.py
  tests/unit/algo/object_detection_3d/conftest.py
  tests/unit/algo/object_detection_3d/detectors/__init__.py
  tests/unit/algo/object_detection_3d/detectors/test_monodetr.py
  tests/unit/algo/object_detection_3d/heads/__init__.py
  tests/unit/algo/object_detection_3d/heads/test_depth_predictor.py
  tests/unit/algo/object_detection_3d/heads/test_depthaware_transformer.py
  tests/unit/algo/object_detection_3d/losses/__init__.py
  tests/unit/algo/object_detection_3d/losses/test_monodetr_loss.py
  tests/unit/algo/object_detection_3d/matchers/__init__.py
  tests/unit/algo/object_detection_3d/matchers/test_matcher_3d.py
  tests/unit/algo/object_detection_3d/test_monodetr3d.py
  tests/unit/core/data/dataset/test_keypoint_detection.py
  tests/unit/core/data/dataset/test_object_detection_3d.py
  tests/unit/core/data/dataset/utils/__init__.py
  tests/unit/core/data/dataset/utils/test_kitti_utils.py
  tests/unit/core/exporter/test_detection_3d.py
  tests/unit/core/model/test_detection_3d.py
Labels: OTX 2.0, TEST

update for release 2.2.0rc5
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

update changelog
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Fix empty anno (#4010)
  CHANGELOG.md
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/core/data/pre_filtering.py
  tests/unit/algo/common/test_iou2d_calculator.py
Labels: OTX 2.0, TEST, DOC

Update for release 2.2.0rc5 (#4015)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

added coco metric
  src/otx/core/metrics/average_precision_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
Labels: OTX 2.0

Update model_name in rotated_detection YAML files
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
Labels: OTX 2.0

Update changelog
  CHANGELOG.md
Labels: DOC

Refactor empty label workaround in iseg and mask_target.py
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/core/data/pre_filtering.py
  tests/unit/algo/common/test_iou2d_calculator.py
Labels: OTX 2.0, TEST

Add OV inference for 3d detection
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/model/detection_3d.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/object_detection_3d/openvino_model.yaml
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Prevent writing too low confidence thresholds to MAPI configuration
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix unit tests
  tests/unit/core/model/test_detection_3d.py
Labels: TEST

Update changelog
  CHANGELOG.md
Labels: DOC

Refactor dummy input
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Fix torch deprecation warning
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/core/data/entity/utils.py
  src/otx/utils/utils.py
Labels: OTX 2.0

Update 3d det unit tests
  tests/unit/core/model/test_detection_3d.py
Labels: TEST

Fix ruff
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/core/data/entity/utils.py
  src/otx/utils/utils.py
Labels: OTX 2.0

Fix flops counter call
  src/otx/engine/engine.py
Labels: OTX 2.0

update unit test
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST

release memory usage cirteria on batch size 2 during adpative_bs
  src/otx/engine/adaptive_bs/bs_search_algo.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: OTX 2.0, TEST

update unit test
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST

Fix empty bbox error
  src/otx/algo/detection/losses/yolov9_loss.py
Labels: OTX 2.0

Fix empty bbox error
  src/otx/algo/detection/losses/yolov9_loss.py
Labels: OTX 2.0

align with pre-commit
  tests/e2e/cli/test_cli.py
Labels: TEST

Add unit test
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST

Add unit test
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST

precommit
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST

precommit
  tests/e2e/cli/test_cli.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST

Prevent using too low confidence thresholds in detection (#4018)
  src/otx/core/model/detection.py
Labels: OTX 2.0

update for release 2.2.0rc6
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update for release 2.2.0rc6 (#4027)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update model name in rotated_detection recipes
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
Labels: OTX 2.0

Fix empty bbox error for YOLOv9 to 2.3.0 (#4026)
  src/otx/algo/detection/losses/yolov9_loss.py
  tests/e2e/cli/test_cli.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: OTX 2.0, TEST

update changelog
  CHANGELOG.md
Labels: DOC

update hpo interface
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Refactor MaskDINO model and segmentors module
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
