Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Add unit tests
  src/otx/core/model/module/anomaly.py
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/test_otx_model.py
Labels: OTX 2.0, TEST

modify test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

udpate recipe and revert engine changes
  src/otx/engine/engine.py
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
Labels: OTX 2.0

Enable explain integration tests for "test_engine_from_config"
  tests/integration/api/test_engine_api.py
Labels: TEST

added additional flag for mmcv
  pyproject.toml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD, DEPENDENCY

add export test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

cpu device
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

Add metrics to openvino model
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

fix format...
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

to cpu device
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

to cuda
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

try to fix test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

try partially insert device
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

added unit tests
  src/otx/engine/engine.py
  tests/unit/algo/accelerators/__init__.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/plugins/__init__.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/__init__.py
  tests/unit/algo/strategies/test_strategies.py
Labels: OTX 2.0, TEST

fixed unit test
  tests/unit/cli/test_install.py
Labels: TEST

fix linter
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/test_strategies.py
Labels: TEST

Fix typo
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Update
  src/otx/recipe/visual_prompting/openvino_model.yaml
Labels: OTX 2.0

Add visual prompting tutorial
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
Labels: DOC

Fix typos
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

Add options for model-category
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
Labels: TEST, BUILD

Remove num_classes / data_format setting
  tests/perf/benchmark.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Fix default data_root: new -> v1
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Add unit tests for transfrom lib
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Remove metric overriding for hlabel model in test_otx_export_infer
  tests/integration/cli/test_export_inference.py
Labels: TEST

XAI clean-up & XAI unit tests (#3161)
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/explain/__init__.py
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/entity/classification.py
  src/otx/core/model/entity/detection.py
  src/otx/core/model/entity/instance_segmentation.py
  tests/conftest.py
  tests/unit/algo/explain/__init__.py
  tests/unit/algo/explain/test_saliency_map_dumping.py
  tests/unit/algo/explain/test_saliency_map_processing.py
  tests/unit/algo/explain/test_xai_algorithms.py
  tests/unit/core/model/entity/test_detection.py
  tests/unit/core/model/entity/test_inst_segmentation.py
Labels: OTX 2.0, TEST

Add unit-test for otx.engine.engine & otx.core.utils (#3158)
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_cache.py
  tests/unit/core/utils/test_config.py
  tests/unit/core/utils/test_imports.py
  tests/unit/core/utils/test_instantiators.py
  tests/unit/core/utils/test_utils.py
  tests/unit/engine/test_engine.py
Labels: TEST

update triy scanning to use actions
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

update triy scanning to use actions
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

Update dependabot configuration (#3159)
  .github/dependabot.yaml
Labels: BUILD

Run perf benchmark on large-disk host (#3157)
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
Labels: TEST, BUILD

Add anomaly perf benchmark tests (#3156)
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST, BUILD

Add PTQ update docs for Action Classification
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  src/otx/algo/action_classification/openvino_model.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/base.py
  src/otx/recipe/action/action_classification/openvino_model.yaml
Labels: OTX 2.0, DOC

Add unit tests for openvino model
  src/otx/algo/anomaly/openvino_model.py
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/assets/dummy.bin
  tests/unit/algo/anomaly/assets/dummy.xml
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: OTX 2.0, TEST

Add new line
  tests/unit/algo/anomaly/assets/dummy.xml
Labels: TEST

improve docstring comment
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/core/data/dataset/instance_segmentation.py
Labels: OTX 2.0

reduce ov batch size
  src/otx/recipe/instance_segmentation/openvino_model.yaml
Labels: OTX 2.0

change test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

change from cuda to cpu for test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

set default cpu device in unit test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST
