Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Update documentation
  develop/_modules/otx/engine/engine.html
Labels: none

Update publish workflow for pure python pkg (#3603)
  .github/workflows/publish.yaml
  pyproject.toml
Labels: BUILD, DEPENDENCY

Add setuptools dependency
  pyproject.toml
Labels: BUILD, DEPENDENCY

Modify setuptools dependency
  pyproject.toml
Labels: BUILD, DEPENDENCY

Add integration tests for `infer` without predefined `reference_info`
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Enable to handle `threshold` and `num_bg_points` through arguments
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Fix `load_from_checkpoint` for other functions
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix typo
  src/otx/engine/engine.py
Labels: OTX 2.0

Add TODO comments
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix unit tests
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Fix unit test
  tests/unit/engine/test_engine.py
Labels: TEST

Fix setuptools dependency (#3609)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Modify TransformerHead for Semi-SL
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Fix `load_from_checkpoint` args to apply original model's hparams (#3611)
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/engine/engine.html
Labels: none

Fix integration test
  tests/integration/cli/test_export_inference.py
Labels: TEST

update atss input size
  src/otx/algo/detection/atss.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

change atss input size
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
Labels: OTX 2.0

remove all action detection related codes
  src/otx/algo/action_detection/__init__.py
  src/otx/algo/action_detection/mmconfigs/x3d_fastrcnn.yaml
  src/otx/algo/action_detection/x3d_fastrcnn.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/model/action_detection.py
  src/otx/core/types/task.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/perf/test_action.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

fix unit test
  tests/unit/core/data/transform_libs/test_mmaction.py
Labels: TEST

Revert "change atss input size"
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
Labels: OTX 2.0

Revert "update atss input size"
  src/otx/algo/detection/atss.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Rename zero-shot notebook
  notebooks/001_zero_shot_visual_prompting.ipynb
Labels: none

resolve the conflicts
  notebooks/utils/download.py
Labels: none

resolve the conflicts
  notebooks/utils/download.py
Labels: none

Rename notebooks to follow the logical flow. (#3612)
  notebooks/001_zero_shot_visual_prompting.ipynb
  notebooks/utils/download.py
Labels: none

Add required dependencies for notebooks
  notebooks/requirements.txt
Labels: none

Add readme.md file
  notebooks/README.md
Labels: DOC

Rename or remove some of the notebooks
  notebooks/003.multi_label_cls.ipynb
  notebooks/004_instance_segmentation.ipynb
  notebooks/006_datamodule_and_model.ipynb
  notebooks/007_VOC_examples.ipynb
Labels: none

add a section for pre-requisite installation in the install notebook
  notebooks/000_install.ipynb
Labels: none

add newline to requirements.txt
  notebooks/requirements.txt
Labels: none

Add pre-requisites to use the notebooks and add readme.md (#3613)
  notebooks/000_install.ipynb
  notebooks/003.multi_label_cls.ipynb
  notebooks/004_instance_segmentation.ipynb
  notebooks/006_datamodule_and_model.ipynb
  notebooks/007_VOC_examples.ipynb
  notebooks/README.md
  notebooks/requirements.txt
Labels: DOC

Fix zero-shot `learn` for ov model (#3601)
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/conftest.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/searchindex.js
Labels: none

Increase readability of pickling error log during HPO & fix minor bug (#3606)
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/utils/utils.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/utils/test_utils.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/hpo/hpo_runner.html
Labels: none

Add Semi-SL Algorithms for mv3-large, effnet-v2, deit-tiny, dino-v2 (#3602)
  src/otx/algo/classification/classifier/__init__.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_semisl.yaml
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

Initial commit
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

Revert "Update test_cfg"
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Update unit test
  tests/unit/algo/detection/test_rtmdet.py
Labels: TEST
