Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Temporary disable integration XAI test for efficientnet_b0
  tests/integration/api/test_xai.py
Labels: TEST

Add model.infer in zero-shot task
  notebooks/006.zero-shot-visual-prompting.ipynb
Labels: none

Add 2.0.0 CHANGELOG
  CHANGELOG.md
  README.md
Labels: DOC

Remove 1 comments
  CHANGELOG.md
Labels: DOC

Update ATSS input size to 992x800 (#3588)
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/assets/mmdeploy_config_sample.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update 2.0.0 CHANGELOG (#3589)
  CHANGELOG.md
  README.md
Labels: DOC

Update src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
Labels: OTX 2.0

Fix unit-test
  tests/unit/core/data/test_module.py
Labels: TEST

Temporary disable integration XAI test for efficientnet_b0
  tests/integration/api/test_xai.py
Labels: TEST

Reenable e2e cls XAI tests
  tests/e2e/cli/test_cli.py
Labels: TEST

Add Semi-SL for Multi-class Classification (EfficientNet-B0) (#3566)
  src/otx/algo/callbacks/iteration_timer.py
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/module.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
  src/otx/tools/converter.py
  tests/assets/classification_semisl_dataset/unlabeled/11.jpg
  tests/assets/classification_semisl_dataset/unlabeled/14.jpg
  tests/assets/classification_semisl_dataset/unlabeled/15.jpg
  tests/assets/classification_semisl_dataset/unlabeled/16.jpg
  tests/assets/classification_semisl_dataset/unlabeled/17.jpg
  tests/assets/classification_semisl_dataset/unlabeled/18.jpg
  tests/assets/classification_semisl_dataset/unlabeled/19.jpg
  tests/assets/classification_semisl_dataset/unlabeled/21.jpg
  tests/assets/classification_semisl_dataset/unlabeled/23.jpg
  tests/assets/classification_semisl_dataset/unlabeled/26.jpg
  tests/assets/classification_semisl_dataset/unlabeled/27.jpg
  tests/assets/classification_semisl_dataset/unlabeled/28.jpg
  tests/assets/classification_semisl_dataset/unlabeled/29.jpg
  tests/assets/classification_semisl_dataset/unlabeled/30.jpg
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/conftest.py
  tests/unit/algo/callbacks/test_unlabeled_loss_warmup.py
  tests/unit/algo/classification/heads/test_semi_sl_head.py
  tests/unit/core/data/test_module.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/config/data.html
  develop/_modules/otx/core/data/module.html
  develop/_modules/otx/tools/converter.html
  develop/_sources/guide/reference/_autosummary/otx.core.config.data.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.config.data.html
  develop/guide/reference/_autosummary/otx.core.data.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Temporary disable integration XAI test for efficientnet_b0 (#3590)
  tests/integration/api/test_xai.py
Labels: TEST

update atss input size
  src/otx/algo/detection/atss.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/assets/mmdeploy_config_sample.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Use SAM OV models from MAPI
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/openvino_models.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Disable throughput for vpt becase of sync infer
  src/otx/recipe/visual_prompting/openvino_model.yaml
Labels: OTX 2.0

Update vpt exporter
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

add fuzzing
  tests/fuzzing/__init__.py
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/helper.py
  tox.ini
Labels: TEST, BUILD

revert rss limit setting
  tox.ini
Labels: BUILD

increase rss limit to 40Mb
  tox.ini
Labels: BUILD

update to use coverage
  tests/fuzzing/assets/cli/commands.dict
  tox.ini
Labels: TEST, BUILD

Fix typo in benchmark.py (#3585)
  tests/perf/benchmark.py
Labels: TEST

add known issues and update release note
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

add known issues
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

apply changed arg of OTXModel.export() to YOLOX model
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

update dinov2 pretrained weights loading
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

Assign `new_batch_size` not to override original `batch_size`
  src/otx/algo/detection/ops/nms.py
Labels: OTX 2.0

update version string
  src/otx/__init__.py
  tests/fuzzing/assets/cli/commands.dict
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/action_classification.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update for release 2.0.0 (#3594)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  tests/fuzzing/__init__.py
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/helper.py
  tox.ini
Labels: OTX 2.0, TEST, DOC, BUILD

Fix to use right index
  src/otx/core/model/detection.py
Labels: OTX 2.0

update _forward for recognizer
  src/otx/algo/action_classification/recognizers/recognizer.py
Labels: OTX 2.0

fix mypy error
  src/otx/algo/action_classification/movinet.py
Labels: OTX 2.0

enable x3d for action cls
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/heads/base_head.py
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/action_classification/heads/x3d_head.py
  src/otx/algo/action_classification/mmconfigs/movinet.yaml
  src/otx/algo/action_classification/mmconfigs/x3d.yaml
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/recipe/action_classification/x3d.yaml
Labels: OTX 2.0

temp
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/algo/action_classification/recognizers/recognizer.py
Labels: OTX 2.0

decouple data pipeline
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/entity/action_classification.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/action_classification/movinet.yaml
Labels: OTX 2.0

fix integ tests
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/algo/action_classification/x3d.py
  src/otx/core/model/action_classification.py
  src/otx/recipe/action_classification/openvino_model.yaml
Labels: OTX 2.0

add more comments
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/backbones/__init__.py
  src/otx/algo/action_classification/backbones/movinet.py
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/heads/__init__.py
  src/otx/algo/action_classification/heads/base_head.py
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/action_classification/heads/x3d_head.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/algo/action_classification/utils/data_preprocessor.py
  src/otx/algo/action_classification/utils/data_sample.py
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0

remove action data sample
  src/otx/algo/action_classification/heads/base_head.py
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/algo/action_classification/utils/data_preprocessor.py
  src/otx/algo/action_classification/utils/data_sample.py
  src/otx/algo/action_classification/x3d.py
  src/otx/core/model/action_classification.py
Labels: OTX 2.0

update perf test action
  tests/perf/test_action.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
