Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Replace mmdet modules to otx
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Fix inst seg error and add unit test for TaskLevelExportParameters
  src/otx/core/types/export.py
  tests/unit/core/types/conftest.py
  tests/unit/core/types/test_export.py
  tests/unit/core/types/test_label.py
Labels: OTX 2.0, TEST

Fix reference info path for zero-shot learning (#3265)
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/entity/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: OTX 2.0, TEST

disable scheduler HPO
  src/otx/engine/hpo/hpo_api.py
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST

Temporary fix for jsonargparse issue on Python3.11.9 (#3291)
  .github/workflows/pre_merge.yaml
Labels: BUILD

Temporary fix for jsonargparse issue on Python3.11.9 for release branch (#3294)
  .github/workflows/pre_merge.yaml
Labels: BUILD

Remove torch.xpu.optimize for semantic_segmentation task (#3172)
  src/otx/algorithms/segmentation/adapters/mmseg/apis/train.py
Labels: OTX 2.0

Update previously implemented transforms not to use torchvision things
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
Labels: OTX 2.0

add cross-entropy loss
  src/otx/algo/detection/losses/cross_entropy_loss.py
Labels: OTX 2.0

Add `Resize` and related functions & Update tests
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/data/transform/__init__.py
  tests/unit/core/data/transform/test_detection.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

style changes
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/instance_segmentation/mmdet/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/base_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/base_dense_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/sampling_result.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
Labels: OTX 2.0

add functionality to export during oprimization
  MANIFEST.in
  docs/source/guide/tutorials/base/export.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/LICENSE
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC, BUILD

fix test. Remove additional parameter
  src/otx/core/exporter/base.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/engine/engine.py
Labels: OTX 2.0

minor fix
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
Labels: DOC

Enable training on XPU devices in OTX2.0 (#3094)
  src/otx/algo/__init__.py
  src/otx/algo/accelerators/__init__.py
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/plugins/__init__.py
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/strategies/__init__.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/cli/install.py
  src/otx/core/types/device.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/unit/algo/accelerators/__init__.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/utils/__init__.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/algo/plugins/__init__.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/__init__.py
  tests/unit/algo/strategies/test_strategies.py
Labels: OTX 2.0, TEST

Add exporter/demo unit tests (#3218)
  src/otx/core/exporter/exportable_code/demo/demo_package/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/synchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/vis_utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
Labels: OTX 2.0, TEST

Remove Draem + fix tests
  MANIFEST.in
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/LICENSE
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
  tests/e2e/cli/test_cli.py
Labels: OTX 2.0, TEST, BUILD

Add tests
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Fix pre-commit
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

Omit extra changes
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
Labels: OTX 2.0

fix unit test
  tests/unit/engine/test_engine.py
Labels: TEST

mypy changes and style changes
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/focal_loss.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/iou2d_calculator.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/max_iou_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/delta_xywh_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/base_boxes.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/bbox_overlaps.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/box_type.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/horizontal_boxes.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/structures.py
Labels: OTX 2.0

Extend exportable code (#3284)
  MANIFEST.in
  docs/source/guide/tutorials/base/export.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/LICENSE
  src/otx/core/exporter/exportable_code/demo/README.md
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC, BUILD

Update documentation
  develop/_modules/otx/core/exporter/base.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/engine/engine.html
  develop/_sources/guide/tutorials/base/export.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/classification.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/detection.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/instance_segmentation.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/semantic_segmentation.rst.txt
  develop/guide/reference/_autosummary/otx.engine.html
  develop/guide/tutorials/base/export.html
  develop/guide/tutorials/base/how_to_train/classification.html
  develop/guide/tutorials/base/how_to_train/detection.html
  develop/guide/tutorials/base/how_to_train/instance_segmentation.html
  develop/guide/tutorials/base/how_to_train/semantic_segmentation.html
  develop/searchindex.js
Labels: none

fix bug
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
Labels: OTX 2.0

align with pre-commit
  src/otx/algo/strategies/xpu_single.py
Labels: OTX 2.0

Add perf benchmark test cases for action and visual prompting v1 (#3292)
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
  tests/perf/test_action.py
  tools/experiment.py
Labels: TEST, BUILD

Fix cross group average
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Update history
  tests/perf/__init__.py
  tests/perf/conftest.py
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.0/perf-benchmark-raw-all.csv
  tests/perf/history/v1.5.1/perf-benchmark-ano.csv
  tests/perf/history/v1.5.1/perf-benchmark-cls.csv
  tests/perf/history/v1.5.1/perf-benchmark-det.csv
  tests/perf/history/v1.5.1/perf-benchmark-isg.csv
  tests/perf/history/v1.5.1/perf-benchmark-ssg.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST

Add perf benchamrk history data
  benchmark-history.ipynb
  tests/perf/history/summary.ipynb
  tests/perf/history/v1.4.5/perf-benchmark-cls.csv
  tests/perf/history/v1.4.5/perf-benchmark-ssg.csv
  tests/perf/history/v1.5.1/perf-benchmark-ano.csv
  tests/perf/history/v1.5.1/perf-benchmark-cls.csv
  tests/perf/history/v1.5.1/perf-benchmark-det.csv
  tests/perf/history/v1.5.1/perf-benchmark-isg.csv
  tests/perf/history/v1.5.1/perf-benchmark-ssg.csv
  tests/perf/history/v1.6.0/perf-benchmark-ano.csv
  tests/perf/history/v1.6.0/perf-benchmark-cls.csv
  tests/perf/history/v1.6.0/perf-benchmark-det.csv
  tests/perf/history/v1.6.0/perf-benchmark-isg.csv
  tests/perf/history/v1.6.0/perf-benchmark-ssg.csv
Labels: TEST

Check with right seed average
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/summary.py
Labels: TEST

Refactor summary.average()
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Add benchmark history summary workflow
  .github/workflows/perf_benchmark.yaml
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST, BUILD

Support optional excel output
  tests/perf/conftest.py
Labels: TEST

Add graph plot
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Update v1.6 & v2.0 history
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.6.0/perf-benchmark-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-ano.csv
  tests/perf/history/v1.6.0/perf-benchmark-cls.csv
  tests/perf/history/v1.6.0/perf-benchmark-det.csv
  tests/perf/history/v1.6.0/perf-benchmark-isg.csv
  tests/perf/history/v1.6.0/perf-benchmark-ssg.csv
  tests/perf/history/v2.0.0/perf-benchmark-all.csv
Labels: TEST

Refine graph
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Add summary notebook draft
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Support xlsx summary
  pyproject.toml
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.4.5/perf-benchmark-cls.csv
  tests/perf/history/v1.4.5/perf-benchmark-ssg.csv
Labels: TEST, BUILD, DEPENDENCY

Update v1.5 history data
  tests/perf/history/v1.5.0/perf-benchmark-raw-all.csv
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
Labels: TEST
