Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Fix unlabeled_coef
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/core/model/classification.py
Labels: OTX 2.0

update
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Enable using pre-assigned nn.Module
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_conv_module.py
  tests/unit/algo/modules/test_norm.py
Labels: OTX 2.0, TEST

Update head and h-label format for hierarchical label classification (#3810)
  CHANGELOG.md
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/core/data/dataset/classification.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST, DOC

Fix tv model loss scale
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

removed repeated pretrained kw
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

update
  src/otx/algo/instance_segmentation/mask_dino/box_ops.py
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/algo/instance_segmentation/mask_dino/matcher.py
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

add pixel encoders and transformer encoders
  src/otx/algo/instance_segmentation/mask_dino/box_ops.py
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/matcher.py
  src/otx/algo/instance_segmentation/mask_dino/misc.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/functions/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/functions/ms_deform_attn_func.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/make.sh
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/ms_deform_attn.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/setup.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cpu/ms_deform_attn_cpu.cpp
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cpu/ms_deform_attn_cpu.h
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cuda/ms_deform_attn_cuda.cu
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cuda/ms_deform_attn_cuda.h
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cuda/ms_deform_im2col_cuda.cuh
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/ms_deform_attn.h
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/vision.cpp
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/test.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/utils.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

update
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/misc.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/functions/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/functions/ms_deform_attn_func.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/ms_deform_attn.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/setup.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/test.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/utils.py
  src/otx/recipe/instance_segmentation/config.yaml
Labels: OTX 2.0

format update
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/functions/ms_deform_attn_func.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/ms_deform_attn.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/setup.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/test.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/recipe/instance_segmentation/config.yaml
Labels: OTX 2.0

reformat
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/ms_deform_attn.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/test.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Refactor torchvision models
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/torchvision.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/h_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/h_label_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_label_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_label_cls/tv_mobilenet_v3_small.yaml
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC

SegNExt refactored
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Fix
  src/otx/algo/common/backbones/resnet.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

add checkpoint loader
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

Enable `partial(build_norm_layer, ...)`
  src/otx/algo/modules/norm.py
Labels: OTX 2.0

Reduce redundant parameters
  src/otx/algo/visual_prompting/decoders/sam_mask_decoder.py
  src/otx/algo/visual_prompting/encoders/sam_prompt_encoder.py
  src/otx/algo/visual_prompting/segment_anything.py
Labels: OTX 2.0

Rename `backbone` to `backbone_type`
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

Set `load_from` dict as class var
  src/otx/algo/visual_prompting/segment_anything.py
Labels: OTX 2.0

update h-label head
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
Labels: OTX 2.0, TEST

Divide nn.Module from OTXModel
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/sam.py
  src/otx/algo/visual_prompting/visual_prompters/__init__.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  tests/unit/algo/visual_prompting/test_segment_anything.py
Labels: OTX 2.0, TEST

Fix unit test
  src/otx/algo/modules/norm.py
Labels: OTX 2.0

add custom forward
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/types/label.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

refactoring semantic seg
  src/otx/algo/segmentation/backbones/__init__.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/modules/__init__.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
  tests/unit/algo/segmentation/modules/__init__.py
  tests/unit/algo/segmentation/modules/test_blokcs.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
Labels: OTX 2.0, TEST

unit tests are not working
  src/otx/algo/segmentation/dino_v2_seg.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_segnext.py
Labels: OTX 2.0, TEST

Fix in_features found way
  src/otx/algo/classification/backbones/torchvision.py
Labels: OTX 2.0

Revert "Disable to download pretrained weights"
  src/otx/algo/common/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Refactor H-label side
  src/otx/algo/classification/classifier/h_label_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/heads/test_hlabel_cls_head.py
Labels: OTX 2.0, TEST

Fix to use `models_cache_root`
  src/otx/algo/common/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

Fix typo
  tests/unit/algo/detection/heads/test_rtmdet_head.py
Labels: TEST

Remove regacy code
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

Fix unit test
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Fix unit test
  tests/unit/algo/modules/test_norm.py
  tests/unit/cli/test_cli.py
Labels: TEST

Update DataModuleConfig docs
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/class_incremental_sampler.rst
  docs/source/guide/explanation/additional_features/fast_data_loading.rst
  docs/source/guide/explanation/additional_features/tiling.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/advanced/semi_supervised_learning.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
Labels: DOC

Fix typo
  docs/source/guide/explanation/additional_features/tiling.rst
Labels: DOC

Restore `build_activation_layer` and update `ConvModule` to use preassigned module
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_activation.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

Update the default path of downloaded pretrained weights from pytorchcv (#3837)
  src/otx/algo/common/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

Update to use `build_activation_layer`
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/modules/activation.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/segmentation/modules/blocks.py
Labels: OTX 2.0

Fix
  tests/unit/cli/test_cli.py
Labels: TEST
