Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

WIP
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/utils/swiglu_ffn.py
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/backbones/pytorchcv_backbones.py
  src/otx/algo/common/backbones/resnet.py
  src/otx/algo/common/backbones/resnext.py
  src/otx/algo/common/layers/res_layer.py
  src/otx/algo/common/layers/spp_layer.py
Labels: OTX 2.0

Update `activation_callable` docstring
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/transformer.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/heads/base_segm_head.py
Labels: OTX 2.0

Update `CHANGELOG`
  CHANGELOG.md
Labels: DOC

Refactor classification
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/classification/classifier/__init__.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/classifier/h_label_classifier.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/utils/ignored_labels.py
  src/otx/algo/classification/vit.py
  src/otx/engine/engine.py
Labels: OTX 2.0

revert data module policy to apply input_size to subset cfg
  src/otx/core/data/module.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/_base_/data/torchvision_semisl.yaml
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  tests/unit/core/data/test_module.py
Labels: OTX 2.0, TEST

Add Loss scale
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/classifier/h_label_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/heads/vision_transformer_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

fix unit-tests
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/heads/test_multilabel_cls_head.py
  tests/unit/algo/classification/heads/test_semi_sl_head.py
Labels: TEST

Update cache directory for loading pretrained weights (Semantic Segmentation) (#3828)
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/utils/mmengine_utils.py
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
Labels: OTX 2.0, TEST

fix unit-tests
  tests/unit/algo/classification/heads/test_semi_sl_head.py
Labels: TEST

revert keypoint detection
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
Labels: OTX 2.0

minor
  src/otx/algo/segmentation/segmentors/mean_teacher.py
Labels: OTX 2.0

add comments to explain a reason of priority in compute_robust_dataset_statistics
  src/otx/core/data/utils/utils.py
Labels: OTX 2.0

add integration test
  tests/integration/cli/test_cli.py
Labels: TEST

Fix tests
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Anomaly Classification -> Anomaly
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/test_anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST, DOC

minor fixes
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

commit tox
  tox.ini
Labels: BUILD

Add Anomaly alias
  src/otx/algorithms/anomaly/configs/anomaly/padim/__init__.py
  src/otx/algorithms/anomaly/configs/anomaly/padim/compression_config.json
  src/otx/algorithms/anomaly/configs/anomaly/padim/configuration.py
  src/otx/algorithms/anomaly/configs/anomaly/padim/configuration.yaml
  src/otx/algorithms/anomaly/configs/anomaly/padim/ptq_optimization_config.py
  src/otx/algorithms/anomaly/configs/anomaly/padim/template.yaml
  src/otx/algorithms/anomaly/configs/anomaly/stfpm/__init__.py
  src/otx/algorithms/anomaly/configs/anomaly/stfpm/compression_config.json
  src/otx/algorithms/anomaly/configs/anomaly/stfpm/configuration.py
  src/otx/algorithms/anomaly/configs/anomaly/stfpm/configuration.yaml
  src/otx/algorithms/anomaly/configs/anomaly/stfpm/hpo_config.yaml
  src/otx/algorithms/anomaly/configs/anomaly/stfpm/template.yaml
  src/otx/api/entities/label.py
  src/otx/api/entities/model_template.py
  src/otx/api/usecases/exportable_code/demo/demo_package/model_container.py
  src/otx/cli/manager/config_manager.py
  src/otx/cli/tools/build.py
  src/otx/cli/tools/find.py
  src/otx/cli/tools/utils/demo/visualization.py
  src/otx/cli/utils/hpo.py
  tests/perf/test_anomaly.py
  tests/unit/algorithms/anomaly/adapters/callbacks/test_inference_callback.py
  tests/unit/algorithms/anomaly/adapters/data/test_dataset.py
  tests/unit/algorithms/anomaly/conftest.py
  tests/unit/algorithms/anomaly/tasks/test_inference.py
  tests/unit/algorithms/anomaly/tasks/test_openvino.py
  tests/unit/api/entities/test_model_template.py
  tests/unit/cli/utils/test_hpo.py
  tests/unit/core/data/test_helpers.py
Labels: OTX 2.0, TEST

Fix vpt uts
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Fix ruff in uts
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

added protohead. Benchmark is going
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/__init__.py
  src/otx/algo/segmentation/heads/prototype_net.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/losses/pixel_prototype_loss.py
  src/otx/algo/segmentation/modules/utils.py
  src/otx/algo/segmentation/segmentors/mean_teacher.py
  src/otx/algo/segmentation/segnext.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  tests/perf/test_semantic_segmentation.py
Labels: OTX 2.0, TEST

Update fuzzing (#3829)
  pyproject.toml
  src/otx/cli/utils/installation.py
  tests/fuzzing/assets/cli/commands.dict
  tests/fuzzing/cli_fuzzing.py
  tests/fuzzing/eval_fuzzing_crash.py
  tox.ini
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update pip update config to exclude base dependencies (#3814)
  .github/dependabot.yaml
Labels: BUILD

update unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Update documentation
  develop/_modules/otx/cli/utils/installation.html
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update pyproject.toml
  pyproject.toml
Labels: BUILD, DEPENDENCY

apply input_size to anomaly task
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

update docstring
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Fix Loss reduction settings
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Revert unnecessary change
  src/otx/algo/classification/heads/multilabel_cls_head.py
Labels: OTX 2.0

remove unused comment
  src/otx/cli/cli.py
Labels: OTX 2.0

Update pyproject.toml
  pyproject.toml
Labels: BUILD, DEPENDENCY

re-enable anomaly integration test
  tests/integration/cli/test_cli.py
Labels: TEST

apply configurable input size to keypoint detection
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/algo/keypoint_detection/utils/simcc_label.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/keypoint_detection.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
Labels: OTX 2.0

Disable to download pretrained weights
  src/otx/algo/common/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

update unit test
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/utils/test_simcc_label.py
Labels: TEST

update unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Add unit-tests
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/classifier/h_label_classifier.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/classifier/test_semi_sl_classifier.py
Labels: OTX 2.0, TEST

Rename OTX*Head to *Head
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/classifier/test_semi_sl_classifier.py
  tests/unit/algo/classification/heads/test_semi_sl_head.py
  tests/unit/algo/classification/test_torchvision_model.py
Labels: OTX 2.0, TEST
