Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Update vpm data pipeline (#3725)
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/_base_/data/zero_shot_visual_prompting.yaml
  src/otx/recipe/visual_prompting/openvino_model.yaml
  tests/unit/core/data/transform_libs/test_utils.py
Labels: OTX 2.0, TEST

update trivy scanning job
  .ci/trivy-json.yaml
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

Update recipe
  src/otx/recipe/detection/openvino_model.yaml
Labels: OTX 2.0

WIP
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update trivy scanning job (#3733)
  .ci/trivy-json.yaml
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

Add support for points in `NumpytoTVTensorMixin`
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

add unit test
  tests/unit/algo/common/utils/test_nms.py
Labels: TEST

fix typo
  tests/unit/algo/common/utils/test_nms.py
Labels: TEST

Fix detection integration test (#3734)
  src/otx/recipe/detection/openvino_model.yaml
Labels: OTX 2.0

Disable mixed preicision to NMS on CPU (#3727)
  src/otx/algo/common/utils/nms.py
  tests/unit/algo/common/utils/test_nms.py
Labels: OTX 2.0, TEST

Refactoring
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

add groups setting to create single PR for each group
  .github/dependabot.yaml
Labels: BUILD

Enable to automatically set `border` in `RandomAffine`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Enable to automatically set `mosaic_size` in `CachedMosaic`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Enable to automatically set `mixup_size` in `CachedMixUp`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

replace with suffix
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

update vit with timm
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

replacement with timm vit
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

refactor vit
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

fix explain for vit
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

add unit test
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: OTX 2.0, TEST

add v1 checkponit loader
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

tmp
  src/otx/algo/classification/backbones/vision_transformer.py
Labels: OTX 2.0

enable more models
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
Labels: OTX 2.0, TEST

lora arg
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
Labels: OTX 2.0

tmp2
  src/otx/algo/classification/backbones/vision_transformer.py
Labels: OTX 2.0

restore
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

restore pretrained weight
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Enable integration test at pre-merge workflow (#3732)
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

Enable direct export of VIT
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

update recipes
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
  tests/perf/test_detection.py
Labels: OTX 2.0, TEST

Add groups setting to create single PR for each group (#3735)
  .github/dependabot.yaml
Labels: BUILD

draft implementation
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Enable to automatically set `pad_size` in `Pad`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Update conditions and tests
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

remove optimizer in stfpm recipe
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Add LoRA option for VisionTransformer (#3729)
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
Labels: OTX 2.0

change run-on target to aws ci for e2e
  .github/workflows/daily.yaml
  .github/workflows/pre_merge.yaml
Labels: BUILD

remove on-push event to prepare merge queue enablement
  .github/workflows/pre_merge.yaml
Labels: BUILD

add ready-for-review event
  .github/workflows/pre_merge.yaml
Labels: BUILD
