Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Re-align from_model_name in Engine
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

- add CHANGELOG.md - fix utf-8 encoding issue - update badges in README.md
  CHANGELOG.md
  README.md
  pyproject.toml
Labels: DOC, BUILD, DEPENDENCY

bump mlflow to 2.11.1
  .github/dependabot.yaml
  .github/workflows/pre_merge.yaml
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  for_developers/requirements-lock.txt
Labels: DOC, BUILD

Bump mlflow to 2.11.1 (#3131)
  .github/dependabot.yaml
  .github/workflows/pre_merge.yaml
  for_developers/regression_test/requirements.in
  for_developers/regression_test/requirements.txt
  for_developers/requirements-lock.txt
Labels: DOC, BUILD

Remove duplicate file
  tests/unit/algo/segmentation/backbones/litehrnet.py
Labels: TEST

Reflect reviews
  tests/unit/algo/classification/test_deit_tiny.py
Labels: TEST

Add unit tests under otx.algo
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/utils/test_segmentation.py
Labels: TEST

Add docstring examples and modify error msg
  src/otx/engine/engine.py
Labels: OTX 2.0

Refactoring for zero-shot standalone usecase (#3132)
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/visual_prompting/openvino_model.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/cli/test_export_inference.py
  tests/regression/test_regression.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
Labels: OTX 2.0, TEST

Initial commit
  .gitignore
  docs/utils/auto_sphinx_build_for_vscode.py
Labels: DOC

Update documentation
  develop/_modules/otx/algo/visual_prompting/zero_shot_segment_anything.html
  develop/_modules/otx/core/data/entity/visual_prompting.html
  develop/_modules/otx/core/model/entity/visual_prompting.html
  develop/_modules/otx/core/model/module/visual_prompting.html
  develop/guide/reference/_autosummary/otx.algo.visual_prompting.html
  develop/guide/reference/_autosummary/otx.algo.visual_prompting.zero_shot_segment_anything.html
  develop/searchindex.js
Labels: none

Update docs/utils/auto_sphinx_build_for_vscode.py
  docs/utils/auto_sphinx_build_for_vscode.py
Labels: DOC

Fix precommit
  docs/utils/auto_sphinx_build_for_vscode.py
Labels: DOC

Change the name
  docs/utils/auto_sphinx_build.py
Labels: DOC

Add __CURRENT_BRANCH_COMMIT__ flag to select default otx-ref
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
Labels: TEST, BUILD

Update perf summary
  tests/perf/benchmark.py
Labels: TEST

Ignore MLFlow logging failure
  tests/perf/conftest.py
Labels: TEST

Support 'otx-ref' test independent from current branch
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
Labels: TEST, BUILD

Rename data_size -> data_group
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST, BUILD

Support perf reference checking
  pyproject.toml
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
Labels: TEST, BUILD, DEPENDENCY

Fix xml name edge case for visual prompting
  tests/perf/benchmark.py
Labels: TEST

Add raw data csv
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
Labels: TEST

Add perf reference from v1.6
  tests/perf/benchmark-reference.csv
Labels: TEST

Fix wrong ov datamodule update
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Fix pre-commit
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

Fix summary files & mlflow
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tox.ini
Labels: TEST, BUILD

Fix pre-commit
  tests/perf/benchmark.py
Labels: TEST

Add Geti config converter
  src/otx/cli/convert.py
Labels: OTX 2.0

Add from_model_name in Engine (#3129)
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/engine/engine.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.engine.engine.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Fix tiler config
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Add unit tests under otx.algo (#3127)
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/utils/test_segmentation.py
Labels: TEST

Align summary report with v2
  .github/workflows/perf_benchmark.yaml
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tox.ini
Labels: TEST, BUILD

revert deleting trademark charaters on project description
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix minor
  tests/perf/conftest.py
Labels: TEST

Add weekly workflow for perf benchmark
  .github/workflows/weekly.yaml
Labels: BUILD

Fix pre-commit
  tests/perf/conftest.py
Labels: TEST

domain=rotated_detection in tile_pipeline
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

added 2 more datasets for benchmarking
  tests/perf/test_semantic_segmentation.py
Labels: TEST

delete perf check
  tests/perf/test_semantic_segmentation.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
