Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

skip yolox-tiny-tile xai test
  tests/integration/api/test_xai.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/utils/test_utils.py
Labels: TEST

Refactor TVModel for classification
  src/otx/algo/classification/torchvision_model.py
  src/otx/recipe/_base_/data/torchvision_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small_semisl.yaml
Labels: OTX 2.0

Fix unit-test
  tests/unit/algo/classification/test_torchvision_model.py
Labels: TEST

Added descriptions to multi-label-classification
  notebooks/002_multi_label_classification.ipynb
Labels: none

Added description to detection notebook
  notebooks/003_detection.ipynb
Labels: none

add description to segmentation notebook
  notebooks/004_segmentation.ipynb
Labels: none

Add tests
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/config/explain.py
  src/otx/engine/engine.py
  tests/unit/algo/explain/test_saliency_map_processing.py
Labels: OTX 2.0, TEST

Fix integration tests
  tests/integration/api/test_xai.py
Labels: TEST

Fix unit-test-2
  src/otx/algo/classification/torchvision_model.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

update tpp
  third-party-programs.txt
Labels: DOC

split integration test to two groups
  .github/workflows/pre_merge.yaml
Labels: BUILD

Fix XAI with TVModel
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

make semi-sl dino support pickle
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/utils/utils.py
Labels: OTX 2.0

Update tpp file (#3616)
  third-party-programs.txt
Labels: DOC

RTMDet-tiny enablement for detection task (export/optimize) (#3564)
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/utils/utils.py
  src/otx/core/model/detection.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
Labels: none

Remove mm in tests/conftest
  tests/conftest.py
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

Add decord dependency
  pyproject.toml
Labels: BUILD, DEPENDENCY

Revisit Notebook examples
  notebooks/001_zero_shot_visual_prompting.ipynb
  notebooks/002_multi_label_classification.ipynb
  notebooks/003_detection.ipynb
  notebooks/004_segmentation.ipynb
  notebooks/005_instance_segmentation.ipynb
  notebooks/utils/download.py
  notebooks/utils/io.py
  src/otx/cli/utils/installation.py
Labels: OTX 2.0

Fix mmengine imports
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Revert action intg test
  tox.ini
Labels: BUILD

Fix comments
  src/otx/algo/utils/xai_utils.py
  src/otx/core/config/explain.py
  src/otx/engine/engine.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

Various fixes for XAI in 2.1 (#3615)
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/config/explain.py
  src/otx/engine/engine.py
  tests/integration/api/test_xai.py
  tests/unit/algo/explain/test_saliency_map_processing.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/config/explain.html
  develop/_modules/otx/engine/engine.html
  develop/guide/reference/_autosummary/otx.core.config.explain.html
  develop/searchindex.js
Labels: none

fix data pipeline
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/deployment.py
Labels: OTX 2.0

Fix input name for ZSL wrapper
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix merge artifacts
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Cleanup
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Adapt ZSL optimize to MAPI
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix some if-else statement
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

Fix rotated detection data pipeline (#3627)
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/data_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/deployment.py
Labels: OTX 2.0

Update checkpoint url
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Remove mm in tests/conftest (#3618)
  pyproject.toml
  src/otx/core/data/transform_libs/torchvision.py
  tests/conftest.py
  tests/integration/conftest.py
  tox.ini
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update documentation
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.utils.mask_util.html
  develop/guide/reference/_autosummary/otx.core.utils.tile_merge.html
Labels: none

Update RTMDet checkpoint url (#3631)
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Refactor Torchvision Model for Classification Semi-SL (#3614)
  src/otx/algo/classification/torchvision_model.py
  src/otx/recipe/_base_/data/torchvision_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small_semisl.yaml
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

Decouple mmengine in torchvision
  src/otx/core/data/transform_libs/torchvision.py
  tox.ini
Labels: OTX 2.0, BUILD

Remove io_backend in DecordInit
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Add filtering outputs by threshold
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

update instance segmentation
  notebooks/005_instance_segmentation.ipynb
Labels: none
