Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

chagne device for unit test
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
Labels: TEST

Fixes from comments
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/torchvision_model.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

continue developing SegNext model
  src/otx/algo/segmentation/heads/__init__.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/utils/__init__.py
  src/otx/algo/utils/segmentation.py
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
Labels: OTX 2.0

add deployment files
  src/otx/algo/detection/heads/custom_anchor_generator.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmdet/deployment.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
Labels: OTX 2.0

remove deployment from inst-seg
  src/otx/algo/instance_segmentation/mmdet/deployment.py
Labels: OTX 2.0

Always use torchvision in MRCNN
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
Labels: OTX 2.0

Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD

Update IPEX version in installation guide documentation for OTX1.6 (#3343)
  docs/source/guide/get_started/installation.rst
Labels: DOC

Update IPEX version in installation guide documentation (#3342)
  docs/source/guide/get_started/installation.rst
Labels: DOC

Update documentation
  develop/_sources/guide/get_started/installation.rst.txt
  develop/guide/get_started/installation.html
  develop/searchindex.js
Labels: none

Refactor model export part 2: Add a dedicated forward function for model export (#3317)
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/exporter/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/classification/otx_dino_v2.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/exporter/base.html
  develop/_modules/otx/core/exporter/mmdeploy.html
  develop/_modules/otx/core/exporter/native.html
  develop/_modules/otx/core/exporter/visual_prompting.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/utils/mmpretrain.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.classification.html
  develop/guide/reference/_autosummary/otx.core.exporter.base.html
  develop/guide/reference/_autosummary/otx.core.exporter.mmdeploy.html
  develop/guide/reference/_autosummary/otx.core.exporter.native.html
  develop/guide/reference/_autosummary/otx.core.exporter.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.classification.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.utils.mmpretrain.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Revisit forward_tracing
  src/otx/algo/classification/efficientnet_v2_test.py
Labels: OTX 2.0

pin artifact download action on perf-benchmark wf
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Add SchedulerCallableSupportHPO (#3334)
  src/otx/core/model/base.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/__init__.py
  src/otx/core/schedulers/callable.py
  src/otx/core/schedulers/warmup_schedulers.py
  tests/unit/core/optimizer/test_callable.py
  tests/unit/core/schedulers/test_callable.py
  tests/unit/core/schedulers/test_warmup_schedulers.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/schedulers/callable.html
  develop/_modules/otx/core/schedulers/warmup_schedulers.html
  develop/_sources/guide/reference/_autosummary/otx.core.schedulers.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.optimizer.html
  develop/guide/reference/_autosummary/otx.core.schedulers.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update CODEOWNERS (#3341)
  .github/CODEOWNERS
Labels: BUILD

Pin artifact download action on perf-benchmark wf (#3348)
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Update TODO comments
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/entity/test_base.py
Labels: OTX 2.0, TEST

Decouple detection data pipeline from mmdet (#3253)
  pyproject.toml
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

re-org deps for ci and pin deps for benchmark workflow
  .ci/requirements/benchmark/requirements.in
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/piptools/requirements.in
  .ci/requirements/piptools/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.in
  .ci/requirements/tox/requirements.txt
  .github/dependabot.yaml
  .github/workflows/code_scan.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  docker/Dockerfile.cuda
Labels: BUILD

🗑️ Remove Draem (#3345)
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/utils/images/draem.png
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
Labels: OTX 2.0, DOC

Update documentation
  develop/_images/draem.png
  develop/_sources/guide/explanation/algorithms/anomaly/index.rst.txt
  develop/guide/explanation/algorithms/anomaly/index.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Refactor sources
  pyproject.toml
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/action_detection/x3d_fastrcnn.py
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/cli/cli.py
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/optimizer/callable.py
  src/otx/core/types/label.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/tools/converter.py
  src/otx/utils/utils.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Fix tests
  tests/conftest.py
  tests/unit/algo/action_classification/test_movinet.py
  tests/unit/algo/action_classification/test_x3d.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/visual_prompting/test_segment_anything.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/cli/test_cli.py
  tests/unit/core/conftest.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/core/optimizer/test_callable.py
  tests/unit/core/types/test_label.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

Fix cli install error
  src/otx/cli/cli.py
Labels: OTX 2.0

update deployment
  src/otx/algo/detection/deployment.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_r50.yaml
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
Labels: OTX 2.0

hotfix
  src/otx/algorithms/detection/adapters/openvino/task.py
Labels: OTX 2.0

Fix
  src/otx/core/model/anomaly.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST

Fix spatial resolution for saliency_maps in torchvision_models (#3336)
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  tests/integration/api/test_xai.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/utils/mmpretrain.html
Labels: none

Reduce scope of torchvision det ops
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
Labels: OTX 2.0

Re-enable sseg e2e
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
Labels: TEST

Properly disable NNCF tests for segm on XPU
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
Labels: TEST

[Hotfix] :fire: Fixing detection oriented OV inferencer (#3351)
  src/otx/algorithms/detection/adapters/openvino/task.py
Labels: OTX 2.0

Add RandomResizedCrop
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Replace recipes
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/otx_efficientnet_v2.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/efficientnet_v2_test.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2_light.yaml
Labels: OTX 2.0

Remove comments
  src/otx/algo/classification/backbones/timm.py
Labels: OTX 2.0

Fix api usage in XAI test
  tests/integration/api/detection/api_detection.py
Labels: TEST

Apply https://github.com/openvinotoolkit/training_extensions/pull/3265
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
