Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

use with device
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

style change
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

skip if cuda unavailable
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

restyle
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

Update unit tests
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/core/conftest.py
  tests/unit/core/exporter/__init__.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/entity/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: TEST

Update
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
Labels: OTX 2.0

alter way to test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

try input to cpu
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

update custom rtmdet ins head
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

fix test
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: OTX 2.0, TEST

move tiling test from integration to unit
  tests/unit/core/data/test_tiling.py
Labels: TEST

fix test path
  tests/unit/core/data/test_tiling.py
Labels: TEST

added unit tests and replied comments
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/unit/algo/detection/utils/__init__.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
Labels: OTX 2.0, TEST

fix pre-commit
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
Labels: OTX 2.0, TEST

minor fix
  src/otx/engine/engine.py
Labels: OTX 2.0

added documentation
  docs/source/guide/get_started/installation.rst
Labels: DOC

fix unit test
  src/otx/engine/engine.py
  src/otx/utils/utils.py
Labels: OTX 2.0

add workaround for semantic segmentation
  src/otx/engine/engine.py
  src/otx/utils/utils.py
Labels: OTX 2.0

remove RoiAlignTest due to unstability
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
Labels: TEST

minor
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
Labels: TEST

fix pre-commit
  src/otx/algorithms/segmentation/adapters/mmseg/apis/train.py
Labels: OTX 2.0

remove strategy back
  src/otx/engine/engine.py
Labels: OTX 2.0

remove torch.optimize
  src/otx/algorithms/segmentation/adapters/mmseg/apis/train.py
Labels: OTX 2.0

precommit
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: TEST

Add intro update
  docs/source/_static/redirects/guide-homepage-redirect.html
  docs/source/guide/explanation/additional_features/class_incremental_sampler.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/index.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/index.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/index.rst
Labels: DOC

Update test_openvino_model.py
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: TEST

Add anomaly perf benchmark tests (#3170)
  .github/workflows/perf_benchmark.yaml
  .github/workflows/weekly.yaml
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST, BUILD

Update test_otx_model.py
  tests/unit/algo/anomaly/test_otx_model.py
Labels: TEST

Add unit tests for otx.core.data (#3167)
  src/otx/core/data/pre_filtering.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/test_pre_filtering.py
  tests/unit/core/data/test_transform_libs.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Update visual prompting unit tests & documentations (#3165)
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/visual_prompting/openvino_model.yaml
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/core/conftest.py
  tests/unit/core/exporter/__init__.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/entity/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: OTX 2.0, TEST, DOC

🐞 Add metrics to openvino model (#3163)
  src/otx/algo/anomaly/openvino_model.py
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/assets/dummy.bin
  tests/unit/algo/anomaly/assets/dummy.xml
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: OTX 2.0, TEST

update otx version to 1.5.2
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update CHANGELOG.md
  CHANGELOG.md
Labels: DOC

Fix side bar
  docs/source/_static/redirects/guide-homepage-redirect.html
  docs/source/guide/get_started/index.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/index.rst
  docs/source/index.rst
Labels: DOC

Fix index
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/base/explain.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/index.rst
Labels: DOC

Add unit-test for algo/classification
  src/otx/algo/classification/backbones/otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/core/model/module/test_classification.py
  tests/unit/utils/build_mm_model.py
Labels: OTX 2.0, TEST

Fix intro
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
Labels: DOC

Add PTQ and update docs for Action Classification (#3173)
  docs/source/guide/explanation/algorithms/action/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  src/otx/algo/action_classification/openvino_model.py
  src/otx/core/model/entity/action_classification.py
  src/otx/core/model/entity/base.py
  src/otx/recipe/action/action_classification/openvino_model.yaml
Labels: OTX 2.0, DOC

Add algo/detection unit-tests
  src/otx/algo/detection/losses/cross_focal_loss.py
  tests/unit/algo/detection/losses/__init__.py
  tests/unit/algo/detection/losses/test_cross_focal_loss.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST

Fix precommit
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/core/model/module/test_classification.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
