Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Pre-commit
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST

udpate
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/assign_result.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/iou2d_calculator.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/max_iou_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/delta_xywh_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/base_dense_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/prior_generators/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/prior_generators/anchor_generator.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/base_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/pseudo_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/random_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/sampling_result.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/typing_utils.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/util_random.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/__init__.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/bbox_overlaps.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/structures.py
Labels: OTX 2.0

Initialization update
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

fix unit test
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_vis_utils.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
Labels: TEST

fix pre-commit
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/utils/segmentation.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/exporter/test_base.py
Labels: OTX 2.0, TEST

test_precommit
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/utils/segmentation.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/exporter/test_base.py
Labels: OTX 2.0, TEST

fix pre-commit 2
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/utils/segmentation.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
Labels: OTX 2.0, TEST

fix test_postprocess_openvino_model
  tests/unit/core/exporter/test_base.py
Labels: TEST

fix unit tests
  tests/unit/core/exporter/test_base.py
Labels: TEST

fix e2e tests
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_classification_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_stfpm/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficientNet-V2-S/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_EfficinetNet-B0/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_MobileNet-V3-large-1x/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_Gen3_SSD/compressed_model.yml
  tests/e2e/cli/detection/reference/Custom_Object_Detection_YOLOX/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_ResNeXt101_ATSS/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_L/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_S/compressed_model.yml
  tests/e2e/cli/detection/reference/Object_Detection_YOLOX_X/compressed_model.yml
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ConvNeXt/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_EfficientNetB2B/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_SwinT_FP16/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-18_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-s-mod2_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_Lite-HRNet-x-mod3_OCR/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_B/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_s/compressed_model.yml
  tests/e2e/cli/semantic_segmentation/reference/Custom_Semantic_Segmentation_SegNext_t/compressed_model.yml
  tests/test_suite/run_test_command.py
Labels: TEST

fix pre-commit
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_detection_stfpm/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_padim/compressed_model.yml
  tests/e2e/cli/anomaly/reference/ote_anomaly_segmentation_stfpm/compressed_model.yml
  tests/e2e/cli/classification/reference/Custom_Image_Classification_MobileNet-V3-large-1x/compressed_model.yml
  tests/e2e/cli/detection/test_detection.py
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_SwinT_FP16/compressed_model.yml
Labels: TEST

Add NMS iou threshold configurable parameter (#3287)
  CHANGELOG.md
  src/otx/algorithms/common/configs/training_base.py
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/configs/base/data/tiling/atss_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/yolox_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/models/single_stage_detector.py
  src/otx/algorithms/detection/configs/detection/configuration.yaml
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/model_xpu.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model.py
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/model_xpy.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/semisl/model.py
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/tile_pipeline.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/model.py
  src/otx/algorithms/detection/configs/detection/resnext101_atss/semisl/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/configuration.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/semisl/model.py
  src/otx/algorithms/detection/configs/instance_segmentation/maskrcnn_swin_t/model.py
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/model.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/detection/utils/utils.py
  tests/test_helpers.py
  tests/unit/algorithms/detection/adapters/mmdet/test_configurer.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
  tests/unit/algorithms/segmentation/test_helpers.py
  tests/unit/algorithms/visual_prompting/test_helpers.py
Labels: OTX 2.0, TEST, DOC

Refactor export part 1 - export parameters (#3289)
  pyproject.toml
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/mmdeploy.py
  src/otx/core/exporter/native.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/export.py
  src/otx/core/utils/utils.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/core/exporter/test_mmdeploy.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/core/types/conftest.py
  tests/unit/core/types/test_export.py
  tests/unit/core/types/test_label.py
  tests/unit/core/utils/test_utils.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update documentation
  develop/_modules/otx/algo/classification/otx_dino_v2.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/exporter/base.html
  develop/_modules/otx/core/exporter/mmdeploy.html
  develop/_modules/otx/core/exporter/native.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/core/utils/utils.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.exporter.base.html
  develop/guide/reference/_autosummary/otx.core.exporter.mmdeploy.html
  develop/guide/reference/_autosummary/otx.core.exporter.native.html
  develop/guide/reference/_autosummary/otx.core.exporter.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.utils.utils.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Change the e2e dataset for anomaly classification task
  tests/e2e/conftest.py
Labels: TEST

Add perf summary workflow
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Add history data, notebook and script
  requirements/dev.txt
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
Labels: TEST, DEPENDENCY

Update xlsx summary
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
  tests/perf/conftest.py
Labels: TEST, BUILD

Use history as check ref
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
Labels: TEST

Fix test_otx_e2e
  tests/conftest.py
  tests/e2e/conftest.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
Labels: TEST

Replace mmcv nms to torchvision nms (#3300)
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ops/__init__.py
  src/otx/algo/detection/ops/nms.py
Labels: OTX 2.0

Fix summary output
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
Labels: TEST, BUILD

change warnging to raising an error
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Fix normalize
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Upgrade MAPI
  requirements/openvino.txt
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DEPENDENCY

Fix
  src/otx/core/data/dataset/anomaly/dataset.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/e2e/conftest.py
Labels: OTX 2.0, TEST

Update perf benchmark summary up to releases/2.0.0
  .github/workflows/perf_benchmark.yaml
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
  tests/perf/test_action.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
Labels: TEST, BUILD

Fix
  .github/workflows/pre_merge.yaml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD

fix way to find a dataset size
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

fix way to find a dataset size
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Fix scheduler overrides
  tests/perf/conftest.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
Labels: TEST

Refine check message
  tests/perf/benchmark.py
Labels: TEST

Fix minor wrt 2.1
  tests/perf/benchmark.py
  tests/perf/conftest.py
Labels: TEST

Fix test
  src/otx/core/metrics/fmeasure.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

fix e2e issues
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

Update otx version string to 1.6.1rc1 (#3299)
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Remove Draem
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
Labels: OTX 2.0

Decoupling mmdet structures Part 1. (#3301)
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/weighted_loss.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/bbox_overlaps.py
  src/otx/algo/detection/utils/structures.py
  src/otx/algo/detection/utils/utils.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: OTX 2.0, TEST

Decouple anchor generator
  src/otx/algo/detection/heads/custom_anchor_generator.py
Labels: OTX 2.0

Add `RandomFlip` and related function & Update test
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
