Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Apply suggestions from code review
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/types/task.py
Labels: OTX 2.0

sort imports
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

whitespace
  src/otx/core/types/task.py
Labels: OTX 2.0

Fix unit-test
  tests/unit/algo/classification/backbones/test_timm.py
Labels: TEST

remove pretrained
  tests/unit/algo/classification/backbones/test_timm.py
Labels: TEST

Improve acc drop of efficientnetv2 for h-label cls (#3907)
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
Labels: OTX 2.0

Fix pretrained weight cached dir for timm (#3909)
  src/otx/algo/classification/backbones/timm.py
  tests/unit/algo/classification/backbones/test_timm.py
Labels: OTX 2.0, TEST

Fix returning tensor instead of dict in `rtmdet_ins_head` (#3908)
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/losses/rtmdet_inst_loss.py
  tests/unit/algo/instance_segmentation/heads/__init__.py
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/losses/__init__.py
  tests/unit/algo/instance_segmentation/losses/test_rtmdet_inst_loss.py
Labels: OTX 2.0, TEST

add semantic seg tiling implementation
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
Labels: OTX 2.0

reply comment 3
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/instance_segmentation/backbones/__init__.py
  src/otx/algo/instance_segmentation/backbones/maskrcnn_backbones.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  tests/unit/algo/detection/detectors/test_single_stage_detector.py
  tests/unit/algo/detection/heads/test_class_incremental_mixin.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/losses/test_yolox_loss.py
  tests/unit/algo/instance_segmentation/test_roi_head.py
Labels: OTX 2.0, TEST

fix unit tests
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/roi_head_tv.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/losses/roi_loss.py
  src/otx/algo/instance_segmentation/losses/rpn_loss.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_ins_head.py
Labels: OTX 2.0, TEST

fix pre-commit
  src/otx/algo/instance_segmentation/heads/roi_head_tv.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

rename MaskRCNNTV
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

minor
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: TEST

add missed file
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_inst_head.py
Labels: OTX 2.0, TEST

fix pre-commit
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_inst_head.py
Labels: TEST

Add missing changes to changelog.md (#3895)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Update STFPM config (#3899)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

update script to allow setting otx version using env. variable
  docker/build.sh
Labels: none

(WIP) Add loss and enable training
  src/otx/algo/detection/backbones/yolo_v7_v9_backbone.py
  src/otx/algo/detection/heads/yolo_v7_v9_head.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/detection/yolov9.py
  src/otx/core/model/base.py
Labels: OTX 2.0

Fix cached dir
  src/otx/__init__.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/classification/backbones/test_timm.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST

Pretrained weight download unit-test
  tests/unit/algo/classification/backbones/test_timm.py
Labels: TEST

Fix pre-commit
  tests/unit/algo/classification/backbones/test_timm.py
Labels: TEST

fix wrong template id mapping for anomaly
  src/otx/tools/converter.py
Labels: OTX 2.0

Fix keypoint detection single obj recipe (#3915)
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/perf/test_keypoint_detection.py
Labels: OTX 2.0, TEST

Fix user setting
  src/otx/__init__.py
Labels: OTX 2.0

Enable training
  src/otx/algo/detection/heads/yolo_v7_v9_head.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/detection/yolov9.py
  src/otx/recipe/detection/yolov9_s.yaml
Labels: OTX 2.0

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

fixx task types
  src/otx/tools/converter.py
Labels: OTX 2.0

Fix HF_HUB_CACHE
  src/otx/__init__.py
  tests/unit/algo/classification/backbones/test_timm.py
Labels: OTX 2.0, TEST

minor fix for VPT
  tests/unit/algo/instance_segmentation/heads/test_rtmdet_inst_head.py
Labels: TEST

Fix cached dir for timm & hugging-face (#3914)
  src/otx/__init__.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/classification/backbones/test_timm.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST

Fix wrong template id mapping for anomaly (#3916)
  src/otx/tools/converter.py
Labels: OTX 2.0

Update script to allow setting otx version using env. variable (#3913)
  docker/build.sh
Labels: none

add rtmpose_tiny for single obj
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

modify test subset name
  src/otx/recipe/_base_/data/keypoint_detection.yaml
Labels: OTX 2.0

fix unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

property for pck
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/perf/test_keypoint_detection.py
Labels: OTX 2.0, TEST

revert back use_sigmoid_cls
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
Labels: OTX 2.0

quick fix
  tests/unit/algo/detection/heads/test_ssd_head.py
Labels: TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
