Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

fix tests
  tests/unit/core/data/test_tiling.py
Labels: TEST

Modify unit tests
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: TEST

Clean up commented lines
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Fix ruff error
  tests/perf/conftest.py
Labels: TEST

Fix anomaly
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

reply comments
  src/otx/core/config/data.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
Labels: OTX 2.0

Show ruff fixes
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix
  tests/perf/conftest.py
Labels: TEST

Fix tile PTQ releaes 2.0.0 (#3282)
  src/otx/core/model/entity/base.py
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST

skip mypy error
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
Labels: OTX 2.0

Fix Dice score. Add mIoU metric for semantic segmentation (#3264)
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/metrics/dice.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  tests/conftest.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/types/label.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.types.html
  develop/searchindex.js
Labels: none

Add xfail marker for ticket no. 138035
  tests/integration/api/test_xai.py
Labels: TEST

Update torchvision pipeline for YOLOX TODO : pre-commit..
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
Labels: OTX 2.0

update
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/accuracy.py
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/focal_loss.py
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/losses/utils.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/losses/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/base_boxes.py
Labels: OTX 2.0

Update reference values for e2e XAI tests
  tests/e2e/cli/test_cli.py
Labels: TEST

fix loss
  src/otx/algo/detection/losses/accuracy.py
  src/otx/algo/detection/losses/focal_loss.py
Labels: OTX 2.0

add maskrcnn
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
Labels: OTX 2.0

update import
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
Labels: OTX 2.0

update import
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/__init__.py
  src/otx/core/model/utils/mmdet.py
Labels: OTX 2.0

add necks
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
Labels: OTX 2.0

update
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
Labels: OTX 2.0

update
  src/otx/algo/__init__.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/mmdet/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/iou2d_calculator.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/max_iou_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/base_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/delta_xywh_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/base_boxes.py
Labels: OTX 2.0

Remove xfail mark
  tests/integration/api/test_xai.py
Labels: TEST

Add missing mean std propagation to mmdeploy exporter
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

e2e tests: update XAI reference values (#3290)
  tests/e2e/cli/test_cli.py
Labels: TEST

Refactor to implant optimizer and scheduler into model code (#3258)
  pyproject.toml
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/cli/install.py
  src/otx/core/model/base.py
  src/otx/core/optimizer/__init__.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/__init__.py
  src/otx/core/utils/jsonargparse.py
  src/otx/engine/hpo/hpo_api.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/unit/cli/test_install.py
  tests/unit/core/optimizer/__init__.py
  tests/unit/core/optimizer/test_callable.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update GH action workflow
  .github/workflows/pre_merge.yaml
Labels: BUILD

Update HPO documentation (#3235)
  src/otx/core/config/hpo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/resource_manager.py
  tests/integration/cli/test_cli.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
Labels: OTX 2.0, TEST

skip padim hpo
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Add license
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Fix tile polygon transform function (Dev branch) (#3288)
  src/otx/core/data/dataset/tile.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Update publish workflow to add contents write permission (#3285)
  .github/workflows/publish.yaml
Labels: BUILD

Update publish workflow to add contents write permission (#3286)
  .github/workflows/publish.yaml
Labels: BUILD

add api to set metric name for HPO
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/hpo_trial.py
  src/otx/engine/hpo/utils.py
  src/otx/hpo/hyperband.py
Labels: OTX 2.0

Migrate Base Samplers
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/heads/custom_ssd_head.py
Labels: OTX 2.0

Migrate base anchor generator
  src/otx/algo/detection/heads/custom_anchor_generator.py
Labels: OTX 2.0

enable test_otx_hpo test
  src/otx/algo/classification/efficientnet_b0.py
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST

Temporary fix for jsonargparse issue on Python3.11.9 (#3291)
  .github/workflows/pre_merge.yaml
Labels: BUILD

align with pre-commit
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/utils.py
  src/otx/hpo/hyperband.py
  tests/integration/api/test_engine_api.py
Labels: OTX 2.0, TEST
