Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Fix tests
  tests/conftest.py
  tests/integration/api/test_xai.py
  tests/unit/algo/hooks/test_saliency_map_dumping.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
Labels: TEST

Fix test errors
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

update engine/unittest accodring to comments
  src/otx/algo/callbacks/gpu_mem.py
  src/otx/algo/callbacks/mmdet_switch_pipeline.py
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

remove accidentally added files
  src/otx/algo/callbacks/gpu_mem.py
  src/otx/algo/callbacks/mmdet_switch_pipeline.py
Labels: OTX 2.0

remove unused imports
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Fix sporadic Custom RTMDet Inst Unit test
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

update docs
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

add inst seg doc
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

Change logger in otx.api to default logger (#3228)
  src/otx/api/entities/dataset_item.py
  src/otx/api/entities/datasets.py
  src/otx/api/entities/label_schema.py
  src/otx/api/entities/metrics.py
  src/otx/api/usecases/evaluation/accuracy.py
  src/otx/api/usecases/evaluation/f_measure.py
  src/otx/api/usecases/reporting/time_monitor_callback.py
Labels: OTX 2.0

refactor hpo code
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hyperband.py
  src/otx/hpo/resource_manager.py
Labels: OTX 2.0

write draft hpo docs
  docs/source/guide/explanation/additional_features/hpo.rst
Labels: DOC

update test
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/resource_manager.py
  tests/unit/hpo/test_hyperband.py
  tests/unit/hpo/test_resource_manager.py
Labels: OTX 2.0, TEST

bugfix
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/resource_manager.py
Labels: OTX 2.0

align with pre-commit
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Fix tests
  src/otx/cli/cli.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
  tests/integration/conftest.py
Labels: OTX 2.0, TEST

rm line
  tests/integration/conftest.py
Labels: TEST

quick fix
  docs/source/guide/tutorials/base/export.rst
Labels: DOC

grammar fixes
  docs/source/guide/tutorials/base/export.rst
Labels: DOC

Fix sporadic RTMDet Inst Head Unittest Failure (#3232)
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

XAI docs
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/core/types/explain.py
Labels: OTX 2.0, DOC

Minor
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/tutorials/base/explain.rst
Labels: DOC

Minor
  docs/source/guide/tutorials/base/explain.rst
Labels: DOC

add warning
  src/otx/engine/engine.py
Labels: OTX 2.0

fix link format in docs
  docs/source/guide/explanation/additional_features/hpo.rst
Labels: DOC

Update Instance Segmentation Docs on Releases branch (#3234)
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

XAI docs update for OTX2.0 (#3236)
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/core/types/explain.py
Labels: OTX 2.0, DOC

Export and demo tutorial (#3222)
  docs/source/guide/tutorials/base/export.rst
  docs/source/guide/tutorials/base/index.rst
  docs/utils/images/wgisd_pr_sample.jpg
Labels: DOC

Fix tile CLI on releases/2.0.0 (#3229)
  src/otx/cli/cli.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Use anomaly datamodule in CLI (#3231)
  src/otx/cli/cli.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
  tests/integration/conftest.py
Labels: OTX 2.0, TEST

Update invalid configuration work_dir in CLI (#3226)
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  src/otx/cli/cli.py
Labels: OTX 2.0, DOC

update tpp file
  third-party-programs.txt
Labels: DOC

update integration test
  tests/integration/cli/test_cli.py
Labels: TEST

Add flag for cache
  src/otx/core/utils/cache.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix test and add for flag
  tests/unit/core/utils/test_cache.py
Labels: TEST

Update docs for release
  docs/source/guide/explanation/product_design.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  docs/utils/images/product_design/engine_diagram.png
  docs/utils/images/product_design/otx_workflow.png
Labels: DOC

Fix wrong contents
  docs/source/guide/explanation/additional_features/tiling.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
Labels: DOC

Update docs (#3238)
  docs/source/guide/explanation/additional_features/tiling.rst
  docs/source/guide/explanation/product_design.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
  docs/utils/images/product_design/engine_diagram.png
  docs/utils/images/product_design/otx_workflow.png
Labels: DOC

update trivy scan for gen spdx.json file
  .ci/trivy-csv.yaml
  .ci/trivy-spdx-json.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

Set CPU automatically when running OpenVINO IR model (#3220)
  src/otx/core/utils/cache.py
  src/otx/engine/engine.py
  tests/unit/core/utils/test_cache.py
Labels: OTX 2.0, TEST

Bump onnx version to 1.16.0 (#3215)
  pyproject.toml
Labels: BUILD, DEPENDENCY
