Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

lower register
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/types/label.py
Labels: OTX 2.0

fix unit tests
  src/otx/recipe/_base_/train.yaml
  tests/unit/core/types/test_label.py
  tests/unit/tools/test_converter.py
Labels: OTX 2.0, TEST

fix segm dataset
  tests/assets/common_semantic_segmentation_dataset/supervised/test/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/train/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/val/dataset_meta.json
Labels: TEST

fix early stopping in configs
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  tests/unit/tools/test_converter.py
Labels: OTX 2.0, TEST

minor
  tests/assets/common_semantic_segmentation_dataset/supervised/test/dataset_meta.json
  tests/assets/common_semantic_segmentation_dataset/supervised/val/dataset_meta.json
Labels: TEST

Remove duplicates in get_idx_list_per_classes
  src/otx/core/utils/utils.py
Labels: OTX 2.0

Reduce time complex
  src/otx/core/utils/utils.py
Labels: OTX 2.0

modify pytest run option
  tox.ini
Labels: BUILD

Add a feature to adapt max value of HPO batch size search space (#3532)
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST

Remove duplicates in get_idx_list_per_classes (#3537)
  src/otx/core/utils/utils.py
Labels: OTX 2.0

Revert "modify pytest run option"
  tox.ini
Labels: BUILD

Revisit Docker image build script (#3536)
  docker/Dockerfile.cuda
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
Labels: OTX 2.0, TEST

Remove `swap_rgb`
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Bump datumaro version to 1.6.1 (#3535)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Add 004 notebooks
  notebooks/004.datamodule_and_model.ipynb
Labels: none

Revert 0fa9d1c2 and update `update_ov_subset_pipeline` to update `image_color_channel`
  src/otx/algo/detection/yolox.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Update doctstring for MeanAveragePrecisionFMeasure
  src/otx/core/metrics/fmeasure.py
Labels: OTX 2.0

Add F1 metric computation during detection tasks (#3539)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/ssd.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix yolox export perf degradation (#3534)
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/yolox.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/algo/detection/backbones/test_csp_darknet.py
Labels: OTX 2.0, TEST

fix ir maskrcnn accuracy drop
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

reply comments
  src/otx/core/data/dataset/segmentation.py
  tests/unit/core/types/test_label.py
Labels: OTX 2.0, TEST

add f1 metric during training for detection
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

add f1 metric during training for detection
  src/otx/core/model/detection.py
Labels: OTX 2.0

add a new metric
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

remove configure_metric in det model
  src/otx/core/model/detection.py
Labels: OTX 2.0

resolve precommit error
  src/otx/core/metrics/fmeasure.py
Labels: OTX 2.0

minor refactoring
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Add RTMDet-tiny modules
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/utils/utils.py
Labels: OTX 2.0

add skip_varification=True option to torch.hub.load()
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

Add RTMDet-tiny recipe
  src/otx/recipe/detection/rtmdet_tiny.yaml
Labels: OTX 2.0

Fix MaskRCNN IR Accuracy Drop (#3540)
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

Fix error
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Set `image_color_channel` to `BGR`
  src/otx/recipe/detection/rtmdet_tiny.yaml
Labels: OTX 2.0

Fix image channel for RTMDet-tiny
  src/otx/algo/detection/rtmdet.py
  src/otx/recipe/detection/rtmdet_tiny.yaml
Labels: OTX 2.0

pre-commit
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Fix
  docker/Dockerfile.cuda
Labels: none

Fix
  docker/Dockerfile.cuda
  src/otx/algo/modules/base_module.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/search_space.py
Labels: OTX 2.0

added raise error
  src/otx/core/types/label.py
Labels: OTX 2.0

fix polygons masks
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

Fix polygon mask (#3549)
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
