Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

update yolox-tiny recipe
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/yolox_tiny.yaml
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/tools/converter.html
  develop/guide/reference/_autosummary/otx.tools.converter.html
  develop/searchindex.js
Labels: none

Fix linters
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/model/visual_prompting.py
  tests/unit/core/data/transform_libs/test_mmcv.py
Labels: OTX 2.0, TEST

Del unused var
  tests/unit/engine/test_engine.py
Labels: TEST

Add benchmark tests
  tests/integration/cli/test_export_inference.py
Labels: TEST

Update ZSL
  src/otx/core/model/visual_prompting.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Add init tests for benchmark
  tests/unit/engine/test_engine.py
Labels: TEST

Improve unit test coverage
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Cover VPT
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

draft implementation
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/label.py
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
Labels: OTX 2.0

draft implementation2
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/label.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

Remove reset
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
Labels: OTX 2.0

Add num_devices for multi-gpus
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Add docs
  CHANGELOG.md
  docs/source/guide/tutorials/advanced/multi_gpu.rst
Labels: DOC

Add index
  docs/source/guide/tutorials/advanced/index.rst
Labels: DOC

Update docstrings
  src/otx/engine/engine.py
Labels: OTX 2.0

Update CHANGELOG
  CHANGELOG.md
Labels: DOC

check input size constant value
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/core/exporter/visual_prompting.py
Labels: OTX 2.0

update yolox-tiny input size
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/yolox_tiny.yaml
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST

Fix linter
  src/otx/algo/classification/torchvision_model.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix linters
  src/otx/core/model/anomaly.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

update exporter tile image size
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Fix typos
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Update the engine docstring
  src/otx/engine/engine.py
Labels: OTX 2.0

Fix cls tests
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Add todo to anomaly task
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Update nncf and OV
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Update docs
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  src/otx/engine/engine.py
Labels: OTX 2.0, DOC

Fix missing image size error message
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Add OTXTrainType
  src/otx/algo/classification/torchvision_model.py
  src/otx/core/types/task.py
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b3_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_v2_l_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/tv_mobilenet_v3_small_semisl.yaml
Labels: OTX 2.0

Remove mm dependencies in `otx/core/model`
  src/otx/core/model/__init__.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/rotated_detection.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/__init__.py
  src/otx/core/model/utils/mmaction.py
  src/otx/core/model/utils/mmdet.py
  src/otx/core/model/utils/mmpretrain.py
  src/otx/core/model/utils/mmseg.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix unit-test
  tests/unit/algo/classification/test_torchvision_model.py
Labels: TEST

Remove mm dependencies in `otx/core/data`
  src/otx/core/data/transform_libs/__init__.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/conftest.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/core/data/transform_libs/test_mmcv.py
  tests/unit/core/data/transform_libs/test_mmdet.py
  tests/unit/core/data/transform_libs/test_mmpretrain.py
  tests/unit/core/data/transform_libs/test_mmseg.py
Labels: OTX 2.0, TEST

Enable fail tests
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Remove mm dependencies in `otx/core/exporter`
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: OTX 2.0, TEST

Revert explicit type conversion
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Remove mm dependencies in `otx/core/utils` and move `mmconfig_dict_to_dict` into `otx/tools/translate_mmrecipe.py`
  src/otx/core/utils/build.py
  src/otx/core/utils/config.py
  src/otx/core/utils/utils.py
  src/otx/tools/translate_mmrecipe.py
Labels: OTX 2.0

pre commit
  tests/unit/core/data/transform_libs/test_mmaction.py
Labels: TEST

For comment
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
Labels: OTX 2.0

Remove mm based recipes
  src/otx/recipe/_base_/data/mmaction_base.yaml
  src/otx/recipe/_base_/data/mmdet_base.yaml
  src/otx/recipe/_base_/data/mmpretrain_base.yaml
  src/otx/recipe/_base_/data/mmseg_base.yaml
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
