Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

replace MSDeformableAttention with native pytorch ops impl
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/functions/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/functions/ms_deform_attn_func.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/make.sh
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/modules/ms_deform_attn.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/setup.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cpu/ms_deform_attn_cpu.cpp
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cpu/ms_deform_attn_cpu.h
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cuda/ms_deform_attn_cuda.cu
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cuda/ms_deform_attn_cuda.h
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/cuda/ms_deform_im2col_cuda.cuh
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/ms_deform_attn.h
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/ops/src/vision.cpp
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/dino_decoder.py
Labels: OTX 2.0

enable random bbox transform
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
Labels: OTX 2.0

modify docstring for bbox info
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

reply comments
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/__init__.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST

move pck_acc
  src/otx/algo/keypoint_detection/utils/keypoint_eval.py
  src/otx/core/metrics/pck.py
Labels: OTX 2.0

Update accuracy.py
  src/otx/api/usecases/evaluation/accuracy.py
Labels: OTX 2.0

Refactor MaskRCNN rotated detection (#3858)
  src/otx/core/model/rotated_detection.py
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50_tile.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
Labels: OTX 2.0

Refactor keypoint detection task (#3861)
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/topdown.py
  src/otx/algo/keypoint_detection/utils/data_sample.py
  src/otx/algo/keypoint_detection/utils/keypoint_eval.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  tests/unit/algo/keypoint_detection/conftest.py
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/test_rtmpose.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/keypoint_detection.html
  develop/_modules/otx/core/model/rotated_detection.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.rotated_detection.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.utils.mask_util.html
  develop/guide/reference/_autosummary/otx.core.utils.tile_merge.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

update for releases 2.2.0rc0
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Update documentation
  develop/_modules/otx/core/model/keypoint_detection.html
Labels: none

Refactor Classification Backbone to Factory Design
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/classifier/test_semi_sl_classifier.py
Labels: OTX 2.0, TEST

Fix confusion matrix calculation (#3857)
  src/otx/api/usecases/evaluation/accuracy.py
Labels: OTX 2.0

add export functionality
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Revert "update for releases 2.2.0rc0"
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

align names. reply comments
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/model/segmentation.py
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST

fix recipes
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
Labels: OTX 2.0

add segmentots folder
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
Labels: OTX 2.0

refactored two stage detector. Not debugged.
  src/otx/algo/common/utils/nms.py
  src/otx/algo/detection/base_models/single_stage_detector.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/backbones/__init__.py
  src/otx/algo/instance_segmentation/heads/base_roi_head.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
Labels: OTX 2.0

add maskrcmm bacbones factory
  src/otx/algo/instance_segmentation/backbones/maskrcnn_backbones.py
Labels: OTX 2.0

Fix bug
  src/otx/algo/classification/classifier/base_classifier.py
Labels: OTX 2.0

Remove deprecated docstring
  src/otx/algo/classification/backbones/efficientnet.py
Labels: OTX 2.0

Reflect comments in https://github.com/openvinotoolkit/training_extensions/pull/3816
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0

Enable nn.Module standalone
  src/otx/algo/modules/conv_module.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

Update
  src/otx/algo/modules/norm.py
Labels: OTX 2.0

Fix bug
  src/otx/algo/classification/classifier/base_classifier.py
Labels: OTX 2.0

Fix Classification explain forward issue (#3867)
  src/otx/algo/classification/classifier/base_classifier.py
Labels: OTX 2.0

add docs about configurable input size
  docs/source/guide/explanation/additional_features/configurable_input_size.rst
  docs/source/guide/explanation/additional_features/hpo.rst
  docs/source/guide/explanation/additional_features/index.rst
Labels: DOC

update api usecase and fix bug
  docs/source/guide/explanation/additional_features/configurable_input_size.rst
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST, DOC

Update test_cli.py
  tests/e2e/cli/test_cli.py
Labels: TEST

Update configuration.py
  src/otx/algorithms/anomaly/configs/anomaly/padim/configuration.py
Labels: OTX 2.0

Update configuration.py
  src/otx/algorithms/anomaly/configs/anomaly/stfpm/configuration.py
Labels: OTX 2.0

Update tests/e2e/cli/test_cli.py
  tests/e2e/cli/test_cli.py
Labels: TEST

Update test_cli.py
  tests/e2e/cli/test_cli.py
Labels: TEST

update version 1.6.4
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Refactor Classification Backbone to Factory Class Design (#3864)
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/mobilenet_v3.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
  tests/unit/algo/classification/classifier/test_base_classifier.py
  tests/unit/algo/classification/classifier/test_semi_sl_classifier.py
Labels: OTX 2.0, TEST

Bump torch and lightning to 2.4.0 versions (#3843)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update test_cli.py
  tests/e2e/cli/test_cli.py
Labels: TEST

Reflect comments in #3816 (#3868)
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
