Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Fix mixed training and validation subset items (#3460)
  src/otx/algo/detection/__init__.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  tests/unit/algo/samplers/test_balanced_sampler.py
  tests/unit/algo/samplers/test_class_incremental_sampler.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

update unit test
  tests/unit/algo/plugins/test_plugins.py
Labels: TEST

Fix update order
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

fix failures
  src/otx/algo/detection/utils/utils.py
  tests/e2e/cli/test_cli.py
Labels: OTX 2.0, TEST

Fix e2e xai tests (#3462)
  tests/e2e/cli/test_cli.py
Labels: TEST

Add unit-test for otx.algo.modules
  tests/unit/algo/modules/test_activation.py
  tests/unit/algo/modules/test_base_module.py
  tests/unit/algo/modules/test_conv.py
  tests/unit/algo/modules/test_conv_module.py
  tests/unit/algo/modules/test_padding.py
  tests/unit/algo/modules/test_transformer.py
Labels: TEST

Fix input to inputs in unit-test
  tests/unit/algo/modules/test_activation.py
Labels: TEST

Fix norm.py
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_norm.py
Labels: OTX 2.0, TEST

revert mrcnn for test_otx_explain_e2e_cli
  tests/e2e/cli/test_cli.py
Labels: TEST

revert mrcnn
  tests/e2e/cli/test_cli.py
Labels: TEST

skip xai test for rtmdet inst for now
  tests/integration/api/test_xai.py
Labels: TEST

fix unit tests
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  tests/unit/algo/samplers/test_balanced_sampler.py
  tests/unit/algo/samplers/test_class_incremental_sampler.py
  tests/unit/core/data/dataset/test_visual_prompting.py
Labels: OTX 2.0, TEST

fix action detection
  src/otx/core/data/dataset/action_detection.py
Labels: OTX 2.0

fix mixed train/val data
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/detection.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

fix conftest
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: TEST

restore the tests
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_dataset.py
Labels: TEST

fix dm_subset
  src/otx/algo/detection/__init__.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/data/test_dataset.py
Labels: OTX 2.0, TEST

Revert mrcnn for test_otx_explain_e2e_cli (#3466)
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix e2e xai tests (#3440)
  tests/e2e/cli/test_cli.py
Labels: TEST

Add unit-test for otx.algo.modules (#3465)
  src/otx/algo/modules/norm.py
  tests/unit/algo/modules/test_activation.py
  tests/unit/algo/modules/test_base_module.py
  tests/unit/algo/modules/test_conv.py
  tests/unit/algo/modules/test_conv_module.py
  tests/unit/algo/modules/test_norm.py
  tests/unit/algo/modules/test_padding.py
  tests/unit/algo/modules/test_transformer.py
Labels: OTX 2.0, TEST

Update tests/conftest.py
  tests/conftest.py
Labels: TEST

Update tests/conftest.py
  tests/conftest.py
Labels: TEST

Update tests/conftest.py
  tests/conftest.py
Labels: TEST

Add more test case
  tests/unit/core/model/test_classification.py
Labels: TEST

Fix pre-commit
  tests/conftest.py
Labels: TEST

Update XPU plugin unit test (#3464)
  src/otx/algo/plugins/xpu_precision.py
  tests/unit/algo/plugins/test_plugins.py
Labels: OTX 2.0, TEST

Add unit-test for classification (#3463)
  tests/conftest.py
  tests/unit/algo/classification/losses/test_asymmetric_multilabel.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_efficientnet_v2.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/algo/classification/utils/__init__.py
  tests/unit/algo/classification/utils/test_embed.py
  tests/unit/algo/classification/utils/test_swiglu_ffn.py
  tests/unit/core/model/test_classification.py
Labels: TEST

Add additional otx algo det unit tests
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/utils/utils.py
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_max_iou_assigner.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/instance_segmentation/conftest.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: OTX 2.0, TEST

Fix failures
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: TEST

implement seg backbone unit test
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
Labels: TEST

Add additional otx algo det unit tests (#3467)
  src/otx/algo/detection/heads/base_sampler.py
  src/otx/algo/detection/utils/utils.py
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_max_iou_assigner.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_ssd.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/instance_segmentation/conftest.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: OTX 2.0, TEST

Add unit-test & move scale to otx.algo.modules
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/modules/scale.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/modules/test_scale.py
  tests/unit/algo/utils/test_mmengine_utils.py
Labels: OTX 2.0, TEST

Add commented
  src/otx/algo/modules/scale.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/modules/test_scale.py
  tests/unit/algo/utils/test_mmengine_utils.py
Labels: OTX 2.0, TEST

update license docstring
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/heads/dynamic_soft_label_assigner.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/single_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/roi_align.py
Labels: OTX 2.0

revert src/otx/core/model/instance_segmentation.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Add unit-test for mmengine & mmcv util functions (#3468)
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/modules/scale.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/modules/test_scale.py
  tests/unit/algo/utils/test_mmengine_utils.py
Labels: OTX 2.0, TEST

fix broken import
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

update seg head, module unit test
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/modules/__init__.py
  tests/unit/algo/segmentation/modules/test_blokcs.py
Labels: TEST

Fix unmatched bboxes and polygons
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Add `Compose` to avoid None results & Fix bug
  src/otx/core/data/dataset/base.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0
