Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

update bench for semantic seg
  tests/perf/test_semantic_segmentation.py
Labels: TEST

added seeds
  tests/perf/test_semantic_segmentation.py
Labels: TEST

fix OD and IS
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Update benchmark summary v1 (#3100)
  .github/workflows/perf_benchmark.yaml
  .github/workflows/weekly.yml
  tests/conftest.py
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tox.ini
Labels: TEST, BUILD

Support perf result reference check for benchmark v2 (#3140)
  .github/workflows/perf_benchmark.yaml
  .github/workflows/weekly.yaml
  pyproject.toml
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
  tox.ini
Labels: TEST, BUILD, DEPENDENCY

update tile pipeline
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

update
  src/otx/core/exporter/mmdeploy.py
Labels: OTX 2.0

benchmark debug
  src/otx/engine/engine.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  tests/perf/benchmark.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: OTX 2.0, TEST

revert ov changes
  src/otx/core/exporter/mmdeploy.py
Labels: OTX 2.0

change device
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
Labels: TEST

quick fix for instance seg
  tests/perf/test_instance_segmentation.py
Labels: TEST

Remove unused files & omit init file & recipe
  pyproject.toml
  src/otx/config/data/openvino.yaml
Labels: OTX 2.0, BUILD, DEPENDENCY

Hotfix: fix wrong domain in tiling rotated detection (#3141)
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

apply comment
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Check more backbones for tv & fix exported_params
  src/otx/algo/classification/torchvision_model.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Fix wrong head_forward & Add unit-test for freeze_backbone
  src/otx/algo/classification/torchvision_model.py
  tests/unit/algo/classification/test_torchvision_model.py
Labels: OTX 2.0, TEST

Add mmconfigs omit
  pyproject.toml
Labels: BUILD, DEPENDENCY

update pytorch-lightning version requirement for XPU
  requirements/anomaly.txt
Labels: DEPENDENCY

apply comment
  requirements/anomaly.txt
Labels: DEPENDENCY

Remove unused files & Add coverage.omit __init__ and recipes (#3143)
  pyproject.toml
  src/otx/config/data/openvino.yaml
Labels: OTX 2.0, BUILD, DEPENDENCY

Restore task
  src/otx/algo/anomaly/openvino_model.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_detection/openvino_model.yaml
  src/otx/recipe/anomaly_segmentation/openvino_model.yaml
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

ruff
  tests/integration/cli/test_cli.py
Labels: TEST

Add changelog and update readme (#3130)
  CHANGELOG.md
  README.md
Labels: DOC

Update links
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
Labels: DOC

update otx-ci container
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox_custom.yml
Labels: BUILD

Add draem
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
Labels: OTX 2.0, DOC

Add automatic docs/source builder to check the output easily (#3138)
  .gitignore
  docs/utils/auto_sphinx_build.py
Labels: DOC

fixed problem with dataset duplication
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
Labels: TEST

add xpu devices
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
Labels: TEST

update rtmdet
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
Labels: OTX 2.0

fix oom issue RTMDet inst seg
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

update num_workers
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
Labels: OTX 2.0

fix pre-commit
  src/otx/algo/classification/heads/custom_multilabel_non_linear_cls_head.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/utils/segmentation.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmcv.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/engine/engine.py
  tests/unit/core/data/transform_libs/test_mmcv.py
Labels: OTX 2.0, TEST

Update Anomaly docs (#3151)
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
Labels: DOC

Add DRAEM anomaly model (#3152)
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
Labels: OTX 2.0, DOC

Update documentation
  develop/_sources/guide/explanation/algorithms/anomaly/index.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/anomaly_detection.rst.txt
  develop/guide/explanation/algorithms/anomaly/index.html
  develop/guide/tutorials/base/how_to_train/anomaly_detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/anomaly/draem.html
  develop/_sources/guide/explanation/algorithms/anomaly/index.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.algo.anomaly.draem.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.algo.anomaly.rst.txt
  develop/genindex.html
  develop/guide/explanation/algorithms/anomaly/index.html
  develop/guide/reference/_autosummary/otx.algo.anomaly.draem.html
  develop/guide/reference/_autosummary/otx.algo.anomaly.html
  develop/objects.inv
  develop/py-modindex.html
  develop/searchindex.js
Labels: none

Add more backbone list for tv & fix exported_params (#3144)
  src/otx/algo/classification/torchvision_model.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/classification/test_torchvision_model.py
Labels: OTX 2.0, TEST

Add Anomaly OpenVINO model (#3146)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_detection/openvino_model.yaml
  src/otx/recipe/anomaly_segmentation/openvino_model.yaml
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Remove ov dataset update in optimize
  src/otx/engine/engine.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
