Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Bump torch and lightning to 2.4.0 versions (#3843)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update Semantic Segmentation refactoring (reply comments from previous PR) (#3863)
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/__init__.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/cli/cli.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_x_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_class_incremental.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/segmentors/test_base_model.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/segmentation/test_segnext.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST

Update effb0 recipe
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
Labels: OTX 2.0

Update step size for eff v2
  src/otx/algo/classification/timm_model.py
Labels: OTX 2.0

Implement SD without dependencies
  src/otx/algo/diffusion/__init__.py
  src/otx/algo/diffusion/clip_tokenizer.py
  src/otx/algo/diffusion/ddim_scheduler.py
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/algo/diffusion/model/autoencoder_kl/__init__.py
  src/otx/algo/diffusion/model/autoencoder_kl/attn_block.py
  src/otx/algo/diffusion/model/autoencoder_kl/autoencoder_kl.py
  src/otx/algo/diffusion/model/autoencoder_kl/decoder.py
  src/otx/algo/diffusion/model/autoencoder_kl/encoder.py
  src/otx/algo/diffusion/model/autoencoder_kl/mid.py
  src/otx/algo/diffusion/model/autoencoder_kl/resnet_block.py
  src/otx/algo/diffusion/model/clip/__init__.py
  src/otx/algo/diffusion/model/clip/clip_attention.py
  src/otx/algo/diffusion/model/clip/clip_encoder.py
  src/otx/algo/diffusion/model/clip/clip_encoder_layer.py
  src/otx/algo/diffusion/model/clip/clip_mlp.py
  src/otx/algo/diffusion/model/clip/clip_text_embeddings.py
  src/otx/algo/diffusion/model/clip/clip_text_transformer.py
  src/otx/algo/diffusion/model/unet/__init__.py
  src/otx/algo/diffusion/model/unet/basic_transformer_block.py
  src/otx/algo/diffusion/model/unet/cross_attention.py
  src/otx/algo/diffusion/model/unet/feed_forward.py
  src/otx/algo/diffusion/model/unet/res_block.py
  src/otx/algo/diffusion/model/unet/spatial_transformer.py
  src/otx/algo/diffusion/model/unet/unet_model.py
  src/otx/algo/diffusion/otx_model.py
  src/otx/core/model/diffusion.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/diffusion/sd.yaml
  src/otx/recipe/diffusion/sd_huggingface.yaml
  tests/unit/algo/diffusion/test_huggingface_model.py
  tests/unit/algo/diffusion/test_stable_diffusion.py
Labels: OTX 2.0, TEST

Extract file downloading
  src/otx/algo/diffusion/clip_tokenizer.py
  src/otx/algo/diffusion/ddim_scheduler.py
  src/otx/algo/diffusion/utils/download.py
  tests/fuzzing/cli_fuzzing.py
  tests/unit/algo/diffusion/test_stable_diffusion.py
Labels: OTX 2.0, TEST

go safe, change only tested models
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
Labels: OTX 2.0

minor
  src/otx/core/model/segmentation.py
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
Labels: OTX 2.0

Update MAPI in 2.2 (#3889)
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Move benchmark deps to ci-benchmark extra (#3882)
  pyproject.toml
  tox.ini
Labels: BUILD, DEPENDENCY

Pad tile to image size (512 x 512) (#3887)
  src/otx/algorithms/detection/configs/base/data/tiling/base_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/base/data/tiling/efficientnet_iseg_tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/tile_pipeline.py
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/tile_pipeline.py
Labels: OTX 2.0

Don't apply labels normalization on training (#3886)
  src/otx/algorithms/classification/utils/cls_utils.py
Labels: OTX 2.0

Improve Semi-SL for LiteHRNet (small-medium case) (#3891)
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_18_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/litehrnet_s_semisl.yaml
Labels: OTX 2.0

Remove `DetectionBackboneFactory`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/backbone_factory.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Use `Literal` for `model_name`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Update rotated_detection
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
Labels: OTX 2.0

Update CHANGELOG.md
  CHANGELOG.md
Labels: DOC

Improve h-cls for eff models (#3893)
  src/otx/algo/classification/timm_model.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
Labels: OTX 2.0

add missing changes to changelog.md
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Hot-fix rotated_detection configuration (#3894)
  CHANGELOG.md
  src/otx/algorithms/detection/configs/rotated_detection/configuration.yaml
Labels: OTX 2.0, DOC

fix nerge conflict
  src/otx/algo/detection/heads/ssd_head.py
Labels: OTX 2.0

make complex unique key for mem cache handler
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
Labels: OTX 2.0

tmp
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
Labels: OTX 2.0

move losses out of the heads
  src/otx/algo/common/utils/nms.py
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/losses/roi_loss.py
  src/otx/algo/instance_segmentation/losses/rpn_loss.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/segmentors/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/core/model/rotated_detection.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
Labels: OTX 2.0

remove transformer layers
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/layers/transformer.py
  src/otx/algo/modules/transformer.py
Labels: OTX 2.0

add exception
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
Labels: OTX 2.0

update doc
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/searchindex.js
Labels: none

Make complex unique key for mem cache handler (#3897)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/algorithms/common/adapters/mmcv/pipelines/load_image_from_otx_dataset.py
Labels: OTX 2.0, DOC

Add warmup_iters for effv2
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
Labels: OTX 2.0

Update max_epochs
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
Labels: OTX 2.0

update configs
  src/otx/algo/anomaly/openvino_model.py
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

update maskrcnn swimt model type to transformer
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Add anomaly classification
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/entity/anomaly/classification.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/anomaly.yaml
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/tools/converter.py
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
  tox.ini
Labels: OTX 2.0, TEST, DOC, BUILD

ruff fix
  tests/conftest.py
  tests/e2e/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

fix unit tests
  tests/unit/core/data/conftest.py
Labels: TEST

Fix maskrcnn swin nncf acc drop (#3900)
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Add image logging
  src/otx/algo/diffusion/otx_model.py
  src/otx/recipe/diffusion/sd.yaml
Labels: OTX 2.0

update model save
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Fix ruff errors
  src/otx/algo/diffusion/model/unet/__init__.py
  src/otx/algo/diffusion/utils/download.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
