Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

- Refactored the MaskDINO model and segmentors module to improve code organization and readability. - Remove Detectron R50
  src/otx/algo/instance_segmentation/backbones/detectron_resnet.py
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Update model name in rotated_detection recipes - 2.3 (#4028)
  CHANGELOG.md
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
Labels: OTX 2.0, DOC

Fix empty anno - merge back develop (#4022)
  src/otx/algo/common/utils/bbox_overlaps.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/core/data/pre_filtering.py
  tests/unit/algo/common/test_iou2d_calculator.py
Labels: OTX 2.0, TEST

Refactor MaskDINO model and segmentors module
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Minor updates
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Fix import
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
Labels: OTX 2.0

fix linter
  src/otx/core/metrics/average_precision_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
Labels: OTX 2.0

update pre-merge workflow
  .github/workflows/pre_merge.yaml
Labels: BUILD

Add 'enable' flag for transforms for on/off (default=True)
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST

Fix bbox_overlaps
  src/otx/algo/common/utils/bbox_overlaps.py
Labels: OTX 2.0

Fix empty bbox error for YOLOv9 (#4024)
  src/otx/algo/detection/losses/yolov9_loss.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: OTX 2.0, TEST

Update visual prompting pipeline for multi-label zero-shot learning support (#3993)
  CHANGELOG.md
  src/otx/algo/visual_prompting/losses/sam_loss.py
  src/otx/algo/visual_prompting/sam.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/core/data/dataset/visual_prompting.py
  src/otx/core/data/entity/visual_prompting.py
  src/otx/core/metrics/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/test_sam.py
  tests/unit/algo/visual_prompting/visual_prompters/test_segment_anything.py
  tests/unit/core/conftest.py
  tests/unit/core/data/dataset/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST, DOC

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

update docker build scripts for ci
  .ci/docker/Dockerfile
  .ci/docker/build.sh
  .ci/docker/start-runner.sh
Labels: BUILD

update unit test
  src/otx/core/config/hpo.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST

update CHANGELOG.md
  CHANGELOG.md
Labels: DOC

Update CHAGELOG
  CHANGELOG.md
Labels: DOC

Update pre-merge workflow (#4032)
  .ci/docker/Dockerfile
  .ci/docker/build.sh
  .ci/docker/start-runner.sh
  .github/workflows/pre_merge.yaml
Labels: BUILD

Add OV inference for 3d detection (#4017)
  CHANGELOG.md
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/entity/utils.py
  src/otx/core/model/detection_3d.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/object_detection_3d/openvino_model.yaml
  src/otx/utils/utils.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/core/model/test_detection_3d.py
Labels: OTX 2.0, TEST, DOC

Update HPO interface (#4035)
  CHANGELOG.md
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST, DOC

Refactor common transformers
  src/otx/algo/common/transformers/__init__.py
  src/otx/algo/common/transformers/hungarian_matcher.py
  src/otx/algo/common/transformers/position_embed.py
  src/otx/algo/common/transformers/utils.py
  src/otx/algo/common/utils/assigners/__init__.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/layers/batch_norm.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/algo/instance_segmentation/utils/box_ops.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/utils/utils.py
Labels: OTX 2.0

Style Changes
  src/otx/algo/common/transformers/__init__.py
  src/otx/algo/common/transformers/utils.py
Labels: OTX 2.0

Refactor common transformers and model modules
  src/otx/algo/common/layers/hungarian_matcher.py
  src/otx/algo/common/layers/position_embed.py
  src/otx/algo/common/layers/transformer_layers.py
  src/otx/algo/common/transformers/__init__.py
  src/otx/algo/common/transformers/utils.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
Labels: OTX 2.0

Refactor common transformers and model modules
  src/otx/algo/common/layers/hungarian_matcher.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/utils/utils.py
Labels: OTX 2.0

update for release 2.2.0rc7
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

enable kpt training through config conversion
  src/otx/tools/converter.py
Labels: OTX 2.0

add changelog
  CHANGELOG.md
Labels: DOC

enable keypoint det config converter
  src/otx/tools/converter.py
Labels: OTX 2.0

Refactor Conv2d module and update imports
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0

Enable keypoint detection training through config conversion (#4034)
  src/otx/tools/converter.py
Labels: OTX 2.0

Refactor transformer visual encoder module and update imports
  src/otx/algo/common/layers/transformer_layers.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/maskdino_decoder.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
Labels: OTX 2.0

Refactor VisualEncoderLayer and VisualEncoder modules
  src/otx/algo/common/layers/transformer_layers.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
Labels: OTX 2.0

Refactor instance segmentation module and remove unused code
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
Labels: OTX 2.0

Refactor maskdino_decoder and maskdino_encoder modules
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
Labels: OTX 2.0

Refactor point sampling functions and update imports
  src/otx/algo/common/layers/hungarian_matcher.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/utils/utils.py
Labels: OTX 2.0

added ap_05
  src/otx/core/metrics/average_precision_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

fix perf test
  tests/perf/test_object_detection_3d.py
Labels: TEST

Update for release 2.2.0rc7 (#4036)
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Fix conflict2
  src/otx/algo/instance_segmentation/utils/structures/mask/mask_target.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Update changelog
  CHANGELOG.md
Labels: DOC

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
