Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Remove mistakenly upload
  tests/unit/core/model/module/test_classification.py
Labels: TEST

Remove mis upload file
  tests/unit/utils/build_mm_model.py
Labels: TEST

Update action detection docs
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
Labels: DOC

remove empty list check
  src/otx/core/model/module/instance_segmentation.py
  src/otx/core/utils/mask_util.py
Labels: OTX 2.0

Add unit-test for algo/classification (#3176)
  src/otx/algo/classification/backbones/otx_efficientnet.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_mobilenet_v3.py
Labels: OTX 2.0, TEST

Add unit-test for algo/detection (#3177)
  src/otx/algo/detection/losses/cross_focal_loss.py
  tests/unit/algo/detection/losses/__init__.py
  tests/unit/algo/detection/losses/test_cross_focal_loss.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST

Update docs for get_started part (#3175)
  docs/source/guide/explanation/additional_features/class_incremental_sampler.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/release_notes/index.rst
  docs/source/guide/tutorials/advanced/index.rst
  docs/source/guide/tutorials/base/explain.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/index.rst
  docs/source/index.rst
Labels: DOC

remove OVModel FPS
  src/otx/core/model/entity/base.py
Labels: OTX 2.0

remove unused package
  src/otx/core/model/entity/base.py
Labels: OTX 2.0

Update otx version to 1.5.2 (#3174)
  CHANGELOG.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

try to patch SingleDeviceStrategy
  docs/source/guide/get_started/installation.rst
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
Labels: OTX 2.0, DOC

Move LabelInfo and HLabelInfo to otx.core.types.label
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/cli/cli.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/module.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/dice.py
  src/otx/core/metrics/mean_ap.py
  src/otx/core/metrics/types.py
  src/otx/core/metrics/visual_prompting.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/algo/classification/conftest.py
  tests/unit/core/conftest.py
  tests/unit/core/metrics/test_accuracy.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Refactor LabelInfo
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/heads/custom_hlabel_linear_cls_head.py
  src/otx/algo/classification/heads/custom_hlabel_non_linear_cls_head.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/cli/cli.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/label.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/h_label_cls/openvino_model.yaml
  src/otx/recipe/classification/h_label_cls/otx_deit_tiny.yaml
Labels: OTX 2.0

Fix tests
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/heads/test_custom_hlabel_cls_head.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/core/conftest.py
  tests/unit/core/model/test_base.py
Labels: TEST

added auto xpu configuration
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
Labels: OTX 2.0

Remove label_info equivalance check from visualprompting label_info setter
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix test_otx_explain_e2e not to overwrite model.num_classes
  tests/integration/cli/test_cli.py
Labels: TEST

add tile merge test
  tests/unit/core/data/test_tiling.py
Labels: TEST

Add datamodule test
  tests/unit/data/__init__.py
  tests/unit/data/anomaly/__init__.py
  tests/unit/data/anomaly/test_anomaly_datamodule.py
Labels: TEST

update ruff setting
  pyproject.toml
  tests/unit/data/anomaly/test_anomaly_datamodule.py
Labels: TEST, BUILD, DEPENDENCY

Undo pyproject.toml changes
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update test_anomaly_datamodule.py
  tests/unit/data/anomaly/test_anomaly_datamodule.py
Labels: TEST

Enhancing Mask Post-Processing with Customized RTMDetInst Head (#3142)
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: OTX 2.0, TEST

patch strategy
  src/otx/algo/accelerators/xpu.py
  src/otx/utils/utils.py
Labels: OTX 2.0

small fix
  src/otx/utils/utils.py
Labels: OTX 2.0

reply to comments
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
Labels: OTX 2.0

move patching xpu packages to accelerator
  src/otx/algo/accelerators/xpu.py
  src/otx/utils/utils.py
Labels: OTX 2.0

fix test_xpu test
  tests/unit/algo/accelerators/test_xpu.py
Labels: TEST

remove do-not-install-mmcv
  docs/source/guide/get_started/installation.rst
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
Labels: OTX 2.0, TEST, DOC

fix pre-commit
  src/otx/cli/install.py
Labels: OTX 2.0

remove torch.xpu.optimize for segmentation
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
  tests/unit/algo/strategies/test_strategies.py
Labels: OTX 2.0, TEST

🧪 Add Anomaly unit tests (#3160)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/module/anomaly.py
  src/otx/core/model/module/anomaly/__init__.py
  tests/unit/algo/anomaly/test_otx_model.py
  tests/unit/data/__init__.py
  tests/unit/data/anomaly/__init__.py
  tests/unit/data/anomaly/test_anomaly_datamodule.py
Labels: OTX 2.0, TEST

Update trivy scanning to use actions (#3169)
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

Update
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Enable using `print_config`
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
Labels: OTX 2.0

Add missing unit tests
  tests/unit/core/types/__init__.py
  tests/unit/core/types/test_label.py
Labels: TEST

Add visual prompting tutorial
  docs/source/guide/tutorials/base/how_to_train/index.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
Labels: DOC

Update unit tests
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/core/conftest.py
  tests/unit/core/exporter/__init__.py
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Improve accessbility for otx.core.types
  src/otx/__init__.py
  src/otx/core/types/__init__.py
  src/otx/core/types/label.py
Labels: OTX 2.0

Update
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
