Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Fix anomaly intg test
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

remedy some low severity bandit issues
  src/otx/algorithms/common/adapters/mmdeploy/apis.py
  src/otx/algorithms/common/utils/mo_wrapper.py
  src/otx/algorithms/detection/utils/utils.py
  src/otx/algorithms/visual_prompting/adapters/pytorch_lightning/models/visual_prompters/zero_shot_segment_anything.py
  src/otx/algorithms/visual_prompting/tasks/openvino.py
  src/otx/api/usecases/reporting/time_monitor_callback.py
  tests/integration/api/classification/test_api_classification.py
  tests/integration/api/detection/api_detection.py
  tests/integration/api/segmentation/test_api_segmentation.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/unit/algorithms/classification/test_helper.py
Labels: OTX 2.0, TEST

replace otx deps using tag
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0

update changelog
  CHANGELOG.md
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Add action intg test (#3182)
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/cli/cli.py
  src/otx/engine/hpo/hpo_api.py
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Add use ellipse shapes to omz config (#3207)
  src/otx/algorithms/detection/task.py
  src/otx/algorithms/detection/utils/utils.py
  tests/unit/algorithms/detection/utils/test_detection_utils.py
Labels: OTX 2.0, TEST

Bump onnx version to 1.16.0 (#3205)
  requirements/dev.txt
  requirements/openvino.txt
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DEPENDENCY

update import location
  src/otx/cli/cli.py
Labels: OTX 2.0

Bring RTMDetInst Optimization and tile unit test to Dev (#3195)
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/model/detection.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  tests/integration/test_tiling.py
  tests/test_helpers.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/utils/mask_util.html
Labels: none

add docs
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
Labels: DOC

change wording
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
Labels: DOC

remove some tests
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
Labels: TEST

align with pre-commit
  tests/test_helpers.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

implement unit test
  tests/test_helpers.py
  tests/unit/core/exporter/exportable_code/__init__.py
  tests/unit/core/exporter/exportable_code/demo/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

avoid import error
  tests/unit/core/exporter/exportable_code/conftest.py
Labels: TEST

update flops
  docs/source/guide/explanation/algorithms/segmentation/instance_segmentation.rst
Labels: DOC

align with pre-commit
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
Labels: TEST

align with pre-commit
  tests/test_helpers.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

implement unit test
  tests/test_helpers.py
  tests/unit/core/exporter/exportable_code/__init__.py
  tests/unit/core/exporter/exportable_code/demo/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

avoid import error
  tests/unit/core/exporter/exportable_code/conftest.py
Labels: TEST

remove some tests
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
Labels: TEST

align with pre-commit
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
Labels: TEST

Add unit test for export (#3211)
  tests/test_helpers.py
  tests/unit/core/exporter/exportable_code/__init__.py
  tests/unit/core/exporter/exportable_code/conftest.py
  tests/unit/core/exporter/exportable_code/demo/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/__init__.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

Add perf benchamrk history data
  benchmark-history.ipynb
  tests/perf/history/summary.ipynb
  tests/perf/history/v1.4.5/perf-benchmark-cls.csv
  tests/perf/history/v1.4.5/perf-benchmark-ssg.csv
  tests/perf/history/v1.5.1/perf-benchmark-ano.csv
  tests/perf/history/v1.5.1/perf-benchmark-cls.csv
  tests/perf/history/v1.5.1/perf-benchmark-det.csv
  tests/perf/history/v1.5.1/perf-benchmark-isg.csv
  tests/perf/history/v1.5.1/perf-benchmark-ssg.csv
  tests/perf/history/v1.6.0/perf-benchmark-ano.csv
  tests/perf/history/v1.6.0/perf-benchmark-cls.csv
  tests/perf/history/v1.6.0/perf-benchmark-det.csv
  tests/perf/history/v1.6.0/perf-benchmark-isg.csv
  tests/perf/history/v1.6.0/perf-benchmark-ssg.csv
Labels: TEST

Set model label info first
  src/otx/engine/engine.py
Labels: OTX 2.0

bump onnx version to 1.16.0
  pyproject.toml
Labels: BUILD, DEPENDENCY

register demo_package in fixture
  tests/unit/core/exporter/exportable_code/conftest.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_asynchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/executors/test_synchronous.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_utils.py
Labels: TEST

change ctx manager to fixture
  tests/test_helpers.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/streamer/test_streamer.py
Labels: TEST

Refactor optimizer and lr schedulers
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/action_detection/x3d_fastrcnn.py
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/otx_dino_v2.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/schedulers/__init__.py
  src/otx/algo/schedulers/warmup_schedulers.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/cli/cli.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/metrics/types.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/schedulers/__init__.py
  src/otx/core/schedulers/warmup_schedulers.py
  src/otx/core/utils/miscellaneous.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Update tests
  tests/conftest.py
  tests/integration/api/test_auto_configuration.py
  tests/unit/cli/test_cli.py
  tests/unit/core/model/test_base.py
  tests/unit/core/model/test_detection.py
  tests/unit/core/schedulers/__init__.py
  tests/unit/core/schedulers/test_warmup_schedulers.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

Fix torch import problem at CLI installation
  src/otx/cli/cli.py
Labels: OTX 2.0

Fix
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

Add summary notebook draft
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Update v1.6 & v2.0 history
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.6.0/perf-benchmark-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-ano.csv
  tests/perf/history/v1.6.0/perf-benchmark-cls.csv
  tests/perf/history/v1.6.0/perf-benchmark-det.csv
  tests/perf/history/v1.6.0/perf-benchmark-isg.csv
  tests/perf/history/v1.6.0/perf-benchmark-ssg.csv
  tests/perf/history/v2.0.0/perf-benchmark-all.csv
Labels: TEST

Add graph plot
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
Labels: TEST

Fix test errors
  src/otx/algo/classification/mmconfigs/multiclass_classification/dino_v2.yaml
  src/otx/core/schedulers/warmup_schedulers.py
  tests/unit/core/schedulers/test_warmup_schedulers.py
Labels: OTX 2.0, TEST

Add notes
  src/otx/engine/engine.py
Labels: OTX 2.0

added unit tests. Need to clean up
  src/otx/core/exporter/exportable_code/demo/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo.py
  src/otx/core/exporter/exportable_code/demo/demo_package/__init__.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/synchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/vis_utils.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  tests/unit/core/exporter/test_base.py
  tests/unit/core/exporter/test_native.py
  tests/unit/core/exporter/test_vis_utils.py
  tests/unit/core/exporter/test_visualizers.py
Labels: OTX 2.0, TEST

Fix
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
