Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

update unit test
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
Labels: OTX 2.0, TEST

align with pre-commit
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
  tests/unit/algorithms/common/adapters/torch/utils/test_utils.py
Labels: OTX 2.0, TEST

fix wrong fixture
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
Labels: TEST

add comments
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
Labels: OTX 2.0

Update `ssd_mobilenetv2`
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
Labels: OTX 2.0

Rename
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/core/model/utils/mmpretrain.py
Labels: OTX 2.0

bring tile-cli-2.0.0 to develop branch
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

update style
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

fix unit test
  tests/unit/engine/test_engine.py
Labels: TEST

modify default data format for visual prompting
  .github/workflows/daily.yaml
  src/otx/core/exporter/base.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: OTX 2.0, TEST, BUILD

Add Configuration Converter in otx.tools (#3254)
  src/otx/engine/engine.py
  src/otx/tools/converter.py
  tests/assets/geti-configs/det.json
  tests/unit/tools/__init__.py
  tests/unit/tools/test_converter.py
Labels: OTX 2.0, TEST

Copy LICENSE file into demo directory for not editable installation (#3255)
  MANIFEST.in
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/LICENSE
  tests/unit/core/exporter/test_base.py
Labels: OTX 2.0, TEST, BUILD

Enable e2e for v2 (#3257)
  .github/workflows/daily.yaml
  tests/e2e/__init__.py
  tests/e2e/cli/__init__.py
  tests/e2e/cli/test_cli.py
  tests/e2e/cli/utils.py
  tests/e2e/conftest.py
  tests/test_helpers.py
  tox.ini
Labels: TEST, BUILD

Refactor to implant optimizer and scheduler into model code
  pyproject.toml
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/core/model/base.py
  src/otx/core/optimizer/__init__.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/__init__.py
  src/otx/core/utils/jsonargparse.py
  src/otx/engine/hpo/hpo_api.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/unit/core/optimizer/__init__.py
  tests/unit/core/optimizer/test_callable.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Upgrade jsonargparse to 4.27.7
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix test installation error
  pyproject.toml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Fix test errors
  tests/unit/cli/test_install.py
Labels: TEST

Enable e2e for v2 (#3257)
  .github/workflows/daily.yaml
  tests/e2e/__init__.py
  tests/e2e/cli/__init__.py
  tests/e2e/cli/test_cli.py
  tests/e2e/cli/utils.py
  tests/e2e/conftest.py
  tests/test_helpers.py
  tox.ini
Labels: TEST, BUILD

Adaptive batch size supports XPU (#3256)
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/classification/adapters/mmcls/utils/exporter.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/mmcv/utils/config_utils.py
  src/otx/algorithms/common/adapters/mmdeploy/utils/__init__.py
  src/otx/algorithms/common/adapters/mmdeploy/utils/utils.py
  src/otx/algorithms/common/adapters/torch/dataloaders/samplers/balanced_sampler.py
  src/otx/algorithms/common/adapters/torch/utils/__init__.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/common/adapters/torch/utils/utils.py
  src/otx/algorithms/detection/adapters/mmdet/models/backbones/imgclsmob.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/detection/adapters/mmdet/utils/exporter.py
  src/otx/algorithms/segmentation/adapters/mmseg/models/heads/custom_otx_head.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/utils/exporter.py
  src/otx/api/entities/dataset_item.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/mmdeploy/utils/test_deploy_utils_utils.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
  tests/unit/algorithms/common/adapters/torch/utils/test_utils.py
  tests/unit/algorithms/detection/adapters/mmdet/models/detectors/conftest.py
  tests/unit/algorithms/detection/adapters/mmdet/test_task.py
Labels: OTX 2.0, TEST

fix tile PTQ transfomr
  src/otx/core/model/base.py
Labels: OTX 2.0

add fix
  src/otx/core/model/entity/base.py
Labels: OTX 2.0

fix mdice. Add mIoU
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/metrics/dice.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

rename Dice
  src/otx/core/metrics/dice.py
Labels: OTX 2.0

Fix tile PTQ transform releases 2.0.0 (#3262)
  src/otx/core/model/entity/base.py
Labels: OTX 2.0

Fix tile PTQ transform (#3261)
  src/otx/core/model/base.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/base.html
Labels: none

Refactor XAI model part - classification tasks (#3242)
  src/otx/algo/classification/deit_tiny.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/hooks/recording_forward_hook.py
  src/otx/algo/utils/xai_utils.py
  src/otx/core/data/entity/base.py
  src/otx/core/exporter/base.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/utils/mmpretrain.py
  src/otx/core/types/explain.py
  src/otx/engine/engine.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
  tests/unit/algo/classification/conftest.py
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_torchvision_model.py
  tests/unit/algo/hooks/test_saliency_map_dumping.py
  tests/unit/algo/hooks/test_saliency_map_processing.py
  tests/unit/algo/hooks/test_xai_hooks.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/exporter/base.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/utils/mmpretrain.html
  develop/_modules/otx/engine/engine.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.classification.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.utils.mmpretrain.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.classification.html
  develop/guide/reference/_autosummary/otx.core.model.utils.mmpretrain.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Fix tile CLI (#3204)
  src/otx/cli/cli.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/engine/engine.html
Labels: none

Update reference info path
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

Update unit test
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/entity/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: TEST

Update integration test
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
Labels: TEST

change width and hieght order
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
Labels: OTX 2.0

load_latest_reference_info -> load_reference_info
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/entity/visual_prompting.py
  src/otx/core/model/module/visual_prompting.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/entity/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: OTX 2.0, TEST

Enable e2e for develop (#3260)
  .github/workflows/daily.yaml
  tests/e2e/__init__.py
  tests/e2e/cli/__init__.py
  tests/e2e/cli/test_cli.py
  tests/e2e/cli/utils.py
  tests/e2e/conftest.py
  tests/test_helpers.py
  tox.ini
Labels: TEST, BUILD

Fix raw data path
  tests/perf/conftest.py
Labels: TEST

Fix benchmark options
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/perf/benchmark.py
  tests/perf/test_action.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: OTX 2.0, TEST

Add action benchmark test template
  tests/perf/test_action.py
Labels: TEST

Fix act perf test
  tests/perf/test_action.py
Labels: TEST
