Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Move layers
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/common_layer.py
  src/otx/algo/detection/layers/elan_layer.py
  src/otx/algo/detection/necks/yolo_neck.py
Labels: OTX 2.0

Use underbar for model variants
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/yolov9.py
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
Labels: OTX 2.0

update seg tiler
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

ignore heads and disable smooth quant
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

fix labels name and check masks
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/model/segmentation.py
  src/otx/core/types/export.py
  src/otx/core/types/label.py
Labels: OTX 2.0

add activations_range_estimator_params
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

update changelog
  CHANGELOG.md
Labels: DOC

fix pylint
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/types/export.py
Labels: OTX 2.0

Fix binary classification metric task (#3928)
  src/otx/core/metrics/accuracy.py
  tests/unit/core/metrics/test_accuracy.py
Labels: OTX 2.0, TEST

Move iou_loss test
  tests/unit/algo/common/losses/test_iou_loss.py
Labels: TEST

pre-commit
  src/otx/algo/detection/layers/elan_layer.py
  tests/unit/algo/common/losses/test_iou_loss.py
Labels: OTX 2.0, TEST

Improve MaskRCNN SwinT NNCF (#3929)
  CHANGELOG.md
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0, DOC

Fix Task Chain
  src/otx/core/data/dataset/classification.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_classification.py
Labels: OTX 2.0, TEST

Add multi-label case as well
  src/otx/core/data/dataset/classification.py
  tests/unit/core/data/dataset/test_classification.py
Labels: OTX 2.0, TEST

Add multi-label case as well2
  src/otx/core/data/dataset/classification.py
Labels: OTX 2.0

Add H-label case
  src/otx/core/data/dataset/classification.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_classification.py
Labels: OTX 2.0, TEST

Reflect comments
  src/otx/algo/common/losses/iou_loss.py
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/layers/elan_layer.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Fix get_item for Chained Tasks in Classification (#3931)
  src/otx/core/data/dataset/classification.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/dataset/test_classification.py
Labels: OTX 2.0, TEST

Modify label_groups for dm_label_categories with id/key of label
  src/otx/core/types/label.py
Labels: OTX 2.0

Fix unit tests
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/core/exporter/diffusion.py
  src/otx/core/model/diffusion.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/diffusion/sd_huggingface.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/conftest.py
  tests/unit/algo/diffusion/test_stable_diffusion.py
Labels: OTX 2.0, TEST

Add unit tests
  src/otx/algo/common/losses/iou_loss.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/layers/elan_layer.py
  src/otx/algo/detection/losses/yolov9_loss.py
  tests/unit/algo/detection/backbones/test_gelan.py
  tests/unit/algo/detection/heads/test_yolo_head.py
  tests/unit/algo/detection/layers/test_common_layer.py
  tests/unit/algo/detection/layers/test_elan_layer.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
  tests/unit/algo/detection/necks/test_yolo_neck.py
  tests/unit/algo/detection/test_yolov9.py
Labels: OTX 2.0, TEST

Update tox.ini
  tox.ini
Labels: BUILD

Update performance test
  tests/perf/test_detection.py
Labels: TEST

pre-commit
  tests/unit/algo/detection/backbones/test_gelan.py
  tests/unit/algo/detection/heads/test_yolo_head.py
  tests/unit/algo/detection/layers/test_common_layer.py
  tests/unit/algo/detection/layers/test_elan_layer.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
  tests/unit/algo/detection/necks/test_yolo_neck.py
  tests/unit/algo/detection/test_yolov9.py
Labels: TEST

Patch instance instead of class object
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Fix unit test
  tests/unit/algo/common/losses/test_iou_loss.py
Labels: TEST

Fix tests
  tests/unit/algo/classification/test_huggingface_model.py
Labels: TEST

Disable xai
  src/otx/algo/detection/yolov9.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

remove datumaro attribute id from tiling
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

Correct Keyerror for h-label cls in label_groups for dm_label_categories using label's id/key (#3932)
  src/otx/core/types/label.py
Labels: OTX 2.0

add subset names
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

Update NNCF Dataloader in Anomaly Task (#3926)
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

update seg tiler
  src/otx/core/model/seg_tiler.py
Labels: OTX 2.0

fix probabilty maps
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

fix soft preds
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

update stfpm config
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

merge with soft mask instead of index mask
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

Fix tracing
  src/otx/algo/diffusion/huggingface_model.py
Labels: OTX 2.0

adaptive tiling for semantic seg
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
  src/otx/core/utils/tile_merge.py
  src/otx/recipe/semantic_segmentation/litehrnet_s_tile.yaml
Labels: OTX 2.0

reply last comments
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/bbox_head.py
  src/otx/algo/instance_segmentation/heads/roi_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_inst_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0
