Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

transforms work. metric is expected. Delete kitty utils
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/utils/__init__.py
  src/otx/core/data/dataset/utils/kitti_utils.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

remove unit test
  tests/unit/core/data/dataset/utils/__init__.py
  tests/unit/core/data/dataset/utils/test_kitti_utils.py
Labels: TEST

fix unit tests
  tests/unit/algo/object_detection_3d/conftest.py
  tests/unit/algo/object_detection_3d/test_monodetr3d.py
  tests/unit/core/data/dataset/test_object_detection_3d.py
Labels: TEST

Add augmentation config param for test
  src/otx/algorithms/classification/configs/configuration.yaml
Labels: OTX 2.0

fix OV IR inference. reply comments
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/openvino_model.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

minor
  src/otx/core/config/data.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

fix linter
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

draft implementation
  pyproject.toml
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
Labels: OTX 2.0, BUILD, DEPENDENCY

added legacy template
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_18/template.yaml
Labels: OTX 2.0

Fix rule type
  src/otx/algorithms/classification/configs/configuration.yaml
Labels: OTX 2.0

Add legacy template LiteHRNet_18 template (#4049)
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_18/template.yaml
Labels: OTX 2.0

rename 'DISCONTINUED' to 'OBSOLETE' in model templates
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_18/template.yaml
Labels: OTX 2.0

Update src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Update src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update src/otx/core/model/detection_3d.py
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

remove unnecessary file
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Update model export to include feature vector and saliency map
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/segmentors/two_stage.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

Fix skip message for inst-seg models in XAI integration test
  tests/integration/api/test_xai.py
Labels: TEST

remove unnecessary directory
  src/otx/algo/__init__.py
  src/otx/algo/plugins/__init__.py
Labels: OTX 2.0

added more unit tests
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Add explain_mode parameter to maskdino model export
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

update changelog
  CHANGELOG.md
Labels: DOC

Model templates: rename model_status value 'DISCONTINUED' to 'OBSOLETE' (#4051)
  src/otx/tools/templates/segmentation/ocr_lite_hrnet_18/template.yaml
Labels: OTX 2.0

update cuda oriented code
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/common/utils/samplers/base_sampler.py
  src/otx/algo/detection/utils/assigners/sim_ota_assigner.py
  src/otx/algo/instance_segmentation/heads/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/losses/hungarian_matcher.py
  src/otx/core/utils/utils.py
  src/otx/engine/engine.py
Labels: OTX 2.0

fix typo
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/common/utils/samplers/base_sampler.py
  src/otx/algo/detection/utils/assigners/sim_ota_assigner.py
  src/otx/core/utils/utils.py
  src/otx/engine/engine.py
Labels: OTX 2.0

separate device util files
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/common/losses/cross_focal_loss.py
  src/otx/algo/common/utils/samplers/base_sampler.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/core/config/hpo.py
  src/otx/core/utils/utils.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/resource_manager.py
  src/otx/utils/utils.py
  tests/unit/algo/accelerators/test_xpu.py
Labels: OTX 2.0, TEST

add missing file
  src/otx/utils/device.py
Labels: OTX 2.0

Refactor available normalization list to use square brackets instead of parentheses
  src/otx/algo/common/utils/assigners/hungarian_matcher.py
  src/otx/algo/common/utils/utils.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/__init__.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/algo/instance_segmentation/utils/utils.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  tests/unit/algo/common/utils/assigners/test_hungarian_matcher.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: OTX 2.0, TEST

Refactor mask extraction in MaskDINOHead export
  src/otx/algo/instance_segmentation/heads/maskdino_head.py
Labels: OTX 2.0

fix bug
  src/otx/algo/common/utils/samplers/base_sampler.py
  src/otx/engine/engine.py
Labels: OTX 2.0

use bf16 when mixed precision
  src/otx/engine/engine.py
Labels: OTX 2.0

Update src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
Labels: OTX 2.0

Update src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
Labels: OTX 2.0

add explain to semantic seg export
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segmentors/base_model.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

add warn
  src/otx/engine/engine.py
Labels: OTX 2.0

fix unit test
  tests/unit/algo/segmentation/segmentors/test_base_model.py
Labels: TEST

remove code to disable xpu
  src/otx/algo/detection/atss.py
  src/otx/algo/segmentation/dino_v2_seg.py
Labels: OTX 2.0

Upgrade MAPI
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Third commit
  src/otx/algo/image_captioning/__init__.py
  src/otx/algo/image_captioning/clip.py
  src/otx/core/data/dataset/image_captioning.py
  src/otx/core/data/entity/image_captioning.py
  src/otx/core/data/factory.py
  src/otx/core/metrics/clip_score.py
  src/otx/core/model/image_captioning.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/_base_/data/image_captioning.yaml
  src/otx/recipe/image_captioning/clip.yaml
Labels: OTX 2.0

Update MRCNN model export to include feature vector and saliency map
  CHANGELOG.md
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/instance_segmentation/two_stage.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST, DOC

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
