Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Fix AnomalyOpenVINO label info creation
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

change arg name to resume-from
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Rename callback
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/classification/heads/semi_sl_head.py
Labels: OTX 2.0

Revert `image_info.scale_factor`
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

Update `Resize`
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update `RandomResize`
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Update `RandomAffine`
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Revert unnecessasry changes
  src/otx/recipe/_base_/data/mmaction_base.yaml
Labels: OTX 2.0

Update `RandomCrop`
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix anomaly (#3557)
  src/otx/algo/anomaly/openvino_model.py
  tests/unit/algo/anomaly/__init__.py
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: OTX 2.0, TEST

revert checkpoint symlink
  src/otx/engine/engine.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

update to use local storage to get pretrained weights
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

Fix test
  tests/unit/core/data/entity/test_base.py
Labels: TEST

Update to be affected
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
Labels: OTX 2.0

Update mm data pipeline
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
Labels: OTX 2.0

Update docstring
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Fix typo
  src/otx/core/model/detection.py
Labels: OTX 2.0

pre-commit
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

modify to use Path object
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

Sync rgb order between torch and ov inference of action classification task (#3551)
  src/otx/core/data/dataset/action_classification.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

update tv.MaskRCNN export
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
Labels: OTX 2.0

swap_rgb to False
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Fix typo
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
Labels: OTX 2.0

Fix Anomaly OV export flag (#3558)
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

modify ci-runner labels
  .github/workflows/pre_merge.yaml
Labels: BUILD

Modify unlabeled loss warmup
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/core/data/module.py
  src/otx/tools/converter.py
Labels: OTX 2.0

use same initial weight during HPO
  src/otx/engine/hpo/hpo_trial.py
Labels: OTX 2.0

Fix module
  src/otx/core/data/module.py
Labels: OTX 2.0

update codeql workflow
  .github/workflows/codeql.yaml
Labels: BUILD

Update recipe
  src/otx/recipe/detection/rtmdet_tiny.yaml
Labels: OTX 2.0

Refactoring
  src/otx/algo/detection/heads/rtmdet_head.py
Labels: OTX 2.0

Remove duplicated head
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
Labels: OTX 2.0

Refactor Data pipeline for unlabeled
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/core/config/data.py
  src/otx/core/data/module.py
Labels: OTX 2.0

Add 2 more notebooks
  notebooks/006.zero-shot-visual-prompting.ipynb
  notebooks/007.VOC-examples.ipynb
Labels: none

fix maskrcnn accuracy drop
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/core/data/dataset/instance_segmentation.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/model/base.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
Labels: OTX 2.0

update dino v2 model init
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
Labels: OTX 2.0

use val_dataloader
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Add & update unit tests
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/utils/utils.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST

Make Perf test available to load pervious Perf test to skip training stage (#3556)
  src/otx/cli/cli.py
  tests/conftest.py
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/cli/cli.html
Labels: none
