Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

fix unit test
  src/otx/tools/converter.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

update for 2.2.0rc3
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update for 2.2.0rc3 (#3975)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Refactor TIMM
  pyproject.toml
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/timm_model.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/experimental/mobilenet_v4_large.yaml
  src/otx/recipe/classification/multi_class_cls/experimental/mobilenet_v4_medium.yaml
  src/otx/recipe/classification/multi_class_cls/experimental/mobilenet_v4_small.yaml
  src/otx/recipe/classification/multi_class_cls/semisl/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Remove experimental recipes
  src/otx/recipe/classification/multi_class_cls/experimental/mobilenet_v4_large.yaml
  src/otx/recipe/classification/multi_class_cls/experimental/mobilenet_v4_medium.yaml
  src/otx/recipe/classification/multi_class_cls/experimental/mobilenet_v4_small.yaml
Labels: OTX 2.0

Revert timm version
  pyproject.toml
Labels: BUILD, DEPENDENCY

Exclude diffusers-dependent tests
  tests/integration/api/test_auto_configuration.py
  tests/integration/conftest.py
  tests/unit/algo/classification/test_huggingface_model.py
  tox.ini
Labels: TEST, BUILD

Update docs
  docs/source/guide/explanation/algorithms/diffusion/index.rst
  docs/source/guide/explanation/algorithms/index.rst
Labels: DOC

update maskdino config
  src/otx/algo/instance_segmentation/mask_dino/box_ops.py
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/matcher.py
  src/otx/algo/instance_segmentation/mask_dino/misc.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/position_encoding.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/utils.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/recipe/instance_segmentation/config.yaml
Labels: OTX 2.0

Exclude diffusers-dependent tests
  tests/conftest.py
Labels: TEST

update maskdino config 2
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/recipe/instance_segmentation/config.yaml
Labels: OTX 2.0

few fixes
  src/otx/algo/object_detection_3d/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/rotate_iou.py
  src/otx/recipe/_base_/train.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

decouple detectron resnet50
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/batch_norm.py
  src/otx/algo/instance_segmentation/mask_dino/box_ops.py
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/matcher.py
  src/otx/algo/instance_segmentation/mask_dino/misc.py
  src/otx/algo/instance_segmentation/mask_dino/pixel_decoder/maskdino_encoder.py
  src/otx/algo/instance_segmentation/mask_dino/resnet.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/recipe/instance_segmentation/config.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

decouple detectron resnet50
  src/otx/algo/instance_segmentation/mask_dino/batch_norm.py
  src/otx/algo/instance_segmentation/mask_dino/resnet.py
Labels: OTX 2.0

decouple detectron resnet50
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
Labels: OTX 2.0

refactoring
  src/otx/algo/common/losses/focal_loss.py
  src/otx/algo/object_detection_3d/backbones/__init__.py
  src/otx/algo/object_detection_3d/backbones/backbone.py
  src/otx/algo/object_detection_3d/depth_predictor/__init__.py
  src/otx/algo/object_detection_3d/depth_predictor/transformer.py
  src/otx/algo/object_detection_3d/detectors/__init__.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/__init__.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/losses/__init__.py
  src/otx/algo/object_detection_3d/losses/balancer.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/focal_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matchers/__init__.py
  src/otx/algo/object_detection_3d/matchers/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
Labels: OTX 2.0

Use sseg tiler from MAPI
  src/otx/core/model/seg_tiler.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Upgrade MAPI
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Skip batch without ground truth
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/rtdetr.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update recipes
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
Labels: OTX 2.0

Add comment
  src/otx/core/model/base.py
Labels: OTX 2.0

Fix unit test
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST

mypy pylint
  src/otx/algo/instance_segmentation/mask_dino/__init__.py
  src/otx/algo/instance_segmentation/mask_dino/batch_norm.py
  src/otx/algo/instance_segmentation/mask_dino/maskdino_head.py
  src/otx/algo/instance_segmentation/mask_dino/resnet.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/dino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/transformer_decoder/maskdino_decoder.py
  src/otx/algo/instance_segmentation/mask_dino/utils.py
Labels: OTX 2.0

Add unit test
  tests/unit/core/model/test_base.py
Labels: TEST

Add changelog for 2.3
  CHANGELOG.md
Labels: DOC

continue refactoring
  src/otx/algo/common/losses/focal_loss.py
  src/otx/algo/object_detection_3d/__init__.py
  src/otx/algo/object_detection_3d/backbones/__init__.py
  src/otx/algo/object_detection_3d/backbones/backbone.py
  src/otx/algo/object_detection_3d/detectors/__init__.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/__init__.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/losses/balancer.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matchers/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/object_detection_3d/utils/utils.py
  src/otx/core/data/dataset/kitti_3d/kitti3d.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/eval.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/kitti_common.py
  src/otx/core/data/dataset/kitti_3d/kitti_eval_python/rotate_iou.py
  src/otx/core/data/dataset/kitti_3d/kitti_utils.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/module.py
  src/otx/core/exporter/detection_3d.py
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

Apply review comments
  src/otx/algo/diffusion/huggingface_model.py
  src/otx/algo/diffusion/utils/data_sample.py
  src/otx/core/exporter/diffusion.py
  src/otx/core/model/diffusion.py
Labels: OTX 2.0

Fix conflict2
  tests/unit/core/data/test_tiling.py
Labels: TEST

Fix unit-test
  tests/unit/algo/classification/backbones/test_timm.py
Labels: TEST

Update export parameter
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Fix unit test
  tests/unit/algo/detection/test_yolov9.py
Labels: TEST

fix tiling flaky test
  tests/unit/core/data/test_tiling.py
Labels: TEST

Add OV model for keypoint detection (#3970)
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/keypoint_detection/openvino_model.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny.yaml
  src/otx/recipe/keypoint_detection/rtmpose_tiny_single_obj.yaml
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/core/metrics/pck.py
  tests/unit/core/model/test_keypoint_detection.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/keypoint_detection.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.keypoint_detection.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.keypoint_detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

added datumaro dataset
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/module.py
  src/otx/core/data/pre_filtering.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

fix linter
  src/otx/algo/common/losses/focal_loss.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/object_detection_3d/backbones/backbone.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/heads/depthaware_transformer.py
  src/otx/algo/object_detection_3d/losses/balancer.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/matchers/matcher_3d.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/algo/object_detection_3d/utils/__init__.py
  src/otx/algo/object_detection_3d/utils/utils.py
  src/otx/core/data/dataset/kitti_3d/kitti_utils.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/data/module.py
  src/otx/core/model/detection_3d.py
Labels: OTX 2.0

added two version of 3d ap calculation.
  pyproject.toml
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/dataset/kitti_3d/kitti3d.py
  src/otx/core/metrics/ap_3d.py
  src/otx/core/metrics/kitti_3d_eval/__init__.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
  src/otx/core/metrics/kitti_3d_eval/rotate_gpu_iou.py
  src/otx/core/metrics/kitti_3d_eval/rotate_iou.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Add changelog for 2.3 (#3980)
  CHANGELOG.md
Labels: DOC

Improve YOLOv9 performance (#3953)
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/yolov9.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/yolov9_c.yaml
  src/otx/recipe/detection/yolov9_m.yaml
  src/otx/recipe/detection/yolov9_s.yaml
  tests/unit/algo/detection/losses/test_yolov9_loss.py
  tests/unit/algo/detection/test_yolov9.py
  tests/unit/core/model/test_base.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/detection.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
