Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

update criterion optimizers etc
  src/otx/algo/instance_segmentation/mask_dino/criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/core/data/module.py
  src/otx/core/model/base.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

remove model from recipe
  src/otx/recipe/semantic_segmentation/semisl/segnext_b_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_s_semisl.yaml
  src/otx/recipe/semantic_segmentation/semisl/segnext_t_semisl.yaml
Labels: OTX 2.0

remove merge problem
  src/otx/recipe/semantic_segmentation/semisl/dino_v2_semisl.yaml
Labels: OTX 2.0

Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD

Fix missed part
  src/otx/algo/visual_prompting/sam.py
Labels: OTX 2.0

Fix pytorchcv version
  pyproject.toml
Labels: BUILD, DEPENDENCY

Rename directory from `base_models` to `detectors`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/detectors/__init__.py
  src/otx/algo/detection/detectors/detection_transformer.py
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/model/detection.py
  tests/unit/algo/detection/detectors/test_detr.py
  tests/unit/algo/detection/detectors/test_single_stage_detector.py
Labels: OTX 2.0, TEST

Update pytorchcv version
  pyproject.toml
Labels: BUILD, DEPENDENCY

Update pytorchcv version
  pyproject.toml
Labels: BUILD, DEPENDENCY

fix pytorchcv version
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix for empty nonzero points
  src/otx/core/data/dataset/visual_prompting.py
Labels: OTX 2.0

Update e2e tests for OTX2.2 validation
  .github/workflows/daily.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tox.ini
Labels: TEST, BUILD

update version to 1.6.4rc0
  .ci/trivy-csv.yaml
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC, BUILD

Fix pre-commit issue
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix confusion metrix calculation
  src/otx/api/usecases/evaluation/accuracy.py
Labels: OTX 2.0

Refactoring visual prompting (#3789)
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/backbones/__init__.py
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/algo/visual_prompting/backbones/vit.py
  src/otx/algo/visual_prompting/decoders/__init__.py
  src/otx/algo/visual_prompting/decoders/sam_mask_decoder.py
  src/otx/algo/visual_prompting/encoders/__init__.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/algo/visual_prompting/encoders/sam_prompt_encoder.py
  src/otx/algo/visual_prompting/losses/__init__.py
  src/otx/algo/visual_prompting/losses/sam_loss.py
  src/otx/algo/visual_prompting/sam.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/utils/__init__.py
  src/otx/algo/visual_prompting/utils/layer_norm_2d.py
  src/otx/algo/visual_prompting/utils/mlp_block.py
  src/otx/algo/visual_prompting/utils/postprocess.py
  src/otx/algo/visual_prompting/visual_prompters/__init__.py
  src/otx/algo/visual_prompting/visual_prompters/segment_anything.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/unit/algo/visual_prompting/backbones/__init__.py
  tests/unit/algo/visual_prompting/backbones/test_tiny_vit.py
  tests/unit/algo/visual_prompting/decoders/test_sam_mask_decoder.py
  tests/unit/algo/visual_prompting/encoders/__init__.py
  tests/unit/algo/visual_prompting/encoders/test_sam_image_encoder.py
  tests/unit/algo/visual_prompting/encoders/test_sam_prompt_encoder.py
  tests/unit/algo/visual_prompting/losses/__init__.py
  tests/unit/algo/visual_prompting/losses/test_sam_loss.py
  tests/unit/algo/visual_prompting/test_sam.py
  tests/unit/algo/visual_prompting/test_segment_anything.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/algo/visual_prompting/utils/__init__.py
  tests/unit/algo/visual_prompting/utils/test_postprocess.py
  tests/unit/algo/visual_prompting/visual_prompters/__init__.py
  tests/unit/algo/visual_prompting/visual_prompters/test_segment_anything.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.segmentation.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update docs: Remove DataModuleConfig (#3841)
  docs/source/guide/explanation/additional_features/auto_configuration.rst
  docs/source/guide/explanation/additional_features/class_incremental_sampler.rst
  docs/source/guide/explanation/additional_features/fast_data_loading.rst
  docs/source/guide/explanation/additional_features/tiling.rst
  docs/source/guide/explanation/algorithms/classification/multi_class_classification.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/tutorials/advanced/semi_supervised_learning.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/anomaly_detection.rst
  docs/source/guide/tutorials/base/how_to_train/classification.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  docs/source/guide/tutorials/base/how_to_train/instance_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/semantic_segmentation.rst
  docs/source/guide/tutorials/base/how_to_train/visual_prompting.rst
Labels: DOC

Fix tox issue for anomaly e2e test execution.
  tox.ini
Labels: BUILD

Fix visual prompting dataset for empty nonzero mask (#3854)
  src/otx/core/data/dataset/visual_prompting.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/exporter/visual_prompting.html
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

Refactor MaskRCNN rotated detection
  src/otx/core/model/rotated_detection.py
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
Labels: OTX 2.0

update rotated ov model recipe
  src/otx/recipe/rotated_detection/openvino_model.yaml
Labels: OTX 2.0

update loss
  src/otx/algo/instance_segmentation/maskdino.py
Labels: OTX 2.0

Fix
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
Labels: OTX 2.0

Update documentation
  develop/_sources/guide/explanation/additional_features/auto_configuration.rst.txt
  develop/_sources/guide/explanation/additional_features/class_incremental_sampler.rst.txt
  develop/_sources/guide/explanation/additional_features/fast_data_loading.rst.txt
  develop/_sources/guide/explanation/additional_features/tiling.rst.txt
  develop/_sources/guide/explanation/algorithms/classification/multi_class_classification.rst.txt
  develop/_sources/guide/explanation/algorithms/visual_prompting/fine_tuning.rst.txt
  develop/_sources/guide/get_started/cli_commands.rst.txt
  develop/_sources/guide/tutorials/advanced/semi_supervised_learning.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/action_classification.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/action_detection.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/anomaly_detection.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/classification.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/detection.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/instance_segmentation.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/semantic_segmentation.rst.txt
  develop/_sources/guide/tutorials/base/how_to_train/visual_prompting.rst.txt
  develop/guide/explanation/additional_features/auto_configuration.html
  develop/guide/explanation/additional_features/class_incremental_sampler.html
  develop/guide/explanation/additional_features/fast_data_loading.html
  develop/guide/explanation/additional_features/tiling.html
  develop/guide/explanation/algorithms/classification/multi_class_classification.html
  develop/guide/explanation/algorithms/visual_prompting/fine_tuning.html
  develop/guide/get_started/cli_commands.html
  develop/guide/tutorials/advanced/semi_supervised_learning.html
  develop/guide/tutorials/base/how_to_train/action_classification.html
  develop/guide/tutorials/base/how_to_train/action_detection.html
  develop/guide/tutorials/base/how_to_train/anomaly_detection.html
  develop/guide/tutorials/base/how_to_train/classification.html
  develop/guide/tutorials/base/how_to_train/detection.html
  develop/guide/tutorials/base/how_to_train/instance_segmentation.html
  develop/guide/tutorials/base/how_to_train/semantic_segmentation.html
  develop/guide/tutorials/base/how_to_train/visual_prompting.html
  develop/searchindex.js
Labels: none

update rotated det recipes
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50_tile.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/engine/engine.html
  develop/_sources/guide/explanation/algorithms/classification/multi_class_classification.rst.txt
  develop/guide/explanation/algorithms/classification/multi_class_classification.html
  develop/searchindex.js
Labels: none

Create criterion modules
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/atss_loss.py
  src/otx/algo/detection/losses/rtmdet_loss.py
  src/otx/algo/detection/losses/ssd_loss.py
  src/otx/algo/detection/losses/yolox_loss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/rtmdet_inst_loss.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Update version to 1.6.4rc0 (#3855)
  .ci/trivy-csv.yaml
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC, BUILD

Update documentation
  develop/_modules/otx/core/model/classification.html
Labels: none

Revert data path
  tests/e2e/conftest.py
Labels: TEST

Fixed an issue where the OV inference test does not work in anomaly, vp, zvp and keypoint detection tasks
  tests/e2e/cli/test_cli.py
Labels: TEST

Update test_cli.py
  tests/e2e/cli/test_cli.py
Labels: TEST

Update CODEOWNERS (#3852)
  .github/CODEOWNERS
Labels: BUILD

Kp/fix e2e tests (#3849)
  .github/workflows/daily.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tox.ini
Labels: TEST, BUILD

Update MAPI (#3825)
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  src/otx/core/model/visual_prompting.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

refactor keypoint detection
  src/otx/algo/keypoint_detection/heads/rtmcc_head.py
  src/otx/algo/keypoint_detection/topdown.py
  src/otx/algo/keypoint_detection/utils/data_sample.py
  src/otx/core/data/dataset/keypoint_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/metrics/pck.py
  src/otx/core/model/keypoint_detection.py
  src/otx/recipe/_base_/data/keypoint_detection.yaml
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/algo/keypoint_detection/test_rtmpose.py
Labels: OTX 2.0, TEST

fix unit test
  src/otx/core/data/entity/keypoint_detection.py
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/algo/keypoint_detection/conftest.py
  tests/unit/algo/keypoint_detection/heads/test_rtmcc_head.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

remove unused transforms
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST
