Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Update exportable code dependency & fix a bug (#3642)
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/model_wrapper.py
  src/otx/core/exporter/exportable_code/demo/requirements.txt
  tests/unit/core/exporter/exportable_code/demo/demo_package/test_model_wrapper.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/exporter/base.html
Labels: none

Add Semi-SL for cls Benchmark Test (#3647)
  tests/perf/benchmark.py
  tests/perf/test_classification.py
Labels: TEST

Add log
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

move value to device before logging for metric
  src/otx/core/model/base.py
Labels: OTX 2.0

Add .codecov.yaml
  .codecov.yaml
Labels: none

Move value to device before logging for metric (#3649)
  src/otx/core/model/base.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/base.html
Labels: none

Update preset to `mixed`
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Add .codecov.yaml (#3650)
  .codecov.yaml
Labels: none

Fix getting wrong shape during resizing (#3644)
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/core/data/transform_libs/test_utils.py
Labels: OTX 2.0, TEST

Fix detection prediction outputs (#3634)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Fix RTMDet PTQ performance (#3651)
  src/otx/algo/detection/rtmdet.py
Labels: OTX 2.0

Update benchmark tool for otx2.1
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Fix pre-commit issues
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Fix pre-commit issues
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

Add maskrcnn_r50_tv for instance seg
  tests/perf/test_instance_segmentation.py
Labels: TEST

Update code feedbacks
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/perf/test_semantic_segmentation.py
  tests/perf/test_visual_prompting.py
Labels: TEST

minimize compiled dependency files
  .ci/docker/Dockerfile
  .ci/docker/README.md
  .ci/docker/build.sh
  .ci/docker/check-runner.sh
  .ci/docker/start-runner.sh
  .ci/docker/stop-runner.sh
  .ci/requirements.in
  .ci/requirements.txt
  .ci/requirements/Makefile
  .ci/requirements/README.md
  .ci/requirements/benchmark/requirements.in
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.in
  .ci/requirements/tox/requirements.txt
  .github/dependabot.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  docker/Dockerfile.cuda
  docs/source/guide/get_started/installation.rst
  for_developers/regression_test/Dockerfile
  for_developers/regression_test/requirements.txt
  pyproject.toml
Labels: DOC, BUILD, DEPENDENCY

Add forcing `num_workers` to 0
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update `__init__`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix segmentation fault on VPM PTQ (#3654)
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update `_create_model`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/visual_prompting.html
Labels: none

Update `_customize_inputs`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update `_customize_outputs`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update benchmark tool for otx2.1 (#3652)
  tests/conftest.py
  tests/perf/conftest.py
  tests/perf/test_action.py
  tests/perf/test_anomaly.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
Labels: TEST

add tv maskrcnn recipe
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

add unit test
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: TEST

add tile size
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
Labels: OTX 2.0

Adapt to changes in MAPI
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update cache dir
  src/otx/algo/classification/backbones/efficientnet.py
Labels: OTX 2.0

Update pytorchcv cache root
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
Labels: OTX 2.0

Update `get_classification_layers`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update export related things
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update importing backbones
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  tests/unit/algo/detection/backbones/test_pytorchcv_backbones.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST

Update importing heads
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/anchor_generator/__init__.py
  src/otx/algo/detection/utils/anchor_generator/anchor_generator.py
  src/otx/algo/detection/utils/anchor_generator/point_generator.py
  src/otx/algo/detection/utils/assigner/__init__.py
  src/otx/algo/detection/utils/assigner/atss_assigner.py
  src/otx/algo/detection/utils/assigner/dynamic_soft_label_assigner.py
  src/otx/algo/detection/utils/assigner/max_iou_assigner.py
  src/otx/algo/detection/utils/assigner/sim_ota_assigner.py
  src/otx/algo/detection/utils/coder/__init__.py
  src/otx/algo/detection/utils/coder/delta_xywh_bbox_coder.py
  src/otx/algo/detection/utils/coder/distance_point_bbox_coder.py
  src/otx/algo/detection/utils/sampler/__init__.py
  src/otx/algo/detection/utils/sampler/base_sampler.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/model/detection.py
  tests/intg_output.log
  tests/intg_output_ci.log
  tests/unit/algo/detection/heads/test_custom_anchor_generator.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/detection/heads/test_max_iou_assigner.py
  tests/unit/algo/detection/heads/test_point_generator.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/heads/test_sim_ota_assigner.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: OTX 2.0, TEST

Update `_build_model` and fix unit tests
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/yolox.py
  src/otx/core/model/detection.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/model/test_detection.py
Labels: OTX 2.0, TEST

Move `iou2d_calculator` to utils
  src/otx/algo/detection/utils/assigner/atss_assigner.py
  src/otx/algo/detection/utils/assigner/dynamic_soft_label_assigner.py
  src/otx/algo/detection/utils/assigner/max_iou_assigner.py
  src/otx/algo/detection/utils/assigner/sim_ota_assigner.py
  src/otx/algo/detection/utils/iou2d_calculator.py
Labels: OTX 2.0
