Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

pre-commit
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0

Fix unit test
  src/otx/algo/modules/conv_module.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

refactor OTXAnomaly
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

fix test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

add changelog
  CHANGELOG.md
Labels: DOC

Update keypoint detection part
  src/otx/algo/keypoint_detection/rtmpose.py
Labels: OTX 2.0

add input_size_multiplier and pass it to datamodule in cli
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/cli/cli.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/base.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

fix unit test. Add integration
  src/otx/algo/common/utils/utils.py
  src/otx/engine/utils/api.py
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0001.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0002.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0003.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0004.png
  tests/assets/common_semantic_segmentation_dataset/unlabeled/0005.png
  tests/integration/cli/test_cli.py
  tests/integration/conftest.py
Labels: OTX 2.0, TEST

fix integration test
  src/otx/algo/common/utils/utils.py
  src/otx/engine/utils/api.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

add perf tests
  tests/perf/test_semantic_segmentation.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: TEST

fix export. Delete student model
  src/otx/core/model/segmentation.py
  tests/perf/test_semantic_segmentation.py
Labels: OTX 2.0, TEST

remove dead code. Extend unit test
  src/otx/core/types/label.py
  tests/unit/algo/segmentation/segmentors/test_mean_teacher.py
Labels: OTX 2.0, TEST

update changelog
  CHANGELOG.md
Labels: DOC

Fix dinov2 semisl recipe
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
Labels: OTX 2.0

Bump lightning version to 2.3.3 (#3796)
  pyproject.toml
  src/otx/core/schedulers/__init__.py
Labels: OTX 2.0, BUILD, DEPENDENCY

Remove default backbone in TimmModel
  src/otx/algo/classification/timm_model.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST

Remove default backbone in TimmModel2
  src/otx/algo/classification/timm_model.py
Labels: OTX 2.0

update pip update config to exclude base dependencies
  .github/dependabot.yaml
Labels: BUILD

Fix import structure
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Fix default
  src/otx/algo/detection/backbones/csp_darknet.py
Labels: OTX 2.0

change typehint from sequence to tuple
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/classification/vit.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/cli/cli.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/__init__.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Hot-Fix hang issue in integration test (#3815)
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

align with pre-commit
  src/otx/algo/anomaly/stfpm.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/cli/cli.py
  src/otx/core/data/module.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

write doc string
  src/otx/algo/anomaly/stfpm.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/torchvision_model.py
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/cli/cli.py
  src/otx/core/data/utils/utils.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Revert to use a super model instead of sub models
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/encoders/__init__.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

Keep essential parameters only
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/algo/visual_prompting/backbones/vit.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
Labels: OTX 2.0

Refactor to Mixin
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

remove HPO tests for semi-sl. Add Unit test for callback
  tests/integration/cli/test_cli.py
  tests/unit/algo/callbacks/test_ema_mean_teacher.py
Labels: TEST

fix pylint
  src/otx/recipe/_base_/data/semisl/semantic_segmentation_semisl.yaml
  tests/unit/algo/callbacks/test_ema_mean_teacher.py
Labels: OTX 2.0, TEST

Add anomaly (classification)task
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/factory.py
  src/otx/core/model/anomaly.py
  src/otx/core/types/task.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/anomaly/openvino_model.yaml
  src/otx/recipe/anomaly/padim.yaml
  src/otx/recipe/anomaly/stfpm.yaml
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

fix test xai
  tests/integration/api/test_xai.py
Labels: TEST

Refactor classification OTXModels (#3808)
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/timm_model.py
  src/otx/algo/classification/vit.py
  src/otx/core/model/classification.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/unit/algo/callbacks/test_unlabeled_loss_warmup.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/algo/classification/test_timm_model.py
Labels: OTX 2.0, TEST

Update .github/dependabot.yaml
  .github/dependabot.yaml
Labels: BUILD

Refactor OTXAnomaly (#3811)
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Fix build docs
  docs/README.md
  tox.ini
Labels: DOC, BUILD

implement unit test
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/cli/cli.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/algo/classification/test_huggingface_model.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/algo/detection/base_models/test_detr.py
  tests/unit/algo/segmentation/test_huggingface_model.py
  tests/unit/algo/visual_prompting/test_segment_anything.py
  tests/unit/cli/test_cli.py
  tests/unit/core/data/test_module.py
  tests/unit/core/model/test_base.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

update unit test
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_segmentation.py
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

implement left unit test
  src/otx/core/data/utils/utils.py
  tests/unit/core/data/utils/__init__.py
  tests/unit/core/data/utils/test_utils.py
Labels: OTX 2.0, TEST

align with develop branch
  src/otx/algo/classification/timm_model.py
  src/otx/cli/cli.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

fix typo
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
