Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Updates for current develop
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Fix types, docstring, and comments
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Use torchvision in MRCNN on CUDA (#3347)
  src/otx/algorithms/detection/adapters/mmdet/configurer.py
  tests/e2e/cli/semantic_segmentation/test_segmentation.py
  tests/integration/api/detection/api_detection.py
  tests/integration/cli/semantic_segmentation/test_segmentation.py
Labels: OTX 2.0, TEST

[NNCF] Dynamic shape datasets WA
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/compression_config.json
Labels: OTX 2.0

add mmdeploy maskrcnn opset
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_efficientnetb2b.yaml
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
Labels: OTX 2.0

Fix unit tests
  tests/unit/core/model/test_visual_prompting.py
Labels: TEST

fix linter
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
Labels: OTX 2.0

update test
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
Labels: TEST

update test
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
Labels: TEST

update test
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
Labels: TEST

XAI for rmdet_inst_tiny
  src/otx/algo/utils/xai_utils.py
  src/otx/core/model/instance_segmentation.py
  tests/e2e/cli/test_cli.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Update nncf configs for all cls cnns
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/compression_config.json
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/compression_config.json
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/compression_config.json
Labels: OTX 2.0

[NNCF] Dynamic shape datasets WA (#3355)
  src/otx/algorithms/classification/configs/efficientnet_b0_cls_incr/compression_config.json
  src/otx/algorithms/classification/configs/efficientnet_v2_s_cls_incr/compression_config.json
  src/otx/algorithms/classification/configs/mobilenet_v3_large_1_cls_incr/compression_config.json
Labels: OTX 2.0

Re-org deps for ci and pin deps for benchmark workflow (#3349)
  .ci/requirements/benchmark/requirements.in
  .ci/requirements/benchmark/requirements.txt
  .ci/requirements/piptools/requirements.in
  .ci/requirements/piptools/requirements.txt
  .ci/requirements/publish/requirements.in
  .ci/requirements/publish/requirements.txt
  .ci/requirements/tox/requirements.in
  .ci/requirements/tox/requirements.txt
  .github/dependabot.yaml
  .github/workflows/code_scan.yaml
  .github/workflows/daily.yaml
  .github/workflows/docs.yaml
  .github/workflows/docs_stable.yaml
  .github/workflows/perf_benchmark.yaml
  .github/workflows/pre_merge.yaml
  .github/workflows/publish.yaml
  .github/workflows/publish_internal.yaml
  docker/Dockerfile.cuda
Labels: BUILD

Update documentation
  develop/_modules/otx/algo/classification/otx_dino_v2.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/algo/visual_prompting/segment_anything.html
  develop/_modules/otx/algo/visual_prompting/zero_shot_segment_anything.html
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/action_detection.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/core/optimizer/callable.html
  develop/_modules/otx/core/types/label.html
  develop/_modules/otx/engine/engine.html
  develop/_modules/otx/tools/converter.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.classification.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/guide/reference/_autosummary/otx.algo.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.action_detection.html
  develop/guide/reference/_autosummary/otx.core.model.anomaly.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.classification.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.optimizer.html
  develop/guide/reference/_autosummary/otx.core.types.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Fix unit-test
  tests/unit/engine/utils/test_api.py
Labels: TEST

Fix unit-test2
  tests/unit/algo/classification/backbones/test_timm.py
Labels: TEST

bump datumaro to 1.6.1rc3
  requirements/base.txt
Labels: DEPENDENCY

Update compressed_model.yml
  tests/e2e/cli/instance_segmentation/reference/Custom_Counting_Instance_Segmentation_MaskRCNN_ResNet50/compressed_model.yml
Labels: TEST

Remove mmconfigs for effnet-V2
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_v2_light.yaml
Labels: OTX 2.0

Update Docstring for RandomResizedCrop
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Reduce default batch size of action detection
  src/otx/recipe/action/action_detection/x3d_fastrcnn.yaml
Labels: OTX 2.0

Bring ConvModule from mmcv.cnn.bricks
  src/otx/algo/classification/backbones/otx_efficientnet.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/padding.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

Bump datumaro to 1.6.1rc3 (#3365)
  requirements/base.txt
Labels: DEPENDENCY

Add RandomResizedCrop for cv2 & Change mv3 pipelines (#3352)
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

remove pip upgrade command
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

update for release 1.6.1
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Reduce default batch size of action detection (#3367)
  src/otx/recipe/action/action_detection/x3d_fastrcnn.yaml
Labels: OTX 2.0

Fix
  src/otx/cli/cli.py
Labels: OTX 2.0

Revisit
  pyproject.toml
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/cli/cli.py
  src/otx/core/config/data.py
  src/otx/core/data/module.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/export.py
  src/otx/core/types/label.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/utils/utils.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/core/types/test_label.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Change should_pass_tile_config() => can_pass_tile_config()
  src/otx/cli/cli.py
  src/otx/core/types/export.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/utils/utils.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Fix msg
  src/otx/core/model/base.py
Labels: OTX 2.0

Fix AutoConfigurator error
  src/otx/cli/cli.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Refactoring using `Path`
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

hotfix
  src/otx/algorithms/common/utils/task_adapt.py
  src/otx/algorithms/detection/adapters/mmdet/datasets/dataset.py
Labels: OTX 2.0

Rename explain hook
  docs/source/guide/explanation/additional_features/xai.rst
  docs/source/guide/tutorials/base/explain.rst
  src/otx/algo/explain/explain_algo.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/utils/tile_merge.py
  tests/unit/algo/explain/test_xai_algorithms.py
Labels: OTX 2.0, TEST, DOC

Minor
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
Labels: BUILD

Update QAT configs for rotated detection
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/compression_config.json
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/compression_config.json
Labels: OTX 2.0

Fix
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
Labels: BUILD
