Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Add changelog
  CHANGELOG.md
  src/otx/recipe/detection/rtdetr_101.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
  src/otx/recipe/detection/rtdetr_50.yaml
Labels: OTX 2.0, DOC

Fix all_labels
  src/otx/core/types/label.py
Labels: OTX 2.0

Update CHAGELOG
  CHANGELOG.md
  src/otx/__init__.py
Labels: OTX 2.0, DOC

label_groups change
  src/otx/core/types/label.py
Labels: OTX 2.0

Training job fixes (#7494)
  application/backend/app/core/jobs/control_plane/controller.py
  application/backend/app/execution/training/getitune_trainer.py
  application/backend/app/models/jobs/training_job.py
  application/backend/pyproject.toml
  application/backend/tests/unit/core/jobs/control_plane/test_controller.py
  application/backend/tests/unit/execution/training/test_getitune_trainer.py
  application/backend/tests/unit/models/jobs/test_training_job.py
Labels: none

add YOLO Detr wrapper support
  library/src/getitune/backend/ultralytics/models/__init__.py
  library/src/getitune/backend/ultralytics/models/base.py
  library/src/getitune/backend/ultralytics/models/yolo_detr.py
  library/src/getitune/backend/ultralytics/trainers/__init__.py
  library/src/getitune/backend/ultralytics/trainers/yolo_detr.py
  library/src/getitune/backend/ultralytics/validators/__init__.py
  library/src/getitune/backend/ultralytics/validators/yolo_detr.py
  library/src/getitune/models/__init__.py
  library/tests/unit/backend/ultralytics/exporter/test_exporter.py
  library/tests/unit/backend/ultralytics/models/test_base.py
  library/tests/unit/backend/ultralytics/trainers/test_trainers.py
Labels: none

resolve linter problem
  library/src/getitune/backend/ultralytics/models/__init__.py
  library/src/getitune/backend/ultralytics/trainers/__init__.py
  library/src/getitune/backend/ultralytics/trainers/yolo_detr.py
  library/src/getitune/backend/ultralytics/validators/__init__.py
  library/tests/unit/backend/ultralytics/exporter/test_exporter.py
Labels: none

update pyprojects
  application/backend/uv.lock
  library/pyproject.toml
  library/uv.lock
Labels: none

fix: improve handling of abnormal process terminations and memory management during evaluation
  application/backend/app/core/jobs/exec/process_run.py
  application/backend/app/core/logging/__init__.py
  application/backend/app/core/logging/utils.py
  application/backend/tests/unit/core/jobs/control_plane/test_process_run.py
  library/src/getitune/backend/openvino/models/utils.py
  library/src/getitune/tools/auto_configurator.py
  library/tests/unit/backend/openvino/models/test_utils.py
  library/tests/unit/tools/test_auto_configurator.py
Labels: none

fix: enhance stale job monitoring and reporting during long evaluations
  application/backend/app/core/jobs/control_plane/controller.py
  application/backend/app/core/jobs/exec/process_run.py
  application/backend/app/core/jobs/exec/thread_run.py
  application/backend/app/core/run/runner.py
  application/backend/app/execution/base.py
  application/backend/app/execution/training/getitune_trainer.py
  application/backend/app/execution/training/progress.py
  application/backend/tests/unit/core/jobs/control_plane/test_controller.py
  application/backend/tests/unit/execution/training/test_getitune_trainer.py
  library/src/getitune/backend/openvino/engine.py
  library/tests/unit/backend/openvino/test_engine.py
Labels: none

fix: Responsive design for the welcome page
  application/ui/src/features/project/list/empty-project-list/empty-project-list.module.scss
  application/ui/src/features/project/list/empty-project-list/workflow-steps.module.scss
  application/ui/src/features/project/project-background.module.scss
Labels: none

fix: Responsive design for the welcome page (#7511)
  application/ui/src/features/project/list/empty-project-list/empty-project-list.module.scss
  application/ui/src/features/project/list/empty-project-list/workflow-steps.module.scss
  application/ui/src/features/project/project-background.module.scss
Labels: none

change Ultralytics interface
  library/src/getitune/backend/ultralytics/trainers/yolo_detr.py
  library/src/getitune/backend/ultralytics/validators/yolo_detr.py
  library/uv.lock
Labels: none

test(smoke): fix timm training issues
  application/backend/app/execution/training/getitune_trainer.py
  application/backend/tests/unit/execution/training/test_getitune_trainer.py
  library/src/getitune/backend/lightning/models/classification/backbones/timm.py
  library/src/getitune/backend/lightning/models/classification/multiclass_models/timm_model.py
  library/src/getitune/backend/lightning/models/classification/multilabel_models/timm_model.py
  library/tests/unit/backend/lightning/models/classification/backbones/test_timm.py
Labels: none

fix(timm): do not use legacy exported for csatv2
  library/src/getitune/backend/lightning/models/classification/multiclass_models/timm_model.py
  library/src/getitune/backend/lightning/models/classification/multilabel_models/timm_model.py
Labels: none

Improve README.md, install.md and CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  application/docs/install.md
Labels: DOC

chore: incorporate review comments
  library/src/getitune/backend/lightning/models/classification/multiclass_models/timm_model.py
  library/src/getitune/backend/lightning/models/classification/multilabel_models/timm_model.py
  library/src/getitune/backend/lightning/models/classification/utils/timm.py
Labels: none

fix linter
  library/src/getitune/backend/ultralytics/engine.py
  library/src/getitune/backend/ultralytics/trainers/classification.py
  library/src/getitune/backend/ultralytics/trainers/detection.py
  library/src/getitune/backend/ultralytics/trainers/instance_segmentation.py
  library/src/getitune/backend/ultralytics/trainers/semantic_segmentation.py
  library/src/getitune/backend/ultralytics/trainers/yolo_detr.py
  library/tests/unit/backend/ultralytics/trainers/test_trainers.py
Labels: none

Upgrade torch to 2.14 (#7482)
  application/README.md
  application/backend/pyproject.toml
  application/backend/uv.lock
  library/README.md
  library/pyproject.toml
  library/uv.lock
Labels: DOC

Centralise file upload logic
  application/ui/src/api/index.ts
  application/ui/src/api/shared-types.ts
  application/ui/src/api/upload-file.ts
  application/ui/src/components/import-upload-file/import-upload-file.component.tsx
  application/ui/src/features/dataset/api/use-media-upload.ts
  application/ui/src/features/inference/sources/video-file/utils.ts
Labels: none

Fix timm smoke tests training issues (#7513)
  application/backend/app/execution/training/getitune_trainer.py
  application/backend/tests/unit/execution/training/test_getitune_trainer.py
  library/src/getitune/backend/lightning/models/classification/backbones/timm.py
  library/src/getitune/backend/lightning/models/classification/multiclass_models/timm_model.py
  library/src/getitune/backend/lightning/models/classification/multilabel_models/timm_model.py
  library/src/getitune/backend/lightning/models/classification/utils/timm.py
  library/tests/unit/backend/lightning/models/classification/backbones/test_timm.py
Labels: none

update pyproject.toml
  application/backend/pyproject.toml
  library/pyproject.toml
Labels: none

Render text instead of picker if there is only one value
  application/ui/src/features/models/train-model/advanced-settings/training/learning-parameters/input-size-parameters.component.tsx
Labels: none

Deduplicate input size
  application/backend/app/supported_models/timm/manifest_provider.py
  application/backend/tests/unit/supported_models/timm/test_manifest_provider.py
Labels: none

Centralise file upload logic (#7516)
  application/ui/src/api/index.ts
  application/ui/src/api/shared-types.ts
  application/ui/src/api/upload-file.ts
  application/ui/src/components/import-upload-file/import-upload-file.component.tsx
  application/ui/src/features/dataset/api/use-media-upload.ts
  application/ui/src/features/inference/sources/video-file/utils.ts
Labels: none

Fix backend shutdown & UI stability
  application/backend/app/main.py
  application/ui/src-tauri/Cargo.lock
  application/ui/src-tauri/Cargo.toml
  application/ui/src-tauri/src/backend.rs
  application/ui/src-tauri/src/job.rs
  application/ui/src-tauri/src/main.rs
  application/ui/src-tauri/src/webview.rs
  application/ui/src-tauri/tauri.conf.json
Labels: none

Add i18 foundation part
  application/ui/src/i18n/config.ts
  application/ui/src/i18n/i18next.d.ts
  application/ui/src/i18n/index.ts
  application/ui/src/i18n/locales.ts
  application/ui/src/i18n/locales/en.json
  application/ui/src/i18n/use-document-language.hook.ts
  application/ui/src/index.tsx
  application/ui/src/layout.tsx
  application/ui/src/providers.tsx
  application/ui/src/setup-tests.ts
  application/ui/src/test-utils/i18n.ts
Labels: none

Fix double line on create project stepper
  application/ui/src/features/project/list/import-dataset-as-new-project/progress-stepper/progress-stepper.component.tsx
Labels: none

Remove unused export
  application/ui/src/i18n/index.ts
Labels: none

Lets simplify, english first, other languages will follow
  application/ui/src/i18n/config.ts
  application/ui/src/i18n/index.ts
  application/ui/src/i18n/locales.ts
Labels: none

Update config test; Copilot comment
  application/ui/src/i18n/config.test.ts
  application/ui/src/i18n/config.ts
Labels: none

Improve README.md, install.md and CONTRIBUTING.md (#7514)
  CONTRIBUTING.md
  README.md
  application/docs/install.md
Labels: DOC

update lockfiles
  application/backend/uv.lock
  library/uv.lock
Labels: none

fix: enhance process exit code handling and memory management during evaluation
  application/backend/app/core/jobs/exec/process_run.py
  application/backend/app/execution/training/getitune_trainer.py
  application/docker/Dockerfile
  application/docker/verify_runtime.py
  library/src/getitune/backend/openvino/models/utils.py
  library/src/getitune/data/module.py
  library/src/getitune/tools/auto_configurator.py
  library/tests/unit/data/test_module.py
Labels: none

Deduplicate values in the 'allowed_input_size' field for timm models
  application/backend/app/supported_models/timm/manifest_provider.py
  application/backend/tests/unit/supported_models/timm/test_manifest_provider.py
Labels: none

fix: enforce import order of torch and OpenVINO in verify_runtime.py
  application/docker/verify_runtime.py
Labels: none

Addressed comments
  application/ui/src-tauri/Cargo.toml
  application/ui/src-tauri/src/main.rs
Labels: none

Upgrade Datumaro to 1.13.11 (#7515)
  application/backend/pyproject.toml
  application/backend/uv.lock
  library/pyproject.toml
  library/uv.lock
Labels: none

Address comments
  application/ui/src/setup-tests.ts
  application/ui/src/test-utils/i18n.ts
Labels: none

Safety first
  application/ui/src/i18n/config.test.ts
  application/ui/src/setup-tests.ts
Labels: none
