Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Remove datumaro attribute id from tiling, add subset names (#3933)
  src/otx/core/data/dataset/tile.py
Labels: OTX 2.0

Fix soft predictions for Semantic Segmentation (#3934)
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Remove otx install to src_dir/[base]
  docker/Dockerfile.cuda
Labels: none

Remove unused modules
  src/otx/algo/detection/utils/yolov7_v9_utils.py
Labels: OTX 2.0

Add TODO comment for anchor generator
  src/otx/algo/detection/utils/yolov7_v9_utils.py
Labels: OTX 2.0

Move utils only for yolov7 and v9
  src/otx/algo/detection/backbones/gelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/layers/common_layer.py
  src/otx/algo/detection/layers/elan_layer.py
  src/otx/algo/detection/losses/yolov9_loss.py
  src/otx/algo/detection/necks/yolo_neck.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/utils/yolov7_v9_utils.py
  src/otx/algo/detection/yolov9.py
  tests/unit/algo/detection/backbones/test_gelan.py
  tests/unit/algo/detection/heads/test_yolo_head.py
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: OTX 2.0, TEST

Change option full to base for otx install
  src/otx/cli/install.py
Labels: OTX 2.0

Create `YOLOSingleStageDetector` for `_load_from_state_dict`
  src/otx/algo/detection/detectors/__init__.py
  src/otx/algo/detection/detectors/single_stage_detector.py
  src/otx/algo/detection/yolov9.py
Labels: OTX 2.0

Rename SingleHeadDetections
  src/otx/algo/detection/heads/yolo_head.py
  tests/unit/algo/detection/heads/test_yolo_head.py
Labels: OTX 2.0, TEST

Fix wrong code
  src/otx/cli/install.py
Labels: OTX 2.0

Fix issue
  src/otx/cli/install.py
Labels: OTX 2.0

precommit
  tests/unit/algo/detection/heads/test_yolo_head.py
Labels: TEST

Fix docs
  docs/source/guide/get_started/installation.rst
Labels: DOC

Fix integration test
  src/otx/algo/detection/utils/utils.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Fix unit test
  tests/unit/algo/detection/detectors/test_single_stage_detector.py
  tests/unit/algo/detection/test_yolov9.py
Labels: TEST

Fix docstring
  src/otx/algo/detection/losses/yolov9_loss.py
Labels: OTX 2.0

Add unit tests more
  tests/unit/algo/detection/losses/test_yolov9_loss.py
Labels: TEST

Fix pre-trained weight downloader
  docker/download_pretrained_weights.py
Labels: none

Remove if condition for pretrained wiehgt download
  docker/download_pretrained_weights.py
Labels: none

Fix docstring
  src/otx/algo/detection/losses/yolov9_loss.py
Labels: OTX 2.0

Rename yolo loss
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/yolo_loss.py
  src/otx/algo/detection/yolov9.py
  tests/unit/algo/detection/losses/test_yolo_loss.py
Labels: OTX 2.0, TEST

Update STFPM config (#3935)
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Add missing pretrained weights when creating a docker image (#3938)
  docker/download_pretrained_weights.py
Labels: none

Update docstring
  src/otx/algo/detection/backbones/gelan.py
Labels: OTX 2.0

Fix export
  src/otx/algo/keypoint_detection/rtmpose.py
  src/otx/core/model/keypoint_detection.py
Labels: OTX 2.0

Add EELAN
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/eelan.py
Labels: OTX 2.0

Enable auto adapt batch size into converter
  src/otx/tools/converter.py
Labels: OTX 2.0

Fix wrong
  src/otx/tools/converter.py
Labels: OTX 2.0

Add neck and head
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/yolo_neck.py
  tests/unit/algo/detection/heads/test_yolo_head.py
  tests/unit/algo/detection/necks/test_yolo_neck.py
  tests/unit/algo/detection/test_yolov9.py
Labels: OTX 2.0, TEST

Add model and recipe
  src/otx/algo/detection/yolov7.py
  src/otx/recipe/detection/yolov7.yaml
Labels: OTX 2.0

save best hp after hpo
  src/otx/engine/hpo/hpo_api.py
  src/otx/tools/converter.py
Labels: OTX 2.0

add test
  src/otx/engine/hpo/hpo_api.py
  src/otx/tools/converter.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST

Change default option 'full' to 'base' in otx install (#3937)
  docs/source/guide/get_started/installation.rst
  src/otx/cli/install.py
Labels: OTX 2.0, DOC

Update modules to enable training
  src/otx/algo/detection/backbones/eelan.py
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/yolo_neck.py
Labels: OTX 2.0

(WIP) update anc2box and loss
  src/otx/algo/detection/heads/yolo_head.py
  src/otx/algo/detection/losses/yolo_loss.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolov7.py
Labels: OTX 2.0

Fix auto adapt batch size in Converter (#3939)
  src/otx/tools/converter.py
Labels: OTX 2.0

Add missing tile recipes
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/recipe/detection/atss_resnext101_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50_tile.yaml
Labels: OTX 2.0

add missing tile recipes
  src/otx/recipe/detection/atss_resnext101_tile.yaml
  src/otx/recipe/detection/rtdetr_101_tile.yaml
  src/otx/recipe/detection/rtdetr_18_tile.yaml
  src/otx/recipe/detection/rtdetr_50_tile.yaml
  src/otx/recipe/detection/rtmdet_tiny_tile.yaml
Labels: OTX 2.0

Fix hpo converter (#3940)
  src/otx/engine/hpo/hpo_api.py
  src/otx/tools/converter.py
  tests/unit/engine/hpo/test_hpo_api.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/rotated_detection.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.rotated_detection.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
