Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

remove upsample building
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
Labels: OTX 2.0

Align Efficientnet-B0
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_b0_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_b0_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0_light.yaml
Labels: OTX 2.0

use batch_nms from otx
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
Labels: OTX 2.0

add swintransformer
  src/otx/algo/instance_segmentation/mmdet/models/backbones/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
Labels: OTX 2.0

add transformers
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/modules/drop.py
  src/otx/algo/modules/transformer.py
Labels: OTX 2.0

Decouple mmpretrain: Efficientnet-V2-S (#3353)
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/efficientnet_v2_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/efficientnet_v2_light.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2_light.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_xai.py
  tests/unit/algo/classification/backbones/test_timm.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/classification/backbones/timm.html
  develop/_modules/otx/tools/converter.html
  develop/_sources/guide/reference/_autosummary/otx.algo.classification.backbones.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.classification.backbones.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update documentation
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/utils/tile_merge.html
  develop/_sources/guide/explanation/additional_features/xai.rst.txt
  develop/_sources/guide/tutorials/base/explain.rst.txt
  develop/genindex.html
  develop/guide/explanation/additional_features/xai.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/tutorials/base/explain.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

all models are runable
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/act.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/base_head.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.py
  src/otx/algo/segmentation/modules/__init__.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/modules/iterator.py
  src/otx/algo/segmentation/modules/utils.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/model/base.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

Set MAPI version
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix MAPI import in VPT
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Enable SSD export through NativeExporter (#3366)
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/mmdeploy/ssd_mobilenetv2.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/ssd.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/detection/heads/custom_ssd_head.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Fix tests
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/engine/utils/api.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_xai.py
  tests/perf/history/summary.py
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/backbones/test_otx_efficientnet.py
  tests/unit/core/utils/test_build.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

fix typo
  tests/unit/core/schedulers/test_callable.py
Labels: TEST

fix bug
  src/otx/core/schedulers/warmup_schedulers.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

add integration test
  tests/integration/cli/test_cli.py
Labels: TEST

add integration test for xpu
  tests/conftest.py
  tests/integration/cli/test_cli.py
Labels: TEST

revert name
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
  src/otx/core/schedulers/warmup_schedulers.py
  src/otx/engine/hpo/hpo_api.py
  tests/unit/core/schedulers/test_callable.py
Labels: OTX 2.0, TEST

revert function name
  src/otx/core/model/base.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

fix typo
  src/otx/core/model/base.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Fix wrong config load behave
  src/otx/cli/cli.py
Labels: OTX 2.0

Rename efficientnet_b0 to efficientnet
  src/otx/algo/classification/efficientnet.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  tests/integration/api/test_engine_api.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

(v2-3) Revert `init_weights`
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

(v3) Add backbone
  src/otx/algo/detection/backbones/__init__.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/layers/__init__.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/modules/depthwise_separable_conv_module.py
Labels: OTX 2.0

change otx dependency to release branch for demo
  CHANGELOG.md
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Add neck
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Fix incorrect cache loading (#3384)
  src/otx/cli/cli.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/cli.html
Labels: none

Fix XAI
  src/otx/algo/classification/classifier/base_classifier.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

Change otx dependency to release branch for demo (#3385)
  CHANGELOG.md
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

(v5) Add head
  src/otx/algo/detection/heads/__init__.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/point_generator.py
  src/otx/algo/detection/heads/sim_ota_assigner.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/losses/__init__.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/losses/l1_loss.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

(v6) Clear `init_weights`
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

(v7) Merge yolox_tiny
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/yolox_tiny.yaml
Labels: OTX 2.0

Remove mmdet yoloxs
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Test runners
  .github/workflows/pre_merge.yml
Labels: BUILD

Test
  .github/workflows/pre_merge.yml
  .github/workflows/run_tests_in_tox.yml
Labels: BUILD

add swin transformer
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/losses/focal_loss.py
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/losses/utils.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmconfigs/maskrcnn_swint.yaml
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/typing_utils.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/drop.py
  src/otx/algo/modules/transformer.py
Labels: OTX 2.0

style changes
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
Labels: OTX 2.0

Fix QAT for detection tiling models
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_l/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_s/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_tiny/compression_config.json
  src/otx/algorithms/detection/configs/detection/cspdarknet_yolox_x/compression_config.json
  src/otx/algorithms/detection/configs/detection/mobilenetv2_atss/compression_config.json
  src/otx/algorithms/detection/configs/detection/mobilenetv2_ssd/compression_config.json
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
