Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Remove deepcopy for polygons
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

fix broken imports
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
Labels: OTX 2.0

remove is_norm
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
Labels: OTX 2.0

add back is_norm
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/modules/norm.py
Labels: OTX 2.0

Add unit tests for algo/segmentation (#3469)
  tests/unit/algo/segmentation/backbones/test_dinov2.py
  tests/unit/algo/segmentation/backbones/test_litehrnet.py
  tests/unit/algo/segmentation/backbones/test_mscan.py
  tests/unit/algo/segmentation/heads/test_ham_head.py
  tests/unit/algo/segmentation/modules/__init__.py
  tests/unit/algo/segmentation/modules/test_blokcs.py
Labels: TEST

precommit
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix unit test
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

remove mmdet inst seg data pipeline
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
  tests/unit/algo/instance_segmentation/heads/test_custom_roi_head.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: OTX 2.0, TEST

add metrics to openvino model
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

remove mmdet data pipeline from models
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/mask_rcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/bbox_nms.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/base_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/single_level_roi_extractor.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/core/data/entity/instance_segmentation.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/utils/mask_util.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
Labels: OTX 2.0

Remove `np.ascontiguousarray` to reduce time
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

MMDet RTMDet Inst decoupling (#3433)
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/distance_point_bbox_coder.py
  src/otx/algo/detection/heads/dynamic_soft_label_assigner.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/necks/__init__.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmconfigs/rtmdet_inst_tiny.yaml
  src/otx/algo/instance_segmentation/mmdeploy/__init__.py
  src/otx/algo/instance_segmentation/mmdeploy/base_detection.py
  src/otx/algo/instance_segmentation/mmdeploy/base_instance_segmentation.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdeploy/maskrcnn_swint.py
  src/otx/algo/instance_segmentation/mmdeploy/rtmdet_inst.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/single_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/roi_align.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/transforms.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/modules/norm.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  tests/integration/api/test_xai.py
  tests/unit/algo/instance_segmentation/heads/__init__.py
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/test_custom_roi_head.py
  tests/unit/algo/instance_segmentation/test_inst_seg_models.py
Labels: OTX 2.0, TEST

Add metrics to Anomaly OV Task (#3471)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Revert scheduling for multi-label-cls model
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

exclude exportable_code from coverage
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix `_pad_image_info`
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

Fix recipe
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
Labels: OTX 2.0

Fix unit tests
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_api.py
Labels: TEST

Exclude exportable_code from unit test coverage (#3473)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix unit test
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

Revert `_pad_image_info` and fix `_customize_inputs` for bitmap masks
  src/otx/core/data/entity/base.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Fix
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Fix unnecessary change
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

Fix recipe
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
Labels: OTX 2.0

update
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/rtmdet.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/single_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
Labels: OTX 2.0

remove mmengine.configdict
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
Labels: OTX 2.0

Fix e2e issue
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

fix export
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

add mask annotation support
  src/otx/algo/instance_segmentation/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/core/utils/mask_util.py
Labels: OTX 2.0

remove unused import
  src/otx/algo/instance_segmentation/__init__.py
Labels: OTX 2.0

Update docs and init.py
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/tutorials/advanced/configuration.rst
  src/otx/algo/__init__.py
Labels: OTX 2.0, DOC

Fix hpo test
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix anomaly export _get_values_from_transforms function
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

Revert scheduling parameters for multi-label-cls model (#3474)
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
Labels: OTX 2.0

Enable instance segmentation data pipeline (#3435)
  src/otx/core/data/dataset/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tv.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
  tests/unit/core/data/transform_libs/test_torchvision.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

Fix pre-commit issue
  tests/e2e/conftest.py
Labels: TEST

Revert some import
  src/otx/algo/__init__.py
Labels: OTX 2.0

Replace the Geti default model for rotated_det/ins_seg task from resnet50_maskrcnn to efficientnetb2b_maskrcnn
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
Labels: OTX 2.0

Fix pre-commit issue
  tests/e2e/conftest.py
Labels: TEST

Fix anomaly export _get_values_from_transforms function (#3477)
  src/otx/core/model/anomaly.py
Labels: OTX 2.0
