Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

clean up the code
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/heads/custom_fcn_head.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/losses/__init__.py
  src/otx/algo/segmentation/losses/cross_entropy_loss_with_ignore.py
  src/otx/algo/segmentation/mmconfigs/litehrnet_18.yaml
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/utils/__init__.py
  src/otx/algo/utils/segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

added modules
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/act.py
  src/otx/algo/modules/conv.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/segmentation/backbones/mscan.py
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/heads/base_head.py
  src/otx/algo/segmentation/modules/__init__.py
  src/otx/algo/segmentation/modules/blocks.py
  src/otx/algo/segmentation/modules/iterator.py
  src/otx/algo/segmentation/modules/utils.py
Labels: OTX 2.0

Update QAT configs for rotated detection (#3375)
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/compression_config.json
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/compression_config.json
Labels: OTX 2.0

Bring ConvModule from mmcv.cnn.bricks (#3368)
  src/otx/algo/classification/backbones/otx_efficientnet.py
  src/otx/algo/classification/efficientnet_b0.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/activation.py
  src/otx/algo/modules/conv.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/norm.py
  src/otx/algo/modules/padding.py
  src/otx/algo/utils/mmengine_utils.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/algo/classification/backbones/otx_efficientnet.html
Labels: none

Fix recipe
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
Labels: OTX 2.0

Fix jsonargparse cannot parse lambda default arguments (#3370)
  src/otx/cli/cli.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/cli.html
Labels: none

Add nms ops
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/ssd.py
  src/otx/core/exporter/native.py
Labels: OTX 2.0

Introduce Native Exporter
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Reflect reviews
  src/otx/algo/detection/ops/nms.py
Labels: OTX 2.0

Remove unused args
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
Labels: OTX 2.0

Modify unit tests
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
Labels: TEST

Implement export forward
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Remove unused params in config
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

Modify docstring
  src/otx/algo/detection/ops/nms.py
Labels: OTX 2.0

Remove unused mmdeploy things
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/mmdeploy/ssd_mobilenetv2.py
Labels: OTX 2.0

Enable E2E SSD export
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ssd.py
  src/otx/core/exporter/native.py
Labels: OTX 2.0

Update for release 1.6.1 (#3371)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/api/usecases/exportable_code/demo/requirements.txt
Labels: OTX 2.0, DOC

Revisit TileConfig propagation to make it immutable on OTXModel side as possible (#3372)
  pyproject.toml
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/cli/cli.py
  src/otx/core/config/data.py
  src/otx/core/data/module.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/core/types/label.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/utils/utils.py
  tests/unit/algo/detection/test_atss.py
  tests/unit/core/types/test_label.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

Update documentation
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/config/data.html
  develop/_modules/otx/core/data/module.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/core/types/label.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/guide/reference/_autosummary/otx.core.config.data.html
  develop/guide/reference/_autosummary/otx.core.data.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.rotated_detection.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Add TODO comments
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Remove duplicated functions
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Unify DetDataPreprocessor
  src/otx/algo/detection/mmconfigs/ssd_mobilenetv2.yaml
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

support anomaly task
  src/otx/engine/adaptive_bs/automatic_bs.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
Labels: OTX 2.0

move draft implementation from 2.0 to develop
  src/otx/engine/adaptive_bs/__init__.py
  src/otx/engine/adaptive_bs/automatic_bs.py
  src/otx/engine/adaptive_bs/batch_size_finder.py
  src/otx/engine/adaptive_bs/batch_size_scaling.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/adaptive_bs/tuning.py
  src/otx/engine/engine.py
Labels: OTX 2.0

refactor code
  src/otx/core/model/base.py
  src/otx/engine/adaptive_bs/automatic_bs.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

remove unused files
  src/otx/engine/adaptive_bs/batch_size_finder.py
  src/otx/engine/adaptive_bs/batch_size_scaling.py
  src/otx/engine/adaptive_bs/tuning.py
Labels: OTX 2.0

Fix reference info path for zero-shot learning (#3354)
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
  tests/integration/api/test_auto_configuration.py
  tests/integration/api/test_engine_api.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

rename file
  src/otx/engine/adaptive_bs/__init__.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
Labels: OTX 2.0

add test code for bs_search_algo.py
  tests/unit/engine/adaptive_bs/__init__.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: TEST

Update documentation
  develop/_modules/otx/algo/visual_prompting/zero_shot_segment_anything.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.visual_prompting.html
  develop/guide/reference/_autosummary/otx.core.model.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

align with pre-commit
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
  src/otx/engine/adaptive_bs/bs_search_algo.py
  src/otx/engine/engine.py
  src/otx/engine/hpo/hpo_api.py
  tests/unit/engine/adaptive_bs/test_bs_search_algo.py
Labels: OTX 2.0, TEST

align with pre-commit
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
Labels: OTX 2.0

Update OTXModel names
  src/otx/algo/detection/yolox.py
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
Labels: OTX 2.0

add error handling
  src/otx/algorithms/common/utils/task_adapt.py
Labels: OTX 2.0

replace mmcv.cnn module
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/res_layer.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/upsample.py
Labels: OTX 2.0

Init yolox & update ssd
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

remove upsample building
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/modules/upsample.py
Labels: OTX 2.0

(v2-2) Update `init_weights`
  src/otx/algo/detection/ssd.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
