Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Draft
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Align forward by adding missed parts
  src/otx/algo/detection/heads/base_head.py
Labels: OTX 2.0

Fix a bug that dino_v2 model can't be run w/ HPO (#3518)
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/backbones/dinov2.py
  src/otx/utils/utils.py
  tests/integration/cli/test_cli.py
  tests/unit/utils/test_utils.py
Labels: OTX 2.0, TEST

Pre-commit
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: TEST

Remove commented code
  src/otx/core/model/detection.py
Labels: OTX 2.0

Fix detection export performance degradation (#3520)
  src/otx/algo/detection/heads/base_head.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

Update tests/integration/api/test_xai.py
  tests/integration/api/test_xai.py
Labels: TEST

implement adaptive max value of bs search space
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

Reenable previously failed integration XAI tests (#3519)
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  tests/integration/api/test_engine_api.py
  tests/integration/api/test_xai.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
Labels: none

implement unit test
  tests/unit/engine/hpo/test_hpo_api.py
Labels: TEST

Revert threshold
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

make tile with full img optional
  src/otx/core/config/data.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/types/export.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/utils/test_tile.py
Labels: OTX 2.0, TEST

Revert metrics threshold (#3528)
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Add initial commit for Semi-SL
  src/otx/algo/callbacks/iteration_timer.py
  src/otx/algo/classification/classifier/semi_sl_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/semi_sl_head.py
  src/otx/core/config/data.py
  src/otx/core/data/dataset/base.py
  src/otx/core/data/dataset/classification.py
  src/otx/core/data/module.py
Labels: OTX 2.0

Add notebooks
  notebooks/001.detection.ipynb
  notebooks/002.instance_segmentation.ipynb
  notebooks/003.multi_label_cls.ipynb
  notebooks/cli_scripts.sh
Labels: none

Fix order
  notebooks/002.instance_segmentation.ipynb
Labels: none

Fix detection order
  notebooks/001.detection.ipynb
Labels: none

Add IR Explain
  notebooks/001.detection.ipynb
  notebooks/002.instance_segmentation.ipynb
  notebooks/003.multi_label_cls.ipynb
Labels: none

Add IR Explain cls
  notebooks/003.multi_label_cls.ipynb
Labels: none

add augmentation detail page to docs
  docs/source/guide/explanation/additional_features/adaptive_training.rst
  docs/source/guide/explanation/additional_features/augmentations_per_model.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
Labels: DOC

Add `Focus` export pipeline
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/yolox.py
  tests/unit/algo/detection/backbones/test_csp_darknet.py
Labels: OTX 2.0, TEST

average all feature vectors
  src/otx/core/utils/tile_merge.py
Labels: OTX 2.0

add map with f measure
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/mmdeploy/atss.py
  src/otx/algo/detection/mmdeploy/base_detection.py
  src/otx/algo/detection/ssd.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/detection.py
Labels: OTX 2.0

fix benchmark to add checkpoint
  tests/perf/benchmark.py
Labels: TEST

temp
  src/otx/core/metrics/fmeasure.py
Labels: OTX 2.0

remove mmdeploy
  src/otx/algo/detection/mmdeploy/atss.py
  src/otx/algo/detection/mmdeploy/base_detection.py
Labels: OTX 2.0

change CLI install logic
  pyproject.toml
  src/otx/cli/install.py
Labels: OTX 2.0, BUILD, DEPENDENCY

fix installation
  src/otx/cli/install.py
Labels: OTX 2.0

fix unit test
  docs/source/guide/get_started/installation.rst
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
Labels: OTX 2.0, TEST, DOC

fix pre commit
  src/otx/cli/install.py
Labels: OTX 2.0

add augmentation detail page to docs (#3533)
  docs/source/guide/explanation/additional_features/adaptive_training.rst
  docs/source/guide/explanation/additional_features/augmentations_per_model.rst
  docs/source/guide/explanation/additional_features/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/fine_tuning.rst
  docs/source/guide/explanation/algorithms/visual_prompting/index.rst
  docs/source/guide/explanation/algorithms/visual_prompting/zero_shot.rst
Labels: DOC

bump datumaro version to 1.6.1
  pyproject.toml
Labels: BUILD, DEPENDENCY

Tile with full img optional (#3530)
  src/otx/core/config/data.py
  src/otx/core/data/dataset/tile.py
  src/otx/core/types/export.py
  src/otx/core/utils/tile_merge.py
  tests/unit/core/data/test_tiling.py
  tests/unit/core/utils/test_tile.py
Labels: OTX 2.0, TEST

Revisit
  docker/Dockerfile.cuda
  src/otx/cli/install.py
Labels: OTX 2.0

Update ins-seg results
  notebooks/002.instance_segmentation.ipynb
Labels: none

Fix test
  tests/unit/cli/test_install.py
Labels: TEST

return install back
  docs/source/guide/get_started/installation.rst
  src/otx/cli/install.py
Labels: OTX 2.0, DOC

Update XPU install (#3516)
  docs/source/guide/get_started/installation.rst
  pyproject.toml
  src/otx/cli/install.py
  tests/unit/cli/test_install.py
Labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

add has_polygons property
  src/otx/algo/callbacks/adaptive_early_stopping.py
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
