Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Add timm.py
  src/otx/algo/classification/backbones/timm.py
Labels: OTX 2.0

Fix mode default value
  src/otx/algo/classification/mobilenet_v3.py
Labels: OTX 2.0

Update 2.0 perf benchmark data
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST

Refine perf benchmark workflow wrt 2.1
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Fix flaky test: TestCustomRTMDetInsSepBNHead.test_mask_pred (#3333)
  tests/unit/algo/instance_segmentation/heads/test_custom_rtmdet_ins_head.py
Labels: TEST

Upgrade OV and MAPI
  pyproject.toml
Labels: BUILD, DEPENDENCY

Decouple mmpretrain: Mobilenet-V3-large (#3271)
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/classifier/__init__.py
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/heads/__init__.py
  src/otx/algo/classification/heads/hlabel_cls_head.py
  src/otx/algo/classification/heads/linear_head.py
  src/otx/algo/classification/heads/multilabel_cls_head.py
  src/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.py
  src/otx/algo/classification/mmconfigs/hlabel_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large.yaml
  src/otx/algo/classification/mmconfigs/multiclass_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mmconfigs/multilabel_classification/mobilenet_v3_large_light.yaml
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/mobilenet_v3_large.py
  src/otx/algo/classification/necks/__init__.py
  src/otx/algo/classification/necks/gap.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_light.yaml
  src/otx/recipe/classification/multi_class_cls/otx_mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large_light.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_xai.py
  tests/unit/algo/classification/backbones/test_otx_mobilenet_v3.py
  tests/unit/algo/classification/test_mobilenet_v3.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/algo/classification/backbones/mobilenet_v3.html
  develop/_modules/otx/algo/classification/heads/hlabel_cls_head.html
  develop/_modules/otx/algo/classification/heads/linear_head.html
  develop/_modules/otx/algo/classification/heads/multilabel_cls_head.html
  develop/_modules/otx/algo/classification/losses/asymmetric_angular_loss_with_ignore.html
  develop/_modules/otx/tools/converter.html
  develop/_sources/guide/reference/_autosummary/otx.algo.classification.heads.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.classification.backbones.html
  develop/guide/reference/_autosummary/otx.algo.classification.heads.html
  develop/guide/reference/_autosummary/otx.algo.classification.losses.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update 1.6 benchmark wrt 2.1
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
  tests/perf/history/summary.py
Labels: TEST, BUILD

Update MAPI related imports
  src/otx/algo/action_classification/openvino_model.py
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/visual_prompting/openvino_models.py
  src/otx/core/exporter/base.py
  src/otx/core/exporter/exportable_code/demo/demo_package/executors/asynchronous.py
  src/otx/core/exporter/exportable_code/demo/demo_package/model_wrapper.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  tests/integration/api/test_engine_api.py
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
  tests/unit/core/model/test_base.py
  tests/unit/core/utils/test_tile.py
Labels: OTX 2.0, TEST

Fix ruff
  src/otx/core/model/action_classification.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  tests/unit/core/exporter/exportable_code/demo/demo_package/visualizers/test_visualizers.py
Labels: OTX 2.0, TEST

Fix ruff except for NPY002
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

Fix unit tests
  tests/unit/core/model/test_visual_prompting.py
  tests/unit/core/utils/test_tile.py
Labels: TEST

Update 2.0 benchmark w.r.t 2.1 (#3337)
  .github/workflows/perf_benchmark.yaml
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
Labels: TEST, BUILD

Update 1.6 benchmark w.r.t. 2.1 (#3338)
  .github/workflows/perf_benchmark.yaml
  tests/perf/conftest.py
  tests/perf/history/summary.py
Labels: TEST, BUILD

Fix mypy
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/data/transform_libs/utils.py
Labels: OTX 2.0

Support benchmark history summary v2.1 (#3312)
  .github/workflows/perf_benchmark.yaml
  pyproject.toml
  tests/conftest.py
  tests/perf/benchmark-reference.csv
  tests/perf/benchmark.py
  tests/perf/conftest.py
  tests/perf/history/__init__.py
  tests/perf/history/summary.ipynb
  tests/perf/history/summary.py
  tests/perf/history/v1.5.2/perf-benchmark-raw-all.csv
  tests/perf/history/v1.6.0/perf-benchmark-raw-all.csv
  tests/perf/history/v2.0.0/perf-benchmark-raw-all.csv
  tests/perf/test_action.py
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_visual_prompting.py
Labels: TEST, BUILD, DEPENDENCY

Update `pyproject.toml` to ignore `NPY002`
  pyproject.toml
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/exporter/exportable_code/demo/demo_package/visualizers/visualizer.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

revert autobs
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
Labels: OTX 2.0, TEST

Decouple Efficientnet-v2 with Timm
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/efficientnet_v2_test.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/tools/converter.py
  tests/integration/api/test_xai.py
Labels: OTX 2.0, TEST

Leave TODO
  tests/unit/core/data/entity/test_base.py
Labels: TEST

Add demo notebooks
  cvpr_demo.ipynb
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: BUILD

update xpu version in installation guide docs
  docs/source/guide/get_started/installation.rst
Labels: DOC

update xpu version in installation guide docs
  docs/source/guide/get_started/installation.rst
Labels: DOC

remove duplicates
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/custom_ssd_head.py
  src/otx/algo/detection/heads/delta_xywh_bbox_coder.py
  src/otx/algo/detection/heads/iou2d_calculator.py
  src/otx/algo/detection/heads/max_iou_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/assign_result.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/iou2d_calculator.py
  src/otx/algo/instance_segmentation/mmdet/models/assigners/max_iou_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/coders/delta_xywh_bbox_coder.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/anchor_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/base_dense_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/random_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/sampling_result.py
Labels: OTX 2.0

remove as F
  src/otx/algo/detection/losses/cross_focal_loss.py
  src/otx/algo/detection/losses/focal_loss.py
  src/otx/algo/detection/losses/utils.py
  src/otx/algo/instance_segmentation/heads/custom_rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/mmdet/models/bbox_heads/bbox_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
Labels: OTX 2.0

remove as F
  src/otx/algo/instance_segmentation/mmdet/models/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/prior_generators/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/prior_generators/anchor_generator.py
Labels: OTX 2.0

Fix mobilenetv3
  src/otx/algo/classification/mobilenet_v3.py
Labels: OTX 2.0

remove mmdet mask structures
  src/otx/algo/instance_segmentation/mmdet/structures/mask/__init__.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/structures.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

remove duplicates
  src/otx/algo/instance_segmentation/mmdet/models/utils/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/__init__.py
  src/otx/algo/instance_segmentation/mmdet/structures/bbox/bbox_overlaps.py
Labels: OTX 2.0

style changes
  src/otx/algo/instance_segmentation/mmdet/models/backbones/resnet.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/base.py
  src/otx/algo/instance_segmentation/mmdet/models/detectors/two_stage.py
  src/otx/algo/instance_segmentation/mmdet/models/mask_heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/mmdet/models/necks/fpn.py
  src/otx/algo/instance_segmentation/mmdet/models/roi_extractors/__init__.py
  src/otx/algo/instance_segmentation/mmdet/models/samplers/random_sampler.py
  src/otx/algo/instance_segmentation/mmdet/models/utils/misc.py
  src/otx/algo/instance_segmentation/mmdet/structures/__init__.py
  src/otx/algo/instance_segmentation/mmdet/structures/det_data_sample.py
  src/otx/algo/instance_segmentation/mmdet/structures/mask/mask_target.py
  src/otx/core/model/instance_segmentation.py
Labels: OTX 2.0

Revert adaptive batch size (#3340)
  src/otx/algorithms/action/adapters/mmaction/task.py
  src/otx/algorithms/classification/adapters/mmcls/task.py
  src/otx/algorithms/common/adapters/mmcv/utils/automatic_bs.py
  src/otx/algorithms/common/adapters/torch/utils/bs_search_algo.py
  src/otx/algorithms/detection/adapters/mmdet/task.py
  src/otx/algorithms/segmentation/adapters/mmseg/task.py
  tests/unit/algorithms/common/adapters/mmcv/utils/test_automatic_bs.py
  tests/unit/algorithms/common/adapters/torch/utils/test_bs_search_algo.py
Labels: OTX 2.0, TEST

add new test
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/core/model/utils/mmdet.py
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
Labels: OTX 2.0, TEST

test style change
  tests/unit/algo/instance_segmentation/test_mmdet_decouple.py
Labels: TEST

add segnext
  src/otx/algo/segmentation/backbones/__init__.py
  src/otx/algo/segmentation/heads/__init__.py
  src/otx/algo/segmentation/heads/custom_ham_head.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
Labels: OTX 2.0

Skip integr test for tv_efficientnet_b3
  tests/integration/api/test_xai.py
Labels: TEST

remove draem
  docs/source/guide/explanation/algorithms/anomaly/index.rst
  docs/utils/images/draem.png
  src/otx/algo/anomaly/__init__.py
  src/otx/algo/anomaly/draem.py
  src/otx/recipe/anomaly_classification/draem.yaml
  src/otx/recipe/anomaly_detection/draem.yaml
  src/otx/recipe/anomaly_segmentation/draem.yaml
Labels: OTX 2.0, DOC

fix test
  tests/unit/algo/instance_segmentation/heads/test_custom_roi_head.py
Labels: TEST

Test runners
  .github/workflows/daily.yml
  .github/workflows/pre_merge.yml
Labels: BUILD

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
