Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Remove legacy function
  src/otx/algo/utils/__init__.py
  src/otx/algo/utils/mmconfig.py
Labels: OTX 2.0

Update docstring
  src/otx/algo/modules/base_module.py
  src/otx/engine/adaptive_bs/adaptive_bs_api.py
Labels: OTX 2.0

Update `dir_structure.md`
  for_developers/dir_structure.md
Labels: DOC

Fix dump Type Classes
  src/otx/core/config/__init__.py
Labels: OTX 2.0

Update docstrings
  src/otx/core/config/__init__.py
Labels: OTX 2.0

Fix unit tests
  tests/unit/core/model/test_classification.py
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/core/utils/test_build.py
  tests/unit/core/utils/test_utils.py
Labels: TEST

Remove `inplace_num_classes`
  src/otx/core/utils/config.py
  tests/unit/core/utils/test_config.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/config.html
  develop/_modules/otx/core/types/task.html
  develop/_sources/guide/reference/_autosummary/otx.core.config.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.config.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

started to add MeanTeacher. Needs debugging
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/types/label.py
  src/otx/recipe/_base_/data/torchvision_semisl.yaml
Labels: OTX 2.0

Update exporter error message and image size type
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/core/model/action_classification.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/base.html
  develop/_modules/otx/core/model/classification.html
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/_modules/otx/engine/engine.html
  develop/_sources/guide/get_started/api_tutorial.rst.txt
  develop/_sources/guide/get_started/cli_commands.rst.txt
  develop/genindex.html
  develop/guide/get_started/api_tutorial.html
  develop/guide/get_started/cli_commands.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.anomaly.html
  develop/guide/reference/_autosummary/otx.core.model.base.html
  develop/guide/reference/_autosummary/otx.core.model.classification.html
  develop/guide/reference/_autosummary/otx.core.model.detection.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.segmentation.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Sanitize export outputs for vits
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Suppress ruff warning
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

precommit
  tests/unit/core/model/test_inst_segmentation.py
Labels: TEST

Update cli outputs
  src/otx/cli/cli.py
  src/otx/cli/utils/help_formatter.py
  src/otx/engine/engine.py
  tests/unit/cli/test_cli.py
Labels: OTX 2.0, TEST

Split `ConvModule` to per dimension Module
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/rpn_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/depthwise_separable_conv_module.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/segmentation/modules/blocks.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

Remove `conv_cfg`
  src/otx/algo/action_classification/backbones/x3d.py
  src/otx/algo/action_classification/x3d.py
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/common/backbones/resnet.py
  src/otx/algo/common/backbones/resnext.py
  src/otx/algo/common/layers/res_layer.py
  src/otx/algo/common/layers/spp_layer.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/instance_segmentation/heads/convfc_bbox_head.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/necks/fpn.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/base_segm_head.py
  src/otx/algo/segmentation/heads/fcn_head.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/algo/segmentation/modules/aggregators.py
  src/otx/algo/segmentation/modules/blocks.py
  tests/unit/algo/modules/test_conv_module.py
  tests/unit/algo/modules/test_depthwise_separable_conv_module.py
  tests/unit/algo/segmentation/modules/test_blokcs.py
Labels: OTX 2.0, TEST

Remove `build_conv_layer`
  src/otx/algo/common/layers/res_layer.py
  src/otx/algo/instance_segmentation/backbones/swin.py
  src/otx/algo/instance_segmentation/heads/fcn_mask_head.py
  src/otx/algo/instance_segmentation/layers/transformer.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/conv.py
  src/otx/algo/modules/transformer.py
  tests/unit/algo/modules/test_conv.py
Labels: OTX 2.0, TEST

Move `DepthwiseSeparableConvModule` into `conv_module`
  src/otx/algo/common/backbones/cspnext.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/modules/__init__.py
  src/otx/algo/modules/conv_module.py
  src/otx/algo/modules/depthwise_separable_conv_module.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/layers/test_csp_layer.py
  tests/unit/algo/detection/necks/test_yolox_pafpn.py
  tests/unit/algo/modules/test_conv_module.py
  tests/unit/algo/modules/test_depthwise_separable_conv_module.py
Labels: OTX 2.0, TEST

precommit
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0

Add initial commit
  src/otx/algo/classification/efficientnet.py
  src/otx/core/data/entity/classification.py
  src/otx/core/metrics/__init__.py
  src/otx/core/metrics/accuracy.py
  src/otx/core/metrics/types.py
  src/otx/core/model/base.py
  src/otx/core/model/classification.py
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  tests/integration/api/test_engine_api.py
  tests/unit/algo/callbacks/test_unlabeled_loss_warmup.py
  tests/unit/algo/classification/test_efficientnet.py
  tests/unit/engine/test_engine.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/cli/cli.html
  develop/_modules/otx/cli/utils/help_formatter.html
  develop/_modules/otx/engine/engine.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/searchindex.js
Labels: none

Update tracing check
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Fix linter
  src/otx/algo/classification/vit.py
Labels: OTX 2.0

Remove `build_conv_layer` vestige
  src/otx/algo/modules/conv_module.py
  tests/unit/algo/modules/test_norm.py
Labels: OTX 2.0, TEST

Remove assertion errors
  src/otx/algo/modules/conv_module.py
Labels: OTX 2.0

update dependabot config
  .github/dependabot.yaml
Labels: BUILD

Remove unused `efficient_conv_bn_eval`
  src/otx/algo/modules/conv_module.py
  tests/unit/algo/modules/test_conv_module.py
Labels: OTX 2.0, TEST

Fix unit test
  tests/unit/algo/modules/test_conv_module.py
Labels: TEST

update model part
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/vit.py
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/base_models/detection_transformer.py
  src/otx/algo/detection/huggingface_model.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  src/otx/algo/segmentation/dino_v2_seg.py
  src/otx/algo/segmentation/huggingface_model.py
  src/otx/algo/segmentation/litehrnet.py
  src/otx/algo/segmentation/segnext.py
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/cli/cli.py
  src/otx/core/data/module.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/anomaly.py
  src/otx/core/model/segmentation.py
  src/otx/core/model/visual_prompting.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  tests/unit/algo/detection/test_rtmdet.py
  tests/unit/algo/detection/test_yolox.py
  tests/unit/algo/segmentation/test_dino_v2_seg.py
  tests/unit/algo/visual_prompting/test_zero_shot_segment_anything.py
Labels: OTX 2.0, TEST

bump torch version to 2.2.2
  pyproject.toml
Labels: BUILD, DEPENDENCY

Replace mv3 & effnet-v2
  docs/source/guide/tutorials/advanced/configuration.rst
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/core/optimizer/callable.py
  src/otx/core/schedulers/callable.py
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/h_label_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/mobilenet_v3_large.yaml
  tests/unit/algo/classification/test_efficientnet_v2.py
  tests/unit/algo/classification/test_mobilenet_v3.py
Labels: OTX 2.0, TEST, DOC

update unit test
  tests/unit/cli/test_cli.py
Labels: TEST

Divide `OTXSegmentAnything` into `SAMTinyViT` and `SAMViTBase` to specify backbones
  src/otx/algo/visual_prompting/__init__.py
  src/otx/algo/visual_prompting/backbones/__init__.py
  src/otx/algo/visual_prompting/backbones/tiny_vit.py
  src/otx/algo/visual_prompting/backbones/vit.py
  src/otx/algo/visual_prompting/decoders/__init__.py
  src/otx/algo/visual_prompting/decoders/sam_mask_decoder.py
  src/otx/algo/visual_prompting/encoders/__init__.py
  src/otx/algo/visual_prompting/encoders/sam_image_encoder.py
  src/otx/algo/visual_prompting/encoders/sam_prompt_encoder.py
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/algo/visual_prompting/utils/__init__.py
  src/otx/algo/visual_prompting/utils/layer_norm_2d.py
  src/otx/algo/visual_prompting/utils/mlp_block.py
  src/otx/core/model/visual_prompting.py
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

update interface
  src/otx/algo/instance_segmentation/heads/custom_roi_head.py
  src/otx/cli/cli.py
  src/otx/core/data/module.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Move `load_checkpoint` and `freeze_networks` to `OTXModel`
  src/otx/algo/visual_prompting/segment_anything.py
Labels: OTX 2.0

Replace deit, dinov2, hf models
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/huggingface_model.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/h_label_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny.yaml
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
  src/otx/recipe/classification/multi_label_cls/deit_tiny.yaml
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/algo/classification/test_otx_dino_v2.py
Labels: OTX 2.0, TEST

Fix unit-test for deit
  tests/unit/algo/classification/test_deit_tiny.py
Labels: TEST

Move export related functions to `OTXModel`
  src/otx/algo/visual_prompting/segment_anything.py
  src/otx/core/exporter/visual_prompting.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

added cutmix
  src/otx/algo/segmentation/base_model.py
  src/otx/algo/segmentation/segnext.py
  src/otx/core/data/dataset/segmentation.py
Labels: OTX 2.0
