Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

fix unit tests
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
  tests/integration/cli/test_export_inference.py
  tests/perf/test_action.py
  tests/regression/test_regression.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

correct mean/std for x3d
  src/otx/algo/action_classification/x3d.py
Labels: OTX 2.0

first drraft
  src/otx/algo/action_classification/backbones/movinet.py
  src/otx/algo/action_classification/movinet.py
  src/otx/core/model/action_classification.py
  src/otx/recipe/action_classification/movinet.yaml
  src/otx/recipe/action_classification/openvino_model.yaml
  src/otx/recipe/action_classification/x3d.yaml
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
Labels: OTX 2.0

fix unit tests
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: TEST

enable movinet
  src/otx/algo/action_classification/__init__.py
  src/otx/algo/action_classification/backbones/__init__.py
  src/otx/algo/action_classification/backbones/movinet.py
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/__init__.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/core/model/action_classification.py
  tests/unit/algo/action_classification/backbones/test_movinet.py
Labels: OTX 2.0, TEST

temp2
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/core/model/action_classification.py
Labels: OTX 2.0

temp
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

fix mypy error
  src/otx/algo/action_classification/recognizers/recognizer.py
Labels: OTX 2.0

first drraft
  src/otx/algo/action_classification/movinet.py
  src/otx/core/model/action_classification.py
Labels: OTX 2.0

remove data preprocessor for action task
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/recognizer.py
  src/otx/algo/action_classification/utils/data_preprocessor.py
  src/otx/algo/action_classification/utils/data_sample.py
  src/otx/algo/action_classification/x3d.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/action_classification.py
  src/otx/recipe/action_classification/movinet.yaml
  src/otx/recipe/action_classification/x3d.yaml
Labels: OTX 2.0

remove mypy exception
  src/otx/algo/action_classification/backbones/movinet.py
  src/otx/algo/action_classification/movinet.py
  src/otx/algo/action_classification/recognizers/movinet_recognizer.py
Labels: OTX 2.0

remove mmengine config
  pyproject.toml
  src/otx/algo/action_classification/backbones/movinet.py
Labels: OTX 2.0, BUILD, DEPENDENCY

remove mmengine config
  src/otx/algo/action_classification/backbones/movinet.py
Labels: OTX 2.0

fix types
  src/otx/algo/action_classification/heads/base_head.py
  src/otx/algo/action_classification/heads/movinet_head.py
  src/otx/algo/action_classification/heads/x3d_head.py
Labels: OTX 2.0

add docstrings
  src/otx/core/data/entity/base.py
Labels: OTX 2.0

Replace infer in ZSL with MAPI
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Replace infer in ZSL with MAPI
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Fix `learn` for ov model
  src/otx/core/model/visual_prompting.py
  tests/unit/algo/visual_prompting/test_openvino_models.py
  tests/unit/core/conftest.py
  tests/unit/core/model/test_visual_prompting.py
Labels: OTX 2.0, TEST

Add Semi-SL models for mv3-large, effnet-v2, deit-tiny, dino-v2
  src/otx/algo/classification/classifier/__init__.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/algo/classification/vit.py
  src/otx/recipe/classification/multi_class_cls/deit_tiny_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2_semisl.yaml
  src/otx/recipe/classification/multi_class_cls/mobilenet_v3_large_semisl.yaml
Labels: OTX 2.0

Fix unit-test
  tests/unit/algo/classification/test_deit_tiny.py
  tests/unit/engine/utils/test_api.py
Labels: TEST

Reenable e2e classification XAI tests (#3591)
  tests/e2e/cli/test_cli.py
Labels: TEST

Fix to enable to use openvino image channel
  src/otx/algo/detection/rtmdet.py
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Fix integration test
  src/otx/algo/visual_prompting/zero_shot_segment_anything.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

update publish workflow to use build module directly instead of cibuildwheels
  .github/workflows/publish.yaml
  pyproject.toml
Labels: BUILD, DEPENDENCY

updated to use OIDC to publish PyPI
  .github/workflows/publish.yaml
Labels: BUILD

Merge the latest tutorial changes (#3604)
  .gitignore
  notebooks/000_install.ipynb
  notebooks/001_zero-shot-visual-prompting.ipynb
  notebooks/002_multi_label_classification.ipynb
  notebooks/003_detection.ipynb
  notebooks/004_instance_segmentation.ipynb
  notebooks/utils/__init__.py
  notebooks/utils/download.py
  notebooks/utils/io.py
Labels: none

workaround for raising pickling error
  src/otx/core/data/mem_cache.py
  src/otx/core/data/module.py
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0

update model checkpoint callback value in best HPO model weight
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

implement func to find unpickleable obj
  src/otx/core/data/mem_cache.py
  src/otx/core/data/module.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/utils/utils.py
Labels: OTX 2.0

implement unit test
  src/otx/utils/utils.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/utils/test_utils.py
Labels: OTX 2.0, TEST

align with pre-commit
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/utils/utils.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/utils/test_utils.py
Labels: OTX 2.0, TEST

deal with PicklingError
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0

align with pre-commit
  src/otx/utils/utils.py
Labels: OTX 2.0

Fix `load_from_checkpoint` to apply original model's hparams
  src/otx/engine/engine.py
Labels: OTX 2.0

chore: Refactor download.py and io.py
  notebooks/utils/download.py
  notebooks/utils/io.py
Labels: none

Rename the jupyter notebooks
  notebooks/001.detection.ipynb
  notebooks/001_zero-shot-visual-prompting.ipynb
  notebooks/004_instance_segmentation.ipynb
  notebooks/004_segmentation.ipynb
  notebooks/005_instance_segmentation.ipynb
  notebooks/006.zero-shot-visual-prompting.ipynb
Labels: none

Rename the jupyter notebooks (#3608)
  notebooks/001.detection.ipynb
  notebooks/001_zero-shot-visual-prompting.ipynb
  notebooks/004_segmentation.ipynb
  notebooks/005_instance_segmentation.ipynb
  notebooks/006.zero-shot-visual-prompting.ipynb
  notebooks/utils/download.py
  notebooks/utils/io.py
Labels: none

Remove action detection task support (#3605)
  src/otx/algo/action_detection/__init__.py
  src/otx/algo/action_detection/mmconfigs/x3d_fastrcnn.yaml
  src/otx/algo/action_detection/x3d_fastrcnn.py
  src/otx/core/data/dataset/action_detection.py
  src/otx/core/data/entity/action_detection.py
  src/otx/core/data/factory.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/model/action_detection.py
  src/otx/core/types/task.py
  src/otx/engine/engine.py
  src/otx/engine/utils/auto_configurator.py
  src/otx/recipe/action_detection/x3d_fastrcnn.yaml
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
  tests/integration/api/test_engine_api.py
  tests/integration/conftest.py
  tests/perf/test_action.py
  tests/unit/algo/action_detection/__init__.py
  tests/unit/algo/action_detection/test_x3d_fastrcnn.py
  tests/unit/core/data/conftest.py
  tests/unit/core/data/test_factory.py
  tests/unit/core/data/test_module.py
  tests/unit/core/data/transform_libs/test_mmaction.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Fix `load_from_checkpoint` to apply original model's hparams (#3607)
  src/otx/engine/engine.py
Labels: OTX 2.0

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/core/data/factory.html
  develop/_modules/otx/core/model/action_detection.html
  develop/_modules/otx/core/types/task.html
  develop/_modules/otx/engine/engine.html
  develop/_sources/guide/reference/_autosummary/otx.core.model.action_detection.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.rst.txt
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.action_classification.html
  develop/guide/reference/_autosummary/otx.core.model.action_detection.html
  develop/guide/reference/_autosummary/otx.core.model.anomaly.html
  develop/guide/reference/_autosummary/otx.core.model.html
  develop/objects.inv
  develop/py-modindex.html
  develop/searchindex.js
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
