Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Add import in OVModel
  src/otx/core/model/action_classification.py
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update to use tiling dataset for instance tiling testing (#3475)
  tests/e2e/cli/test_cli.py
  tests/e2e/conftest.py
Labels: TEST

Replace the Geti default model for rotated_det/ins_seg task from resnet50_maskrcnn to efficientnetb2b_maskrcnn (#3478)
  src/otx/algorithms/detection/configs/instance_segmentation/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/instance_segmentation/resnet50_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/efficientnetb2b_maskrcnn/template.yaml
  src/otx/algorithms/detection/configs/rotated_detection/resnet50_maskrcnn/template.yaml
Labels: OTX 2.0

Add zer-shot-vp as well
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

raise an error if dino model is moved to xpu
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/dino_v2_seg.py
Labels: OTX 2.0

Update pyproject.toml
  pyproject.toml
  tests/unit/cli/test_install.py
Labels: TEST, BUILD, DEPENDENCY

Update changelog
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

Fix unit test
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/utils/utils.py
  src/otx/core/model/classification.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  tests/conftest.py
Labels: OTX 2.0, TEST

Disable `pad_shape` in `img_info`
  src/otx/core/data/entity/base.py
  tests/unit/core/data/entity/test_base.py
Labels: OTX 2.0, TEST

Fix action
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
Labels: OTX 2.0

Update rests
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
Labels: OTX 2.0

Raise an error if dino is moved to XPU (#3480)
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/segmentation/dino_v2_seg.py
Labels: OTX 2.0

Fix VP issue
  tests/e2e/cli/test_cli.py
Labels: TEST

update unit test
  tests/unit/algo/instance_segmentation/test_inst_seg_models.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: TEST

Enable `stack_batch` to update `img_info`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/entity/utils.py
  tests/unit/core/data/entity/test_utils.py
Labels: OTX 2.0, TEST

Update docs & dependency and remove task dependency in otx.algo (#3476)
  docs/source/guide/get_started/api_tutorial.rst
  docs/source/guide/get_started/cli_commands.rst
  docs/source/guide/get_started/installation.rst
  docs/source/guide/tutorials/advanced/configuration.rst
  pyproject.toml
  src/otx/algo/__init__.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/visual_prompting.py
  tests/unit/cli/test_install.py
Labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Remove weight initialization arguments for ATSS (#3483)
  src/otx/algo/detection/atss.py
Labels: OTX 2.0

Fix
  src/otx/core/data/entity/utils.py
Labels: OTX 2.0

add image shape fix
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: OTX 2.0, TEST

Update OTX1.6.1 changelog (#3481)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
Labels: DOC

set stfpm precision to 32
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Fix VP test issue (#3482)
  tests/e2e/cli/test_cli.py
Labels: TEST

fix transforms scale
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

fix transforms scale
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

Remove action in benchmark workflow
  .github/workflows/perf_benchmark.yaml
Labels: BUILD

Add try - except to keep running the remaining tests
  tests/perf/benchmark.py
Labels: TEST

update early stopping metrics
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Remove `pad_shape` in `ImageInfo` (#3479)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_head.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/entity/utils.py
  src/otx/core/data/transform_libs/mmaction.py
  src/otx/core/data/transform_libs/mmdet.py
  src/otx/core/data/transform_libs/mmpretrain.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/model/action_classification.py
  src/otx/core/model/action_detection.py
  src/otx/core/model/classification.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/core/model/segmentation.py
  src/otx/recipe/_base_/data/mmaction_base.yaml
  tests/conftest.py
  tests/unit/core/data/entity/test_base.py
  tests/unit/core/data/entity/test_utils.py
Labels: OTX 2.0, TEST

update inst-seg recipes
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tv.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tv.yaml
Labels: OTX 2.0

Remove action in benchmark workflow (#3486)
  .github/workflows/perf_benchmark.yaml
  tests/perf/benchmark.py
Labels: TEST, BUILD

Set stfpm precision to 32 (#3484)
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

remove pad_shape and update unittest
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/base_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  tests/conftest.py
  tests/unit/algo/instance_segmentation/test_custom_roi_head.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
  tests/unit/algo/instance_segmentation/test_rtmdet_inst.py
Labels: OTX 2.0, TEST

update conftest and remove unnecessary test
  tests/conftest.py
  tests/unit/algo/instance_segmentation/test_inst_seg_models.py
Labels: TEST

Change OV model scales (#3485)
  src/otx/algo/anomaly/openvino_model.py
  src/otx/core/model/anomaly.py
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

fix unittest
  src/otx/core/model/instance_segmentation.py
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  tests/unit/core/model/test_inst_segmentation.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

fix xai test and remove InstanceData
  src/otx/algo/detection/heads/dynamic_soft_label_assigner.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rtmdet_ins_head.py
  tests/conftest.py
  tests/integration/api/test_xai.py
  tests/unit/algo/detection/heads/test_sim_ota_assigner.py
  tests/unit/algo/detection/heads/test_yolox_head.py
Labels: OTX 2.0, TEST

remove weight init for atss
  src/otx/algo/detection/atss.py
Labels: OTX 2.0

Remove mmengine imports
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
Labels: OTX 2.0

Add ignore mypy
  src/otx/algo/explain/explain_algo.py
Labels: OTX 2.0

Remove mmengine imports (#3487)
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/explain/explain_algo.py
  src/otx/algo/instance_segmentation/mmdet/models/backbones/swin.py
  src/otx/algo/instance_segmentation/mmdet/models/layers/transformer.py
Labels: OTX 2.0
