Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

fix bug
  src/otx/core/model/action_classification.py
Labels: OTX 2.0

Refine sseg recipes
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/openvino_model.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

Refine vpm recipes
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/visual_prompting/openvino_model.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

Fix indent
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/semantic_segmentation/openvino_model.yaml
  src/otx/recipe/visual_prompting/openvino_model.yaml
Labels: OTX 2.0

Refine zsl recipes
  src/otx/recipe/_base_/data/zero_shot_visual_prompting.yaml
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

Fix a wrong action classification transform_fn for PTQ (#3713)
  src/otx/core/model/action_classification.py
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/action_classification.html
Labels: none

Add model recipe and update det recipes
  src/otx/recipe/_base_/data/detection.yaml
  src/otx/recipe/_base_/model/detection.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

Add base engine recipe and update recipes for det
  src/otx/recipe/_base_/engine/detection.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

rtdetr works. accuracy 99.2. Code not cleaned.
  src/otx/algo/detection/backbones/presnet.py
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/detection/necks/hybrid_encoder.py
  src/otx/algo/detection/rtdetr.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/matchers/hungarian_matcher.py
  src/otx/algo/detection/utils/utils.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/engine/engine.py
  src/otx/recipe/_base_/data/torchvision_base.yaml
  src/otx/recipe/detection/rtdetr_18.yaml
Labels: OTX 2.0

Fix unit test and make recipes more readable
  src/otx/recipe/_base_/engine/detection.yaml
  src/otx/recipe/_base_/model/detection.yaml
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
Labels: OTX 2.0

omit 'config' attribute from data_module
  src/otx/core/model/visual_prompting.py
Labels: OTX 2.0

Update other tasks' recipes following det
  src/otx/recipe/_base_/engine/instance_segmentation.yaml
  src/otx/recipe/_base_/engine/rotated_detection.yaml
  src/otx/recipe/_base_/engine/semantic_segmentation.yaml
  src/otx/recipe/_base_/engine/visual_prompting.yaml
  src/otx/recipe/_base_/engine/zero_shot_visual_prompting.yaml
  src/otx/recipe/_base_/model/instance_segmentation.yaml
  src/otx/recipe/_base_/model/rotated_detection.yaml
  src/otx/recipe/_base_/model/semantic_segmentation.yaml
  src/otx/recipe/_base_/model/visual_prompting.yaml
  src/otx/recipe/_base_/model/zero_shot_visual_prompting.yaml
  src/otx/recipe/detection/openvino_model.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny.yaml
  src/otx/recipe/instance_segmentation/rtmdet_inst_tiny_tile.yaml
  src/otx/recipe/rotated_detection/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/rotated_detection/maskrcnn_r50.yaml
  src/otx/recipe/rotated_detection/openvino_model.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/openvino_model.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
  src/otx/recipe/visual_prompting/openvino_model.yaml
  src/otx/recipe/visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/visual_prompting/sam_vit_b.yaml
  src/otx/recipe/zero_shot_visual_prompting/openvino_model.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_tiny_vit.yaml
  src/otx/recipe/zero_shot_visual_prompting/sam_vit_b.yaml
Labels: OTX 2.0

omit config section from data config
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

Remove model components that are redundantly written
  src/otx/recipe/semantic_segmentation/litehrnet_18.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_s.yaml
  src/otx/recipe/semantic_segmentation/litehrnet_x.yaml
  src/otx/recipe/semantic_segmentation/segnext_b.yaml
  src/otx/recipe/semantic_segmentation/segnext_s.yaml
  src/otx/recipe/semantic_segmentation/segnext_t.yaml
Labels: OTX 2.0

pre-commit
  src/otx/recipe/_base_/model/instance_segmentation.yaml
  src/otx/recipe/_base_/model/rotated_detection.yaml
  src/otx/recipe/_base_/model/visual_prompting.yaml
  src/otx/recipe/_base_/model/zero_shot_visual_prompting.yaml
Labels: OTX 2.0

Revert `to_tv_image` to True
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/instance_segmentation/openvino_model.yaml
Labels: OTX 2.0

Update documentation
  develop/_modules/otx/core/model/detection.html
  develop/_modules/otx/core/model/instance_segmentation.html
  develop/_modules/otx/core/model/visual_prompting.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.core.model.instance_segmentation.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

* add security notice * update readme to include updates of 2.1.0 * mark false positive for bandit
  CHANGELOG.md
  README.md
  src/otx/__init__.py
  src/otx/hpo/hpo_runner.py
  src/otx/utils/utils.py
Labels: OTX 2.0, DOC

Revert maskrcnn_r50_tv due to overflow issue
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

pre-commit
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

Revert "Revert maskrcnn_r50_tv due to overflow issue"
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
Labels: OTX 2.0

Add HuggingFace Model Wrapper for Multi-Class Classification (#3710)
  pyproject.toml
  src/otx/algo/classification/huggingface_model.py
  tests/unit/algo/classification/test_huggingface_model.py
Labels: OTX 2.0, TEST, BUILD, DEPENDENCY

pre-commit
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_efficientnetb2b_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint.yaml
  src/otx/recipe/instance_segmentation/maskrcnn_swint_tile.yaml
Labels: OTX 2.0

Move intg tests to merge-check wf and run on a10g (#3711)
  .github/workflows/merge_check.yaml
  .github/workflows/pre_merge.yaml
  tests/integration/conftest.py
  tox.ini
Labels: TEST, BUILD

Update README.md
  README.md
Labels: DOC

update tpp file
  third-party-programs.txt
Labels: DOC

Update for release 2.1.0rc1 (#3720)
  CHANGELOG.md
  README.md
  src/otx/__init__.py
  src/otx/hpo/hpo_runner.py
  src/otx/utils/utils.py
Labels: OTX 2.0, DOC

Update tpp file (#3721)
  third-party-programs.txt
Labels: DOC

add known issues to changelog and readme
  CHANGELOG.md
  README.md
Labels: DOC

Add known issues to changelog and readme (#3722)
  CHANGELOG.md
  README.md
Labels: DOC

Fix Semi-SL Algo
  src/otx/algo/callbacks/unlabeled_loss_warmup.py
  src/otx/core/data/module.py
Labels: OTX 2.0

Update transforms for sseg and edit entity name of mask to `masks` for compatibility with other task (iseg)
  src/otx/core/data/dataset/segmentation.py
  src/otx/core/data/entity/segmentation.py
  src/otx/core/data/transform_libs/mmseg.py
  src/otx/core/data/transform_libs/torchvision.py
Labels: OTX 2.0

Update recipe to use OTX's
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
Labels: OTX 2.0

Update `dino_v2` data config
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

Update
  src/otx/recipe/_base_/data/instance_segmentation.yaml
  src/otx/recipe/_base_/data/rotated_detection.yaml
  src/otx/recipe/_base_/data/semantic_segmentation.yaml
Labels: OTX 2.0

Add unit test for `rescale_size`
  tests/unit/core/data/transform_libs/test_utils.py
Labels: TEST

Update vpm's transforms to use common transforms
  src/otx/recipe/_base_/data/visual_prompting.yaml
Labels: OTX 2.0

Fix unit test
  tests/unit/core/data/test_dataset.py
Labels: TEST

Update
  src/otx/recipe/_base_/data/visual_prompting.yaml
  src/otx/recipe/_base_/data/zero_shot_visual_prompting.yaml
Labels: OTX 2.0
