Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update CHANGELOG for #4026 (#4038)
  CHANGELOG.md
Labels: DOC

Add common augmentations w/ disabled by default
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
Labels: OTX 2.0

Add aug combination intg tests for cls
  src/otx/core/data/transform_libs/torchvision.py
  tests/integration/api/test_augmentation.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST

Update change log
  CHANGELOG.md
Labels: DOC

small fix
  src/otx/core/metrics/average_precision_3d.py
  tests/integration/cli/test_export_inference.py
Labels: OTX 2.0, TEST

Refactor model class_path and init_args in maskdino_r50.yaml
  src/otx/algo/common/layers/hungarian_matcher.py
  src/otx/algo/common/layers/position_embed.py
  src/otx/algo/instance_segmentation/heads/__init__.py
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_criterion.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

fix some misc comments from previous PRs
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/exporter/base.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

Refactor MaskDINOHead and add prediction method
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Refactor MaskDINOHead and add prediction method
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Initial commit
  src/otx/algo/classification/clip.py
  src/otx/core/data/dataset/image_caption.py
  src/otx/core/data/entity/image_caption.py
  src/otx/core/types/task.py
Labels: OTX 2.0

Fix metric for multi-label
  src/otx/core/metrics/accuracy.py
Labels: OTX 2.0

Fix1
  src/otx/core/metrics/accuracy.py
  tests/unit/core/metrics/test_accuracy.py
Labels: OTX 2.0, TEST

Add CHANGELOG
  CHANGELOG.md
Labels: DOC

Fix multilabel_accuracy of MixedHLabelAccuracy (#4042)
  CHANGELOG.md
  src/otx/core/metrics/accuracy.py
  tests/unit/core/metrics/test_accuracy.py
Labels: OTX 2.0, TEST, DOC

update for release 2.2.0rc8
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update for release 2.2.0rc8 (#4043)
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
Labels: OTX 2.0, DOC

Update test
  tests/integration/api/test_augmentation.py
Labels: TEST

Fix pre-commit
  tests/integration/api/test_augmentation.py
Labels: TEST

2
  src/otx/core/data/entity/image_caption.py
Labels: OTX 2.0

Fix wrong indices setting in label_info
  src/otx/core/types/label.py
Labels: OTX 2.0

Add unit-test & update for releases
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  tests/unit/core/types/test_label.py
Labels: OTX 2.0, TEST, DOC

Refactor MaskDINOHead and update MaskDINOCriterion import
  src/otx/algo/common/layers/hungarian_matcher.py
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/losses/__init__.py
  src/otx/algo/instance_segmentation/losses/maskdino_loss.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Fix wrong indices setting in HLabelInfo (#4044)
  CHANGELOG.md
  README.md
  docs/source/guide/release_notes/index.rst
  src/otx/__init__.py
  src/otx/core/types/label.py
  tests/unit/core/types/test_label.py
Labels: OTX 2.0, TEST, DOC

Refactor import of HungarianMatcher in rtdetr_loss.py and __init__.py
  src/otx/algo/common/utils/assigners/__init__.py
  src/otx/algo/common/utils/assigners/hungarian_matcher.py
  src/otx/algo/detection/losses/rtdetr_loss.py
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
  src/otx/algo/instance_segmentation/losses/maskdino_loss.py
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: OTX 2.0, TEST

Refactor feature map shape specification in MaskDINO model & add more unit tests
  src/otx/algo/instance_segmentation/maskdino.py
  tests/unit/algo/instance_segmentation/heads/test_maskdino_heads.py
  tests/unit/algo/instance_segmentation/test_maskdino.py
Labels: OTX 2.0, TEST

Refactor import order in test_maskdino_heads.py
  tests/unit/algo/instance_segmentation/heads/test_maskdino_heads.py
Labels: TEST

Refactor model_name in maskdino_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
Labels: OTX 2.0

Refactor model_name in maskdino_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
Labels: OTX 2.0

Refactor model_name in maskdino_r50_tile.yaml
  src/otx/recipe/instance_segmentation/maskdino_r50_tile.yaml
Labels: OTX 2.0

move transforms from dataset. Metric not working
  src/otx/core/config/data.py
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

reply comments
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/core/metrics/average_precision_3d.py
Labels: OTX 2.0

Turn on/off classification augmentations (#4039)
  CHANGELOG.md
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/classification.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/h_label_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/efficientnet_v2.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_b0.yaml
  src/otx/recipe/classification/multi_label_cls/efficientnet_v2.yaml
  tests/integration/api/test_augmentation.py
  tests/unit/core/data/test_transform_libs.py
Labels: OTX 2.0, TEST, DOC

Second commit
  src/otx/core/data/factory.py
  src/otx/core/data/module.py
Labels: OTX 2.0

Add augmentation config param for test
  src/otx/algorithms/classification/configs/configuration.yaml
Labels: OTX 2.0

Addressing PR reviews
  src/otx/algo/common/utils/utils.py
  src/otx/algo/instance_segmentation/heads/maskdino_encoder.py
  src/otx/algo/instance_segmentation/maskdino.py
  src/otx/algo/modules/conv_module.py
  src/otx/recipe/instance_segmentation/maskdino_r50.yaml
Labels: OTX 2.0

Add activation function doc in MaskDINODecoderHeadModule
  src/otx/algo/instance_segmentation/heads/maskdino_decoder.py
Labels: OTX 2.0

Make mAP 3D more general (#4031)
  src/otx/algo/detection/heads/rtdetr_decoder.py
  src/otx/algo/object_detection_3d/backbones/monodetr_resnet.py
  src/otx/algo/object_detection_3d/detectors/monodetr.py
  src/otx/algo/object_detection_3d/heads/depth_predictor.py
  src/otx/algo/object_detection_3d/losses/ddn_loss.py
  src/otx/algo/object_detection_3d/losses/monodetr_loss.py
  src/otx/algo/object_detection_3d/monodetr3d.py
  src/otx/core/data/entity/object_detection_3d.py
  src/otx/core/exporter/base.py
  src/otx/core/metrics/average_precision_3d.py
  src/otx/core/metrics/kitti_3d_eval/eval.py
  src/otx/core/model/detection_3d.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
  src/otx/recipe/object_detection_3d/monodetr3d.yaml
  tests/integration/cli/test_export_inference.py
  tests/perf/test_object_detection_3d.py
Labels: OTX 2.0, TEST

refactor export
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

Refactor export script and optimize script
  src/otx/algo/instance_segmentation/segmentors/maskdino.py
Labels: OTX 2.0

test metric. still 0
  src/otx/core/data/dataset/object_detection_3d.py
  src/otx/core/data/transform_libs/torchvision.py
  src/otx/recipe/_base_/data/object_detection_3d.yaml
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
