Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Refine classification OV export
  src/otx/algo/classification/classifier/base_classifier.py
  src/otx/algo/classification/efficientnet.py
  src/otx/algo/classification/efficientnet_v2.py
  src/otx/algo/classification/mobilenet_v3.py
  src/otx/core/exporter/base.py
Labels: OTX 2.0

Fix HRNet ONNX export
  src/otx/algo/segmentation/litehrnet.py
Labels: OTX 2.0

Update export of TV cls models
  src/otx/algo/classification/torchvision_model.py
Labels: OTX 2.0

Downgrade OV to 2024.0
  pyproject.toml
Labels: BUILD, DEPENDENCY

Downgrade OV to 2024.0 (#3410)
  pyproject.toml
Labels: BUILD, DEPENDENCY

Fix e2e tests (#3411)
  tests/e2e/cli/test_cli.py
Labels: TEST

Deprecate mm compatible detectors (#3405)
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/backbones/pytorchcv_backbones.py
  src/otx/algo/detection/backbones/resnext.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/class_incremental_mixin.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/mmconfigs/atss_resnext101.yaml
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/detection.py
  src/otx/core/data/entity/tile.py
  src/otx/core/model/detection.py
  src/otx/recipe/detection/atss_mobilenetv2.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tile.yaml
  src/otx/recipe/detection/atss_mobilenetv2_tv.yaml
  src/otx/recipe/detection/atss_resnext101.yaml
  src/otx/recipe/detection/atss_resnext101_tv.yaml
  src/otx/recipe/detection/ssd_mobilenetv2.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tile.yaml
  src/otx/recipe/detection/ssd_mobilenetv2_tv.yaml
  src/otx/recipe/detection/yolox_l.yaml
  src/otx/recipe/detection/yolox_l_tile.yaml
  src/otx/recipe/detection/yolox_l_tv.yaml
  src/otx/recipe/detection/yolox_s.yaml
  src/otx/recipe/detection/yolox_s_tile.yaml
  src/otx/recipe/detection/yolox_s_tv.yaml
  src/otx/recipe/detection/yolox_tiny.yaml
  src/otx/recipe/detection/yolox_tiny_tile.yaml
  src/otx/recipe/detection/yolox_tiny_tv.yaml
  src/otx/recipe/detection/yolox_x.yaml
  src/otx/recipe/detection/yolox_x_tile.yaml
  src/otx/recipe/detection/yolox_x_tv.yaml
  tests/unit/core/model/test_detection.py
  tests/unit/engine/utils/test_auto_configurator.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/detection/backbones/pytorchcv_backbones.html
  develop/_modules/otx/algo/detection/ssd.html
  develop/_modules/otx/core/model/detection.html
  develop/guide/reference/_autosummary/otx.algo.detection.html
  develop/searchindex.js
Labels: none

Update to inherit `BaseModule`
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/yolox_pafpn.py
Labels: OTX 2.0

precommit
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Change location of stack_batch
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/data/entity/base.py
  src/otx/core/data/entity/tile.py
Labels: OTX 2.0

Revert `max_output_boxes_per_class`
  src/otx/algo/detection/heads/base_head.py
Labels: OTX 2.0

Add unit test for engine/hpo (#3406)
  src/otx/engine/hpo/hpo_api.py
  src/otx/engine/hpo/utils.py
  tests/unit/engine/hpo/__init__.py
  tests/unit/engine/hpo/test_hpo_api.py
  tests/unit/engine/hpo/test_hpo_trial.py
  tests/unit/engine/hpo/test_utils.py
Labels: OTX 2.0, TEST

Fix dino
  src/otx/algo/classification/dino_v2.py
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2_linear_probe.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b1.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b4.yaml
  src/otx/recipe/classification/multi_class_cls/tv_resnet_50.yaml
Labels: OTX 2.0

re-Revert and leave TODO comment
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
Labels: OTX 2.0

Move stack_batch from algo to core
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/utils/mmengine_utils.py
  src/otx/core/data/entity/tile.py
  src/otx/core/data/entity/utils.py
Labels: OTX 2.0

Fix unit-test
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_api.py
Labels: TEST

Decouple YOLOX : export (#3407)
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ops/nms.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/detection/yolox.py
  tests/unit/algo/detection/test_yolox.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/algo/detection/heads/yolox_head.html
  develop/genindex.html
  develop/guide/reference/_autosummary/otx.algo.detection.heads.html
  develop/objects.inv
  develop/searchindex.js
Labels: none

Update to use `BaseModule` on detection
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/layers/channel_attention_layer.py
  src/otx/algo/detection/layers/csp_layer.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

update trivy worflow
  .ci/trivy-csv.yaml
  .ci/trivy-json.yaml
  .github/workflows/code_scan.yml
Labels: BUILD

Align Dino-v2 with other models (#3409)
  docker/download_pretrained_weights.py
  src/otx/algo/__init__.py
  src/otx/algo/classification/__init__.py
  src/otx/algo/classification/dino_v2.py
  src/otx/algo/classification/mmconfigs/multiclass_classification/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2.yaml
  src/otx/recipe/classification/multi_class_cls/otx_dino_v2_linear_probe.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b0.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b1.yaml
  src/otx/recipe/classification/multi_class_cls/tv_efficientnet_b4.yaml
  src/otx/recipe/classification/multi_class_cls/tv_resnet_50.yaml
  tests/perf/test_classification.py
  tests/regression/test_regression.py
  tests/unit/algo/classification/test_otx_dino_v2.py
  tests/unit/engine/test_engine.py
  tests/unit/engine/utils/test_api.py
Labels: OTX 2.0, TEST

update
  .github/workflows/code_scan.yml
Labels: BUILD

Fix comment
  tests/integration/api/test_xai.py
Labels: TEST

change resouce_type from string type to DeviceType
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/resource_manager.py
Labels: OTX 2.0

draft implementation
  src/otx/core/config/hpo.py
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_runner.py
  src/otx/hpo/resource_manager.py
Labels: OTX 2.0

add unit test for xpu
  tests/unit/hpo/test_resource_manager.py
Labels: TEST

align with pre-commit
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/resource_manager.py
Labels: OTX 2.0

Update to use `init_weights`
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/yolox.py
Labels: OTX 2.0

Update to remove `type` in recipe
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/mmconfigs/yolox_l.yaml
  src/otx/algo/detection/mmconfigs/yolox_s.yaml
  src/otx/algo/detection/mmconfigs/yolox_tiny.yaml
  src/otx/algo/detection/mmconfigs/yolox_x.yaml
  src/otx/algo/detection/yolox.py
  tests/unit/algo/detection/heads/test_yolox_head.py
Labels: OTX 2.0, TEST

Refactor anomaly dataset and data module (#3414)
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/anomaly/__init__.py
  src/otx/data/__init__.py
  src/otx/data/anomaly/__init__.py
  src/otx/data/anomaly/anomaly.py
  tests/unit/core/data/conftest.py
Labels: OTX 2.0, TEST

Remove `F.to_image` when updating transformed img
  src/otx/core/data/transform_libs/torchvision.py
  tests/unit/core/data/transform_libs/test_torchvision.py
Labels: OTX 2.0, TEST

update
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

fix documentation
  docs/source/guide/explanation/algorithms/segmentation/semantic_segmentation.rst
  src/otx/algo/segmentation/litehrnet.py
  src/otx/core/exporter/base.py
Labels: OTX 2.0, DOC

fix rpn_head training issue
  src/otx/algo/detection/deployment.py
  src/otx/algo/detection/utils/utils.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/mmdet/models/custom_roi_head.py
  src/otx/algo/instance_segmentation/mmdet/models/dense_heads/rpn_head.py
Labels: OTX 2.0

remove mmengine
  src/otx/algo/segmentation/backbones/litehrnet.py
  src/otx/algo/segmentation/heads/ham_head.py
  src/otx/recipe/_base_/data/mmseg_base.yaml
  src/otx/recipe/semantic_segmentation/dino_v2.yaml
Labels: OTX 2.0

fix pre-commit
  src/otx/algo/segmentation/backbones/litehrnet.py
Labels: OTX 2.0

remove anomaly dataset
  src/otx/core/data/dataset/anomaly.py
  src/otx/core/data/dataset/anomaly/__init__.py
  tests/unit/core/data/conftest.py
Labels: OTX 2.0, TEST

remove anomaly data module
  src/otx/data/__init__.py
  src/otx/data/anomaly/__init__.py
  src/otx/data/anomaly/anomaly.py
Labels: OTX 2.0

fix some issues during forward
  src/otx/algo/segmentation/base_model.py
  src/otx/core/model/segmentation.py
Labels: OTX 2.0

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"
