Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

precommit
  tests/unit/core/exporter/test_visual_prompting.py
  tests/unit/core/model/module/test_visual_prompting.py
Labels: TEST

Fix NullLabelInfo unit test
  src/otx/core/types/label.py
Labels: OTX 2.0

Update trivy scanning to use actions (#3181)
  .ci/trivy.yaml
  .github/workflows/code_scan.yaml
Labels: BUILD

implement unit test
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: OTX 2.0, TEST

Modify detection docs and remove unused initial detectors
  docs/source/guide/explanation/algorithms/object_detection/object_detection.rst
  docs/source/guide/tutorials/base/how_to_train/detection.rst
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/rtmdet.py
  src/otx/recipe/detection/atss_r50_fpn.yaml
  src/otx/recipe/detection/rtmdet_tiny.yaml
Labels: OTX 2.0, DOC

align with pre-commit
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: OTX 2.0, TEST

Modify README.md
  README.md
  docs/source/guide/explanation/product_design.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/index.rst
  docs/utils/images/car_tree_bug_gt_sample.png
  docs/utils/images/flowers.jpg
  docs/utils/images/product_design/reuse_model.png
  docs/utils/images/product_design/support_various_data_format.png
  docs/utils/images/product_design/task_data_model.png
  docs/utils/images/wgisd_pr2_sample.jpg
  docs/utils/images/wgisd_pr_sample.jpg
  for_developers/cli_guide.md
  for_developers/engine_api_example.ipynb
  for_developers/product_design.md
  for_developers/setup_guide.md
  for_developers/torchvision.ipynb
Labels: DOC

implement unit test
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: OTX 2.0, TEST

Add Contributing
  README.md
Labels: DOC

Remove missing not found badge
  README.md
Labels: DOC

Update action detection docs (#3178)
  docs/source/guide/explanation/algorithms/action/action_detection.rst
  docs/source/guide/tutorials/base/how_to_train/action_classification.rst
  docs/source/guide/tutorials/base/how_to_train/action_detection.rst
Labels: DOC

Implement unit test for mmdeploy exporter (#3183)
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: OTX 2.0, TEST

Update docs & README.md (#3185)
  README.md
  docs/source/guide/explanation/product_design.rst
  docs/source/guide/get_started/introduction.rst
  docs/source/guide/index.rst
  docs/utils/images/car_tree_bug_gt_sample.png
  docs/utils/images/flowers.jpg
  docs/utils/images/product_design/reuse_model.png
  docs/utils/images/product_design/support_various_data_format.png
  docs/utils/images/product_design/task_data_model.png
  docs/utils/images/wgisd_pr2_sample.jpg
  docs/utils/images/wgisd_pr_sample.jpg
  for_developers/cli_guide.md
  for_developers/engine_api_example.ipynb
  for_developers/product_design.md
  for_developers/setup_guide.md
  for_developers/torchvision.ipynb
Labels: DOC

Implement unit test for mmdeploy exporter for develop branch (#3184)
  src/otx/core/exporter/mmdeploy.py
  tests/unit/core/exporter/test_mmdeploy.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/core/exporter/mmdeploy.html
  develop/guide/reference/_autosummary/otx.core.exporter.mmdeploy.html
Labels: none

Update unit tests
  tests/unit/algo/detection/test_atss.py
  tests/unit/algo/detection/test_rtmdet.py
Labels: TEST

remove non_pure_train_ratio from HPO
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
Labels: OTX 2.0

raise error once HPO trial exits abnormally
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0

update unit test
  tests/unit/hpo/test_hyperband.py
Labels: TEST

align with pre-commit
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0

Update F1 test overriding to FMeasureCallable
  tests/integration/cli/test_auto_configuration.py
  tests/integration/cli/test_cli.py
  tests/integration/cli/test_export_inference.py
  tests/integration/cli/utils.py
  tests/perf/test_detection.py
  tests/perf/test_instance_segmentation.py
  tests/regression/test_regression.py
  tests/unit/cli/test_cli.py
  tests/unit/core/metrics/test_fmeasure.py
  tests/unit/core/model/test_detection.py
Labels: TEST

Fix FMeasure and best_confidence_threshold mechanism
  src/otx/cli/cli.py
  src/otx/core/metrics/fmeasure.py
  src/otx/core/model/base.py
  src/otx/core/model/detection.py
  src/otx/core/model/instance_segmentation.py
  src/otx/engine/engine.py
Labels: OTX 2.0

Add missing tests/utils.py
  tests/utils.py
Labels: TEST

Fix OTXCLI to return error code if an exception is raised
  src/otx/cli/cli.py
  tests/unit/cli/test_cli.py
Labels: OTX 2.0, TEST

add det tile merge test
  src/otx/core/model/entity/detection.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

add instseg tile merge test
  tests/unit/core/data/test_tiling.py
Labels: TEST

Change code using fixed subset name in HPO (#3101)
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
  src/otx/hpo/hpo_runner.py
  tests/unit/hpo/test_hyperband.py
Labels: OTX 2.0, TEST

Fix intg test errors
  src/otx/cli/cli.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Update documentation
  develop/_modules/otx/hpo/hpo_base.html
  develop/_modules/otx/hpo/hpo_runner.html
Labels: none

add tile test
  src/otx/core/model/entity/detection.py
  tests/integration/test_tiling.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

style change
  tests/unit/core/data/test_tiling.py
Labels: TEST

added aditional datasets
  tests/perf/test_classification.py
  tests/perf/test_detection.py
  tests/perf/test_semantic_segmentation.py
Labels: TEST

Enable training on XPU devices in OTX2.0 (#3094)
  docs/source/guide/get_started/installation.rst
  src/otx/algo/__init__.py
  src/otx/algo/accelerators/__init__.py
  src/otx/algo/accelerators/xpu.py
  src/otx/algo/detection/utils/__init__.py
  src/otx/algo/detection/utils/mmcv_patched_ops.py
  src/otx/algo/plugins/__init__.py
  src/otx/algo/plugins/xpu_precision.py
  src/otx/algo/strategies/__init__.py
  src/otx/algo/strategies/xpu_single.py
  src/otx/cli/install.py
  src/otx/core/types/device.py
  src/otx/engine/engine.py
  src/otx/utils/utils.py
  tests/unit/algo/accelerators/__init__.py
  tests/unit/algo/accelerators/test_xpu.py
  tests/unit/algo/detection/utils/__init__.py
  tests/unit/algo/detection/utils/test_mmcv_patched_ops.py
  tests/unit/algo/plugins/__init__.py
  tests/unit/algo/plugins/test_plugins.py
  tests/unit/algo/strategies/__init__.py
  tests/unit/algo/strategies/test_strategies.py
Labels: OTX 2.0, TEST, DOC

Add Tile Unittest (#3188)
  src/otx/core/model/entity/detection.py
  tests/integration/test_tiling.py
  tests/test_helpers.py
  tests/unit/core/data/test_tiling.py
Labels: OTX 2.0, TEST

apply comment
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

raise error once HPO trial exits abnormally
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0

remove non_pure_train_ratio from HPO
  src/otx/engine/hpo/hpo_api.py
  src/otx/hpo/hpo_base.py
Labels: OTX 2.0

update unit test
  tests/unit/hpo/test_hyperband.py
Labels: TEST

change code using fixed subset name in hpo
  src/otx/core/model/module/detection.py
  src/otx/core/model/module/instance_segmentation.py
  src/otx/engine/hpo/hpo_api.py
Labels: OTX 2.0

align with pre-commit
  src/otx/hpo/hpo_runner.py
Labels: OTX 2.0
