Repository openvinotoolkit/training_extensions, changes with the labels that .github/labeler.yml gives for each.
All labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

OTX 2.0:
  - "src/otx/**/*"
TEST:
  - "tests/**/*"
DOC:
  - "docs/**/*"
  - "**/*.md"
  - "LICENSE"
  - "third-party-programs.txt"
  - "NOTICE"
  - "for_developers/**/*"
BUILD:
  - ".ci/**/*"
  - ".github/**/*"
  - ".pre-commit-config.yaml"
  - "markdownlint.rb"
  - "pyproject.toml"
  - "tox.ini"
  - "MANIFEST.in"
DEPENDENCY:
  - "requirements/*"
  - "pyproject.toml"

Update directory names
  src/otx/algo/detection/atss.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/rtmdet.py
  src/otx/algo/detection/ssd.py
  src/otx/algo/detection/utils/assigners/__init__.py
  src/otx/algo/detection/utils/assigners/atss_assigner.py
  src/otx/algo/detection/utils/assigners/dynamic_soft_label_assigner.py
  src/otx/algo/detection/utils/assigners/iou2d_calculator.py
  src/otx/algo/detection/utils/assigners/max_iou_assigner.py
  src/otx/algo/detection/utils/assigners/sim_ota_assigner.py
  src/otx/algo/detection/utils/coders/__init__.py
  src/otx/algo/detection/utils/coders/delta_xywh_bbox_coder.py
  src/otx/algo/detection/utils/coders/distance_point_bbox_coder.py
  src/otx/algo/detection/utils/prior_generators/__init__.py
  src/otx/algo/detection/utils/prior_generators/anchor_generator.py
  src/otx/algo/detection/utils/prior_generators/point_generator.py
  src/otx/algo/detection/utils/prior_generators/utils.py
  src/otx/algo/detection/utils/samplers/__init__.py
  src/otx/algo/detection/utils/samplers/base_sampler.py
  src/otx/algo/detection/yolox.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/rtmdet_inst.py
  tests/unit/algo/detection/heads/test_custom_ssd_head.py
  tests/unit/algo/detection/heads/test_rtmdet_head.py
  tests/unit/algo/detection/heads/test_yolox_head.py
  tests/unit/algo/detection/utils/test_custom_anchor_generator.py
  tests/unit/algo/detection/utils/test_max_iou_assigner.py
  tests/unit/algo/detection/utils/test_point_generator.py
  tests/unit/algo/detection/utils/test_sim_ota_assigner.py
Labels: OTX 2.0, TEST

align vp expected output name
  tests/integration/cli/test_cli.py
Labels: TEST

align vp expected output name
  tests/integration/cli/test_cli.py
Labels: TEST

update pandas version constraint
  pyproject.toml
Labels: BUILD, DEPENDENCY

Add TV MaskRCNN Tile Recipe (#3655)
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
Labels: OTX 2.0, TEST

Align integration test to exportable code interface update for release branch (#3676)
  tests/integration/cli/test_cli.py
Labels: TEST

Align integration test to exportable code interface update (#3675)
  tests/integration/cli/test_cli.py
Labels: TEST

remove *to
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

reply comments
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/anomaly.py
Labels: OTX 2.0

resolve problem with local temp file
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: TEST

fix nncf maskrcnn eff accuracy drop
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

update ignored scope
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

fix typo
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Modify dependency since conflict
  pyproject.toml
Labels: BUILD, DEPENDENCY

Refactor exporter for anomaly task and fix a bug with exportable code (#3672)
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/anomaly.py
  tests/unit/algo/anomaly/test_openvino_model.py
Labels: OTX 2.0, TEST

Fix NNCF MaskRCNN-Eff accuracy drop (#3680)
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Update pandas version constraint (#3679)
  pyproject.toml
Labels: BUILD, DEPENDENCY

re-enable failed models
  tests/integration/cli/test_cli.py
Labels: TEST

enable export test
  tests/integration/cli/test_cli.py
Labels: TEST

Merge Back Hot-Fix into develop (#3682)
  .github/CODEOWNERS
  README.md
  pyproject.toml
  src/otx/algo/classification/backbones/__init__.py
  src/otx/algo/classification/backbones/efficientnet.py
  src/otx/algo/classification/backbones/mobilenet_v3.py
  src/otx/algo/classification/backbones/timm.py
  src/otx/algo/classification/backbones/vision_transformer.py
  src/otx/algo/instance_segmentation/maskrcnn.py
  src/otx/algo/instance_segmentation/maskrcnn_tv.py
  src/otx/algo/instance_segmentation/torchvision/maskrcnn.py
  src/otx/cli/utils/help_formatter.py
  src/otx/core/exporter/anomaly.py
  src/otx/core/model/anomaly.py
  src/otx/engine/engine.py
  src/otx/recipe/instance_segmentation/maskrcnn_r50_tv_tile.yaml
  tests/unit/algo/anomaly/test_openvino_model.py
  tests/unit/algo/classification/backbones/test_vision_transformer.py
  tests/unit/algo/instance_segmentation/test_maskrcnn.py
  tests/unit/core/model/test_segmentation.py
Labels: OTX 2.0, TEST, DOC, BUILD, DEPENDENCY

Update documentation
  develop/_modules/index.html
  develop/_modules/otx/cli/utils/help_formatter.html
  develop/_modules/otx/core/exporter/anomaly.html
  develop/_modules/otx/core/exporter/mmdeploy.html
  develop/_modules/otx/core/model/anomaly.html
  develop/_modules/otx/core/model/utils/mmaction.html
  develop/_modules/otx/core/model/utils/mmdet.html
  develop/_modules/otx/core/model/utils/mmpretrain.html
  develop/_modules/otx/core/model/utils/mmseg.html
  develop/_modules/otx/engine/engine.html
  develop/_sources/guide/get_started/installation.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.exporter.anomaly.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.exporter.mmdeploy.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.exporter.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.utils.mmaction.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.utils.mmdet.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.utils.mmpretrain.rst.txt
  develop/_sources/guide/reference/_autosummary/otx.core.model.utils.mmseg.rst.txt
  develop/genindex.html
  develop/guide/get_started/installation.html
  develop/guide/reference/_autosummary/otx.core.exporter.anomaly.html
  develop/guide/reference/_autosummary/otx.core.exporter.base.html
  develop/guide/reference/_autosummary/otx.core.exporter.exportable_code.demo.html
  develop/guide/reference/_autosummary/otx.core.exporter.html
  develop/guide/reference/_autosummary/otx.core.exporter.mmdeploy.html
  develop/guide/reference/_autosummary/otx.core.exporter.native.html
  develop/guide/reference/_autosummary/otx.core.model.anomaly.html
  develop/guide/reference/_autosummary/otx.core.model.utils.html
  develop/guide/reference/_autosummary/otx.core.model.utils.mmaction.html
  develop/guide/reference/_autosummary/otx.core.model.utils.mmdet.html
  develop/guide/reference/_autosummary/otx.core.model.utils.mmseg.html
  develop/guide/reference/_autosummary/otx.core.model.visual_prompting.html
  develop/guide/reference/_autosummary/otx.engine.html
  develop/objects.inv
  develop/py-modindex.html
  develop/searchindex.js
Labels: none

Update docstring
  src/otx/algo/common/backbones/resnext.py
  src/otx/algo/detection/backbones/csp_darknet.py
  src/otx/algo/detection/backbones/cspnext.py
  src/otx/algo/detection/heads/anchor_head.py
  src/otx/algo/detection/heads/atss_head.py
  src/otx/algo/detection/heads/base_head.py
  src/otx/algo/detection/heads/rtmdet_head.py
  src/otx/algo/detection/heads/ssd_head.py
  src/otx/algo/detection/heads/yolox_head.py
  src/otx/algo/detection/losses/accuracy.py
  src/otx/algo/detection/losses/cross_entropy_loss.py
  src/otx/algo/detection/losses/dice_loss.py
  src/otx/algo/detection/losses/focal_loss.py
  src/otx/algo/detection/losses/gfocal_loss.py
  src/otx/algo/detection/losses/iou_loss.py
  src/otx/algo/detection/losses/smooth_l1_loss.py
  src/otx/algo/detection/losses/utils.py
  src/otx/algo/detection/necks/cspnext_pafpn.py
  src/otx/algo/detection/necks/fpn.py
  src/otx/algo/detection/necks/yolox_pafpn.py
  src/otx/algo/detection/utils/assigners/atss_assigner.py
  src/otx/algo/detection/utils/assigners/dynamic_soft_label_assigner.py
  src/otx/algo/detection/utils/assigners/iou2d_calculator.py
  src/otx/algo/detection/utils/assigners/max_iou_assigner.py
  src/otx/algo/detection/utils/assigners/sim_ota_assigner.py
  src/otx/algo/detection/utils/bbox_overlaps.py
  src/otx/algo/detection/utils/coders/delta_xywh_bbox_coder.py
  src/otx/algo/detection/utils/coders/distance_point_bbox_coder.py
  src/otx/algo/detection/utils/nms.py
  src/otx/algo/detection/utils/prior_generators/anchor_generator.py
  src/otx/algo/detection/utils/prior_generators/point_generator.py
  src/otx/algo/detection/utils/samplers/base_sampler.py
  src/otx/algo/detection/utils/structures.py
Labels: OTX 2.0

Move Task assign into Model with Anomaly Task
  src/otx/algo/anomaly/openvino_model.py
  src/otx/algo/anomaly/padim.py
  src/otx/algo/anomaly/stfpm.py
  src/otx/engine/engine.py
  src/otx/recipe/anomaly_classification/openvino_model.yaml
  src/otx/recipe/anomaly_classification/padim.yaml
  src/otx/recipe/anomaly_classification/stfpm.yaml
  src/otx/recipe/anomaly_detection/openvino_model.yaml
  src/otx/recipe/anomaly_detection/padim.yaml
  src/otx/recipe/anomaly_detection/stfpm.yaml
  src/otx/recipe/anomaly_segmentation/openvino_model.yaml
  src/otx/recipe/anomaly_segmentation/padim.yaml
  src/otx/recipe/anomaly_segmentation/stfpm.yaml
Labels: OTX 2.0

Fix openvino model class
  src/otx/algo/anomaly/openvino_model.py
Labels: OTX 2.0

exclude exportable code test from anomaly task
  tests/integration/cli/test_cli.py
Labels: TEST

apply it to e2e test code
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
  tests/utils.py
Labels: TEST

align with pre-commit
  tests/e2e/cli/test_cli.py
Labels: TEST

Disable unlabeled dataset with optimize
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

Include more models to export test into test_otx_e2e (#3678)
  tests/conftest.py
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
  tests/utils.py
Labels: TEST

Fix optimize with Semi-SL data pipeline (#3684)
  src/otx/engine/utils/auto_configurator.py
Labels: OTX 2.0

fix swin-t nncf kinda
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Fix MaskRCNN SwinT NNCF Accuracy Drop (#3685)
  src/otx/algo/instance_segmentation/maskrcnn.py
Labels: OTX 2.0

Add rotated det ov recipe
  src/otx/recipe/rotated_detection/openvino_model.yaml
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

fix e2e test cli
  tests/e2e/cli/test_cli.py
Labels: TEST

Bump MAPI version (#3686)
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Add rotated det OV recipe (#3687)
  src/otx/recipe/rotated_detection/openvino_model.yaml
  tests/e2e/cli/test_cli.py
  tests/integration/cli/test_cli.py
Labels: OTX 2.0, TEST

Bump MAPI version
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Bump MAPI version
  pyproject.toml
  src/otx/core/exporter/exportable_code/demo/requirements.txt
Labels: OTX 2.0, BUILD, DEPENDENCY

Del outdated unit tests
  tests/unit/algo/visual_prompting/test_openvino_models.py
Labels: TEST

Fix tiling utest
  tests/unit/core/utils/test_tile.py
Labels: TEST
